# Journey North Larva Sightings

In [1]:
#  Import and read
import pandas as pd 
import numpy as np
import json
# Sue Mottet 2-19-2022

# geoJSONifier

In [2]:
def df_to_geojson(df, properties, lat='latitude', lon='longitude'):
    # create a new python dict to contain our geojson data, using geojson format
    geojson = {'type':'FeatureCollection', 'features':[]}

    # loop through each row in the dataframe and convert each row to geojson format
    for _, row in df.iterrows():
        # create a feature template to fill in
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point',
                               'coordinates':[]}}

        # fill in the coordinates
        feature['geometry']['coordinates'] = [row[lon],row[lat]]

        # for each column, get the value and add it as a new feature property
        for prop in properties:
            feature['properties'][prop] = row[prop]
        
        # add this feature (aka, converted dataframe row) to the list of features inside our dict
        geojson['features'].append(feature)
    
    return geojson

# Load file

In [3]:
JNorth1996_2020_df = pd.read_csv("UWMadisonArb_JNorth_Project_MonarchsAndMilkweed_1996-2020.csv")
JNorth1996_2020_df.head()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,sighting_date,species,number,latitude,longitude,flag_location,comments,school,grade,image_url,customerid,number_old,flag_number,species_old,flag_species
0,850841703,1996-12-16,Monarch Adult Sighted,1,27.594,-81.362,0,On the ballfield a solitary monarch butterfly ...,Walker memorial junior academy,10.0,-999999.999,135,-999999.999,1,Monarch Butterfly,1
1,851824801,1996-12-06,Monarch Adult Sighted,1,30.420,-87.224,0,Our 5th grade Discovery students who went alon...,Hambrick elementary school,5.0,-999999.999,150,-999999.999,1,Monarch Butterfly,1
2,854409931,1996-09-21,Monarch Adult Sighted,1,40.817,-96.710,0,We saw several hundred monarchs in our school ...,-999999.999,5.0,-999999.999,9701054,-999999.999,1,Monarch Butterfly,1
3,854557206,1996-09-21,Monarch Adult Sighted,1,40.817,-96.710,0,Over a hundered monarchs in our school butterf...,Fredstrom elementary school,6.0,-999999.999,175,-999999.999,1,Monarch Butterfly,1
4,855061862,1997-01-01,Monarch Adult Sighted,1,34.244,-77.946,0,"I Thought I Saw It, But I Was Suprised To See ...",Gregory,3.0,-999999.999,181,-999999.999,1,Monarch Butterfly,1

# Data Exploratory

In [4]:
JNorth1996_2020_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227433 entries, 0 to 227432
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             227433 non-null  int64
 1   sighting_date  227433 non-null  object
 2   species        227433 non-null  object
 3   number         227433 non-null  int64
 4   latitude       227433 non-null  float64
 5   longitude      227433 non-null  float64
 6   flag_location  227433 non-null  int64
 7   comments       227433 non-null  object
 8   school         227433 non-null  object
 9   grade          227433 non-null  float64
 10  image_url      227433 non-null  object
 11  customerid     227433 non-null  int64
 12  number_old     227433 non-null  float64
 13  flag_number    227433 non-null  int64
 14  species_old    227433 non-null  object
 15  flag_species   227433 non-null  int64
dtypes: float64(4), int64(6), object(6)
memory usage: 27.8+ MB

In [5]:
str(JNorth1996_2020_df.columns.tolist())

"['id', 'sighting_date', 'species', 'number', 'latitude', 'longitude', 'flag_location', 'comments', 'school', 'grade', 'image_url', 'customerid', 'number_old', 'flag_number', 'species_old', 'flag_species']"

In [6]:
JNorth1996_2020_df.describe()

,id,number,latitude,longitude,flag_location,grade,customerid,number_old,flag_number,flag_species
count,2.274330e+05,2.274330e+05,227433.000000,227433.000000,227433.000000,227433.000000,2.274330e+05,2.274330e+05,227433.000000,227433.000000
mean,1.420650e+09,1.186529e+02,38.400690,-87.569965,0.598018,-907386.217597,9.451737e+06,-2.844270e+05,0.294816,0.130324
std,1.456887e+08,2.209080e+04,5.268651,10.880362,0.490299,289894.342744,2.193961e+06,4.518136e+05,0.467089,0.336660
min,8.508417e+08,-1.700000e+01,-12.100000,-165.107000,0.000000,-999999.999000,0.000000e+00,-1.000000e+06,0.000000,0.000000
25%,1.377751e+09,1.000000e+00,34.723000,-95.268000,0.000000,-999999.999000,9.941050e+06,-1.000000e+06,0.000000,0.000000
50%,1.477448e+09,1.000000e+00,39.503000,-86.787000,1.000000,-999999.999000,9.977663e+06,1.000000e+00,0.000000,0.000000
75%,1.526383e+09,3.000000e+00,42.409000,-79.255000,1.000000,-999999.999000,1.000029e+07,3.000000e+00,1.000000,0.000000
max,1.526525e+09,1.000000e+07,65.136000,-52.883000,1.000000,1112.000000,1.004256e+07,1.000000e+07,2.000000,1.000000

In [7]:
JNorth1996_2020_df.columns.tolist()

['id',
 'sighting_date',
 'species',
 'number',
 'latitude',
 'longitude',
 'flag_location',
 'comments',
 'school',
 'grade',
 'image_url',
 'customerid',
 'number_old',
 'flag_number',
 'species_old',
 'flag_species']

In [8]:
JNorth1996_2020_df.shape

(227433, 16)

In [9]:
# Determine the number of unique values in each column.
for col in JNorth1996_2020_df:
  print(JNorth1996_2020_df[col].unique())

[ 850841703  851824801  854409931 ... 1526524404 1526524405 1526525021]
['1996-12-16' '1996-12-06' '1996-09-21' ... '2020-12-29' '2020-12-30'
 '2020-12-31']
['Monarch Adult Sighted' 'Monarch Adult (FIRST sighted)'
 'Monarch Egg (FIRST sighted)' 'Monarch (OTHER Observations)'
 'Monarch Larva (FIRST sighted)' 'Monarch PEAK Migration'
 'Milkweed (FIRST sighted)' 'Monarch Fall Roost' 'Monarch Egg Sighted'
 'Monarch Larva Sighted' 'Monarch, Captive-Reared' 'Milkweed Sighted']
[       1      150       20       89       30     2000       50     7500
       23      200        5      300        4      100       71      120
      325       21       28     5000    20000       36       25        6
       54     1000      160       24       60       37        2     3000
  1000000       10  2000000       40       85       65       15        8
      500       14      112       75       80    15000       18    10000
      912   100000      400      800       12       35      600       16
    25000     1500     1117       70        3      463       45       72
      250      182       56       26    30000     2500     8000      750
      700       46      556       34      275       53       22      650
      210      224     1100      240   200000      900     1200        7
       13      115       11       19      810       66       43      510
        9       62       27      290      104       44      440      202
       55      180       17      140      269       61      142      175
       41      123       32       76       31      195      125       29
      164      109      119      105     4000       69      360       88
       58      239       48      310      117       52      261       90
      135      296      211       39       51      102     7001      127
       49       47       33     1300       42      101     5075     1520
      170       81      190       38      110      558      381      228
      248       86       74      172      230      420     2806       94
       92      118      425     5400     6300       68       79    50000
     2300     7000       84      128       57      350       83      124
      114      450      147      501       87       77      197      840
    13460     3500       64       73      178      265      151      133
      121      477       59       97      850      130      165       95
      383       98      729      222      116      225       63     6000
      475    34000    13420    21329    12073    16244    30293    11082
       78      214      113      108      280      212      138      285
      229      216      720      206      606      287      107      134
      157      540 10000000      220      103      270       82      139
      318       93       67      181      122      158      156      232
      106      155     2400      667     1286      179      349      207
      505      132      154     1400    32914    29804    18128    15890
     7750     8531     7333     7783      173      213      126      378
      417      481      780     4800      625      208      205      145
      260      193      144      227      305      831      289      246
      404      152       96      373      855     1800      519      215
      441      337    23800      218      340      231     2100      550
     4500      320     9000    12000      324      461      184      570
      444      620    11000      870      478      252      447      247
      281      980    28073    13492    12864    11472    10200      301
      111      259      171      141      256      186      174      198
      479      187      223      474      203      278      153      257
      520      185     3200      375      258      136    70000    60200
    48000    17800      264    19755    17100    12189    13375      233
      204      192      131       -1      129      149      -17      460
      382      137      143      445       91     1700      330      254
      429      813     2200      316     2600      696      291      255
      286      543      183      251      362      226      453     1080
      860      315      332      244     1351    35000     1503     1125
      725     1482      593     2079    12284    19741    12360    10099
      587    19000   500000      189      671      713     1016      176
      345      219      234      249      409      418    16000     3900
      169     7200      272      284      653      428      348      777
      253       99      201     1516      335      359      356      875
      560      177      525      686     1380      276   999999    12620
     6500     5850      188     2960      480      385      827      323
      148     1012      465      196      162      238      446      313
     2385      307      263      357      163      495     1001      541
      733      167     3600      457     5700     1650     1120     3553
      995     1600     1390      614     7600     8250      314     1580
      221     1620      470      759      267      960     1301      566
      342      880      782      241      514     2250     2470      925
      403      166     6769      146     2469      209      279      868
      585      311      683      354      308      760      387      563
      801      536      161      397      322      613      191     1750
      199      516      321     1850      277      297     4750      370
      489     1149      268     2816      789      430      978      770
      493      716      159]
[27.594 30.42  40.817 ... 30.139 35.008 54.968]
[ -81.362  -87.224  -96.71  ... -118.107 -119.132 -108.727]
[0 1]
['On the ballfield a solitary monarch butterfly flew across the field in a south-west direction at approximately 1:30 pm.'
 'Our 5th grade Discovery students who went along on an overnight field trip to Ft. Pickens, Florida, noticed that there were monarch butterflies all over the grounds of the fort the day they were there (Dec. 6,1996).'
 'We saw several hundred monarchs in our school butterfly garden,  sipping nectar from the New England asters and zinnias.'
 ...
 "There have been at least three Monarchs in my yard this year. I know it's at least three, because I often see all of them at once. But there may be more. I have lived here for 35 years, and an additional 23 years just a mile-and-a-half down the road. This is the first time in decades that I've had Monarchs in my yard, and I've been very excited that they're coming back. I'm hoping to see more in the future. "
 'One larva seen.'
 'Date of last adult sighted.Total sightings were 98 adults from June 3 to Sept. 4.Peak sightings were July 8 to Aug 7.Approx. acreage with milkweed is equal to 4.5Ac. ']
['Walker memorial junior academy' 'Hambrick elementary school'
 '-999999.999' ... 'Homosassa springs wildlife state park'
 'Director, virginia master naturalist program' -999999.999]
[ 1.00000000e+01  5.00000000e+00  6.00000000e+00  3.00000000e+00
  9.00000000e+00 -9.99999999e+05  7.00000000e+00  2.00000000e+00
  8.00000000e+00  9.90000000e+01  4.00000000e+00  1.00000000e+00
  1.20000000e+01  1.10000000e+01  0.00000000e+00  3.40000000e+01
  2.50000000e+01  4.60000000e+01  6.80000000e+01  1.50000000e+01
  9.50000000e+01  3.60000000e+01  1.80000000e+01  2.30000000e+01
  1.40000000e+01  4.50000000e+01  9.12000000e+02  2.40000000e+01
  6.90000000e+01  5.60000000e+01  7.12000000e+02  6.78000000e+02
  1.12000000e+02  4.90000000e+01  7.80000000e+01  6.70000000e+01
  1.30000000e+01  4.56000000e+02  1.90000000e+01  6.12000000e+02
  1.11200000e+03  1.60000000e+01  1.01200000e+03  3.80000000e+01
  6.30000000e+01  2.70000000e+01  1.00000000e+02  9.10000000e+02
  6.20000000e+01  3.11000000e+02  5.80000000e+01  1.70000000e+01
  2.10000000e+01  2.80000000e+01  7.10000000e+01  3.45000000e+02
  1.19000000e+02  3.50000000e+01  4.20000000e+01  6.50000000e+01
  5.00000000e+01  4.12000000e+02  7.90000000e+01  2.00000000e+01
  7.11000000e+02  5.30000000e+01  1.35000000e+02]
['-999999.999'
 'https://journeynorth.org/jnorth/images/userfiles2013/1193346010.jpg'
 'https://www.learner.org/jnorth/images/userfiles/1317067653.jpg' ...
 '//journeynorth.org/jnorth/images/userfiles2021/05/1526513089.jpg'
 '//journeynorth.org/jnorth/images/userfiles2021/05/1526513090.jpg'
 '//journeynorth.org/jnorth/images/userfiles2021/06/1526524404.jpg']
[     135      150  9701054 ... 10042506 10042509 10042557]
[-9.99999999e+05  0.00000000e+00  1.50000000e+02  2.00000000e+01
  8.90000000e+01  3.00000000e+01  2.00000000e+03  5.00000000e+01
  7.50000000e+03  2.30000000e+01  2.00000000e+02  5.00000000e+00
  3.00000000e+02  4.00000000e+00  1.00000000e+02  7.10000000e+01
  1.20000000e+02  3.25000000e+02  2.10000000e+01  2.80000000e+01
  5.00000000e+03  2.00000000e+04  3.60000000e+01  2.50000000e+01
  6.00000000e+00  5.40000000e+01  1.00000000e+03  1.60000000e+02
  2.40000000e+01  6.00000000e+01  3.70000000e+01  2.00000000e+00
  3.00000000e+03  1.00000000e+06  1.00000000e+01  1.00000000e+00
  2.00000000e+06  4.00000000e+01  8.50000000e+01  6.50000000e+01
  1.50000000e+01  8.00000000e+00  5.00000000e+02  1.40000000e+01
  1.12000000e+02  7.50000000e+01  8.00000000e+01  1.50000000e+04
  1.80000000e+01  1.00000000e+04  9.12000000e+02  1.00000000e+05
  4.00000000e+02  8.00000000e+02  1.20000000e+01  3.50000000e+01
  6.00000000e+02  1.60000000e+01  2.50000000e+04  1.50000000e+03
  1.11700000e+03  7.00000000e+01  3.00000000e+00  4.63000000e+02
  4.50000000e+01  7.20000000e+01  2.50000000e+02  1.82000000e+02
  5.60000000e+01  2.60000000e+01  3.00000000e+04  2.50000000e+03
  8.00000000e+03  7.50000000e+02  7.00000000e+02  4.60000000e+01
  5.56000000e+02  3.40000000e+01  2.75000000e+02  5.30000000e+01
  2.20000000e+01  6.50000000e+02  2.10000000e+02  2.24000000e+02
  1.10000000e+03  2.40000000e+02  2.00000000e+05  9.00000000e+02
  1.20000000e+03  7.00000000e+00  1.30000000e+01  1.15000000e+02
  1.10000000e+01  1.90000000e+01  8.10000000e+02  6.60000000e+01
  4.30000000e+01  5.10000000e+02  9.00000000e+00  6.20000000e+01
  2.70000000e+01  2.90000000e+02  1.04000000e+02  4.40000000e+01
  4.40000000e+02  2.02000000e+02  5.50000000e+01  1.80000000e+02
  1.70000000e+01  1.40000000e+02  2.69000000e+02  6.10000000e+01
  1.42000000e+02  1.75000000e+02  4.10000000e+01  1.23000000e+02
  3.20000000e+01  7.60000000e+01  3.10000000e+01  1.95000000e+02
  1.25000000e+02  2.90000000e+01  1.64000000e+02  1.09000000e+02
  1.19000000e+02  1.05000000e+02  4.00000000e+03  6.90000000e+01
  3.60000000e+02  8.80000000e+01  5.80000000e+01  2.39000000e+02
  4.80000000e+01  3.10000000e+02  1.17000000e+02  5.20000000e+01
  2.61000000e+02  9.00000000e+01  1.35000000e+02  2.96000000e+02
  2.11000000e+02  3.90000000e+01  5.10000000e+01  1.02000000e+02
  7.00100000e+03  1.27000000e+02  4.90000000e+01  4.70000000e+01
  3.30000000e+01  1.30000000e+03  4.20000000e+01  1.01000000e+02
  5.07500000e+03  1.52000000e+03  1.70000000e+02  8.10000000e+01
  1.90000000e+02  3.80000000e+01  1.10000000e+02  5.58000000e+02
  3.81000000e+02  2.28000000e+02  2.48000000e+02  8.60000000e+01
  7.40000000e+01  1.72000000e+02  2.30000000e+02  4.20000000e+02
  2.80600000e+03  9.40000000e+01  9.20000000e+01  1.18000000e+02
  4.25000000e+02  5.40000000e+03  6.30000000e+03  6.80000000e+01
  7.90000000e+01  5.00000000e+04  2.30000000e+03  7.00000000e+03
  8.40000000e+01  1.28000000e+02  5.70000000e+01  3.50000000e+02
  8.30000000e+01  1.24000000e+02  1.14000000e+02  4.50000000e+02
  1.47000000e+02  5.01000000e+02  8.70000000e+01  7.70000000e+01
  1.97000000e+02  8.40000000e+02  1.34600000e+04  3.50000000e+03
  6.40000000e+01  7.30000000e+01  1.78000000e+02  2.65000000e+02
  1.51000000e+02  1.33000000e+02  1.21000000e+02  4.77000000e+02
  5.90000000e+01  9.70000000e+01  8.50000000e+02  1.30000000e+02
  1.65000000e+02  9.50000000e+01  3.83000000e+02  9.80000000e+01
  7.29000000e+02  2.22000000e+02  1.16000000e+02  2.25000000e+02
  6.30000000e+01  6.00000000e+03  4.75000000e+02  3.40000000e+04
  1.34200000e+04  2.13290000e+04  1.20730000e+04  1.62440000e+04
  3.02930000e+04  1.10820000e+04  7.80000000e+01  2.14000000e+02
  1.13000000e+02  1.08000000e+02  2.80000000e+02  2.12000000e+02
  1.38000000e+02  2.85000000e+02  2.29000000e+02  2.16000000e+02
  7.20000000e+02  2.06000000e+02  6.06000000e+02  2.87000000e+02
  1.07000000e+02  1.34000000e+02  1.57000000e+02  5.40000000e+02
  1.00000000e+07  2.20000000e+02  1.03000000e+02  2.70000000e+02
  8.20000000e+01  1.39000000e+02  3.18000000e+02  9.30000000e+01
  6.70000000e+01  1.81000000e+02  1.22000000e+02  1.58000000e+02
  1.56000000e+02  2.32000000e+02  1.06000000e+02  1.55000000e+02
  2.40000000e+03  6.67000000e+02  1.28600000e+03  1.79000000e+02
  3.49000000e+02  2.07000000e+02  5.05000000e+02  1.32000000e+02
  1.54000000e+02  1.40000000e+03  3.29140000e+04  2.98040000e+04
  1.81280000e+04  1.58900000e+04  7.75000000e+03  8.53100000e+03
  7.33300000e+03  7.78300000e+03  1.73000000e+02  2.13000000e+02
  1.26000000e+02  3.78000000e+02  4.17000000e+02  4.81000000e+02
  7.80000000e+02  4.80000000e+03  6.25000000e+02  2.08000000e+02
  2.05000000e+02  1.45000000e+02  2.60000000e+02  1.93000000e+02
  1.44000000e+02  2.27000000e+02  3.05000000e+02  8.31000000e+02
  2.89000000e+02  2.46000000e+02  4.04000000e+02  1.52000000e+02
  9.60000000e+01  3.73000000e+02  8.55000000e+02  1.80000000e+03
  5.19000000e+02  2.15000000e+02  4.41000000e+02  3.37000000e+02
  2.38000000e+04  2.18000000e+02  3.40000000e+02  2.31000000e+02
  2.10000000e+03  5.50000000e+02  4.50000000e+03  3.20000000e+02
  9.00000000e+03  1.20000000e+04  3.24000000e+02  4.61000000e+02
  1.84000000e+02  5.70000000e+02  4.44000000e+02  6.20000000e+02
  1.10000000e+04  8.70000000e+02  4.78000000e+02  2.52000000e+02
  4.47000000e+02  2.47000000e+02  2.81000000e+02  9.80000000e+02
  2.80730000e+04  1.34920000e+04  1.28640000e+04  1.14720000e+04
  1.02000000e+04  3.01000000e+02  1.11000000e+02  2.59000000e+02
  1.71000000e+02  1.41000000e+02  2.56000000e+02  1.86000000e+02
  1.74000000e+02  1.98000000e+02  4.79000000e+02  1.87000000e+02
  2.23000000e+02  4.74000000e+02  2.03000000e+02  2.78000000e+02
  1.53000000e+02  2.57000000e+02  5.20000000e+02  1.85000000e+02
  3.20000000e+03  3.75000000e+02  2.58000000e+02  1.36000000e+02
  7.00000000e+04  6.02000000e+04  4.80000000e+04  1.78000000e+04
  2.64000000e+02  1.97550000e+04  1.71000000e+04  1.21890000e+04
  1.33750000e+04  2.33000000e+02  2.04000000e+02  1.92000000e+02
  1.31000000e+02 -1.00000000e+00  1.29000000e+02  1.49000000e+02
 -1.70000000e+01  4.60000000e+02  3.82000000e+02  1.37000000e+02
  1.43000000e+02  4.45000000e+02  9.10000000e+01  1.70000000e+03
  3.30000000e+02  2.54000000e+02  4.29000000e+02  8.13000000e+02
  2.20000000e+03  3.16000000e+02  2.60000000e+03  6.96000000e+02
  2.91000000e+02  2.55000000e+02  2.86000000e+02  5.43000000e+02
  1.83000000e+02  2.51000000e+02  3.62000000e+02  2.26000000e+02
  4.53000000e+02  1.08000000e+03  8.60000000e+02  3.15000000e+02
  3.32000000e+02  2.44000000e+02  1.35100000e+03  3.50000000e+04
  1.50300000e+03  1.12500000e+03  7.25000000e+02  1.48200000e+03
  5.93000000e+02  2.07900000e+03  1.22840000e+04  1.97410000e+04
  1.23600000e+04  1.00990000e+04  5.87000000e+02  1.90000000e+04
  5.00000000e+05  1.89000000e+02  6.71000000e+02  7.13000000e+02
  1.01600000e+03  1.76000000e+02  3.45000000e+02  2.19000000e+02
  2.34000000e+02  2.49000000e+02  4.09000000e+02  4.18000000e+02
  1.60000000e+04  3.90000000e+03  1.69000000e+02  7.20000000e+03
  2.72000000e+02  2.84000000e+02  6.53000000e+02  4.28000000e+02
  3.48000000e+02  7.77000000e+02  2.53000000e+02  9.90000000e+01
  2.01000000e+02  1.51600000e+03  3.35000000e+02  3.59000000e+02
  3.56000000e+02  8.75000000e+02  5.60000000e+02  1.77000000e+02
  5.25000000e+02  6.86000000e+02  1.38000000e+03  2.76000000e+02
  9.99999000e+05  1.26200000e+04  6.50000000e+03  5.85000000e+03
  1.88000000e+02  2.96000000e+03  4.80000000e+02  3.85000000e+02
  8.27000000e+02  3.23000000e+02  1.48000000e+02  1.01200000e+03
  4.65000000e+02  1.96000000e+02  1.62000000e+02  2.38000000e+02
  4.46000000e+02  3.13000000e+02  2.38500000e+03  3.07000000e+02
  2.63000000e+02  3.57000000e+02  1.63000000e+02  4.95000000e+02
  1.00100000e+03  5.41000000e+02  7.33000000e+02  1.67000000e+02
  3.60000000e+03  4.57000000e+02  5.70000000e+03  1.65000000e+03
  1.12000000e+03  3.55300000e+03  9.95000000e+02  1.60000000e+03
  1.39000000e+03  6.14000000e+02  7.60000000e+03  8.25000000e+03
  3.14000000e+02  1.58000000e+03  2.21000000e+02  1.62000000e+03
  4.70000000e+02  7.59000000e+02  2.67000000e+02  9.60000000e+02
  1.30100000e+03  5.66000000e+02  3.42000000e+02  8.80000000e+02
  7.82000000e+02  2.41000000e+02  5.14000000e+02  2.25000000e+03
  2.47000000e+03  9.25000000e+02  4.03000000e+02  1.66000000e+02
  6.76900000e+03  1.46000000e+02  2.46900000e+03  2.09000000e+02
  2.79000000e+02  8.68000000e+02  5.85000000e+02  3.11000000e+02
  6.83000000e+02  3.54000000e+02  3.08000000e+02  7.60000000e+02
  3.87000000e+02  5.63000000e+02  8.01000000e+02  5.36000000e+02
  1.61000000e+02  3.97000000e+02  3.22000000e+02  6.13000000e+02
  1.91000000e+02  1.75000000e+03  1.99000000e+02  5.16000000e+02
  3.21000000e+02  1.85000000e+03  2.77000000e+02  2.97000000e+02
  4.75000000e+03  3.70000000e+02  4.89000000e+02  1.14900000e+03
  2.68000000e+02  2.81600000e+03  7.89000000e+02  4.30000000e+02
  9.78000000e+02  7.70000000e+02  4.93000000e+02  7.16000000e+02
  1.59000000e+02]
[1 2 0]
['Monarch Butterfly' 'Monarch Migration' 'FIRST Monarch Butterfly'
 'FIRST Monarch Egg' 'First Monarch' 'FIRST Monarch' 'LAST Fall Monarch'
 'Monarch (OTHER observations)' 'Monarch (FIRST sighting)'
 'Monarch (FIRST seen)' 'Monarch (Other Sightings)'
 'Monarch (OTHER observation)' 'Monarch (OTHER Observation)'
 'Monarch Migration Sighting' 'Monarch (OTHER Observations)'
 'Monarch Migration Study' 'LAST Fall Monarch Sighted'
 ' LAST Fall Monarch Sighted' 'LAST Fall Monarch Migration'
 'Monarch (OTHER oservations)' 'Monarch (LAST sighting)'
 'Monarch Larva (FIRST sighted)' 'Monarch Egg (FIRST sighted)'
 'Monarch Adult (FIRST sighted)' 'Monarch Adult (FIRST Sighted)'
 'Monarch PEAK Migration' 'LAST Fall Monarch Sighting'
 'Monarchs OTHER (Observation)' '(Monarch) Milkweed emerges'
 'Monarch FIRST Migration Sighting' 'Monarch peak Migration'
 'Monarch (OTHER) Observations' 'Milkweed (FIRST Leaves)'
 'Monarch Over-wintering' 'Monarch Adult  (FIRST sighted)'
 'Monarchs (OTHER observations)' 'Monarch (IOTHER observations)'
 'Monarch Fall Roost' 'Monarch ADULT' 'Monarch Larva (FIRST Sighted)'
 'Monarch (OTHER Observations' 'Monarch Peak Migration'
 'Monarch over-wintering' 'Monarch  Adult (FIRST sighted)'
 'Monarch (Other Observations)' 'Monarch FIRST Adult'
 'Monarch Adult (First sighted)' 'Monarch (Other observations)'
 'Monarch Migration Sighting OW' 'Monarch (FIRST sighted)'
 'Monarch (NONE sighted)' 'Monarch Fall Roost (None yet)'
 'Monarch Adult Sighted' 'Monarch Sighting' 'Monarch (Other Observations'
 'Monarch Winter Sighting' 'Monarch Sighted' 'Monarch Egg Sighted'
 'Monarch Larva Sighted' 'Monarch OTHER Observations'
 'monarch (OTHER Observations)' 'Monarch Egg (FIRST Sighted)'
 'Monarch OW Mexico' 'Monarch Adult  Sighted'
 'Monarch (OTHER Observations) READY' 'Monarch Adult (FIRST sighted))'
 'Monarch, Captive-Reared' 'Monarch Fall Roost (waiting for permission)'
 'Milkweed Sighted' 'Milkweed (FIRST sighted)' 'Milkweed (FIRST Sighted)'
 'Milkweed sighted' 'Monarch, Captive Reared'
 'Monarch Egg (FIRST sighted)ghted)'
 'Monarch Adult (FIRST sighted)T sighted)'
 'Monarch Adult (FIRST sighted)sighted)' 'Monarch (Captive Reared)ed)'
 'Monarch (Captive Reared)' 'Monarch (OTHER Observations)ations)'
 'Monarch Larva Sighted ' 'Monarch Fall Roost ' 'Monarch Egg Sighted '
 'Monarch, captive-Reared' 'MOnarch Larva Sighted'
 'Monarch Adult Sighted ' 'Monarch adult Sighted' 'Monarch Adult SIghted'
 'Monarch Adult (FIRST sighted) ' 'Monarchch Adult Sighted'

In [10]:
# Determine the number of unique values in each column.
for col in JNorth1996_2020_df:
  print(JNorth1996_2020_df[col].value_counts())

850841703     1
1526350827    1
1526350816    1
1526350817    1
1526350818    1
             ..
1432512422    1
1432519704    1
1432562236    1
1432562641    1
1526525021    1
Name: id, Length: 227433, dtype: int64
2018-08-22    392
2018-10-03    377
2018-09-06    353
2019-09-19    337
2018-09-12    335
             ...
2015-12-31      1
2015-11-24      1
2015-11-22      1
2006-07-30      1
1996-12-16      1
Name: sighting_date, Length: 7491, dtype: int64
Monarch Adult Sighted            102306
Monarch Adult (FIRST sighted)     36409
Monarch Larva Sighted             17378
Monarch, Captive-Reared           14339
Monarch (OTHER Observations)      13581
Monarch Egg Sighted                8736
Milkweed (FIRST sighted)           8465
Monarch PEAK Migration             7689
Monarch Egg (FIRST sighted)        6876
Monarch Fall Roost                 5035
Monarch Larva (FIRST sighted)      4898
Milkweed Sighted                   1721
Name: species, dtype: int64
1       139319
2        24169
3        13055
4         7795
5         6118
         ...
860          1
315          1
244          1
1351         1
159          1
Name: number, Length: 555, dtype: int64
29.757    811
30.230    765
45.033    702
37.944    700
42.409    659
         ...
30.770      1
38.355      1
33.305      1
29.930      1
27.594      1
Name: latitude, Length: 18851, dtype: int64
-95.365     807
-97.714     752
-87.405     695
-93.224     620
-82.220     605
           ...
-77.529       1
-69.400       1
-101.051      1
-69.254       1
-122.557      1
Name: longitude, Length: 30123, dtype: int64
1    136009
0     91424
Name: flag_location, dtype: int64
-999999.999                                                                                                                                                               1427
Female                                                                                                                                                                     170
Flying                                                                                                                                                                     144
Male                                                                                                                                                                       118
Recorded as an incidental sighting while conducting surveys on the Fort Hood military base.                                                                                104
                                                                                                                                                                          ...
first female sighting around 3 pm in richmond-laid egg on common milkweed.  Warm sw wind -monarch looked fresh                                                               1
Spotted our first milkweed shoots in our butterfly garden at Lake Anne Elementary this afternoon after the first weekend with warmer temperatures.                           1
Spotted 1 adult near Love Valley Wildlife Reserve near the Red River.                                                                                                        1
Established Asclepias syriaca L. plants in open area have emerged approximately 1 inch in height one day after 0.7" rainfall.                                                1
Date of last adult sighted.Total sightings were 98 adults from June 3 to Sept. 4.Peak sightings were July 8 to Aug 7.Approx. acreage with milkweed is equal to 4.5Ac.        1
Name: comments, Length: 212736, dtype: int64
-999999.999                            139036
-999999.999                             63593
None                                      457
Homeschool                                331
Virginia living museum                    263
                                        ...
William e. norris elementary school         1
Coventry elementary school                  1
Adams is close                              1
Salem elementary school                     1
Walker memorial junior academy              1
Name: school, Length: 6914, dtype: int64
-999999.999    206370
 99.000          3136
 4.000           2947
 3.000           2543
 2.000           2541
                ...
 1012.000           1
 678.000            1
 69.000             1
 95.000             1
 135.000            1
Name: grade, Length: 67, dtype: int64
-999999.999                                                                   183911
//sightings.journeynorth.org/jnorth/images/userfiles2018/09/1526362818.jpg         8
https://journeynorth.org/jnorth/images/userfiles/1366245309.jpg                    3
https://journeynorth.org/jnorth/images/userfiles/1331931236.jpg                    3
//journeynorth.org/jnorth/images/userfiles2020/04/1526445894.jpg                   2
                                                                               ...
https://journeynorth.org/jnorth/images/userfiles2017/06/1496327046.jpg             1
https://journeynorth.org/jnorth/images/userfiles2017/06/1496327055.jpg             1
https://journeynorth.org/jnorth/images/userfiles2017/06/1496327056.jpg             1
https://journeynorth.org/jnorth/images/userfiles2017/06/1496327063.jpg             1
//journeynorth.org/jnorth/images/userfiles2021/06/1526524404.jpg                   1
Name: image_url, Length: 43474, dtype: int64
9710973     7256
9979617     2054
9976074     1055
9975275      900
10010858     757
            ...
9979243        1
9979242        1
9979240        1
9979216        1
10042557       1
Name: customerid, Length: 42518, dtype: int64
 1.000         73436
-999999.999    64715
 2.000         24169
 3.000         13055
 4.000          7795
               ...
 445.000           1
 1700.000          1
 254.000           1
 429.000           1
 159.000           1
Name: number_old, Length: 557, dtype: int64
0    161550
1     64715
2      1168
Name: flag_number, dtype: int64
Monarch Adult Sighted                          91662
Monarch Adult (FIRST sighted)                  25311
Monarch Larva Sighted                          17373
Monarch, Captive-Reared                        14329
Monarch (OTHER Observations)                   10626
                                               ...
monarch (OTHER Observations)                       1
Monarch (OTHER Observations) READY                 1
Monarch Fall Roost (waiting for permission)        1
Monarch, Captive Reared                            1
Monarch, Captive-reared                            1
Name: species_old, Length: 96, dtype: int64
0    197793
1     29640
Name: flag_species, dtype: int64

In [11]:
# Find null values
for column in JNorth1996_2020_df.columns:
   print(f"Column {column} has {JNorth1996_2020_df[column].isnull().sum()} null values")

Column id has 0 null values
Column sighting_date has 0 null values
Column species has 0 null values
Column number has 0 null values
Column latitude has 0 null values
Column longitude has 0 null values
Column flag_location has 0 null values
Column comments has 0 null values
Column school has 0 null values
Column grade has 0 null values
Column image_url has 0 null values
Column customerid has 0 null values
Column number_old has 0 null values
Column flag_number has 0 null values
Column species_old has 0 null values
Column flag_species has 0 null values

In [12]:
# Find duplicate entries
print(f"Duplicate entries: {JNorth1996_2020_df.duplicated().sum()}")

Duplicate entries: 0

In [13]:
# filtering by type of observation (Monarch First Egg Sighted)
JNorth_Larva_Site_df = JNorth1996_2020_df[JNorth1996_2020_df['species']=='Monarch Larva Sighted']
JNorth_Larva_Site_df.head()

,id,sighting_date,species,number,latitude,longitude,flag_location,comments,school,grade,image_url,customerid,number_old,flag_number,species_old,flag_species
48278,1344359409,2012-08-06,Monarch Larva Sighted,1,34.594,-112.700,0,Fiona Reid of Skull Valley reports her first m...,-999999.999,-999999.999,https://journeynorth.org/jnorth/images/userfil...,9938243,-999999.999,1,Monarch Larva Sighted,0
48299,1344458076,2012-08-08,Monarch Larva Sighted,1,42.647,-74.575,0,4th instar cat on milkweed ( incarnata).,-999999.999,-999999.999,-999999.999,9940596,-999999.999,1,Monarch Larva Sighted,0
48305,1344532312,2012-08-09,Monarch Larva Sighted,11,39.081,-76.558,0,"Caterpillars spotted on common, poke, butterfl...",Arlington echo outdoor education center,-999999.999,https://journeynorth.org/jnorth/images/userfil...,9954266,11.000,0,Monarch Larva Sighted,0
48306,1344532445,2012-08-09,Monarch Larva Sighted,6,39.185,-76.630,0,Caterpillars spotted on swamp and butterfly mi...,Arlington echo outdoor education center,-999999.999,-999999.999,9954266,6.000,0,Monarch Larva Sighted,0
48307,1344532566,2012-08-09,Monarch Larva Sighted,6,39.185,-76.630,0,Caterpillars spotted on swamp and butterfly mi...,Arlington echo outdoor education center,-999999.999,-999999.999,9954266,6.000,0,Monarch Larva Sighted,0

In [14]:
JNorth_Larva_Site_df.to_csv('JNorth_Larva_Site.csv', header=True, mode='w' )

In [15]:
JNorth_Larva_Site_df.shape

(17378, 16)

# Format file for geoJSON

In [16]:
JNorth_Larva_Site_df.drop(['id','flag_location', 'comments','school','grade','image_url','customerid','number_old','flag_number','species_old','flag_species'], axis=1, inplace=True)
JNorth_Larva_Site_df.head()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

      sighting_date                species  number  latitude  longitude
48278    2012-08-06  Monarch Larva Sighted       1    34.594   -112.700
48299    2012-08-08  Monarch Larva Sighted       1    42.647    -74.575
48305    2012-08-09  Monarch Larva Sighted      11    39.081    -76.558
48306    2012-08-09  Monarch Larva Sighted       6    39.185    -76.630
48307    2012-08-09  Monarch Larva Sighted       6    39.185    -76.630

In [17]:
cols = ['sighting_date', 'species', 'number', 'latitude', 'longitude']

In [18]:
JNorth_Larva_Site_df =JNorth_Larva_Site_df.groupby(['sighting_date', 'species', 'latitude', 'longitude']).sum().reset_index()
JNorth_Larva_Site_df.head()

  sighting_date                species  latitude  longitude  number
0    2005-08-16  Monarch Larva Sighted    39.052    -77.125       5
1    2009-06-18  Monarch Larva Sighted    41.103    -95.958       2
2    2011-09-22  Monarch Larva Sighted    29.757    -95.365       1
3    2012-07-21  Monarch Larva Sighted    31.108    -83.422       4
4    2012-07-21  Monarch Larva Sighted    40.856    -74.229       9

In [19]:
JNorth_Larva_Site_df.columns.tolist()

['sighting_date', 'species', 'latitude', 'longitude', 'number']

In [20]:
JNorth_Larva_Site_df.head()

  sighting_date                species  latitude  longitude  number
0    2005-08-16  Monarch Larva Sighted    39.052    -77.125       5
1    2009-06-18  Monarch Larva Sighted    41.103    -95.958       2
2    2011-09-22  Monarch Larva Sighted    29.757    -95.365       1
3    2012-07-21  Monarch Larva Sighted    31.108    -83.422       4
4    2012-07-21  Monarch Larva Sighted    40.856    -74.229       9

In [21]:
JNorth_Larva_Site_df.shape

(16798, 5)

In [22]:
JNorth_Larva_Site_year_df = JNorth_Larva_Site_df
JNorth_Larva_Site_year_df['year'] = pd.DatetimeIndex(JNorth_Larva_Site_df['sighting_date']).year

# 2016

In [23]:
JNorth_Larva_Site_2016_df = JNorth_Larva_Site_year_df[JNorth_Larva_Site_year_df['year']==2016]
JNorth_Larva_Site_2016_df.tail()

     sighting_date                species  latitude  longitude  number  year
5862    2016-12-22  Monarch Larva Sighted    32.847    -79.821       3  2016
5863    2016-12-23  Monarch Larva Sighted    29.689    -95.375       3  2016
5864    2016-12-25  Monarch Larva Sighted    33.014    -96.727       5  2016
5865    2016-12-28  Monarch Larva Sighted    34.134   -117.853       4  2016
5866    2016-12-29  Monarch Larva Sighted    32.865    -97.376       1  2016

In [24]:
JNorth_Larva_Site_2016_df.shape

(2356, 6)

In [25]:
JNorth_Larva_Site_2016_df['month'] = pd.DatetimeIndex(JNorth_Larva_Site_2016_df['sighting_date']).month

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## January

In [26]:
JNorth_Larva_Site_2016_month_df =pd.DataFrame(JNorth_Larva_Site_2016_df)
JNorth_Larva_Site_2016_1_df = JNorth_Larva_Site_2016_month_df[JNorth_Larva_Site_2016_month_df['month']==1]
JNorth_Larva_Site_2016_1_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
3538,2016-01-24,Monarch Larva Sighted,29.633,-98.299,6,2016,1
3539,2016-01-24,Monarch Larva Sighted,29.835,-95.710,2,2016,1
3540,2016-01-30,Monarch Larva Sighted,29.469,-98.528,6,2016,1
3541,2016-01-30,Monarch Larva Sighted,30.306,-95.436,8,2016,1
3542,2016-01-30,Monarch Larva Sighted,32.390,-80.450,4,2016,1

In [27]:
JNorth_Larva_Site_2016_1_df.shape

(32, 7)

In [28]:
JNorth_Larva_Site_2016_1_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [29]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2016_1_df['latitude'] = JNorth_Larva_Site_2016_1_df['latitude'].astype(float)
JNorth_Larva_Site_2016_1_df['longitude'] = JNorth_Larva_Site_2016_1_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [30]:
geojson = df_to_geojson(JNorth_Larva_Site_2016_1_df, cols)

In [31]:
file = open("JNorth_Larva_Site_2016_1.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## February

In [32]:
JNorth_Larva_Site_2016_month_df =pd.DataFrame(JNorth_Larva_Site_2016_df)
JNorth_Larva_Site_2016_2_df = JNorth_Larva_Site_2016_month_df[JNorth_Larva_Site_2016_month_df['month']==2]
JNorth_Larva_Site_2016_2_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
3562,2016-02-24,Monarch Larva Sighted,30.230,-97.714,2,2016,2
3563,2016-02-25,Monarch Larva Sighted,29.757,-95.365,15,2016,2
3564,2016-02-27,Monarch Larva Sighted,33.786,-117.931,1,2016,2
3565,2016-02-28,Monarch Larva Sighted,30.230,-97.714,3,2016,2
3566,2016-02-28,Monarch Larva Sighted,34.015,-118.492,1,2016,2

In [33]:
JNorth_Larva_Site_2016_2_df.shape

(24, 7)

In [34]:
JNorth_Larva_Site_2016_2_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [35]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2016_2_df['latitude'] = JNorth_Larva_Site_2016_2_df['latitude'].astype(float)
JNorth_Larva_Site_2016_2_df['longitude'] = JNorth_Larva_Site_2016_2_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [36]:
geojson = df_to_geojson(JNorth_Larva_Site_2016_2_df, cols)

In [37]:
file = open("JNorth_Larva_Site_2016_2.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## March

In [38]:
JNorth_Larva_Site_2016_month_df =pd.DataFrame(JNorth_Larva_Site_2016_df)
JNorth_Larva_Site_2016_3_df = JNorth_Larva_Site_2016_month_df[JNorth_Larva_Site_2016_month_df['month']==3]
JNorth_Larva_Site_2016_3_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
3598,2016-03-28,Monarch Larva Sighted,33.663,-116.310,1,2016,3
3599,2016-03-28,Monarch Larva Sighted,33.953,-117.396,4,2016,3
3600,2016-03-29,Monarch Larva Sighted,29.484,-98.578,1,2016,3
3601,2016-03-29,Monarch Larva Sighted,30.631,-87.886,1,2016,3
3602,2016-03-31,Monarch Larva Sighted,29.424,-98.494,4,2016,3

In [39]:
JNorth_Larva_Site_2016_3_df.shape

(36, 7)

In [40]:
JNorth_Larva_Site_2016_3_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [41]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2016_3_df['latitude'] = JNorth_Larva_Site_2016_3_df['latitude'].astype(float)
JNorth_Larva_Site_2016_3_df['longitude'] = JNorth_Larva_Site_2016_3_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [42]:
geojson = df_to_geojson(JNorth_Larva_Site_2016_3_df, cols)

In [43]:
file = open("JNorth_Larva_Site_2016_3.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## April

In [44]:
JNorth_Larva_Site_2016_month_df =pd.DataFrame(JNorth_Larva_Site_2016_df)
JNorth_Larva_Site_2016_4_df = JNorth_Larva_Site_2016_month_df[JNorth_Larva_Site_2016_month_df['month']==4]
JNorth_Larva_Site_2016_4_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
3678,2016-04-26,Monarch Larva Sighted,28.416,-81.299,12,2016,4
3679,2016-04-26,Monarch Larva Sighted,34.186,-101.717,4,2016,4
3680,2016-04-28,Monarch Larva Sighted,26.652,-82.007,30,2016,4
3681,2016-04-28,Monarch Larva Sighted,32.893,-97.107,1,2016,4
3682,2016-04-29,Monarch Larva Sighted,33.751,-117.994,3,2016,4

In [45]:
JNorth_Larva_Site_2016_4_df.shape

(80, 7)

In [46]:
JNorth_Larva_Site_2016_4_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [47]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2016_4_df['latitude'] = JNorth_Larva_Site_2016_4_df['latitude'].astype(float)
JNorth_Larva_Site_2016_4_df['longitude'] = JNorth_Larva_Site_2016_4_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [48]:
geojson = df_to_geojson(JNorth_Larva_Site_2016_4_df, cols)

In [49]:
file = open("JNorth_Larva_Site_2016_4.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## May

In [50]:
JNorth_Larva_Site_2016_month_df =pd.DataFrame(JNorth_Larva_Site_2016_df)
JNorth_Larva_Site_2016_5_df = JNorth_Larva_Site_2016_month_df[JNorth_Larva_Site_2016_month_df['month']==5]
JNorth_Larva_Site_2016_5_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
3718,2016-05-29,Monarch Larva Sighted,30.971,-98.713,2,2016,5
3719,2016-05-29,Monarch Larva Sighted,32.491,-97.756,10,2016,5
3720,2016-05-30,Monarch Larva Sighted,29.969,-98.907,1,2016,5
3721,2016-05-30,Monarch Larva Sighted,32.842,-117.022,1,2016,5
3722,2016-05-30,Monarch Larva Sighted,35.466,-82.580,1,2016,5

In [51]:
JNorth_Larva_Site_2016_5_df.shape

(40, 7)

In [52]:
JNorth_Larva_Site_2016_5_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [53]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2016_5_df['latitude'] = JNorth_Larva_Site_2016_5_df['latitude'].astype(float)
JNorth_Larva_Site_2016_5_df['longitude'] = JNorth_Larva_Site_2016_5_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [54]:
geojson = df_to_geojson(JNorth_Larva_Site_2016_5_df, cols)

In [55]:
file = open("JNorth_Larva_Site_2016_5.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## June

In [56]:
JNorth_Larva_Site_2016_month_df =pd.DataFrame(JNorth_Larva_Site_2016_df)
JNorth_Larva_Site_2016_6_df = JNorth_Larva_Site_2016_month_df[JNorth_Larva_Site_2016_month_df['month']==6]
JNorth_Larva_Site_2016_6_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
3788,2016-06-29,Monarch Larva Sighted,46.097,-79.515,5,2016,6
3789,2016-06-29,Monarch Larva Sighted,46.182,-79.530,4,2016,6
3790,2016-06-29,Monarch Larva Sighted,46.816,-92.064,1,2016,6
3791,2016-06-29,Monarch Larva Sighted,49.134,-96.562,1,2016,6
3792,2016-06-30,Monarch Larva Sighted,46.093,-79.474,2,2016,6

In [57]:
JNorth_Larva_Site_2016_6_df.shape

(70, 7)

In [58]:
JNorth_Larva_Site_2016_6_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [59]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2016_6_df['latitude'] = JNorth_Larva_Site_2016_6_df['latitude'].astype(float)
JNorth_Larva_Site_2016_6_df['longitude'] = JNorth_Larva_Site_2016_6_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [60]:
geojson = df_to_geojson(JNorth_Larva_Site_2016_6_df, cols)

In [61]:
file = open("JNorth_Larva_Site_2016_6.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## July

In [62]:
JNorth_Larva_Site_2016_month_df =pd.DataFrame(JNorth_Larva_Site_2016_df)
JNorth_Larva_Site_2016_7_df = JNorth_Larva_Site_2016_month_df[JNorth_Larva_Site_2016_month_df['month']==7]
JNorth_Larva_Site_2016_7_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
3991,2016-07-31,Monarch Larva Sighted,41.394,-73.126,9,2016,7
3992,2016-07-31,Monarch Larva Sighted,43.422,-88.368,1,2016,7
3993,2016-07-31,Monarch Larva Sighted,43.426,-88.425,2,2016,7
3994,2016-07-31,Monarch Larva Sighted,43.933,-72.588,1,2016,7
3995,2016-07-31,Monarch Larva Sighted,44.872,-88.030,1,2016,7

In [63]:
JNorth_Larva_Site_2016_7_df.shape

(203, 7)

In [64]:
JNorth_Larva_Site_2016_7_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [65]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2016_7_df['latitude'] = JNorth_Larva_Site_2016_7_df['latitude'].astype(float)
JNorth_Larva_Site_2016_7_df['longitude'] = JNorth_Larva_Site_2016_7_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [66]:
geojson = df_to_geojson(JNorth_Larva_Site_2016_7_df, cols)

In [67]:
file = open("JNorth_Larva_Site_2016_7.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## August

In [68]:
JNorth_Larva_Site_2016_month_df =pd.DataFrame(JNorth_Larva_Site_2016_df)
JNorth_Larva_Site_2016_8_df = JNorth_Larva_Site_2016_month_df[JNorth_Larva_Site_2016_month_df['month']==8]
JNorth_Larva_Site_2016_8_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
4685,2016-08-31,Monarch Larva Sighted,41.336,-99.376,23,2016,8
4686,2016-08-31,Monarch Larva Sighted,41.522,-71.284,5,2016,8
4687,2016-08-31,Monarch Larva Sighted,41.529,-90.668,17,2016,8
4688,2016-08-31,Monarch Larva Sighted,43.701,-87.785,2,2016,8
4689,2016-08-31,Monarch Larva Sighted,45.188,-87.736,1,2016,8

In [69]:
JNorth_Larva_Site_2016_8_df.shape

(694, 7)

In [70]:
JNorth_Larva_Site_2016_8_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [71]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2016_8_df['latitude'] = JNorth_Larva_Site_2016_8_df['latitude'].astype(float)
JNorth_Larva_Site_2016_8_df['longitude'] = JNorth_Larva_Site_2016_8_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [72]:
geojson = df_to_geojson(JNorth_Larva_Site_2016_8_df, cols)

In [73]:
file = open("JNorth_Larva_Site_2016_8.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## September

In [74]:
JNorth_Larva_Site_2016_month_df =pd.DataFrame(JNorth_Larva_Site_2016_df)
JNorth_Larva_Site_2016_9_df = JNorth_Larva_Site_2016_month_df[JNorth_Larva_Site_2016_month_df['month']==9]
JNorth_Larva_Site_2016_9_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
5526,2016-09-30,Monarch Larva Sighted,33.820,-84.222,5,2016,9
5527,2016-09-30,Monarch Larva Sighted,34.553,-92.340,3,2016,9
5528,2016-09-30,Monarch Larva Sighted,38.114,-122.601,1,2016,9
5529,2016-09-30,Monarch Larva Sighted,39.314,-84.363,4,2016,9
5530,2016-09-30,Monarch Larva Sighted,40.730,-77.902,1,2016,9

In [75]:
JNorth_Larva_Site_2016_9_df.shape

(841, 7)

In [76]:
JNorth_Larva_Site_2016_9_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [77]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2016_9_df['latitude'] = JNorth_Larva_Site_2016_9_df['latitude'].astype(float)
JNorth_Larva_Site_2016_9_df['longitude'] = JNorth_Larva_Site_2016_9_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [78]:
geojson = df_to_geojson(JNorth_Larva_Site_2016_9_df, cols)

In [79]:
file = open("JNorth_Larva_Site_2016_9.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## October

In [80]:
JNorth_Larva_Site_2016_month_df =pd.DataFrame(JNorth_Larva_Site_2016_df)
JNorth_Larva_Site_2016_10_df = JNorth_Larva_Site_2016_month_df[JNorth_Larva_Site_2016_month_df['month']==10]
JNorth_Larva_Site_2016_10_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
5759,2016-10-31,Monarch Larva Sighted,29.927,-95.084,14,2016,10
5760,2016-10-31,Monarch Larva Sighted,30.349,-97.859,1,2016,10
5761,2016-10-31,Monarch Larva Sighted,32.865,-97.376,1,2016,10
5762,2016-10-31,Monarch Larva Sighted,33.830,-116.545,3,2016,10
5763,2016-10-31,Monarch Larva Sighted,34.230,-118.516,1,2016,10

In [81]:
JNorth_Larva_Site_2016_10_df.shape

(233, 7)

In [82]:
JNorth_Larva_Site_2016_10_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [83]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2016_10_df['latitude'] = JNorth_Larva_Site_2016_10_df['latitude'].astype(float)
JNorth_Larva_Site_2016_10_df['longitude'] = JNorth_Larva_Site_2016_10_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [84]:
geojson = df_to_geojson(JNorth_Larva_Site_2016_10_df, cols)

In [85]:
file = open("JNorth_Larva_Site_2016_10.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## November

In [86]:
JNorth_Larva_Site_2016_month_df =pd.DataFrame(JNorth_Larva_Site_2016_df)
JNorth_Larva_Site_2016_11_df = JNorth_Larva_Site_2016_month_df[JNorth_Larva_Site_2016_month_df['month']==11]
JNorth_Larva_Site_2016_11_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
5826,2016-11-28,Monarch Larva Sighted,32.331,-95.269,4,2016,11
5827,2016-11-28,Monarch Larva Sighted,32.597,-96.895,1,2016,11
5828,2016-11-28,Monarch Larva Sighted,32.865,-97.376,18,2016,11
5829,2016-11-29,Monarch Larva Sighted,32.865,-97.376,3,2016,11
5830,2016-11-30,Monarch Larva Sighted,28.000,-82.752,10,2016,11

In [87]:
JNorth_Larva_Site_2016_11_df.shape

(67, 7)

In [88]:
JNorth_Larva_Site_2016_11_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [89]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2016_11_df['latitude'] = JNorth_Larva_Site_2016_11_df['latitude'].astype(float)
JNorth_Larva_Site_2016_11_df['longitude'] = JNorth_Larva_Site_2016_11_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [90]:
geojson = df_to_geojson(JNorth_Larva_Site_2016_11_df, cols)

In [91]:
file = open("JNorth_Larva_Site_2016_11.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## December

In [92]:
JNorth_Larva_Site_2016_month_df =pd.DataFrame(JNorth_Larva_Site_2016_df)
JNorth_Larva_Site_2016_12_df = JNorth_Larva_Site_2016_month_df[JNorth_Larva_Site_2016_month_df['month']==12]
JNorth_Larva_Site_2016_12_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
5862,2016-12-22,Monarch Larva Sighted,32.847,-79.821,3,2016,12
5863,2016-12-23,Monarch Larva Sighted,29.689,-95.375,3,2016,12
5864,2016-12-25,Monarch Larva Sighted,33.014,-96.727,5,2016,12
5865,2016-12-28,Monarch Larva Sighted,34.134,-117.853,4,2016,12
5866,2016-12-29,Monarch Larva Sighted,32.865,-97.376,1,2016,12

In [93]:
JNorth_Larva_Site_2016_12_df.shape

(36, 7)

In [94]:
JNorth_Larva_Site_2016_12_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [95]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2016_12_df['latitude'] = JNorth_Larva_Site_2016_12_df['latitude'].astype(float)
JNorth_Larva_Site_2016_12_df['longitude'] = JNorth_Larva_Site_2016_12_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [96]:
geojson = df_to_geojson(JNorth_Larva_Site_2016_12_df, cols)

In [97]:
file = open("JNorth_Larva_Site_2016_12.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# 2017

In [98]:
JNorth_Larva_Site_2017_df = JNorth_Larva_Site_year_df[JNorth_Larva_Site_year_df['year']==2017]
JNorth_Larva_Site_2017_df.tail()

     sighting_date                species  latitude  longitude  number  year
8538    2017-12-29  Monarch Larva Sighted    31.214    -82.354      16  2017
8539    2017-12-30  Monarch Larva Sighted    31.214    -82.354       1  2017
8540    2017-12-30  Monarch Larva Sighted    32.399    -80.440       3  2017
8541    2017-12-30  Monarch Larva Sighted    38.675   -121.873       1  2017
8542    2017-12-31  Monarch Larva Sighted    32.900   -105.960       4  2017

In [99]:
JNorth_Larva_Site_2017_df.shape

(2676, 6)

In [100]:
JNorth_Larva_Site_2017_df.drop(['year'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [101]:
JNorth_Larva_Site_2017_df.tail

<bound method NDFrame.tail of      sighting_date                species  latitude  longitude  number
5867    2017-01-01  Monarch Larva Sighted    30.019    -95.543      13
5868    2017-01-03  Monarch Larva Sighted    29.694    -95.411      10
5869    2017-01-03  Monarch Larva Sighted    32.830    -79.868       3
5870    2017-01-04  Monarch Larva Sighted    28.480    -80.776      14
5871    2017-01-05  Monarch Larva Sighted    28.000    -82.752      16
...            ...                    ...       ...        ...     ...
8538    2017-12-29  Monarch Larva Sighted    31.214    -82.354      16
8539    2017-12-30  Monarch Larva Sighted    31.214    -82.354       1
8540    2017-12-30  Monarch Larva Sighted    32.399    -80.440       3
8541    2017-12-30  Monarch Larva Sighted    38.675   -121.873       1
8542    2017-12-31  Monarch Larva Sighted    32.900   -105.960       4

[2676 rows x 5 columns]>

In [102]:
JNorth_Larva_Site_2017_df['month'] = pd.DatetimeIndex(JNorth_Larva_Site_2017_df['sighting_date']).month

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## January

In [103]:
JNorth_Larva_Site_2017_month_df =pd.DataFrame(JNorth_Larva_Site_2017_df)
JNorth_Larva_Site_2017_1_df = JNorth_Larva_Site_2017_month_df[JNorth_Larva_Site_2017_month_df['month']==1]
JNorth_Larva_Site_2017_1_df.tail()

     sighting_date                species  latitude  longitude  number  month
5906    2017-01-25  Monarch Larva Sighted    32.749   -117.231       1      1
5907    2017-01-26  Monarch Larva Sighted    29.980    -81.810       1      1
5908    2017-01-26  Monarch Larva Sighted    29.992    -81.678       2      1
5909    2017-01-27  Monarch Larva Sighted    33.642   -117.882       1      1
5910    2017-01-27  Monarch Larva Sighted    34.134   -117.853       1      1

In [104]:
JNorth_Larva_Site_2017_1_df.shape

(44, 6)

In [105]:
JNorth_Larva_Site_2017_1_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [106]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2017_1_df['latitude'] = JNorth_Larva_Site_2017_1_df['latitude'].astype(float)
JNorth_Larva_Site_2017_1_df['longitude'] = JNorth_Larva_Site_2017_1_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [107]:
geojson = df_to_geojson(JNorth_Larva_Site_2017_1_df, cols)

In [108]:
file = open("JNorth_Larva_Site_2017_1.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## February

In [109]:
JNorth_Larva_Site_2017_month_df =pd.DataFrame(JNorth_Larva_Site_2017_df)
JNorth_Larva_Site_2017_2_df = JNorth_Larva_Site_2017_month_df[JNorth_Larva_Site_2017_month_df['month']==2]
JNorth_Larva_Site_2017_2_df.tail()

     sighting_date                species  latitude  longitude  number  month
5925    2017-02-22  Monarch Larva Sighted    32.221    -80.675       1      2
5926    2017-02-22  Monarch Larva Sighted    32.830    -79.868       7      2
5927    2017-02-24  Monarch Larva Sighted    27.801    -97.396       5      2
5928    2017-02-25  Monarch Larva Sighted    29.910    -95.557      10      2
5929    2017-02-28  Monarch Larva Sighted    34.134   -117.853       1      2

In [110]:
JNorth_Larva_Site_2017_2_df.shape

(19, 6)

In [111]:
JNorth_Larva_Site_2017_2_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [112]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2017_2_df['latitude'] = JNorth_Larva_Site_2017_2_df['latitude'].astype(float)
JNorth_Larva_Site_2017_2_df['longitude'] = JNorth_Larva_Site_2017_2_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [113]:
geojson = df_to_geojson(JNorth_Larva_Site_2017_2_df, cols)

In [114]:
file = open("JNorth_Larva_Site_2017_2.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## March

In [115]:
JNorth_Larva_Site_2017_month_df =pd.DataFrame(JNorth_Larva_Site_2017_df)
JNorth_Larva_Site_2017_3_df = JNorth_Larva_Site_2017_month_df[JNorth_Larva_Site_2017_month_df['month']==3]
JNorth_Larva_Site_2017_3_df.tail()

     sighting_date                species  latitude  longitude  number  month
5979    2017-03-30  Monarch Larva Sighted    29.186    -94.978       6      3
5980    2017-03-30  Monarch Larva Sighted    29.557    -95.809       3      3
5981    2017-03-30  Monarch Larva Sighted    32.814    -79.874      15      3
5982    2017-03-31  Monarch Larva Sighted    29.532    -98.511       1      3
5983    2017-03-31  Monarch Larva Sighted    30.578    -89.287       1      3

In [116]:
JNorth_Larva_Site_2017_3_df.shape

(54, 6)

In [117]:
JNorth_Larva_Site_2017_3_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [118]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2017_3_df['latitude'] = JNorth_Larva_Site_2017_3_df['latitude'].astype(float)
JNorth_Larva_Site_2017_3_df['longitude'] = JNorth_Larva_Site_2017_3_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [119]:
geojson = df_to_geojson(JNorth_Larva_Site_2017_3_df, cols)

In [120]:
file = open("JNorth_Larva_Site_2017_3.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## April

In [121]:
JNorth_Larva_Site_2017_month_df =pd.DataFrame(JNorth_Larva_Site_2017_df)
JNorth_Larva_Site_2017_4_df = JNorth_Larva_Site_2017_month_df[JNorth_Larva_Site_2017_month_df['month']==4]
JNorth_Larva_Site_2017_4_df.tail()

     sighting_date                species  latitude  longitude  number  month
6095    2017-04-29  Monarch Larva Sighted    27.777    -82.632       4      4
6096    2017-04-29  Monarch Larva Sighted    34.133   -117.853       1      4
6097    2017-04-30  Monarch Larva Sighted    27.777    -82.632       2      4
6098    2017-04-30  Monarch Larva Sighted    35.485    -82.552       3      4
6099    2017-04-30  Monarch Larva Sighted    40.116    -88.243      30      4

In [122]:
JNorth_Larva_Site_2017_4_df.shape

(116, 6)

In [123]:
JNorth_Larva_Site_2017_4_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [124]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2017_4_df['latitude'] = JNorth_Larva_Site_2017_4_df['latitude'].astype(float)
JNorth_Larva_Site_2017_4_df['longitude'] = JNorth_Larva_Site_2017_4_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [125]:
geojson = df_to_geojson(JNorth_Larva_Site_2017_4_df, cols)

In [126]:
file = open("JNorth_Larva_Site_2017_4.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## May

In [127]:
JNorth_Larva_Site_2017_month_df =pd.DataFrame(JNorth_Larva_Site_2017_df)
JNorth_Larva_Site_2017_5_df = JNorth_Larva_Site_2017_month_df[JNorth_Larva_Site_2017_month_df['month']==5]
JNorth_Larva_Site_2017_5_df.tail()

     sighting_date                species  latitude  longitude  number  month
6205    2017-05-29  Monarch Larva Sighted    38.835    -77.247       1      5
6206    2017-05-30  Monarch Larva Sighted    40.814    -89.621       1      5
6207    2017-05-30  Monarch Larva Sighted    42.402    -88.016       4      5
6208    2017-05-31  Monarch Larva Sighted    30.267    -97.743       1      5
6209    2017-05-31  Monarch Larva Sighted    40.056    -76.345       1      5

In [128]:
JNorth_Larva_Site_2017_5_df.shape

(110, 6)

In [129]:
JNorth_Larva_Site_2017_5_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [130]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2017_5_df['latitude'] = JNorth_Larva_Site_2017_5_df['latitude'].astype(float)
JNorth_Larva_Site_2017_5_df['longitude'] = JNorth_Larva_Site_2017_5_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [131]:
geojson = df_to_geojson(JNorth_Larva_Site_2017_5_df, cols)

In [132]:
file = open("JNorth_Larva_Site_2017_5.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## June

In [133]:
JNorth_Larva_Site_2017_month_df =pd.DataFrame(JNorth_Larva_Site_2017_df)
JNorth_Larva_Site_2017_6_df = JNorth_Larva_Site_2017_month_df[JNorth_Larva_Site_2017_month_df['month']==6]
JNorth_Larva_Site_2017_6_df.tail()

     sighting_date                species  latitude  longitude  number  month
6341    2017-06-30  Monarch Larva Sighted    43.642   -123.581       6      6
6342    2017-06-30  Monarch Larva Sighted    43.790    -69.986       1      6
6343    2017-06-30  Monarch Larva Sighted    44.884   -122.888      12      6
6344    2017-06-30  Monarch Larva Sighted    45.697    -90.400       1      6
6345    2017-06-30  Monarch Larva Sighted    46.114    -74.478       2      6

In [134]:
JNorth_Larva_Site_2017_6_df.shape

(136, 6)

In [135]:
JNorth_Larva_Site_2017_6_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [136]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2017_6_df['latitude'] = JNorth_Larva_Site_2017_6_df['latitude'].astype(float)
JNorth_Larva_Site_2017_6_df['longitude'] = JNorth_Larva_Site_2017_6_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [137]:
geojson = df_to_geojson(JNorth_Larva_Site_2017_6_df, cols)

In [138]:
file = open("JNorth_Larva_Site_2017_6.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## July

In [139]:
JNorth_Larva_Site_2017_month_df =pd.DataFrame(JNorth_Larva_Site_2017_df)
JNorth_Larva_Site_2017_7_df = JNorth_Larva_Site_2017_month_df[JNorth_Larva_Site_2017_month_df['month']==7]
JNorth_Larva_Site_2017_7_df.tail()

     sighting_date                species  latitude  longitude  number  month
6629    2017-07-31  Monarch Larva Sighted    41.777    -96.408       1      7
6630    2017-07-31  Monarch Larva Sighted    42.045    -87.688       2      7
6631    2017-07-31  Monarch Larva Sighted    42.574    -78.353       2      7
6632    2017-07-31  Monarch Larva Sighted    45.188    -87.736       4      7
6633    2017-07-31  Monarch Larva Sighted    45.597    -80.384       3      7

In [140]:
JNorth_Larva_Site_2017_7_df.shape

(288, 6)

In [141]:
JNorth_Larva_Site_2017_7_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [142]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2017_7_df['latitude'] = JNorth_Larva_Site_2017_7_df['latitude'].astype(float)
JNorth_Larva_Site_2017_7_df['longitude'] = JNorth_Larva_Site_2017_7_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [143]:
geojson = df_to_geojson(JNorth_Larva_Site_2017_7_df, cols)

In [144]:
file = open("JNorth_Larva_Site_2017_7.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## August

In [145]:
JNorth_Larva_Site_2017_month_df =pd.DataFrame(JNorth_Larva_Site_2017_df)
JNorth_Larva_Site_2017_8_df = JNorth_Larva_Site_2017_month_df[JNorth_Larva_Site_2017_month_df['month']==8]
JNorth_Larva_Site_2017_8_df.tail()

     sighting_date                species  latitude  longitude  number  month
7591    2017-08-31  Monarch Larva Sighted    43.176    -72.097       2      8
7592    2017-08-31  Monarch Larva Sighted    44.327    -72.637       4      8
7593    2017-08-31  Monarch Larva Sighted    44.351    -64.539       5      8
7594    2017-08-31  Monarch Larva Sighted    44.407    -76.601       2      8
7595    2017-08-31  Monarch Larva Sighted    48.403    -89.279       2      8

In [146]:
JNorth_Larva_Site_2017_8_df.shape

(962, 6)

In [147]:
JNorth_Larva_Site_2017_8_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [148]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2017_8_df['latitude'] = JNorth_Larva_Site_2017_8_df['latitude'].astype(float)
JNorth_Larva_Site_2017_8_df['longitude'] = JNorth_Larva_Site_2017_8_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [149]:
geojson = df_to_geojson(JNorth_Larva_Site_2017_8_df, cols)

In [150]:
file = open("JNorth_Larva_Site_2017_8.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## September

In [151]:
JNorth_Larva_Site_2017_month_df =pd.DataFrame(JNorth_Larva_Site_2017_df)
JNorth_Larva_Site_2017_9_df = JNorth_Larva_Site_2017_month_df[JNorth_Larva_Site_2017_month_df['month']==9]
JNorth_Larva_Site_2017_9_df.tail()

     sighting_date                species  latitude  longitude  number  month
8260    2017-09-30  Monarch Larva Sighted    35.653    -97.478       6      9
8261    2017-09-30  Monarch Larva Sighted    36.902    -75.993       4      9
8262    2017-09-30  Monarch Larva Sighted    38.383   -121.974       6      9
8263    2017-09-30  Monarch Larva Sighted    38.675   -121.873       4      9
8264    2017-09-30  Monarch Larva Sighted    39.437    -77.566       1      9

In [152]:
JNorth_Larva_Site_2017_9_df.shape

(669, 6)

In [153]:
JNorth_Larva_Site_2017_9_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [154]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2017_9_df['latitude'] = JNorth_Larva_Site_2017_9_df['latitude'].astype(float)
JNorth_Larva_Site_2017_9_df['longitude'] = JNorth_Larva_Site_2017_9_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [155]:
geojson = df_to_geojson(JNorth_Larva_Site_2017_9_df, cols)

In [156]:
file = open("JNorth_Larva_Site_2017_9.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## October

In [157]:
JNorth_Larva_Site_2017_month_df =pd.DataFrame(JNorth_Larva_Site_2017_df)
JNorth_Larva_Site_2017_10_df = JNorth_Larva_Site_2017_month_df[JNorth_Larva_Site_2017_month_df['month']==10]
JNorth_Larva_Site_2017_10_df.tail()

     sighting_date                species  latitude  longitude  number  month
8432    2017-10-28  Monarch Larva Sighted    32.892    -94.329       3     10
8433    2017-10-28  Monarch Larva Sighted    38.675   -121.873      11     10
8434    2017-10-30  Monarch Larva Sighted    33.910   -117.581       4     10
8435    2017-10-30  Monarch Larva Sighted    38.675   -121.873       3     10
8436    2017-10-31  Monarch Larva Sighted    25.983    -80.382      10     10

In [158]:
JNorth_Larva_Site_2017_10_df.shape

(172, 6)

In [159]:
JNorth_Larva_Site_2017_10_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [160]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2017_10_df['latitude'] = JNorth_Larva_Site_2017_10_df['latitude'].astype(float)
JNorth_Larva_Site_2017_10_df['longitude'] = JNorth_Larva_Site_2017_10_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [161]:
geojson = df_to_geojson(JNorth_Larva_Site_2017_10_df, cols)

In [162]:
file = open("JNorth_Larva_Site_2017_10.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## November

In [163]:
JNorth_Larva_Site_2017_month_df =pd.DataFrame(JNorth_Larva_Site_2017_df)
JNorth_Larva_Site_2017_11_df = JNorth_Larva_Site_2017_month_df[JNorth_Larva_Site_2017_month_df['month']==11]
JNorth_Larva_Site_2017_11_df.tail()

     sighting_date                species  latitude  longitude  number  month
8500    2017-11-25  Monarch Larva Sighted    29.532    -98.510       2     11
8501    2017-11-26  Monarch Larva Sighted    30.162    -81.659      30     11
8502    2017-11-27  Monarch Larva Sighted    29.424    -98.494       7     11
8503    2017-11-28  Monarch Larva Sighted    29.166    -81.011       1     11
8504    2017-11-30  Monarch Larva Sighted    29.604    -95.116       1     11

In [164]:
JNorth_Larva_Site_2017_11_df.shape

(68, 6)

In [165]:
JNorth_Larva_Site_2017_11_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [166]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2017_11_df['latitude'] = JNorth_Larva_Site_2017_11_df['latitude'].astype(float)
JNorth_Larva_Site_2017_11_df['longitude'] = JNorth_Larva_Site_2017_11_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [167]:
geojson = df_to_geojson(JNorth_Larva_Site_2017_11_df, cols)

In [168]:
file = open("JNorth_Larva_Site_2017_11.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## December

In [169]:
JNorth_Larva_Site_2017_month_df =pd.DataFrame(JNorth_Larva_Site_2017_df)
JNorth_Larva_Site_2017_12_df = JNorth_Larva_Site_2017_month_df[JNorth_Larva_Site_2017_month_df['month']==12]
JNorth_Larva_Site_2017_12_df.tail()

     sighting_date                species  latitude  longitude  number  month
8538    2017-12-29  Monarch Larva Sighted    31.214    -82.354      16     12
8539    2017-12-30  Monarch Larva Sighted    31.214    -82.354       1     12
8540    2017-12-30  Monarch Larva Sighted    32.399    -80.440       3     12
8541    2017-12-30  Monarch Larva Sighted    38.675   -121.873       1     12
8542    2017-12-31  Monarch Larva Sighted    32.900   -105.960       4     12

In [170]:
JNorth_Larva_Site_2017_12_df.shape

(38, 6)

In [171]:
JNorth_Larva_Site_2017_12_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [172]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2017_12_df['latitude'] = JNorth_Larva_Site_2017_12_df['latitude'].astype(float)
JNorth_Larva_Site_2017_12_df['longitude'] = JNorth_Larva_Site_2017_12_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [173]:
geojson = df_to_geojson(JNorth_Larva_Site_2017_12_df, cols)

In [174]:
file = open("JNorth_Larva_Site_2017_12.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# 2018

In [175]:
JNorth_Larva_Site_2018_df = JNorth_Larva_Site_year_df[JNorth_Larva_Site_year_df['year']==2018]
JNorth_Larva_Site_2018_df.tail()

      sighting_date                species  latitude  longitude  number  year
11592    2018-12-22  Monarch Larva Sighted    27.651    -97.298       2  2018
11593    2018-12-22  Monarch Larva Sighted    30.066    -95.386       2  2018
11594    2018-12-27  Monarch Larva Sighted    27.801    -97.396      10  2018
11595    2018-12-27  Monarch Larva Sighted    29.703    -95.789       1  2018
11596    2018-12-28  Monarch Larva Sighted    31.214    -82.354       8  2018

In [176]:
JNorth_Larva_Site_2018_df.shape

(3054, 6)

In [177]:
JNorth_Larva_Site_2018_df.drop(['year'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [178]:
JNorth_Larva_Site_2018_df.tail

<bound method NDFrame.tail of       sighting_date                species  latitude  longitude  number
8543     2018-01-03  Monarch Larva Sighted    24.690    -81.377       1
8544     2018-01-03  Monarch Larva Sighted    29.282    -81.086       9
8545     2018-01-04  Monarch Larva Sighted    30.224    -92.020       1
8546     2018-01-07  Monarch Larva Sighted    29.914    -90.053       3
8547     2018-01-08  Monarch Larva Sighted    29.282    -81.086       4
...             ...                    ...       ...        ...     ...
11592    2018-12-22  Monarch Larva Sighted    27.651    -97.298       2
11593    2018-12-22  Monarch Larva Sighted    30.066    -95.386       2
11594    2018-12-27  Monarch Larva Sighted    27.801    -97.396      10
11595    2018-12-27  Monarch Larva Sighted    29.703    -95.789       1
11596    2018-12-28  Monarch Larva Sighted    31.214    -82.354       8

[3054 rows x 5 columns]>

In [179]:
JNorth_Larva_Site_2018_df['month'] = pd.DatetimeIndex(JNorth_Larva_Site_2018_df['sighting_date']).month

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## January

In [180]:
JNorth_Larva_Site_2018_month_df =pd.DataFrame(JNorth_Larva_Site_2018_df)
JNorth_Larva_Site_2018_1_df = JNorth_Larva_Site_2018_month_df[JNorth_Larva_Site_2018_month_df['month']==1]
JNorth_Larva_Site_2018_1_df.tail()

     sighting_date                species  latitude  longitude  number  month
8550    2018-01-19  Monarch Larva Sighted    20.035   -100.720       1      1
8551    2018-01-22  Monarch Larva Sighted    28.107    -82.301       1      1
8552    2018-01-26  Monarch Larva Sighted    26.438    -81.807       1      1
8553    2018-01-27  Monarch Larva Sighted    38.676   -121.873       1      1
8554    2018-01-28  Monarch Larva Sighted    38.675   -121.873       1      1

In [181]:
JNorth_Larva_Site_2018_1_df.shape

(12, 6)

In [182]:
JNorth_Larva_Site_2018_1_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [183]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2018_1_df['latitude'] = JNorth_Larva_Site_2018_1_df['latitude'].astype(float)
JNorth_Larva_Site_2018_1_df['longitude'] = JNorth_Larva_Site_2018_1_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [184]:
geojson = df_to_geojson(JNorth_Larva_Site_2018_1_df, cols)

In [185]:
file = open("JNorth_Larva_Site_2018_1.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## February

In [186]:
JNorth_Larva_Site_2018_month_df =pd.DataFrame(JNorth_Larva_Site_2018_df)
JNorth_Larva_Site_2018_2_df = JNorth_Larva_Site_2018_month_df[JNorth_Larva_Site_2018_month_df['month']==2]
JNorth_Larva_Site_2018_2_df.tail()

     sighting_date                species  latitude  longitude  number  month
8562    2018-02-15  Monarch Larva Sighted    33.660   -117.999       9      2
8563    2018-02-16  Monarch Larva Sighted    34.251   -118.615       1      2
8564    2018-02-18  Monarch Larva Sighted    29.001    -82.151       5      2
8565    2018-02-18  Monarch Larva Sighted    33.419   -111.699       4      2
8566    2018-02-24  Monarch Larva Sighted    38.675   -121.873       1      2

In [187]:
JNorth_Larva_Site_2018_2_df.shape

(12, 6)

In [188]:
JNorth_Larva_Site_2018_2_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [189]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2018_2_df['latitude'] = JNorth_Larva_Site_2018_2_df['latitude'].astype(float)
JNorth_Larva_Site_2018_2_df['longitude'] = JNorth_Larva_Site_2018_2_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [190]:
geojson = df_to_geojson(JNorth_Larva_Site_2018_2_df, cols)

In [191]:
file = open("JNorth_Larva_Site_2018_2.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## March

In [192]:
JNorth_Larva_Site_2018_month_df =pd.DataFrame(JNorth_Larva_Site_2018_df)
JNorth_Larva_Site_2018_3_df = JNorth_Larva_Site_2018_month_df[JNorth_Larva_Site_2018_month_df['month']==3]
JNorth_Larva_Site_2018_3_df.tail()

     sighting_date                species  latitude  longitude  number  month
8601    2018-03-29  Monarch Larva Sighted    26.141    -97.176       1      3
8602    2018-03-29  Monarch Larva Sighted    27.801    -97.396      24      3
8603    2018-03-29  Monarch Larva Sighted    29.760    -95.370      10      3
8604    2018-03-30  Monarch Larva Sighted    27.801    -97.396      19      3
8605    2018-03-30  Monarch Larva Sighted    28.656    -81.524       5      3

In [193]:
JNorth_Larva_Site_2018_3_df.shape

(39, 6)

In [194]:
JNorth_Larva_Site_2018_3_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [195]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2018_3_df['latitude'] = JNorth_Larva_Site_2018_3_df['latitude'].astype(float)
JNorth_Larva_Site_2018_3_df['longitude'] = JNorth_Larva_Site_2018_3_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [196]:
geojson = df_to_geojson(JNorth_Larva_Site_2018_3_df, cols)

In [197]:
file = open("JNorth_Larva_Site_2018_3.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## April

In [198]:
JNorth_Larva_Site_2018_month_df =pd.DataFrame(JNorth_Larva_Site_2018_df)
JNorth_Larva_Site_2018_4_df = JNorth_Larva_Site_2018_month_df[JNorth_Larva_Site_2018_month_df['month']==4]
JNorth_Larva_Site_2018_4_df.tail()

     sighting_date                species  latitude  longitude  number  month
8719    2018-04-30  Monarch Larva Sighted    29.758    -81.318       3      4
8720    2018-04-30  Monarch Larva Sighted    30.288    -97.660       2      4
8721    2018-04-30  Monarch Larva Sighted    31.226    -97.801       1      4
8722    2018-04-30  Monarch Larva Sighted    31.242    -97.808       1      4
8723    2018-04-30  Monarch Larva Sighted    31.255    -97.801       2      4

In [199]:
JNorth_Larva_Site_2018_4_df.shape

(118, 6)

In [200]:
JNorth_Larva_Site_2018_4_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [201]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2018_4_df['latitude'] = JNorth_Larva_Site_2018_4_df['latitude'].astype(float)
JNorth_Larva_Site_2018_4_df['longitude'] = JNorth_Larva_Site_2018_4_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [202]:
geojson = df_to_geojson(JNorth_Larva_Site_2018_4_df, cols)

In [203]:
file = open("JNorth_Larva_Site_2018_4.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## May

In [204]:
JNorth_Larva_Site_2018_month_df =pd.DataFrame(JNorth_Larva_Site_2018_df)
JNorth_Larva_Site_2018_5_df = JNorth_Larva_Site_2018_month_df[JNorth_Larva_Site_2018_month_df['month']==5]
JNorth_Larva_Site_2018_5_df.tail()

     sighting_date                species  latitude  longitude  number  month
8832    2018-05-31  Monarch Larva Sighted    31.374    -97.758       1      5
8833    2018-05-31  Monarch Larva Sighted    41.877    -87.963       1      5
8834    2018-05-31  Monarch Larva Sighted    45.033    -93.223       1      5
8835    2018-05-31  Monarch Larva Sighted    45.051    -93.220       2      5
8836    2018-05-31  Monarch Larva Sighted    45.057    -93.195       5      5

In [205]:
JNorth_Larva_Site_2018_5_df.shape

(113, 6)

In [206]:
JNorth_Larva_Site_2018_5_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [207]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2018_5_df['latitude'] = JNorth_Larva_Site_2018_5_df['latitude'].astype(float)
JNorth_Larva_Site_2018_5_df['longitude'] = JNorth_Larva_Site_2018_5_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [208]:
geojson = df_to_geojson(JNorth_Larva_Site_2018_5_df, cols)

In [209]:
file = open("JNorth_Larva_Site_2018_5.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## June

In [210]:
JNorth_Larva_Site_2018_month_df =pd.DataFrame(JNorth_Larva_Site_2018_df)
JNorth_Larva_Site_2018_6_df = JNorth_Larva_Site_2018_month_df[JNorth_Larva_Site_2018_month_df['month']==6]
JNorth_Larva_Site_2018_6_df.tail()

     sighting_date                species  latitude  longitude  number  month
9015    2018-06-30  Monarch Larva Sighted    41.490    -81.777      18      6
9016    2018-06-30  Monarch Larva Sighted    43.038    -87.916      12      6
9017    2018-06-30  Monarch Larva Sighted    43.622    -79.503      20      6
9018    2018-06-30  Monarch Larva Sighted    45.114    -93.241       1      6
9019    2018-06-30  Monarch Larva Sighted    46.787    -92.100       3      6

In [211]:
JNorth_Larva_Site_2018_6_df.shape

(183, 6)

In [212]:
JNorth_Larva_Site_2018_6_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [213]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2018_6_df['latitude'] = JNorth_Larva_Site_2018_6_df['latitude'].astype(float)
JNorth_Larva_Site_2018_6_df['longitude'] = JNorth_Larva_Site_2018_6_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [214]:
geojson = df_to_geojson(JNorth_Larva_Site_2018_6_df, cols)

In [215]:
file = open("JNorth_Larva_Site_2018_6.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## July

In [216]:
JNorth_Larva_Site_2018_month_df =pd.DataFrame(JNorth_Larva_Site_2018_df)
JNorth_Larva_Site_2018_7_df = JNorth_Larva_Site_2018_month_df[JNorth_Larva_Site_2018_month_df['month']==7]
JNorth_Larva_Site_2018_7_df.tail()

     sighting_date                species  latitude  longitude  number  month
9409    2018-07-31  Monarch Larva Sighted    42.200    -71.424       3      7
9410    2018-07-31  Monarch Larva Sighted    43.252    -85.302       1      7
9411    2018-07-31  Monarch Larva Sighted    43.782    -74.265      30      7
9412    2018-07-31  Monarch Larva Sighted    44.642    -63.910      18      7
9413    2018-07-31  Monarch Larva Sighted    48.381    -89.248       8      7

In [217]:
JNorth_Larva_Site_2018_7_df.shape

(394, 6)

In [218]:
JNorth_Larva_Site_2018_7_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [219]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2018_7_df['latitude'] = JNorth_Larva_Site_2018_7_df['latitude'].astype(float)
JNorth_Larva_Site_2018_7_df['longitude'] = JNorth_Larva_Site_2018_7_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [220]:
geojson = df_to_geojson(JNorth_Larva_Site_2018_7_df, cols)

In [221]:
file = open("JNorth_Larva_Site_2018_7.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## August

In [222]:
JNorth_Larva_Site_2018_month_df =pd.DataFrame(JNorth_Larva_Site_2018_df)
JNorth_Larva_Site_2018_8_df = JNorth_Larva_Site_2018_month_df[JNorth_Larva_Site_2018_month_df['month']==8]
JNorth_Larva_Site_2018_8_df.tail()

      sighting_date                species  latitude  longitude  number  month
10472    2018-08-31  Monarch Larva Sighted    42.992    -79.248      16      8
10473    2018-08-31  Monarch Larva Sighted    44.169    -96.825       1      8
10474    2018-08-31  Monarch Larva Sighted    44.466    -68.028       7      8
10475    2018-08-31  Monarch Larva Sighted    45.033    -93.224       1      8
10476    2018-08-31  Monarch Larva Sighted    45.835    -88.050       2      8

In [223]:
JNorth_Larva_Site_2018_8_df.shape

(1063, 6)

In [224]:
JNorth_Larva_Site_2018_8_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [225]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2018_8_df['latitude'] = JNorth_Larva_Site_2018_8_df['latitude'].astype(float)
JNorth_Larva_Site_2018_8_df['longitude'] = JNorth_Larva_Site_2018_8_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [226]:
geojson = df_to_geojson(JNorth_Larva_Site_2018_8_df, cols)

In [227]:
file = open("JNorth_Larva_Site_2018_8.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## September

In [228]:
JNorth_Larva_Site_2018_month_df =pd.DataFrame(JNorth_Larva_Site_2018_df)
JNorth_Larva_Site_2018_9_df = JNorth_Larva_Site_2018_month_df[JNorth_Larva_Site_2018_month_df['month']==9]
JNorth_Larva_Site_2018_9_df.tail()

      sighting_date                species  latitude  longitude  number  month
11311    2018-09-30  Monarch Larva Sighted    35.038    -85.425       5      9
11312    2018-09-30  Monarch Larva Sighted    35.533    -97.599       4      9
11313    2018-09-30  Monarch Larva Sighted    40.900    -74.048       2      9
11314    2018-09-30  Monarch Larva Sighted    41.264    -74.382       4      9
11315    2018-09-30  Monarch Larva Sighted    41.321    -73.518       1      9

In [229]:
JNorth_Larva_Site_2018_9_df.shape

(839, 6)

In [230]:
JNorth_Larva_Site_2018_9_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [231]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2018_9_df['latitude'] = JNorth_Larva_Site_2018_9_df['latitude'].astype(float)
JNorth_Larva_Site_2018_9_df['longitude'] = JNorth_Larva_Site_2018_9_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [232]:
geojson = df_to_geojson(JNorth_Larva_Site_2018_9_df, cols)

In [233]:
file = open("JNorth_Larva_Site_2018_9.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## October

In [234]:
JNorth_Larva_Site_2018_month_df =pd.DataFrame(JNorth_Larva_Site_2018_df)
JNorth_Larva_Site_2018_10_df = JNorth_Larva_Site_2018_month_df[JNorth_Larva_Site_2018_month_df['month']==10]
JNorth_Larva_Site_2018_10_df.tail()

      sighting_date                species  latitude  longitude  number  month
11537    2018-10-30  Monarch Larva Sighted    30.298    -97.802       7     10
11538    2018-10-31  Monarch Larva Sighted    29.831    -95.464       1     10
11539    2018-10-31  Monarch Larva Sighted    30.298    -97.802       4     10
11540    2018-10-31  Monarch Larva Sighted    33.990   -118.427       1     10
11541    2018-10-31  Monarch Larva Sighted    34.930    -80.857       2     10

In [235]:
JNorth_Larva_Site_2018_10_df.shape

(226, 6)

In [236]:
JNorth_Larva_Site_2018_10_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [237]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2018_10_df['latitude'] = JNorth_Larva_Site_2018_10_df['latitude'].astype(float)
JNorth_Larva_Site_2018_10_df['longitude'] = JNorth_Larva_Site_2018_10_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [238]:
geojson = df_to_geojson(JNorth_Larva_Site_2018_10_df, cols)

In [239]:
file = open("JNorth_Larva_Site_2018_10.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## November

In [240]:
JNorth_Larva_Site_2018_month_df =pd.DataFrame(JNorth_Larva_Site_2018_df)
JNorth_Larva_Site_2018_11_df = JNorth_Larva_Site_2018_month_df[JNorth_Larva_Site_2018_month_df['month']==11]
JNorth_Larva_Site_2018_11_df.tail()

      sighting_date                species  latitude  longitude  number  month
11573    2018-11-23  Monarch Larva Sighted    33.472   -112.403       4     11
11574    2018-11-24  Monarch Larva Sighted    30.024    -90.198      20     11
11575    2018-11-25  Monarch Larva Sighted    28.585    -81.350      13     11
11576    2018-11-25  Monarch Larva Sighted    33.488   -112.390       2     11
11577    2018-11-28  Monarch Larva Sighted    29.014    -80.886      30     11

In [241]:
JNorth_Larva_Site_2018_11_df.shape

(36, 6)

In [242]:
JNorth_Larva_Site_2018_11_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [243]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2018_11_df['latitude'] = JNorth_Larva_Site_2018_11_df['latitude'].astype(float)
JNorth_Larva_Site_2018_11_df['longitude'] = JNorth_Larva_Site_2018_11_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [244]:
geojson = df_to_geojson(JNorth_Larva_Site_2018_11_df, cols)

In [245]:
file = open("JNorth_Larva_Site_2018_11.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## December

In [246]:
JNorth_Larva_Site_2018_month_df =pd.DataFrame(JNorth_Larva_Site_2018_df)
JNorth_Larva_Site_2018_12_df = JNorth_Larva_Site_2018_month_df[JNorth_Larva_Site_2018_month_df['month']==12]
JNorth_Larva_Site_2018_12_df.tail()

      sighting_date                species  latitude  longitude  number  month
11592    2018-12-22  Monarch Larva Sighted    27.651    -97.298       2     12
11593    2018-12-22  Monarch Larva Sighted    30.066    -95.386       2     12
11594    2018-12-27  Monarch Larva Sighted    27.801    -97.396      10     12
11595    2018-12-27  Monarch Larva Sighted    29.703    -95.789       1     12
11596    2018-12-28  Monarch Larva Sighted    31.214    -82.354       8     12

In [247]:
JNorth_Larva_Site_2018_12_df.shape

(19, 6)

In [248]:
JNorth_Larva_Site_2018_12_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [249]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2018_12_df['latitude'] = JNorth_Larva_Site_2018_12_df['latitude'].astype(float)
JNorth_Larva_Site_2018_12_df['longitude'] = JNorth_Larva_Site_2018_12_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [250]:
geojson = df_to_geojson(JNorth_Larva_Site_2018_12_df, cols)

In [251]:
file = open("JNorth_Larva_Site_2018_12.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# 2019

In [252]:
JNorth_Larva_Site_2019_df = JNorth_Larva_Site_year_df[JNorth_Larva_Site_year_df['year']==2019]
JNorth_Larva_Site_2019_df.tail()

      sighting_date                species  latitude  longitude  number  year
14146    2019-12-26  Monarch Larva Sighted    27.801    -97.396       3  2019
14147    2019-12-27  Monarch Larva Sighted    27.801    -97.396       1  2019
14148    2019-12-28  Monarch Larva Sighted    29.580    -98.272      10  2019
14149    2019-12-29  Monarch Larva Sighted    27.651    -97.298      15  2019
14150    2019-12-30  Monarch Larva Sighted    27.801    -97.396      25  2019

In [253]:
JNorth_Larva_Site_2019_df.shape

(2554, 6)

In [254]:
JNorth_Larva_Site_2019_df.drop(['year'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [255]:
JNorth_Larva_Site_2019_df.tail

<bound method NDFrame.tail of       sighting_date                species  latitude  longitude  number
11597    2019-01-02  Monarch Larva Sighted    32.760   -117.068       1
11598    2019-01-04  Monarch Larva Sighted    32.222   -110.970       1
11599    2019-01-05  Monarch Larva Sighted    29.530    -90.329      20
11600    2019-01-07  Monarch Larva Sighted    29.970    -95.660       1
11601    2019-01-07  Monarch Larva Sighted    32.390    -80.450       3
...             ...                    ...       ...        ...     ...
14146    2019-12-26  Monarch Larva Sighted    27.801    -97.396       3
14147    2019-12-27  Monarch Larva Sighted    27.801    -97.396       1
14148    2019-12-28  Monarch Larva Sighted    29.580    -98.272      10
14149    2019-12-29  Monarch Larva Sighted    27.651    -97.298      15
14150    2019-12-30  Monarch Larva Sighted    27.801    -97.396      25

[2554 rows x 5 columns]>

In [256]:
JNorth_Larva_Site_2019_df['month'] = pd.DatetimeIndex(JNorth_Larva_Site_2019_df['sighting_date']).month

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## January

In [257]:
JNorth_Larva_Site_2019_month_df =pd.DataFrame(JNorth_Larva_Site_2019_df)
JNorth_Larva_Site_2019_1_df = JNorth_Larva_Site_2019_month_df[JNorth_Larva_Site_2019_month_df['month']==1]
JNorth_Larva_Site_2019_1_df.tail()

      sighting_date                species  latitude  longitude  number  month
11617    2019-01-24  Monarch Larva Sighted    27.651    -97.298       6      1
11618    2019-01-24  Monarch Larva Sighted    29.803    -95.554      50      1
11619    2019-01-27  Monarch Larva Sighted    27.801    -97.396       1      1
11620    2019-01-28  Monarch Larva Sighted    27.651    -97.298       3      1
11621    2019-01-28  Monarch Larva Sighted    28.453    -96.408      21      1

In [258]:
JNorth_Larva_Site_2019_1_df.shape

(25, 6)

In [259]:
JNorth_Larva_Site_2019_1_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [260]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2019_1_df['latitude'] = JNorth_Larva_Site_2019_1_df['latitude'].astype(float)
JNorth_Larva_Site_2019_1_df['longitude'] = JNorth_Larva_Site_2019_1_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [261]:
geojson = df_to_geojson(JNorth_Larva_Site_2019_1_df, cols)

In [262]:
file = open("JNorth_Larva_Site_2019_1.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## February

In [263]:
JNorth_Larva_Site_2019_month_df =pd.DataFrame(JNorth_Larva_Site_2019_df)
JNorth_Larva_Site_2019_2_df = JNorth_Larva_Site_2019_month_df[JNorth_Larva_Site_2019_month_df['month']==2]
JNorth_Larva_Site_2019_2_df.tail()

      sighting_date                species  latitude  longitude  number  month
11663    2019-02-26  Monarch Larva Sighted    27.651    -97.298       1      2
11664    2019-02-26  Monarch Larva Sighted    28.000    -82.752       1      2
11665    2019-02-27  Monarch Larva Sighted    27.782    -82.691      50      2
11666    2019-02-28  Monarch Larva Sighted    27.464    -82.594      11      2
11667    2019-02-28  Monarch Larva Sighted    29.301    -94.798       2      2

In [264]:
JNorth_Larva_Site_2019_2_df.shape

(46, 6)

In [265]:
JNorth_Larva_Site_2019_2_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [266]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2019_2_df['latitude'] = JNorth_Larva_Site_2019_2_df['latitude'].astype(float)
JNorth_Larva_Site_2019_2_df['longitude'] = JNorth_Larva_Site_2019_2_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [267]:
geojson = df_to_geojson(JNorth_Larva_Site_2019_2_df, cols)

In [268]:
file = open("JNorth_Larva_Site_2019_2.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## March

In [269]:
JNorth_Larva_Site_2019_month_df =pd.DataFrame(JNorth_Larva_Site_2019_df)
JNorth_Larva_Site_2019_3_df = JNorth_Larva_Site_2019_month_df[JNorth_Larva_Site_2019_month_df['month']==3]
JNorth_Larva_Site_2019_3_df.tail()

      sighting_date                species  latitude  longitude  number  month
11722    2019-03-29  Monarch Larva Sighted    29.624    -81.890       1      3
11723    2019-03-30  Monarch Larva Sighted    29.519    -98.362       8      3
11724    2019-03-31  Monarch Larva Sighted    28.365    -82.196       5      3
11725    2019-03-31  Monarch Larva Sighted    30.298    -97.802      15      3
11726    2019-03-31  Monarch Larva Sighted    33.720   -116.285       7      3

In [270]:
JNorth_Larva_Site_2019_3_df.shape

(59, 6)

In [271]:
JNorth_Larva_Site_2019_3_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [272]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2019_3_df['latitude'] = JNorth_Larva_Site_2019_3_df['latitude'].astype(float)
JNorth_Larva_Site_2019_3_df['longitude'] = JNorth_Larva_Site_2019_3_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [273]:
geojson = df_to_geojson(JNorth_Larva_Site_2019_3_df, cols)

In [274]:
file = open("JNorth_Larva_Site_2019_3.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## April

In [275]:
JNorth_Larva_Site_2019_month_df =pd.DataFrame(JNorth_Larva_Site_2019_df)
JNorth_Larva_Site_2019_4_df = JNorth_Larva_Site_2019_month_df[JNorth_Larva_Site_2019_month_df['month']==4]
JNorth_Larva_Site_2019_4_df.tail()

      sighting_date                species  latitude  longitude  number  month
11816    2019-04-29  Monarch Larva Sighted    35.653    -97.478       1      4
11817    2019-04-29  Monarch Larva Sighted    37.209    -93.292      75      4
11818    2019-04-30  Monarch Larva Sighted    30.332    -81.656       2      4
11819    2019-04-30  Monarch Larva Sighted    30.399    -86.442      10      4
11820    2019-04-30  Monarch Larva Sighted    34.749    -92.275       5      4

In [276]:
JNorth_Larva_Site_2019_4_df.shape

(94, 6)

In [277]:
JNorth_Larva_Site_2019_4_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [278]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2019_4_df['latitude'] = JNorth_Larva_Site_2019_4_df['latitude'].astype(float)
JNorth_Larva_Site_2019_4_df['longitude'] = JNorth_Larva_Site_2019_4_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [279]:
geojson = df_to_geojson(JNorth_Larva_Site_2019_4_df, cols)

In [280]:
file = open("JNorth_Larva_Site_2019_4.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## May

In [281]:
JNorth_Larva_Site_2019_month_df =pd.DataFrame(JNorth_Larva_Site_2019_df)
JNorth_Larva_Site_2019_5_df = JNorth_Larva_Site_2019_month_df[JNorth_Larva_Site_2019_month_df['month']==5]
JNorth_Larva_Site_2019_5_df.tail()

      sighting_date                species  latitude  longitude  number  month
11919    2019-05-30  Monarch Larva Sighted    40.814    -89.622       4      5
11920    2019-05-30  Monarch Larva Sighted    42.174    -76.842       7      5
11921    2019-05-31  Monarch Larva Sighted    33.478    -82.515       2      5
11922    2019-05-31  Monarch Larva Sighted    36.061    -95.798       2      5
11923    2019-05-31  Monarch Larva Sighted    41.600    -87.451       1      5

In [282]:
JNorth_Larva_Site_2019_5_df.shape

(103, 6)

In [283]:
JNorth_Larva_Site_2019_5_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [284]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2019_5_df['latitude'] = JNorth_Larva_Site_2019_5_df['latitude'].astype(float)
JNorth_Larva_Site_2019_5_df['longitude'] = JNorth_Larva_Site_2019_5_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [285]:
geojson = df_to_geojson(JNorth_Larva_Site_2019_5_df, cols)

In [286]:
file = open("JNorth_Larva_Site_2019_5.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## June

In [287]:
JNorth_Larva_Site_2019_month_df =pd.DataFrame(JNorth_Larva_Site_2019_df)
JNorth_Larva_Site_2019_6_df = JNorth_Larva_Site_2019_month_df[JNorth_Larva_Site_2019_month_df['month']==6]
JNorth_Larva_Site_2019_6_df.tail()

      sighting_date                species  latitude  longitude  number  month
12088    2019-06-30  Monarch Larva Sighted    41.417    -81.736       3      6
12089    2019-06-30  Monarch Larva Sighted    43.460    -80.542      14      6
12090    2019-06-30  Monarch Larva Sighted    43.666    -85.550      14      6
12091    2019-06-30  Monarch Larva Sighted    43.839    -76.220      10      6
12092    2019-06-30  Monarch Larva Sighted    45.098    -84.657       9      6

In [288]:
JNorth_Larva_Site_2019_6_df.shape

(169, 6)

In [289]:
JNorth_Larva_Site_2019_6_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [290]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2019_6_df['latitude'] = JNorth_Larva_Site_2019_6_df['latitude'].astype(float)
JNorth_Larva_Site_2019_6_df['longitude'] = JNorth_Larva_Site_2019_6_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [291]:
geojson = df_to_geojson(JNorth_Larva_Site_2019_6_df, cols)

In [292]:
file = open("JNorth_Larva_Site_2019_6.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## July

In [293]:
JNorth_Larva_Site_2019_month_df =pd.DataFrame(JNorth_Larva_Site_2019_df)
JNorth_Larva_Site_2019_7_df = JNorth_Larva_Site_2019_month_df[JNorth_Larva_Site_2019_month_df['month']==7]
JNorth_Larva_Site_2019_7_df.tail()

      sighting_date                species  latitude  longitude  number  month
12389    2019-07-31  Monarch Larva Sighted    44.700    -63.454      15      7
12390    2019-07-31  Monarch Larva Sighted    45.033    -93.224       1      7
12391    2019-07-31  Monarch Larva Sighted    45.253    -81.664       8      7
12392    2019-07-31  Monarch Larva Sighted    46.114    -74.478       4      7
12393    2019-07-31  Monarch Larva Sighted    48.382    -89.246      12      7

In [294]:
JNorth_Larva_Site_2019_7_df.shape

(301, 6)

In [295]:
JNorth_Larva_Site_2019_7_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [296]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2019_7_df['latitude'] = JNorth_Larva_Site_2019_7_df['latitude'].astype(float)
JNorth_Larva_Site_2019_7_df['longitude'] = JNorth_Larva_Site_2019_7_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [297]:
geojson = df_to_geojson(JNorth_Larva_Site_2019_7_df, cols)

In [298]:
file = open("JNorth_Larva_Site_2019_7.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## August

In [299]:
JNorth_Larva_Site_2019_month_df =pd.DataFrame(JNorth_Larva_Site_2019_df)
JNorth_Larva_Site_2019_8_df = JNorth_Larva_Site_2019_month_df[JNorth_Larva_Site_2019_month_df['month']==8]
JNorth_Larva_Site_2019_8_df.tail()

      sighting_date                species  latitude  longitude  number  month
13311    2019-08-31  Monarch Larva Sighted    45.004    -93.086       2      8
13312    2019-08-31  Monarch Larva Sighted    45.174    -93.228       6      8
13313    2019-08-31  Monarch Larva Sighted    45.385    -73.576       2      8
13314    2019-08-31  Monarch Larva Sighted    46.113    -74.482       2      8
13315    2019-08-31  Monarch Larva Sighted    49.732   -104.010       8      8

In [300]:
JNorth_Larva_Site_2019_8_df.shape

(922, 6)

In [301]:
JNorth_Larva_Site_2019_8_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [302]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2019_8_df['latitude'] = JNorth_Larva_Site_2019_8_df['latitude'].astype(float)
JNorth_Larva_Site_2019_8_df['longitude'] = JNorth_Larva_Site_2019_8_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [303]:
geojson = df_to_geojson(JNorth_Larva_Site_2019_8_df, cols)

In [304]:
file = open("JNorth_Larva_Site_2019_8.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## September

In [305]:
JNorth_Larva_Site_2019_month_df =pd.DataFrame(JNorth_Larva_Site_2019_df)
JNorth_Larva_Site_2019_9_df = JNorth_Larva_Site_2019_month_df[JNorth_Larva_Site_2019_month_df['month']==9]
JNorth_Larva_Site_2019_9_df.tail()

      sighting_date                species  latitude  longitude  number  month
13949    2019-09-30  Monarch Larva Sighted    34.519   -111.843       1      9
13950    2019-09-30  Monarch Larva Sighted    35.984    -95.786       3      9
13951    2019-09-30  Monarch Larva Sighted    36.150    -95.994       5      9
13952    2019-09-30  Monarch Larva Sighted    38.396    -76.484       1      9
13953    2019-09-30  Monarch Larva Sighted    39.787    -77.373       1      9

In [306]:
JNorth_Larva_Site_2019_9_df.shape

(638, 6)

In [307]:
JNorth_Larva_Site_2019_9_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [308]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2019_9_df['latitude'] = JNorth_Larva_Site_2019_9_df['latitude'].astype(float)
JNorth_Larva_Site_2019_9_df['longitude'] = JNorth_Larva_Site_2019_9_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [309]:
geojson = df_to_geojson(JNorth_Larva_Site_2019_9_df, cols)

In [310]:
file = open("JNorth_Larva_Site_2019_9.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## October

In [311]:
JNorth_Larva_Site_2019_month_df =pd.DataFrame(JNorth_Larva_Site_2019_df)
JNorth_Larva_Site_2019_10_df = JNorth_Larva_Site_2019_month_df[JNorth_Larva_Site_2019_month_df['month']==10]
JNorth_Larva_Site_2019_10_df.tail()

      sighting_date                species  latitude  longitude  number  month
14068    2019-10-29  Monarch Larva Sighted    29.459    -98.459       5     10
14069    2019-10-30  Monarch Larva Sighted    30.313    -97.702       1     10
14070    2019-10-30  Monarch Larva Sighted    33.319   -111.945       3     10
14071    2019-10-30  Monarch Larva Sighted    36.379    -75.970       9     10
14072    2019-10-31  Monarch Larva Sighted    29.946    -81.735       1     10

In [312]:
JNorth_Larva_Site_2019_10_df.shape

(119, 6)

In [313]:
JNorth_Larva_Site_2019_10_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [314]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2019_10_df['latitude'] = JNorth_Larva_Site_2019_10_df['latitude'].astype(float)
JNorth_Larva_Site_2019_10_df['longitude'] = JNorth_Larva_Site_2019_10_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [315]:
geojson = df_to_geojson(JNorth_Larva_Site_2019_10_df, cols)

In [316]:
file = open("JNorth_Larva_Site_2019_10.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## November

In [317]:
JNorth_Larva_Site_2019_month_df =pd.DataFrame(JNorth_Larva_Site_2019_df)
JNorth_Larva_Site_2019_11_df = JNorth_Larva_Site_2019_month_df[JNorth_Larva_Site_2019_month_df['month']==11]
JNorth_Larva_Site_2019_11_df.tail()

      sighting_date                species  latitude  longitude  number  month
14113    2019-11-27  Monarch Larva Sighted    33.720   -116.285       3     11
14114    2019-11-28  Monarch Larva Sighted    35.358    -75.503       2     11
14115    2019-11-30  Monarch Larva Sighted    27.651    -97.298      10     11
14116    2019-11-30  Monarch Larva Sighted    33.487   -111.657       2     11
14117    2019-11-30  Monarch Larva Sighted    33.793   -118.128      10     11

In [318]:
JNorth_Larva_Site_2019_11_df.shape

(45, 6)

In [319]:
JNorth_Larva_Site_2019_11_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [320]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2019_11_df['latitude'] = JNorth_Larva_Site_2019_11_df['latitude'].astype(float)
JNorth_Larva_Site_2019_11_df['longitude'] = JNorth_Larva_Site_2019_11_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [321]:
geojson = df_to_geojson(JNorth_Larva_Site_2019_11_df, cols)

In [322]:
file = open("JNorth_Larva_Site_2019_11.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## December

In [323]:
JNorth_Larva_Site_2019_month_df =pd.DataFrame(JNorth_Larva_Site_2019_df)
JNorth_Larva_Site_2019_12_df = JNorth_Larva_Site_2019_month_df[JNorth_Larva_Site_2019_month_df['month']==12]
JNorth_Larva_Site_2019_12_df.tail()

      sighting_date                species  latitude  longitude  number  month
14146    2019-12-26  Monarch Larva Sighted    27.801    -97.396       3     12
14147    2019-12-27  Monarch Larva Sighted    27.801    -97.396       1     12
14148    2019-12-28  Monarch Larva Sighted    29.580    -98.272      10     12
14149    2019-12-29  Monarch Larva Sighted    27.651    -97.298      15     12
14150    2019-12-30  Monarch Larva Sighted    27.801    -97.396      25     12

In [324]:
JNorth_Larva_Site_2019_12_df.shape

(33, 6)

In [325]:
JNorth_Larva_Site_2019_12_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [326]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2019_12_df['latitude'] = JNorth_Larva_Site_2019_12_df['latitude'].astype(float)
JNorth_Larva_Site_2019_12_df['longitude'] = JNorth_Larva_Site_2019_12_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [327]:
geojson = df_to_geojson(JNorth_Larva_Site_2019_12_df, cols)

In [328]:
file = open("JNorth_Larva_Site_2019_12.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# 2020

In [329]:
JNorth_Larva_Site_2020_df = JNorth_Larva_Site_df[JNorth_Larva_Site_df['year']==2020]
JNorth_Larva_Site_2020_df.tail()

      sighting_date                species  latitude  longitude  number  year
16793    2020-12-30  Monarch Larva Sighted    28.075    -82.251      15  2020
16794    2020-12-30  Monarch Larva Sighted    30.389    -95.696       2  2020
16795    2020-12-31  Monarch Larva Sighted    28.481    -81.488       2  2020
16796    2020-12-31  Monarch Larva Sighted    29.485    -98.408       1  2020
16797    2020-12-31  Monarch Larva Sighted    30.397    -89.262       1  2020

In [330]:
JNorth_Larva_Site_2020_df.shape

(2647, 6)

In [331]:
JNorth_Larva_Site_2020_df.drop(['year'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [332]:
JNorth_Larva_Site_2020_df.tail

<bound method NDFrame.tail of       sighting_date                species  latitude  longitude  number
14151    2020-01-01  Monarch Larva Sighted    27.801    -97.396       1
14152    2020-01-01  Monarch Larva Sighted    30.261    -97.742       1
14153    2020-01-03  Monarch Larva Sighted    27.801    -97.396      13
14154    2020-01-03  Monarch Larva Sighted    30.394    -86.496       8
14155    2020-01-04  Monarch Larva Sighted    27.651    -97.298      15
...             ...                    ...       ...        ...     ...
16793    2020-12-30  Monarch Larva Sighted    28.075    -82.251      15
16794    2020-12-30  Monarch Larva Sighted    30.389    -95.696       2
16795    2020-12-31  Monarch Larva Sighted    28.481    -81.488       2
16796    2020-12-31  Monarch Larva Sighted    29.485    -98.408       1
16797    2020-12-31  Monarch Larva Sighted    30.397    -89.262       1

[2647 rows x 5 columns]>

In [333]:
JNorth_Larva_Site_2020_df['month'] = pd.DatetimeIndex(JNorth_Larva_Site_2020_df['sighting_date']).month

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## January

In [334]:
JNorth_Larva_Site_2020_month_df =pd.DataFrame(JNorth_Larva_Site_2020_df)
JNorth_Larva_Site_2020_1_df = JNorth_Larva_Site_2020_month_df[JNorth_Larva_Site_2020_month_df['month']==1]
JNorth_Larva_Site_2020_1_df.tail()

      sighting_date                species  latitude  longitude  number  month
14175    2020-01-24  Monarch Larva Sighted    29.520    -95.043      40      1
14176    2020-01-26  Monarch Larva Sighted    31.176    -81.505       1      1
14177    2020-01-28  Monarch Larva Sighted    32.774    -79.962       1      1
14178    2020-01-29  Monarch Larva Sighted    27.966    -82.800       2      1
14179    2020-01-31  Monarch Larva Sighted    28.450    -96.406       2      1

In [335]:
JNorth_Larva_Site_2020_1_df.shape

(29, 6)

In [336]:
JNorth_Larva_Site_2020_1_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [337]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2020_1_df['latitude'] = JNorth_Larva_Site_2020_1_df['latitude'].astype(float)
JNorth_Larva_Site_2020_1_df['longitude'] = JNorth_Larva_Site_2020_1_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [338]:
geojson = df_to_geojson(JNorth_Larva_Site_2020_1_df, cols)

In [339]:
file = open("JNorth_Larva_Site_2020_1.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# February

In [340]:
JNorth_Larva_Site_2020_month_df =pd.DataFrame(JNorth_Larva_Site_2020_df)
JNorth_Larva_Site_2020_2_df = JNorth_Larva_Site_2020_month_df[JNorth_Larva_Site_2020_month_df['month']==2]
JNorth_Larva_Site_2020_2_df.tail()

      sighting_date                species  latitude  longitude  number  month
14200    2020-02-28  Monarch Larva Sighted    26.239    -98.231      16      2
14201    2020-02-28  Monarch Larva Sighted    26.250    -98.367       2      2
14202    2020-02-29  Monarch Larva Sighted    27.948    -81.960       5      2
14203    2020-02-29  Monarch Larva Sighted    30.091    -95.411      32      2
14204    2020-02-29  Monarch Larva Sighted    30.162    -95.446       5      2

In [341]:
JNorth_Larva_Site_2020_2_df.shape

(25, 6)

In [342]:
JNorth_Larva_Site_2020_2_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [343]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2020_2_df['latitude'] = JNorth_Larva_Site_2020_2_df['latitude'].astype(float)
JNorth_Larva_Site_2020_2_df['longitude'] = JNorth_Larva_Site_2020_2_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [344]:
geojson = df_to_geojson(JNorth_Larva_Site_2020_2_df, cols)

In [345]:
file = open("JNorth_Larva_Site_2020_2.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [346]:
JNorth_Larva_Site_2020_month_df =pd.DataFrame(JNorth_Larva_Site_2020_df)
JNorth_Larva_Site_2020_3_df = JNorth_Larva_Site_2020_month_df[JNorth_Larva_Site_2020_month_df['month']==3]
JNorth_Larva_Site_2020_3_df.tail()

      sighting_date                species  latitude  longitude  number  month
14271    2020-03-30  Monarch Larva Sighted    30.298    -97.802      15      3
14272    2020-03-30  Monarch Larva Sighted    32.822    -79.835      12      3
14273    2020-03-30  Monarch Larva Sighted    32.946    -79.742       6      3
14274    2020-03-31  Monarch Larva Sighted    30.316    -97.670      17      3
14275    2020-03-31  Monarch Larva Sighted    30.608    -98.396       6      3

In [347]:
JNorth_Larva_Site_2020_3_df.shape

(71, 6)

In [348]:
JNorth_Larva_Site_2020_3_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [349]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2020_3_df['latitude'] = JNorth_Larva_Site_2020_3_df['latitude'].astype(float)
JNorth_Larva_Site_2020_3_df['longitude'] = JNorth_Larva_Site_2020_3_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [350]:
geojson = df_to_geojson(JNorth_Larva_Site_2020_3_df, cols)

In [351]:
file = open("JNorth_Larva_Site_2020_3.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [352]:
JNorth_Larva_Site_2020_month_df =pd.DataFrame(JNorth_Larva_Site_2020_df)
JNorth_Larva_Site_2020_4_df = JNorth_Larva_Site_2020_month_df[JNorth_Larva_Site_2020_month_df['month']==4]
JNorth_Larva_Site_2020_4_df.tail()

      sighting_date                species  latitude  longitude  number  month
14355    2020-04-29  Monarch Larva Sighted    29.728    -98.650       4      4
14356    2020-04-29  Monarch Larva Sighted    32.737    -96.457       1      4
14357    2020-04-30  Monarch Larva Sighted    29.972    -92.129       7      4
14358    2020-04-30  Monarch Larva Sighted    33.723    -84.344       6      4
14359    2020-04-30  Monarch Larva Sighted    33.825    -78.656      30      4

In [353]:
JNorth_Larva_Site_2020_4_df.shape

(84, 6)

In [354]:
JNorth_Larva_Site_2020_4_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [355]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2020_4_df['latitude'] = JNorth_Larva_Site_2020_4_df['latitude'].astype(float)
JNorth_Larva_Site_2020_4_df['longitude'] = JNorth_Larva_Site_2020_4_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [356]:
geojson = df_to_geojson(JNorth_Larva_Site_2020_4_df, cols)

In [357]:
file = open("JNorth_Larva_Site_2020_4.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [358]:
JNorth_Larva_Site_2020_month_df =pd.DataFrame(JNorth_Larva_Site_2020_df)
JNorth_Larva_Site_2020_5_df = JNorth_Larva_Site_2020_month_df[JNorth_Larva_Site_2020_month_df['month']==5]
JNorth_Larva_Site_2020_5_df.tail()

      sighting_date                species  latitude  longitude  number  month
14417    2020-05-30  Monarch Larva Sighted    33.004   -117.025      20      5
14418    2020-05-30  Monarch Larva Sighted    38.396    -76.484       1      5
14419    2020-05-30  Monarch Larva Sighted    43.050    -88.008       3      5
14420    2020-05-31  Monarch Larva Sighted    38.449    -75.137       1      5
14421    2020-05-31  Monarch Larva Sighted    41.254    -85.836      18      5

In [359]:
JNorth_Larva_Site_2020_5_df.shape

(62, 6)

In [360]:
JNorth_Larva_Site_2020_5_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [361]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2020_5_df['latitude'] = JNorth_Larva_Site_2020_5_df['latitude'].astype(float)
JNorth_Larva_Site_2020_5_df['longitude'] = JNorth_Larva_Site_2020_5_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [362]:
geojson = df_to_geojson(JNorth_Larva_Site_2020_5_df, cols)

In [363]:
file = open("JNorth_Larva_Site_2020_5.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [364]:
JNorth_Larva_Site_2020_month_df =pd.DataFrame(JNorth_Larva_Site_2020_df)
JNorth_Larva_Site_2020_6_df = JNorth_Larva_Site_2020_month_df[JNorth_Larva_Site_2020_month_df['month']==6]
JNorth_Larva_Site_2020_6_df.tail()

      sighting_date                species  latitude  longitude  number  month
14538    2020-06-28  Monarch Larva Sighted    45.178    -93.000       3      6
14539    2020-06-29  Monarch Larva Sighted    39.569    -89.962       3      6
14540    2020-06-29  Monarch Larva Sighted    43.191    -78.804       1      6
14541    2020-06-30  Monarch Larva Sighted    43.315    -79.817       1      6
14542    2020-06-30  Monarch Larva Sighted    45.085    -64.589       1      6

In [365]:
JNorth_Larva_Site_2020_6_df.shape

(121, 6)

In [366]:
JNorth_Larva_Site_2020_6_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [367]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2020_6_df['latitude'] = JNorth_Larva_Site_2020_6_df['latitude'].astype(float)
JNorth_Larva_Site_2020_6_df['longitude'] = JNorth_Larva_Site_2020_6_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [368]:
geojson = df_to_geojson(JNorth_Larva_Site_2020_6_df, cols)

In [369]:
file = open("JNorth_Larva_Site_2020_6.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [370]:
JNorth_Larva_Site_2020_month_df =pd.DataFrame(JNorth_Larva_Site_2020_df)
JNorth_Larva_Site_2020_7_df = JNorth_Larva_Site_2020_month_df[JNorth_Larva_Site_2020_month_df['month']==7]
JNorth_Larva_Site_2020_7_df.tail()

      sighting_date                species  latitude  longitude  number  month
14830    2020-07-31  Monarch Larva Sighted    41.386    -72.448      10      7
14831    2020-07-31  Monarch Larva Sighted    42.260    -72.070       4      7
14832    2020-07-31  Monarch Larva Sighted    42.812    -84.448       1      7
14833    2020-07-31  Monarch Larva Sighted    43.242    -75.257       5      7
14834    2020-07-31  Monarch Larva Sighted    44.241    -73.956       2      7

In [371]:
JNorth_Larva_Site_2020_7_df.shape

(292, 6)

In [372]:
JNorth_Larva_Site_2020_7_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [373]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2020_7_df['latitude'] = JNorth_Larva_Site_2020_7_df['latitude'].astype(float)
JNorth_Larva_Site_2020_7_df['longitude'] = JNorth_Larva_Site_2020_7_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [374]:
geojson = df_to_geojson(JNorth_Larva_Site_2020_7_df, cols)

In [375]:
file = open("JNorth_Larva_Site_2020_7.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [376]:
JNorth_Larva_Site_2020_month_df =pd.DataFrame(JNorth_Larva_Site_2020_df)
JNorth_Larva_Site_2020_8_df = JNorth_Larva_Site_2020_month_df[JNorth_Larva_Site_2020_month_df['month']==8]
JNorth_Larva_Site_2020_8_df.tail()

      sighting_date                species  latitude  longitude  number  month
15633    2020-08-31  Monarch Larva Sighted    42.017    -71.022       5      8
15634    2020-08-31  Monarch Larva Sighted    42.266    -77.551       4      8
15635    2020-08-31  Monarch Larva Sighted    44.704    -63.532       2      8
15636    2020-08-31  Monarch Larva Sighted    44.851    -79.936       3      8
15637    2020-08-31  Monarch Larva Sighted    46.213    -60.248       1      8

In [377]:
JNorth_Larva_Site_2020_8_df.shape

(803, 6)

In [378]:
JNorth_Larva_Site_2020_8_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [379]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2020_8_df['latitude'] = JNorth_Larva_Site_2020_8_df['latitude'].astype(float)
JNorth_Larva_Site_2020_8_df['longitude'] = JNorth_Larva_Site_2020_8_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [380]:
geojson = df_to_geojson(JNorth_Larva_Site_2020_8_df, cols)

In [381]:
file = open("JNorth_Larva_Site_2020_8.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [382]:
JNorth_Larva_Site_2020_month_df =pd.DataFrame(JNorth_Larva_Site_2020_df)
JNorth_Larva_Site_2020_9_df = JNorth_Larva_Site_2020_month_df[JNorth_Larva_Site_2020_month_df['month']==9]
JNorth_Larva_Site_2020_9_df.tail()

      sighting_date                species  latitude  longitude  number  month
16463    2020-09-30  Monarch Larva Sighted    38.840    -77.429       1      9
16464    2020-09-30  Monarch Larva Sighted    39.143    -94.573       1      9
16465    2020-09-30  Monarch Larva Sighted    39.383    -81.446       2      9
16466    2020-09-30  Monarch Larva Sighted    39.630    -79.958       7      9
16467    2020-09-30  Monarch Larva Sighted    40.543    -79.162       1      9

In [383]:
JNorth_Larva_Site_2020_9_df.shape

(830, 6)

In [384]:
JNorth_Larva_Site_2020_9_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [385]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2020_9_df['latitude'] = JNorth_Larva_Site_2020_9_df['latitude'].astype(float)
JNorth_Larva_Site_2020_9_df['longitude'] = JNorth_Larva_Site_2020_9_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [386]:
geojson = df_to_geojson(JNorth_Larva_Site_2020_9_df, cols)

In [387]:
file = open("JNorth_Larva_Site_2020_9.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [388]:
JNorth_Larva_Site_2020_month_df =pd.DataFrame(JNorth_Larva_Site_2020_df)
JNorth_Larva_Site_2020_10_df = JNorth_Larva_Site_2020_month_df[JNorth_Larva_Site_2020_month_df['month']==10]
JNorth_Larva_Site_2020_10_df.tail()

      sighting_date                species  latitude  longitude  number  month
16620    2020-10-30  Monarch Larva Sighted    32.716   -117.162       1     10
16621    2020-10-30  Monarch Larva Sighted    36.038    -78.572       1     10
16622    2020-10-31  Monarch Larva Sighted    29.601    -95.112       4     10
16623    2020-10-31  Monarch Larva Sighted    30.132    -95.486       2     10
16624    2020-10-31  Monarch Larva Sighted    38.948    -77.028       7     10

In [389]:
JNorth_Larva_Site_2020_10_df.shape

(157, 6)

In [390]:
JNorth_Larva_Site_2020_10_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [391]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2020_10_df['latitude'] = JNorth_Larva_Site_2020_10_df['latitude'].astype(float)
JNorth_Larva_Site_2020_10_df['longitude'] = JNorth_Larva_Site_2020_10_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [392]:
geojson = df_to_geojson(JNorth_Larva_Site_2020_10_df, cols)

In [393]:
file = open("JNorth_Larva_Site_2020_10.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [394]:
JNorth_Larva_Site_2020_month_df =pd.DataFrame(JNorth_Larva_Site_2020_df)
JNorth_Larva_Site_2020_11_df = JNorth_Larva_Site_2020_month_df[JNorth_Larva_Site_2020_month_df['month']==11]
JNorth_Larva_Site_2020_11_df.tail()

      sighting_date                species  latitude  longitude  number  month
16693    2020-11-27  Monarch Larva Sighted    30.317    -81.518       4     11
16694    2020-11-27  Monarch Larva Sighted    38.013   -122.562       7     11
16695    2020-11-28  Monarch Larva Sighted    28.179    -82.558      10     11
16696    2020-11-28  Monarch Larva Sighted    30.450    -97.996       4     11
16697    2020-11-30  Monarch Larva Sighted    29.460    -95.063       4     11

In [395]:
JNorth_Larva_Site_2020_11_df.shape

(73, 6)

In [396]:
JNorth_Larva_Site_2020_11_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [397]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2020_11_df['latitude'] = JNorth_Larva_Site_2020_11_df['latitude'].astype(float)
JNorth_Larva_Site_2020_11_df['longitude'] = JNorth_Larva_Site_2020_11_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [398]:
geojson = df_to_geojson(JNorth_Larva_Site_2020_11_df, cols)

In [399]:
file = open("JNorth_Larva_Site_2020_11.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [400]:
JNorth_Larva_Site_2020_month_df =pd.DataFrame(JNorth_Larva_Site_2020_df)
JNorth_Larva_Site_2020_12_df = JNorth_Larva_Site_2020_month_df[JNorth_Larva_Site_2020_month_df['month']==12]
JNorth_Larva_Site_2020_12_df.tail()

      sighting_date                species  latitude  longitude  number  month
16793    2020-12-30  Monarch Larva Sighted    28.075    -82.251      15     12
16794    2020-12-30  Monarch Larva Sighted    30.389    -95.696       2     12
16795    2020-12-31  Monarch Larva Sighted    28.481    -81.488       2     12
16796    2020-12-31  Monarch Larva Sighted    29.485    -98.408       1     12
16797    2020-12-31  Monarch Larva Sighted    30.397    -89.262       1     12

In [401]:
JNorth_Larva_Site_2020_12_df.shape

(100, 6)

In [402]:
JNorth_Larva_Site_2020_12_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [403]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_2020_12_df['latitude'] = JNorth_Larva_Site_2020_12_df['latitude'].astype(float)
JNorth_Larva_Site_2020_12_df['longitude'] = JNorth_Larva_Site_2020_12_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [404]:
geojson = df_to_geojson(JNorth_Larva_Site_2020_12_df, cols)

In [405]:
file = open("JNorth_Larva_Site_2020_12.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()