In [91]:
# Journey North Egg Sightings

In [92]:
#  Import and read
import pandas as pd 
import numpy as np
import json
# Sue Mottet 2-19-2022

# geoJSONifier

In [93]:
def df_to_geojson(df, properties, lat='latitude', lon='longitude'):
    # create a new python dict to contain our geojson data, using geojson format
    geojson = {'type':'FeatureCollection', 'features':[]}

    # loop through each row in the dataframe and convert each row to geojson format
    for _, row in df.iterrows():
        # create a feature template to fill in
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point',
                               'coordinates':[]}}

        # fill in the coordinates
        feature['geometry']['coordinates'] = [row[lon],row[lat]]

        # for each column, get the value and add it as a new feature property
        for prop in properties:
            feature['properties'][prop] = row[prop]
        
        # add this feature (aka, converted dataframe row) to the list of features inside our dict
        geojson['features'].append(feature)
    
    return geojson

# Load file

In [94]:
JNorth1996_2020_df = pd.read_csv("UWMadisonArb_JNorth_Project_MonarchsAndMilkweed_1996-2020.csv")
JNorth1996_2020_df.head()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,sighting_date,species,number,latitude,longitude,flag_location,comments,school,grade,image_url,customerid,number_old,flag_number,species_old,flag_species
0,850841703,1996-12-16,Monarch Adult Sighted,1,27.594,-81.362,0,On the ballfield a solitary monarch butterfly ...,Walker memorial junior academy,10.0,-999999.999,135,-999999.999,1,Monarch Butterfly,1
1,851824801,1996-12-06,Monarch Adult Sighted,1,30.420,-87.224,0,Our 5th grade Discovery students who went alon...,Hambrick elementary school,5.0,-999999.999,150,-999999.999,1,Monarch Butterfly,1
2,854409931,1996-09-21,Monarch Adult Sighted,1,40.817,-96.710,0,We saw several hundred monarchs in our school ...,-999999.999,5.0,-999999.999,9701054,-999999.999,1,Monarch Butterfly,1
3,854557206,1996-09-21,Monarch Adult Sighted,1,40.817,-96.710,0,Over a hundered monarchs in our school butterf...,Fredstrom elementary school,6.0,-999999.999,175,-999999.999,1,Monarch Butterfly,1
4,855061862,1997-01-01,Monarch Adult Sighted,1,34.244,-77.946,0,"I Thought I Saw It, But I Was Suprised To See ...",Gregory,3.0,-999999.999,181,-999999.999,1,Monarch Butterfly,1

# Data Exploratory

In [95]:
JNorth1996_2020_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227433 entries, 0 to 227432
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             227433 non-null  int64
 1   sighting_date  227433 non-null  object
 2   species        227433 non-null  object
 3   number         227433 non-null  int64
 4   latitude       227433 non-null  float64
 5   longitude      227433 non-null  float64
 6   flag_location  227433 non-null  int64
 7   comments       227433 non-null  object
 8   school         227433 non-null  object
 9   grade          227433 non-null  float64
 10  image_url      227433 non-null  object
 11  customerid     227433 non-null  int64
 12  number_old     227433 non-null  float64
 13  flag_number    227433 non-null  int64
 14  species_old    227433 non-null  object
 15  flag_species   227433 non-null  int64
dtypes: float64(4), int64(6), object(6)
memory usage: 27.8+ MB

In [96]:
str(JNorth1996_2020_df.columns.tolist())

"['id', 'sighting_date', 'species', 'number', 'latitude', 'longitude', 'flag_location', 'comments', 'school', 'grade', 'image_url', 'customerid', 'number_old', 'flag_number', 'species_old', 'flag_species']"

In [97]:
JNorth1996_2020_df.describe()

,id,number,latitude,longitude,flag_location,grade,customerid,number_old,flag_number,flag_species
count,2.274330e+05,2.274330e+05,227433.000000,227433.000000,227433.000000,227433.000000,2.274330e+05,2.274330e+05,227433.000000,227433.000000
mean,1.420650e+09,1.186529e+02,38.400690,-87.569965,0.598018,-907386.217597,9.451737e+06,-2.844270e+05,0.294816,0.130324
std,1.456887e+08,2.209080e+04,5.268651,10.880362,0.490299,289894.342744,2.193961e+06,4.518136e+05,0.467089,0.336660
min,8.508417e+08,-1.700000e+01,-12.100000,-165.107000,0.000000,-999999.999000,0.000000e+00,-1.000000e+06,0.000000,0.000000
25%,1.377751e+09,1.000000e+00,34.723000,-95.268000,0.000000,-999999.999000,9.941050e+06,-1.000000e+06,0.000000,0.000000
50%,1.477448e+09,1.000000e+00,39.503000,-86.787000,1.000000,-999999.999000,9.977663e+06,1.000000e+00,0.000000,0.000000
75%,1.526383e+09,3.000000e+00,42.409000,-79.255000,1.000000,-999999.999000,1.000029e+07,3.000000e+00,1.000000,0.000000
max,1.526525e+09,1.000000e+07,65.136000,-52.883000,1.000000,1112.000000,1.004256e+07,1.000000e+07,2.000000,1.000000

In [98]:
JNorth1996_2020_df.columns.tolist()

['id',
 'sighting_date',
 'species',
 'number',
 'latitude',
 'longitude',
 'flag_location',
 'comments',
 'school',
 'grade',
 'image_url',
 'customerid',
 'number_old',
 'flag_number',
 'species_old',
 'flag_species']

In [99]:
JNorth1996_2020_df.shape

(227433, 16)

In [100]:
# Determine the number of unique values in each column.
for col in JNorth1996_2020_df:
  print(JNorth1996_2020_df[col].unique())

[ 850841703  851824801  854409931 ... 1526524404 1526524405 1526525021]
['1996-12-16' '1996-12-06' '1996-09-21' ... '2020-12-29' '2020-12-30'
 '2020-12-31']
['Monarch Adult Sighted' 'Monarch Adult (FIRST sighted)'
 'Monarch Egg (FIRST sighted)' 'Monarch (OTHER Observations)'
 'Monarch Larva (FIRST sighted)' 'Monarch PEAK Migration'
 'Milkweed (FIRST sighted)' 'Monarch Fall Roost' 'Monarch Egg Sighted'
 'Monarch Larva Sighted' 'Monarch, Captive-Reared' 'Milkweed Sighted']
[       1      150       20       89       30     2000       50     7500
       23      200        5      300        4      100       71      120
      325       21       28     5000    20000       36       25        6
       54     1000      160       24       60       37        2     3000
  1000000       10  2000000       40       85       65       15        8
      500       14      112       75       80    15000       18    10000
      912   100000      400      800       12       35      600       16
    25000     1500     1117       70        3      463       45       72
      250      182       56       26    30000     2500     8000      750
      700       46      556       34      275       53       22      650
      210      224     1100      240   200000      900     1200        7
       13      115       11       19      810       66       43      510
        9       62       27      290      104       44      440      202
       55      180       17      140      269       61      142      175
       41      123       32       76       31      195      125       29
      164      109      119      105     4000       69      360       88
       58      239       48      310      117       52      261       90
      135      296      211       39       51      102     7001      127
       49       47       33     1300       42      101     5075     1520
      170       81      190       38      110      558      381      228
      248       86       74      172      230      420     2806       94
       92      118      425     5400     6300       68       79    50000
     2300     7000       84      128       57      350       83      124
      114      450      147      501       87       77      197      840
    13460     3500       64       73      178      265      151      133
      121      477       59       97      850      130      165       95
      383       98      729      222      116      225       63     6000
      475    34000    13420    21329    12073    16244    30293    11082
       78      214      113      108      280      212      138      285
      229      216      720      206      606      287      107      134
      157      540 10000000      220      103      270       82      139
      318       93       67      181      122      158      156      232
      106      155     2400      667     1286      179      349      207
      505      132      154     1400    32914    29804    18128    15890
     7750     8531     7333     7783      173      213      126      378
      417      481      780     4800      625      208      205      145
      260      193      144      227      305      831      289      246
      404      152       96      373      855     1800      519      215
      441      337    23800      218      340      231     2100      550
     4500      320     9000    12000      324      461      184      570
      444      620    11000      870      478      252      447      247
      281      980    28073    13492    12864    11472    10200      301
      111      259      171      141      256      186      174      198
      479      187      223      474      203      278      153      257
      520      185     3200      375      258      136    70000    60200
    48000    17800      264    19755    17100    12189    13375      233
      204      192      131       -1      129      149      -17      460
      382      137      143      445       91     1700      330      254
      429      813     2200      316     2600      696      291      255
      286      543      183      251      362      226      453     1080
      860      315      332      244     1351    35000     1503     1125
      725     1482      593     2079    12284    19741    12360    10099
      587    19000   500000      189      671      713     1016      176
      345      219      234      249      409      418    16000     3900
      169     7200      272      284      653      428      348      777
      253       99      201     1516      335      359      356      875
      560      177      525      686     1380      276   999999    12620
     6500     5850      188     2960      480      385      827      323
      148     1012      465      196      162      238      446      313
     2385      307      263      357      163      495     1001      541
      733      167     3600      457     5700     1650     1120     3553
      995     1600     1390      614     7600     8250      314     1580
      221     1620      470      759      267      960     1301      566
      342      880      782      241      514     2250     2470      925
      403      166     6769      146     2469      209      279      868
      585      311      683      354      308      760      387      563
      801      536      161      397      322      613      191     1750
      199      516      321     1850      277      297     4750      370
      489     1149      268     2816      789      430      978      770
      493      716      159]
[27.594 30.42  40.817 ... 30.139 35.008 54.968]
[ -81.362  -87.224  -96.71  ... -118.107 -119.132 -108.727]
[0 1]
['On the ballfield a solitary monarch butterfly flew across the field in a south-west direction at approximately 1:30 pm.'
 'Our 5th grade Discovery students who went along on an overnight field trip to Ft. Pickens, Florida, noticed that there were monarch butterflies all over the grounds of the fort the day they were there (Dec. 6,1996).'
 'We saw several hundred monarchs in our school butterfly garden,  sipping nectar from the New England asters and zinnias.'
 ...
 "There have been at least three Monarchs in my yard this year. I know it's at least three, because I often see all of them at once. But there may be more. I have lived here for 35 years, and an additional 23 years just a mile-and-a-half down the road. This is the first time in decades that I've had Monarchs in my yard, and I've been very excited that they're coming back. I'm hoping to see more in the future. "
 'One larva seen.'
 'Date of last adult sighted.Total sightings were 98 adults from June 3 to Sept. 4.Peak sightings were July 8 to Aug 7.Approx. acreage with milkweed is equal to 4.5Ac. ']
['Walker memorial junior academy' 'Hambrick elementary school'
 '-999999.999' ... 'Homosassa springs wildlife state park'
 'Director, virginia master naturalist program' -999999.999]
[ 1.00000000e+01  5.00000000e+00  6.00000000e+00  3.00000000e+00
  9.00000000e+00 -9.99999999e+05  7.00000000e+00  2.00000000e+00
  8.00000000e+00  9.90000000e+01  4.00000000e+00  1.00000000e+00
  1.20000000e+01  1.10000000e+01  0.00000000e+00  3.40000000e+01
  2.50000000e+01  4.60000000e+01  6.80000000e+01  1.50000000e+01
  9.50000000e+01  3.60000000e+01  1.80000000e+01  2.30000000e+01
  1.40000000e+01  4.50000000e+01  9.12000000e+02  2.40000000e+01
  6.90000000e+01  5.60000000e+01  7.12000000e+02  6.78000000e+02
  1.12000000e+02  4.90000000e+01  7.80000000e+01  6.70000000e+01
  1.30000000e+01  4.56000000e+02  1.90000000e+01  6.12000000e+02
  1.11200000e+03  1.60000000e+01  1.01200000e+03  3.80000000e+01
  6.30000000e+01  2.70000000e+01  1.00000000e+02  9.10000000e+02
  6.20000000e+01  3.11000000e+02  5.80000000e+01  1.70000000e+01
  2.10000000e+01  2.80000000e+01  7.10000000e+01  3.45000000e+02
  1.19000000e+02  3.50000000e+01  4.20000000e+01  6.50000000e+01
  5.00000000e+01  4.12000000e+02  7.90000000e+01  2.00000000e+01
  7.11000000e+02  5.30000000e+01  1.35000000e+02]
['-999999.999'
 'https://journeynorth.org/jnorth/images/userfiles2013/1193346010.jpg'
 'https://www.learner.org/jnorth/images/userfiles/1317067653.jpg' ...
 '//journeynorth.org/jnorth/images/userfiles2021/05/1526513089.jpg'
 '//journeynorth.org/jnorth/images/userfiles2021/05/1526513090.jpg'
 '//journeynorth.org/jnorth/images/userfiles2021/06/1526524404.jpg']
[     135      150  9701054 ... 10042506 10042509 10042557]
[-9.99999999e+05  0.00000000e+00  1.50000000e+02  2.00000000e+01
  8.90000000e+01  3.00000000e+01  2.00000000e+03  5.00000000e+01
  7.50000000e+03  2.30000000e+01  2.00000000e+02  5.00000000e+00
  3.00000000e+02  4.00000000e+00  1.00000000e+02  7.10000000e+01
  1.20000000e+02  3.25000000e+02  2.10000000e+01  2.80000000e+01
  5.00000000e+03  2.00000000e+04  3.60000000e+01  2.50000000e+01
  6.00000000e+00  5.40000000e+01  1.00000000e+03  1.60000000e+02
  2.40000000e+01  6.00000000e+01  3.70000000e+01  2.00000000e+00
  3.00000000e+03  1.00000000e+06  1.00000000e+01  1.00000000e+00
  2.00000000e+06  4.00000000e+01  8.50000000e+01  6.50000000e+01
  1.50000000e+01  8.00000000e+00  5.00000000e+02  1.40000000e+01
  1.12000000e+02  7.50000000e+01  8.00000000e+01  1.50000000e+04
  1.80000000e+01  1.00000000e+04  9.12000000e+02  1.00000000e+05
  4.00000000e+02  8.00000000e+02  1.20000000e+01  3.50000000e+01
  6.00000000e+02  1.60000000e+01  2.50000000e+04  1.50000000e+03
  1.11700000e+03  7.00000000e+01  3.00000000e+00  4.63000000e+02
  4.50000000e+01  7.20000000e+01  2.50000000e+02  1.82000000e+02
  5.60000000e+01  2.60000000e+01  3.00000000e+04  2.50000000e+03
  8.00000000e+03  7.50000000e+02  7.00000000e+02  4.60000000e+01
  5.56000000e+02  3.40000000e+01  2.75000000e+02  5.30000000e+01
  2.20000000e+01  6.50000000e+02  2.10000000e+02  2.24000000e+02
  1.10000000e+03  2.40000000e+02  2.00000000e+05  9.00000000e+02
  1.20000000e+03  7.00000000e+00  1.30000000e+01  1.15000000e+02
  1.10000000e+01  1.90000000e+01  8.10000000e+02  6.60000000e+01
  4.30000000e+01  5.10000000e+02  9.00000000e+00  6.20000000e+01
  2.70000000e+01  2.90000000e+02  1.04000000e+02  4.40000000e+01
  4.40000000e+02  2.02000000e+02  5.50000000e+01  1.80000000e+02
  1.70000000e+01  1.40000000e+02  2.69000000e+02  6.10000000e+01
  1.42000000e+02  1.75000000e+02  4.10000000e+01  1.23000000e+02
  3.20000000e+01  7.60000000e+01  3.10000000e+01  1.95000000e+02
  1.25000000e+02  2.90000000e+01  1.64000000e+02  1.09000000e+02
  1.19000000e+02  1.05000000e+02  4.00000000e+03  6.90000000e+01
  3.60000000e+02  8.80000000e+01  5.80000000e+01  2.39000000e+02
  4.80000000e+01  3.10000000e+02  1.17000000e+02  5.20000000e+01
  2.61000000e+02  9.00000000e+01  1.35000000e+02  2.96000000e+02
  2.11000000e+02  3.90000000e+01  5.10000000e+01  1.02000000e+02
  7.00100000e+03  1.27000000e+02  4.90000000e+01  4.70000000e+01
  3.30000000e+01  1.30000000e+03  4.20000000e+01  1.01000000e+02
  5.07500000e+03  1.52000000e+03  1.70000000e+02  8.10000000e+01
  1.90000000e+02  3.80000000e+01  1.10000000e+02  5.58000000e+02
  3.81000000e+02  2.28000000e+02  2.48000000e+02  8.60000000e+01
  7.40000000e+01  1.72000000e+02  2.30000000e+02  4.20000000e+02
  2.80600000e+03  9.40000000e+01  9.20000000e+01  1.18000000e+02
  4.25000000e+02  5.40000000e+03  6.30000000e+03  6.80000000e+01
  7.90000000e+01  5.00000000e+04  2.30000000e+03  7.00000000e+03
  8.40000000e+01  1.28000000e+02  5.70000000e+01  3.50000000e+02
  8.30000000e+01  1.24000000e+02  1.14000000e+02  4.50000000e+02
  1.47000000e+02  5.01000000e+02  8.70000000e+01  7.70000000e+01
  1.97000000e+02  8.40000000e+02  1.34600000e+04  3.50000000e+03
  6.40000000e+01  7.30000000e+01  1.78000000e+02  2.65000000e+02
  1.51000000e+02  1.33000000e+02  1.21000000e+02  4.77000000e+02
  5.90000000e+01  9.70000000e+01  8.50000000e+02  1.30000000e+02
  1.65000000e+02  9.50000000e+01  3.83000000e+02  9.80000000e+01
  7.29000000e+02  2.22000000e+02  1.16000000e+02  2.25000000e+02
  6.30000000e+01  6.00000000e+03  4.75000000e+02  3.40000000e+04
  1.34200000e+04  2.13290000e+04  1.20730000e+04  1.62440000e+04
  3.02930000e+04  1.10820000e+04  7.80000000e+01  2.14000000e+02
  1.13000000e+02  1.08000000e+02  2.80000000e+02  2.12000000e+02
  1.38000000e+02  2.85000000e+02  2.29000000e+02  2.16000000e+02
  7.20000000e+02  2.06000000e+02  6.06000000e+02  2.87000000e+02
  1.07000000e+02  1.34000000e+02  1.57000000e+02  5.40000000e+02
  1.00000000e+07  2.20000000e+02  1.03000000e+02  2.70000000e+02
  8.20000000e+01  1.39000000e+02  3.18000000e+02  9.30000000e+01
  6.70000000e+01  1.81000000e+02  1.22000000e+02  1.58000000e+02
  1.56000000e+02  2.32000000e+02  1.06000000e+02  1.55000000e+02
  2.40000000e+03  6.67000000e+02  1.28600000e+03  1.79000000e+02
  3.49000000e+02  2.07000000e+02  5.05000000e+02  1.32000000e+02
  1.54000000e+02  1.40000000e+03  3.29140000e+04  2.98040000e+04
  1.81280000e+04  1.58900000e+04  7.75000000e+03  8.53100000e+03
  7.33300000e+03  7.78300000e+03  1.73000000e+02  2.13000000e+02
  1.26000000e+02  3.78000000e+02  4.17000000e+02  4.81000000e+02
  7.80000000e+02  4.80000000e+03  6.25000000e+02  2.08000000e+02
  2.05000000e+02  1.45000000e+02  2.60000000e+02  1.93000000e+02
  1.44000000e+02  2.27000000e+02  3.05000000e+02  8.31000000e+02
  2.89000000e+02  2.46000000e+02  4.04000000e+02  1.52000000e+02
  9.60000000e+01  3.73000000e+02  8.55000000e+02  1.80000000e+03
  5.19000000e+02  2.15000000e+02  4.41000000e+02  3.37000000e+02
  2.38000000e+04  2.18000000e+02  3.40000000e+02  2.31000000e+02
  2.10000000e+03  5.50000000e+02  4.50000000e+03  3.20000000e+02
  9.00000000e+03  1.20000000e+04  3.24000000e+02  4.61000000e+02
  1.84000000e+02  5.70000000e+02  4.44000000e+02  6.20000000e+02
  1.10000000e+04  8.70000000e+02  4.78000000e+02  2.52000000e+02
  4.47000000e+02  2.47000000e+02  2.81000000e+02  9.80000000e+02
  2.80730000e+04  1.34920000e+04  1.28640000e+04  1.14720000e+04
  1.02000000e+04  3.01000000e+02  1.11000000e+02  2.59000000e+02
  1.71000000e+02  1.41000000e+02  2.56000000e+02  1.86000000e+02
  1.74000000e+02  1.98000000e+02  4.79000000e+02  1.87000000e+02
  2.23000000e+02  4.74000000e+02  2.03000000e+02  2.78000000e+02
  1.53000000e+02  2.57000000e+02  5.20000000e+02  1.85000000e+02
  3.20000000e+03  3.75000000e+02  2.58000000e+02  1.36000000e+02
  7.00000000e+04  6.02000000e+04  4.80000000e+04  1.78000000e+04
  2.64000000e+02  1.97550000e+04  1.71000000e+04  1.21890000e+04
  1.33750000e+04  2.33000000e+02  2.04000000e+02  1.92000000e+02
  1.31000000e+02 -1.00000000e+00  1.29000000e+02  1.49000000e+02
 -1.70000000e+01  4.60000000e+02  3.82000000e+02  1.37000000e+02
  1.43000000e+02  4.45000000e+02  9.10000000e+01  1.70000000e+03
  3.30000000e+02  2.54000000e+02  4.29000000e+02  8.13000000e+02
  2.20000000e+03  3.16000000e+02  2.60000000e+03  6.96000000e+02
  2.91000000e+02  2.55000000e+02  2.86000000e+02  5.43000000e+02
  1.83000000e+02  2.51000000e+02  3.62000000e+02  2.26000000e+02
  4.53000000e+02  1.08000000e+03  8.60000000e+02  3.15000000e+02
  3.32000000e+02  2.44000000e+02  1.35100000e+03  3.50000000e+04
  1.50300000e+03  1.12500000e+03  7.25000000e+02  1.48200000e+03
  5.93000000e+02  2.07900000e+03  1.22840000e+04  1.97410000e+04
  1.23600000e+04  1.00990000e+04  5.87000000e+02  1.90000000e+04
  5.00000000e+05  1.89000000e+02  6.71000000e+02  7.13000000e+02
  1.01600000e+03  1.76000000e+02  3.45000000e+02  2.19000000e+02
  2.34000000e+02  2.49000000e+02  4.09000000e+02  4.18000000e+02
  1.60000000e+04  3.90000000e+03  1.69000000e+02  7.20000000e+03
  2.72000000e+02  2.84000000e+02  6.53000000e+02  4.28000000e+02
  3.48000000e+02  7.77000000e+02  2.53000000e+02  9.90000000e+01
  2.01000000e+02  1.51600000e+03  3.35000000e+02  3.59000000e+02
  3.56000000e+02  8.75000000e+02  5.60000000e+02  1.77000000e+02
  5.25000000e+02  6.86000000e+02  1.38000000e+03  2.76000000e+02
  9.99999000e+05  1.26200000e+04  6.50000000e+03  5.85000000e+03
  1.88000000e+02  2.96000000e+03  4.80000000e+02  3.85000000e+02
  8.27000000e+02  3.23000000e+02  1.48000000e+02  1.01200000e+03
  4.65000000e+02  1.96000000e+02  1.62000000e+02  2.38000000e+02
  4.46000000e+02  3.13000000e+02  2.38500000e+03  3.07000000e+02
  2.63000000e+02  3.57000000e+02  1.63000000e+02  4.95000000e+02
  1.00100000e+03  5.41000000e+02  7.33000000e+02  1.67000000e+02
  3.60000000e+03  4.57000000e+02  5.70000000e+03  1.65000000e+03
  1.12000000e+03  3.55300000e+03  9.95000000e+02  1.60000000e+03
  1.39000000e+03  6.14000000e+02  7.60000000e+03  8.25000000e+03
  3.14000000e+02  1.58000000e+03  2.21000000e+02  1.62000000e+03
  4.70000000e+02  7.59000000e+02  2.67000000e+02  9.60000000e+02
  1.30100000e+03  5.66000000e+02  3.42000000e+02  8.80000000e+02
  7.82000000e+02  2.41000000e+02  5.14000000e+02  2.25000000e+03
  2.47000000e+03  9.25000000e+02  4.03000000e+02  1.66000000e+02
  6.76900000e+03  1.46000000e+02  2.46900000e+03  2.09000000e+02
  2.79000000e+02  8.68000000e+02  5.85000000e+02  3.11000000e+02
  6.83000000e+02  3.54000000e+02  3.08000000e+02  7.60000000e+02
  3.87000000e+02  5.63000000e+02  8.01000000e+02  5.36000000e+02
  1.61000000e+02  3.97000000e+02  3.22000000e+02  6.13000000e+02
  1.91000000e+02  1.75000000e+03  1.99000000e+02  5.16000000e+02
  3.21000000e+02  1.85000000e+03  2.77000000e+02  2.97000000e+02
  4.75000000e+03  3.70000000e+02  4.89000000e+02  1.14900000e+03
  2.68000000e+02  2.81600000e+03  7.89000000e+02  4.30000000e+02
  9.78000000e+02  7.70000000e+02  4.93000000e+02  7.16000000e+02
  1.59000000e+02]
[1 2 0]
['Monarch Butterfly' 'Monarch Migration' 'FIRST Monarch Butterfly'
 'FIRST Monarch Egg' 'First Monarch' 'FIRST Monarch' 'LAST Fall Monarch'
 'Monarch (OTHER observations)' 'Monarch (FIRST sighting)'
 'Monarch (FIRST seen)' 'Monarch (Other Sightings)'
 'Monarch (OTHER observation)' 'Monarch (OTHER Observation)'
 'Monarch Migration Sighting' 'Monarch (OTHER Observations)'
 'Monarch Migration Study' 'LAST Fall Monarch Sighted'
 ' LAST Fall Monarch Sighted' 'LAST Fall Monarch Migration'
 'Monarch (OTHER oservations)' 'Monarch (LAST sighting)'
 'Monarch Larva (FIRST sighted)' 'Monarch Egg (FIRST sighted)'
 'Monarch Adult (FIRST sighted)' 'Monarch Adult (FIRST Sighted)'
 'Monarch PEAK Migration' 'LAST Fall Monarch Sighting'
 'Monarchs OTHER (Observation)' '(Monarch) Milkweed emerges'
 'Monarch FIRST Migration Sighting' 'Monarch peak Migration'
 'Monarch (OTHER) Observations' 'Milkweed (FIRST Leaves)'
 'Monarch Over-wintering' 'Monarch Adult  (FIRST sighted)'
 'Monarchs (OTHER observations)' 'Monarch (IOTHER observations)'
 'Monarch Fall Roost' 'Monarch ADULT' 'Monarch Larva (FIRST Sighted)'
 'Monarch (OTHER Observations' 'Monarch Peak Migration'
 'Monarch over-wintering' 'Monarch  Adult (FIRST sighted)'
 'Monarch (Other Observations)' 'Monarch FIRST Adult'
 'Monarch Adult (First sighted)' 'Monarch (Other observations)'
 'Monarch Migration Sighting OW' 'Monarch (FIRST sighted)'
 'Monarch (NONE sighted)' 'Monarch Fall Roost (None yet)'
 'Monarch Adult Sighted' 'Monarch Sighting' 'Monarch (Other Observations'
 'Monarch Winter Sighting' 'Monarch Sighted' 'Monarch Egg Sighted'
 'Monarch Larva Sighted' 'Monarch OTHER Observations'
 'monarch (OTHER Observations)' 'Monarch Egg (FIRST Sighted)'
 'Monarch OW Mexico' 'Monarch Adult  Sighted'
 'Monarch (OTHER Observations) READY' 'Monarch Adult (FIRST sighted))'
 'Monarch, Captive-Reared' 'Monarch Fall Roost (waiting for permission)'
 'Milkweed Sighted' 'Milkweed (FIRST sighted)' 'Milkweed (FIRST Sighted)'
 'Milkweed sighted' 'Monarch, Captive Reared'
 'Monarch Egg (FIRST sighted)ghted)'
 'Monarch Adult (FIRST sighted)T sighted)'
 'Monarch Adult (FIRST sighted)sighted)' 'Monarch (Captive Reared)ed)'
 'Monarch (Captive Reared)' 'Monarch (OTHER Observations)ations)'
 'Monarch Larva Sighted ' 'Monarch Fall Roost ' 'Monarch Egg Sighted '
 'Monarch, captive-Reared' 'MOnarch Larva Sighted'
 'Monarch Adult Sighted ' 'Monarch adult Sighted' 'Monarch Adult SIghted'
 'Monarch Adult (FIRST sighted) ' 'Monarchch Adult Sighted'

In [101]:
# Determine the number of unique values in each column.
for col in JNorth1996_2020_df:
  print(JNorth1996_2020_df[col].value_counts())

850841703     1
1526350827    1
1526350816    1
1526350817    1
1526350818    1
             ..
1432512422    1
1432519704    1
1432562236    1
1432562641    1
1526525021    1
Name: id, Length: 227433, dtype: int64
2018-08-22    392
2018-10-03    377
2018-09-06    353
2019-09-19    337
2018-09-12    335
             ...
2015-12-31      1
2015-11-24      1
2015-11-22      1
2006-07-30      1
1996-12-16      1
Name: sighting_date, Length: 7491, dtype: int64
Monarch Adult Sighted            102306
Monarch Adult (FIRST sighted)     36409
Monarch Larva Sighted             17378
Monarch, Captive-Reared           14339
Monarch (OTHER Observations)      13581
Monarch Egg Sighted                8736
Milkweed (FIRST sighted)           8465
Monarch PEAK Migration             7689
Monarch Egg (FIRST sighted)        6876
Monarch Fall Roost                 5035
Monarch Larva (FIRST sighted)      4898
Milkweed Sighted                   1721
Name: species, dtype: int64
1       139319
2        24169
3        13055
4         7795
5         6118
         ...
860          1
315          1
244          1
1351         1
159          1
Name: number, Length: 555, dtype: int64
29.757    811
30.230    765
45.033    702
37.944    700
42.409    659
         ...
30.770      1
38.355      1
33.305      1
29.930      1
27.594      1
Name: latitude, Length: 18851, dtype: int64
-95.365     807
-97.714     752
-87.405     695
-93.224     620
-82.220     605
           ...
-77.529       1
-69.400       1
-101.051      1
-69.254       1
-122.557      1
Name: longitude, Length: 30123, dtype: int64
1    136009
0     91424
Name: flag_location, dtype: int64
-999999.999                                                                                                                                                               1427
Female                                                                                                                                                                     170
Flying                                                                                                                                                                     144
Male                                                                                                                                                                       118
Recorded as an incidental sighting while conducting surveys on the Fort Hood military base.                                                                                104
                                                                                                                                                                          ...
first female sighting around 3 pm in richmond-laid egg on common milkweed.  Warm sw wind -monarch looked fresh                                                               1
Spotted our first milkweed shoots in our butterfly garden at Lake Anne Elementary this afternoon after the first weekend with warmer temperatures.                           1
Spotted 1 adult near Love Valley Wildlife Reserve near the Red River.                                                                                                        1
Established Asclepias syriaca L. plants in open area have emerged approximately 1 inch in height one day after 0.7" rainfall.                                                1
Date of last adult sighted.Total sightings were 98 adults from June 3 to Sept. 4.Peak sightings were July 8 to Aug 7.Approx. acreage with milkweed is equal to 4.5Ac.        1
Name: comments, Length: 212736, dtype: int64
-999999.999                            139036
-999999.999                             63593
None                                      457
Homeschool                                331
Virginia living museum                    263
                                        ...
William e. norris elementary school         1
Coventry elementary school                  1
Adams is close                              1
Salem elementary school                     1
Walker memorial junior academy              1
Name: school, Length: 6914, dtype: int64
-999999.999    206370
 99.000          3136
 4.000           2947
 3.000           2543
 2.000           2541
                ...
 1012.000           1
 678.000            1
 69.000             1
 95.000             1
 135.000            1
Name: grade, Length: 67, dtype: int64
-999999.999                                                                   183911
//sightings.journeynorth.org/jnorth/images/userfiles2018/09/1526362818.jpg         8
https://journeynorth.org/jnorth/images/userfiles/1366245309.jpg                    3
https://journeynorth.org/jnorth/images/userfiles/1331931236.jpg                    3
//journeynorth.org/jnorth/images/userfiles2020/04/1526445894.jpg                   2
                                                                               ...
https://journeynorth.org/jnorth/images/userfiles2017/06/1496327046.jpg             1
https://journeynorth.org/jnorth/images/userfiles2017/06/1496327055.jpg             1
https://journeynorth.org/jnorth/images/userfiles2017/06/1496327056.jpg             1
https://journeynorth.org/jnorth/images/userfiles2017/06/1496327063.jpg             1
//journeynorth.org/jnorth/images/userfiles2021/06/1526524404.jpg                   1
Name: image_url, Length: 43474, dtype: int64
9710973     7256
9979617     2054
9976074     1055
9975275      900
10010858     757
            ...
9979243        1
9979242        1
9979240        1
9979216        1
10042557       1
Name: customerid, Length: 42518, dtype: int64
 1.000         73436
-999999.999    64715
 2.000         24169
 3.000         13055
 4.000          7795
               ...
 445.000           1
 1700.000          1
 254.000           1
 429.000           1
 159.000           1
Name: number_old, Length: 557, dtype: int64
0    161550
1     64715
2      1168
Name: flag_number, dtype: int64
Monarch Adult Sighted                          91662
Monarch Adult (FIRST sighted)                  25311
Monarch Larva Sighted                          17373
Monarch, Captive-Reared                        14329
Monarch (OTHER Observations)                   10626
                                               ...
monarch (OTHER Observations)                       1
Monarch (OTHER Observations) READY                 1
Monarch Fall Roost (waiting for permission)        1
Monarch, Captive Reared                            1
Monarch, Captive-reared                            1
Name: species_old, Length: 96, dtype: int64
0    197793
1     29640
Name: flag_species, dtype: int64

In [102]:
# Find null values
for column in JNorth1996_2020_df.columns:
   print(f"Column {column} has {JNorth1996_2020_df[column].isnull().sum()} null values")

Column id has 0 null values
Column sighting_date has 0 null values
Column species has 0 null values
Column number has 0 null values
Column latitude has 0 null values
Column longitude has 0 null values
Column flag_location has 0 null values
Column comments has 0 null values
Column school has 0 null values
Column grade has 0 null values
Column image_url has 0 null values
Column customerid has 0 null values
Column number_old has 0 null values
Column flag_number has 0 null values
Column species_old has 0 null values
Column flag_species has 0 null values

In [103]:
# Find duplicate entries
print(f"Duplicate entries: {JNorth1996_2020_df.duplicated().sum()}")

Duplicate entries: 0

In [104]:
# filtering by type of observation (Monarch Egg Sighted)
JNorth_Egg_Site_df = JNorth1996_2020_df[JNorth1996_2020_df['species']=='Monarch Egg Sighted']
JNorth_Egg_Site_df.head()

,id,sighting_date,species,number,latitude,longitude,flag_location,comments,school,grade,image_url,customerid,number_old,flag_number,species_old,flag_species
48263,1343918156,2012-08-02,Monarch Egg Sighted,4,39.091,-76.624,0,Eggs on common mw in open field.,Arlington echo outdoor education center,-999999.999,-999999.999,9954266,4.000,0,Monarch Egg Sighted,0
48269,1344034477,2012-08-02,Monarch Egg Sighted,1,42.647,-74.575,0,"Collected 2 eggs today, feel as if I&#39;m off...",-999999.999,-999999.999,-999999.999,9940596,-999999.999,1,Monarch Egg Sighted,0
48286,1344379065,2012-08-07,Monarch Egg Sighted,2,42.647,-74.575,0,2 eggs collected.,-999999.999,-999999.999,-999999.999,9940596,2.000,0,Monarch Egg Sighted,0
48294,1344447589,2012-08-05,Monarch Egg Sighted,1,32.774,-91.709,0,female has started laying eggs :) found about...,-999999.999,-999999.999,https://journeynorth.org/jnorth/images/userfil...,9949176,-999999.999,1,Monarch Egg Sighted,0
48298,1344457901,2012-08-08,Monarch Egg Sighted,1,42.647,-74.575,0,2 eggs collected.,-999999.999,-999999.999,-999999.999,9940596,-999999.999,1,Monarch Egg Sighted,0

In [105]:
JNorth_Egg_Site_df.to_csv('JNorth_Egg_Site.csv', header=True, mode='w' )

In [106]:
JNorth_Egg_Site_df.shape

(8736, 16)

# Format file for geoJSON

In [107]:
JNorth_Egg_Site_df.drop(['id','flag_location', 'comments','school','grade','image_url','customerid','number_old','flag_number','species_old','flag_species'], axis=1, inplace=True)
JNorth_Egg_Site_df.head()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

      sighting_date              species  number  latitude  longitude
48263    2012-08-02  Monarch Egg Sighted       4    39.091    -76.624
48269    2012-08-02  Monarch Egg Sighted       1    42.647    -74.575
48286    2012-08-07  Monarch Egg Sighted       2    42.647    -74.575
48294    2012-08-05  Monarch Egg Sighted       1    32.774    -91.709
48298    2012-08-08  Monarch Egg Sighted       1    42.647    -74.575

In [108]:
cols = ['sighting_date', 'species', 'number', 'latitude', 'longitude']

In [109]:
JNorth_Egg_Site_df =JNorth_Egg_Site_df.groupby(['sighting_date', 'species', 'latitude', 'longitude']).sum().reset_index()
JNorth_Egg_Site_df.head()

  sighting_date              species  latitude  longitude  number
0    2007-08-12  Monarch Egg Sighted    36.270    -95.855      17
1    2007-09-18  Monarch Egg Sighted    45.227    -93.359       2
2    2012-06-15  Monarch Egg Sighted    33.761   -118.199       1
3    2012-07-12  Monarch Egg Sighted    38.493   -107.073       1
4    2012-07-30  Monarch Egg Sighted    39.424    -77.819       1

In [110]:
JNorth_Egg_Site_df.columns.tolist()

['sighting_date', 'species', 'latitude', 'longitude', 'number']

In [111]:
JNorth_Egg_Site_df.head()

  sighting_date              species  latitude  longitude  number
0    2007-08-12  Monarch Egg Sighted    36.270    -95.855      17
1    2007-09-18  Monarch Egg Sighted    45.227    -93.359       2
2    2012-06-15  Monarch Egg Sighted    33.761   -118.199       1
3    2012-07-12  Monarch Egg Sighted    38.493   -107.073       1
4    2012-07-30  Monarch Egg Sighted    39.424    -77.819       1

In [112]:
JNorth_Egg_Site_df.shape

(8506, 5)

In [113]:
JNorth_Egg_Site_year_df = JNorth_Egg_Site_df
JNorth_Egg_Site_year_df['year'] = pd.DatetimeIndex(JNorth_Egg_Site_df['sighting_date']).year

# 2016

In [114]:
JNorth_Egg_Site_2016_df = JNorth_Egg_Site_year_df[JNorth_Egg_Site_year_df['year']==2016]
JNorth_Egg_Site_2016_df.tail()

     sighting_date              species  latitude  longitude  number  year
2854    2016-12-12  Monarch Egg Sighted    31.174    -81.478       8  2016
2855    2016-12-16  Monarch Egg Sighted    34.233   -118.532       4  2016
2856    2016-12-18  Monarch Egg Sighted    28.000    -82.752      18  2016
2857    2016-12-18  Monarch Egg Sighted    34.153   -118.236       6  2016
2858    2016-12-20  Monarch Egg Sighted    28.000    -82.752      21  2016

In [115]:
JNorth_Egg_Site_2016_df.shape

(1183, 6)

In [116]:
JNorth_Egg_Site_2016_df['month'] = pd.DatetimeIndex(JNorth_Egg_Site_2016_df['sighting_date']).month

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## January

In [117]:
JNorth_Egg_Site_2016_month_df =pd.DataFrame(JNorth_Egg_Site_2016_df)
JNorth_Egg_Site_2016_1_df = JNorth_Egg_Site_2016_month_df[JNorth_Egg_Site_2016_month_df['month']==1]
JNorth_Egg_Site_2016_1_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
1676,2016-01-01,Monarch Egg Sighted,30.210,-81.381,1,2016,1
1677,2016-01-04,Monarch Egg Sighted,30.340,-81.831,20,2016,1
1678,2016-01-30,Monarch Egg Sighted,28.656,-81.524,1,2016,1

In [118]:
JNorth_Egg_Site_2016_1_df.shape

(3, 7)

In [119]:
JNorth_Egg_Site_2016_1_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [120]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2016_1_df['latitude'] = JNorth_Egg_Site_2016_1_df['latitude'].astype(float)
JNorth_Egg_Site_2016_1_df['longitude'] = JNorth_Egg_Site_2016_1_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [121]:
geojson = df_to_geojson(JNorth_Egg_Site_2016_1_df, cols)

In [122]:
file = open("JNorth_Egg_Site_2016_1.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## February

In [123]:
JNorth_Egg_Site_2016_month_df =pd.DataFrame(JNorth_Egg_Site_2016_df)
JNorth_Egg_Site_2016_2_df = JNorth_Egg_Site_2016_month_df[JNorth_Egg_Site_2016_month_df['month']==2]
JNorth_Egg_Site_2016_2_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
1679,2016-02-03,Monarch Egg Sighted,28.240,-82.740,4,2016,2
1680,2016-02-14,Monarch Egg Sighted,27.401,-82.467,20,2016,2
1681,2016-02-20,Monarch Egg Sighted,34.015,-118.492,1,2016,2
1682,2016-02-28,Monarch Egg Sighted,30.230,-97.714,30,2016,2
1683,2016-02-28,Monarch Egg Sighted,33.646,-117.590,7,2016,2

In [124]:
JNorth_Egg_Site_2016_2_df.shape

(5, 7)

In [125]:
JNorth_Egg_Site_2016_2_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [126]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2016_2_df['latitude'] = JNorth_Egg_Site_2016_2_df['latitude'].astype(float)
JNorth_Egg_Site_2016_2_df['longitude'] = JNorth_Egg_Site_2016_2_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [127]:
geojson = df_to_geojson(JNorth_Egg_Site_2016_2_df, cols)

In [128]:
file = open("JNorth_Egg_Site_2016_2.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## March

In [129]:
JNorth_Egg_Site_2016_month_df =pd.DataFrame(JNorth_Egg_Site_2016_df)
JNorth_Egg_Site_2016_3_df = JNorth_Egg_Site_2016_month_df[JNorth_Egg_Site_2016_month_df['month']==3]
JNorth_Egg_Site_2016_3_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
1690,2016-03-27,Monarch Egg Sighted,30.000,-95.637,5,2016,3
1691,2016-03-28,Monarch Egg Sighted,30.058,-95.190,1,2016,3
1692,2016-03-28,Monarch Egg Sighted,30.936,-92.936,1,2016,3
1693,2016-03-28,Monarch Egg Sighted,33.719,-116.282,1,2016,3
1694,2016-03-29,Monarch Egg Sighted,32.131,-97.855,1,2016,3

In [130]:
JNorth_Egg_Site_2016_3_df.shape

(11, 7)

In [131]:
JNorth_Egg_Site_2016_3_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [132]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2016_3_df['latitude'] = JNorth_Egg_Site_2016_3_df['latitude'].astype(float)
JNorth_Egg_Site_2016_3_df['longitude'] = JNorth_Egg_Site_2016_3_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [133]:
geojson = df_to_geojson(JNorth_Egg_Site_2016_3_df, cols)

In [134]:
file = open("JNorth_Egg_Site_2016_3.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## April

In [135]:
JNorth_Egg_Site_2016_month_df =pd.DataFrame(JNorth_Egg_Site_2016_df)
JNorth_Egg_Site_2016_4_df = JNorth_Egg_Site_2016_month_df[JNorth_Egg_Site_2016_month_df['month']==4]
JNorth_Egg_Site_2016_4_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
1718,2016-04-22,Monarch Egg Sighted,32.036,-84.393,1,2016,4
1719,2016-04-23,Monarch Egg Sighted,29.954,-95.178,7,2016,4
1720,2016-04-24,Monarch Egg Sighted,30.371,-95.816,21,2016,4
1721,2016-04-28,Monarch Egg Sighted,33.378,-96.495,1,2016,4
1722,2016-04-29,Monarch Egg Sighted,29.736,-98.659,9,2016,4

In [136]:
JNorth_Egg_Site_2016_4_df.shape

(28, 7)

In [137]:
JNorth_Egg_Site_2016_4_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [138]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2016_4_df['latitude'] = JNorth_Egg_Site_2016_4_df['latitude'].astype(float)
JNorth_Egg_Site_2016_4_df['longitude'] = JNorth_Egg_Site_2016_4_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [139]:
geojson = df_to_geojson(JNorth_Egg_Site_2016_4_df, cols)

In [140]:
file = open("JNorth_Egg_Site_2016_4.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## May

In [141]:
JNorth_Egg_Site_2016_month_df =pd.DataFrame(JNorth_Egg_Site_2016_df)
JNorth_Egg_Site_2016_5_df = JNorth_Egg_Site_2016_month_df[JNorth_Egg_Site_2016_month_df['month']==5]
JNorth_Egg_Site_2016_5_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
1756,2016-05-31,Monarch Egg Sighted,30.320,-97.742,38,2016,5
1757,2016-05-31,Monarch Egg Sighted,32.269,-80.974,11,2016,5
1758,2016-05-31,Monarch Egg Sighted,40.207,-88.414,3,2016,5
1759,2016-05-31,Monarch Egg Sighted,42.031,-93.632,14,2016,5
1760,2016-05-31,Monarch Egg Sighted,42.130,-85.635,2,2016,5

In [142]:
JNorth_Egg_Site_2016_5_df.shape

(38, 7)

In [143]:
JNorth_Egg_Site_2016_5_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [144]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2016_5_df['latitude'] = JNorth_Egg_Site_2016_5_df['latitude'].astype(float)
JNorth_Egg_Site_2016_5_df['longitude'] = JNorth_Egg_Site_2016_5_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [145]:
geojson = df_to_geojson(JNorth_Egg_Site_2016_5_df, cols)

In [146]:
file = open("JNorth_Egg_Site_2016_5.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## June

In [147]:
JNorth_Egg_Site_2016_month_df =pd.DataFrame(JNorth_Egg_Site_2016_df)
JNorth_Egg_Site_2016_6_df = JNorth_Egg_Site_2016_month_df[JNorth_Egg_Site_2016_month_df['month']==6]
JNorth_Egg_Site_2016_6_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
1826,2016-06-27,Monarch Egg Sighted,30.321,-97.742,15,2016,6
1827,2016-06-27,Monarch Egg Sighted,42.066,-91.796,32,2016,6
1828,2016-06-28,Monarch Egg Sighted,30.321,-97.742,19,2016,6
1829,2016-06-28,Monarch Egg Sighted,42.066,-91.796,30,2016,6
1830,2016-06-30,Monarch Egg Sighted,42.066,-91.796,4,2016,6

In [148]:
JNorth_Egg_Site_2016_6_df.shape

(70, 7)

In [149]:
JNorth_Egg_Site_2016_6_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [150]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2016_6_df['latitude'] = JNorth_Egg_Site_2016_6_df['latitude'].astype(float)
JNorth_Egg_Site_2016_6_df['longitude'] = JNorth_Egg_Site_2016_6_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [151]:
geojson = df_to_geojson(JNorth_Egg_Site_2016_6_df, cols)

In [152]:
file = open("JNorth_Egg_Site_2016_6.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## July

In [153]:
JNorth_Egg_Site_2016_month_df =pd.DataFrame(JNorth_Egg_Site_2016_df)
JNorth_Egg_Site_2016_7_df = JNorth_Egg_Site_2016_month_df[JNorth_Egg_Site_2016_month_df['month']==7]
JNorth_Egg_Site_2016_7_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
2091,2016-07-31,Monarch Egg Sighted,42.386,-88.837,6,2016,7
2092,2016-07-31,Monarch Egg Sighted,42.760,-86.153,1,2016,7
2093,2016-07-31,Monarch Egg Sighted,43.075,-85.612,2,2016,7
2094,2016-07-31,Monarch Egg Sighted,44.959,-93.599,4,2016,7
2095,2016-07-31,Monarch Egg Sighted,45.039,-93.184,2,2016,7

In [154]:
JNorth_Egg_Site_2016_7_df.shape

(265, 7)

In [155]:
JNorth_Egg_Site_2016_7_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [156]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2016_7_df['latitude'] = JNorth_Egg_Site_2016_7_df['latitude'].astype(float)
JNorth_Egg_Site_2016_7_df['longitude'] = JNorth_Egg_Site_2016_7_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [157]:
geojson = df_to_geojson(JNorth_Egg_Site_2016_7_df, cols)

In [158]:
file = open("JNorth_Egg_Site_2016_7.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## August

In [159]:
JNorth_Egg_Site_2016_month_df =pd.DataFrame(JNorth_Egg_Site_2016_df)
JNorth_Egg_Site_2016_8_df = JNorth_Egg_Site_2016_month_df[JNorth_Egg_Site_2016_month_df['month']==8]
JNorth_Egg_Site_2016_8_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
2561,2016-08-31,Monarch Egg Sighted,41.238,-80.818,3,2016,8
2562,2016-08-31,Monarch Egg Sighted,41.529,-90.668,15,2016,8
2563,2016-08-31,Monarch Egg Sighted,41.546,-99.328,15,2016,8
2564,2016-08-31,Monarch Egg Sighted,41.773,-87.954,4,2016,8
2565,2016-08-31,Monarch Egg Sighted,43.668,-87.717,2,2016,8

In [160]:
JNorth_Egg_Site_2016_8_df.shape

(470, 7)

In [161]:
JNorth_Egg_Site_2016_8_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [162]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2016_8_df['latitude'] = JNorth_Egg_Site_2016_8_df['latitude'].astype(float)
JNorth_Egg_Site_2016_8_df['longitude'] = JNorth_Egg_Site_2016_8_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [163]:
geojson = df_to_geojson(JNorth_Egg_Site_2016_8_df, cols)

In [164]:
file = open("JNorth_Egg_Site_2016_8.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## September

In [165]:
JNorth_Egg_Site_2016_month_df =pd.DataFrame(JNorth_Egg_Site_2016_df)
JNorth_Egg_Site_2016_9_df = JNorth_Egg_Site_2016_month_df[JNorth_Egg_Site_2016_month_df['month']==9]
JNorth_Egg_Site_2016_9_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
2778,2016-09-28,Monarch Egg Sighted,36.154,-95.993,11,2016,9
2779,2016-09-28,Monarch Egg Sighted,36.396,-97.878,1,2016,9
2780,2016-09-28,Monarch Egg Sighted,39.768,-94.847,1,2016,9
2781,2016-09-29,Monarch Egg Sighted,36.097,-95.964,5,2016,9
2782,2016-09-30,Monarch Egg Sighted,33.046,-117.168,6,2016,9

In [166]:
JNorth_Egg_Site_2016_9_df.shape

(217, 7)

In [167]:
JNorth_Egg_Site_2016_9_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [168]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2016_9_df['latitude'] = JNorth_Egg_Site_2016_9_df['latitude'].astype(float)
JNorth_Egg_Site_2016_9_df['longitude'] = JNorth_Egg_Site_2016_9_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [169]:
geojson = df_to_geojson(JNorth_Egg_Site_2016_9_df, cols)

In [170]:
file = open("JNorth_Egg_Site_2016_9.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## October

In [171]:
JNorth_Egg_Site_2016_month_df =pd.DataFrame(JNorth_Egg_Site_2016_df)
JNorth_Egg_Site_2016_10_df = JNorth_Egg_Site_2016_month_df[JNorth_Egg_Site_2016_month_df['month']==10]
JNorth_Egg_Site_2016_10_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
2827,2016-10-26,Monarch Egg Sighted,38.232,-122.637,3,2016,10
2828,2016-10-27,Monarch Egg Sighted,29.728,-98.624,6,2016,10
2829,2016-10-28,Monarch Egg Sighted,30.048,-94.336,8,2016,10
2830,2016-10-30,Monarch Egg Sighted,34.069,-117.939,5,2016,10
2831,2016-10-31,Monarch Egg Sighted,31.174,-81.478,66,2016,10

In [172]:
JNorth_Egg_Site_2016_10_df.shape

(49, 7)

In [173]:
JNorth_Egg_Site_2016_10_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [174]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2016_10_df['latitude'] = JNorth_Egg_Site_2016_10_df['latitude'].astype(float)
JNorth_Egg_Site_2016_10_df['longitude'] = JNorth_Egg_Site_2016_10_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [175]:
geojson = df_to_geojson(JNorth_Egg_Site_2016_10_df, cols)

In [176]:
file = open("JNorth_Egg_Site_2016_10.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## November

In [177]:
JNorth_Egg_Site_2016_month_df =pd.DataFrame(JNorth_Egg_Site_2016_df)
JNorth_Egg_Site_2016_11_df = JNorth_Egg_Site_2016_month_df[JNorth_Egg_Site_2016_month_df['month']==11]
JNorth_Egg_Site_2016_11_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
2844,2016-11-13,Monarch Egg Sighted,28.000,-82.752,52,2016,11
2845,2016-11-16,Monarch Egg Sighted,31.036,-97.279,40,2016,11
2846,2016-11-22,Monarch Egg Sighted,30.287,-81.754,4,2016,11
2847,2016-11-26,Monarch Egg Sighted,28.917,-82.612,1,2016,11
2848,2016-11-30,Monarch Egg Sighted,31.174,-81.478,8,2016,11

In [178]:
JNorth_Egg_Site_2016_11_df.shape

(17, 7)

In [179]:
JNorth_Egg_Site_2016_11_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [180]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2016_11_df['latitude'] = JNorth_Egg_Site_2016_11_df['latitude'].astype(float)
JNorth_Egg_Site_2016_11_df['longitude'] = JNorth_Egg_Site_2016_11_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [181]:
geojson = df_to_geojson(JNorth_Egg_Site_2016_11_df, cols)

In [182]:
file = open("JNorth_Egg_Site_2016_11.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## December

In [183]:
JNorth_Egg_Site_2016_month_df =pd.DataFrame(JNorth_Egg_Site_2016_df)
JNorth_Egg_Site_2016_12_df = JNorth_Egg_Site_2016_month_df[JNorth_Egg_Site_2016_month_df['month']==12]
JNorth_Egg_Site_2016_12_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
2854,2016-12-12,Monarch Egg Sighted,31.174,-81.478,8,2016,12
2855,2016-12-16,Monarch Egg Sighted,34.233,-118.532,4,2016,12
2856,2016-12-18,Monarch Egg Sighted,28.000,-82.752,18,2016,12
2857,2016-12-18,Monarch Egg Sighted,34.153,-118.236,6,2016,12
2858,2016-12-20,Monarch Egg Sighted,28.000,-82.752,21,2016,12

In [184]:
JNorth_Egg_Site_2016_12_df.shape

(10, 7)

In [185]:
JNorth_Egg_Site_2016_12_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [186]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2016_12_df['latitude'] = JNorth_Egg_Site_2016_12_df['latitude'].astype(float)
JNorth_Egg_Site_2016_12_df['longitude'] = JNorth_Egg_Site_2016_12_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [187]:
geojson = df_to_geojson(JNorth_Egg_Site_2016_12_df, cols)

In [188]:
file = open("JNorth_Egg_Site_2016_12.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# 2017

In [189]:
JNorth_Egg_Site_2017_df = JNorth_Egg_Site_year_df[JNorth_Egg_Site_year_df['year']==2017]
JNorth_Egg_Site_2017_df.tail()

     sighting_date              species  latitude  longitude  number  year
4388    2017-12-03  Monarch Egg Sighted    28.392    -96.841       3  2017
4389    2017-12-15  Monarch Egg Sighted    29.914    -90.053       7  2017
4390    2017-12-18  Monarch Egg Sighted    29.914    -90.053       9  2017
4391    2017-12-19  Monarch Egg Sighted    29.914    -90.053       1  2017
4392    2017-12-25  Monarch Egg Sighted    38.675   -121.873       1  2017

In [190]:
JNorth_Egg_Site_2017_df.shape

(1534, 6)

In [191]:
JNorth_Egg_Site_2017_df.drop(['year'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [192]:
JNorth_Egg_Site_2017_df.tail

<bound method NDFrame.tail of      sighting_date              species  latitude  longitude  number
2859    2017-01-01  Monarch Egg Sighted    30.019    -95.543      30
2860    2017-01-03  Monarch Egg Sighted    28.480    -80.776       1
2861    2017-01-05  Monarch Egg Sighted    28.000    -82.752      26
2862    2017-01-06  Monarch Egg Sighted    28.000    -82.752       1
2863    2017-01-10  Monarch Egg Sighted    20.031   -100.811       5
...            ...                  ...       ...        ...     ...
4388    2017-12-03  Monarch Egg Sighted    28.392    -96.841       3
4389    2017-12-15  Monarch Egg Sighted    29.914    -90.053       7
4390    2017-12-18  Monarch Egg Sighted    29.914    -90.053       9
4391    2017-12-19  Monarch Egg Sighted    29.914    -90.053       1
4392    2017-12-25  Monarch Egg Sighted    38.675   -121.873       1

[1534 rows x 5 columns]>

In [193]:
JNorth_Egg_Site_2017_df['month'] = pd.DatetimeIndex(JNorth_Egg_Site_2017_df['sighting_date']).month

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## January

In [194]:
JNorth_Egg_Site_2017_month_df =pd.DataFrame(JNorth_Egg_Site_2017_df)
JNorth_Egg_Site_2017_1_df = JNorth_Egg_Site_2017_month_df[JNorth_Egg_Site_2017_month_df['month']==1]
JNorth_Egg_Site_2017_1_df.tail()

     sighting_date              species  latitude  longitude  number  month
2861    2017-01-05  Monarch Egg Sighted    28.000    -82.752      26      1
2862    2017-01-06  Monarch Egg Sighted    28.000    -82.752       1      1
2863    2017-01-10  Monarch Egg Sighted    20.031   -100.811       5      1
2864    2017-01-12  Monarch Egg Sighted    28.000    -82.752       4      1
2865    2017-01-31  Monarch Egg Sighted    28.295    -82.274       3      1

In [195]:
JNorth_Egg_Site_2017_1_df.shape

(7, 6)

In [196]:
JNorth_Egg_Site_2017_1_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [197]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2017_1_df['latitude'] = JNorth_Egg_Site_2017_1_df['latitude'].astype(float)
JNorth_Egg_Site_2017_1_df['longitude'] = JNorth_Egg_Site_2017_1_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [198]:
geojson = df_to_geojson(JNorth_Egg_Site_2017_1_df, cols)

In [199]:
file = open("JNorth_Egg_Site_2017_1.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## February

In [200]:
JNorth_Egg_Site_2017_month_df =pd.DataFrame(JNorth_Egg_Site_2017_df)
JNorth_Egg_Site_2017_2_df = JNorth_Egg_Site_2017_month_df[JNorth_Egg_Site_2017_month_df['month']==2]
JNorth_Egg_Site_2017_2_df.tail()

     sighting_date              species  latitude  longitude  number  month
2867    2017-02-01  Monarch Egg Sighted    29.995    -95.668       3      2
2868    2017-02-03  Monarch Egg Sighted    25.983    -80.382     100      2
2869    2017-02-03  Monarch Egg Sighted    28.000    -82.752      11      2
2870    2017-02-08  Monarch Egg Sighted    30.670    -81.463       5      2
2871    2017-02-13  Monarch Egg Sighted    20.048   -100.677       9      2

In [201]:
JNorth_Egg_Site_2017_2_df.shape

(6, 6)

In [202]:
JNorth_Egg_Site_2017_2_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [203]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2017_2_df['latitude'] = JNorth_Egg_Site_2017_2_df['latitude'].astype(float)
JNorth_Egg_Site_2017_2_df['longitude'] = JNorth_Egg_Site_2017_2_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [204]:
geojson = df_to_geojson(JNorth_Egg_Site_2017_2_df, cols)

In [205]:
file = open("JNorth_Egg_Site_2017_2.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## March

In [206]:
JNorth_Egg_Site_2017_month_df =pd.DataFrame(JNorth_Egg_Site_2017_df)
JNorth_Egg_Site_2017_3_df = JNorth_Egg_Site_2017_month_df[JNorth_Egg_Site_2017_month_df['month']==3]
JNorth_Egg_Site_2017_3_df.tail()

     sighting_date              species  latitude  longitude  number  month
2883    2017-03-26  Monarch Egg Sighted    34.154    -99.265      16      3
2884    2017-03-27  Monarch Egg Sighted    30.371    -95.816      26      3
2885    2017-03-27  Monarch Egg Sighted    34.154    -99.265      56      3
2886    2017-03-29  Monarch Egg Sighted    29.282    -81.086       1      3
2887    2017-03-29  Monarch Egg Sighted    30.009    -98.172      16      3

In [207]:
JNorth_Egg_Site_2017_3_df.shape

(16, 6)

In [208]:
JNorth_Egg_Site_2017_3_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [209]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2017_3_df['latitude'] = JNorth_Egg_Site_2017_3_df['latitude'].astype(float)
JNorth_Egg_Site_2017_3_df['longitude'] = JNorth_Egg_Site_2017_3_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [210]:
geojson = df_to_geojson(JNorth_Egg_Site_2017_3_df, cols)

In [211]:
file = open("JNorth_Egg_Site_2017_3.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## April

In [212]:
JNorth_Egg_Site_2017_month_df =pd.DataFrame(JNorth_Egg_Site_2017_df)
JNorth_Egg_Site_2017_4_df = JNorth_Egg_Site_2017_month_df[JNorth_Egg_Site_2017_month_df['month']==4]
JNorth_Egg_Site_2017_4_df.tail()

     sighting_date              species  latitude  longitude  number  month
3000    2017-04-27  Monarch Egg Sighted    32.910    -96.465       1      4
3001    2017-04-28  Monarch Egg Sighted    30.332    -81.656       1      4
3002    2017-04-29  Monarch Egg Sighted    39.294   -121.189       5      4
3003    2017-04-30  Monarch Egg Sighted    35.511    -82.522       1      4
3004    2017-04-30  Monarch Egg Sighted    38.441    -98.624       2      4

In [213]:
JNorth_Egg_Site_2017_4_df.shape

(117, 6)

In [214]:
JNorth_Egg_Site_2017_4_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [215]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2017_4_df['latitude'] = JNorth_Egg_Site_2017_4_df['latitude'].astype(float)
JNorth_Egg_Site_2017_4_df['longitude'] = JNorth_Egg_Site_2017_4_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [216]:
geojson = df_to_geojson(JNorth_Egg_Site_2017_4_df, cols)

In [217]:
file = open("JNorth_Egg_Site_2017_4.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## May

In [218]:
JNorth_Egg_Site_2017_month_df =pd.DataFrame(JNorth_Egg_Site_2017_df)
JNorth_Egg_Site_2017_5_df = JNorth_Egg_Site_2017_month_df[JNorth_Egg_Site_2017_month_df['month']==5]
JNorth_Egg_Site_2017_5_df.tail()

     sighting_date              species  latitude  longitude  number  month
3077    2017-05-31  Monarch Egg Sighted    42.998    -81.234      12      5
3078    2017-05-31  Monarch Egg Sighted    44.755    -93.363       1      5
3079    2017-05-31  Monarch Egg Sighted    45.017    -93.126       1      5
3080    2017-05-31  Monarch Egg Sighted    45.051    -93.220       3      5
3081    2017-05-31  Monarch Egg Sighted    45.205    -93.354       6      5

In [219]:
JNorth_Egg_Site_2017_5_df.shape

(77, 6)

In [220]:
JNorth_Egg_Site_2017_5_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [221]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2017_5_df['latitude'] = JNorth_Egg_Site_2017_5_df['latitude'].astype(float)
JNorth_Egg_Site_2017_5_df['longitude'] = JNorth_Egg_Site_2017_5_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [222]:
geojson = df_to_geojson(JNorth_Egg_Site_2017_5_df, cols)

In [223]:
file = open("JNorth_Egg_Site_2017_5.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## June

In [224]:
JNorth_Egg_Site_2017_month_df =pd.DataFrame(JNorth_Egg_Site_2017_df)
JNorth_Egg_Site_2017_6_df = JNorth_Egg_Site_2017_month_df[JNorth_Egg_Site_2017_month_df['month']==6]
JNorth_Egg_Site_2017_6_df.tail()

     sighting_date              species  latitude  longitude  number  month
3239    2017-06-30  Monarch Egg Sighted    41.714    -91.587       5      6
3240    2017-06-30  Monarch Egg Sighted    42.031    -93.632       2      6
3241    2017-06-30  Monarch Egg Sighted    43.175    -72.338       1      6
3242    2017-06-30  Monarch Egg Sighted    43.643   -123.580      10      6
3243    2017-06-30  Monarch Egg Sighted    44.780    -91.514      25      6

In [225]:
JNorth_Egg_Site_2017_6_df.shape

(162, 6)

In [226]:
JNorth_Egg_Site_2017_6_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [227]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2017_6_df['latitude'] = JNorth_Egg_Site_2017_6_df['latitude'].astype(float)
JNorth_Egg_Site_2017_6_df['longitude'] = JNorth_Egg_Site_2017_6_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [228]:
geojson = df_to_geojson(JNorth_Egg_Site_2017_6_df, cols)

In [229]:
file = open("JNorth_Egg_Site_2017_6.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## July

In [230]:
JNorth_Egg_Site_2017_month_df =pd.DataFrame(JNorth_Egg_Site_2017_df)
JNorth_Egg_Site_2017_7_df = JNorth_Egg_Site_2017_month_df[JNorth_Egg_Site_2017_month_df['month']==7]
JNorth_Egg_Site_2017_7_df.tail()

     sighting_date              species  latitude  longitude  number  month
3624    2017-07-31  Monarch Egg Sighted    42.241    -88.316       8      7
3625    2017-07-31  Monarch Egg Sighted    42.409    -82.220       8      7
3626    2017-07-31  Monarch Egg Sighted    43.316    -75.788      10      7
3627    2017-07-31  Monarch Egg Sighted    44.944    -93.159       2      7
3628    2017-07-31  Monarch Egg Sighted    45.233    -93.291       4      7

In [231]:
JNorth_Egg_Site_2017_7_df.shape

(385, 6)

In [232]:
JNorth_Egg_Site_2017_7_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [233]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2017_7_df['latitude'] = JNorth_Egg_Site_2017_7_df['latitude'].astype(float)
JNorth_Egg_Site_2017_7_df['longitude'] = JNorth_Egg_Site_2017_7_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [234]:
geojson = df_to_geojson(JNorth_Egg_Site_2017_7_df, cols)

In [235]:
file = open("JNorth_Egg_Site_2017_7.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## August

In [236]:
JNorth_Egg_Site_2017_month_df =pd.DataFrame(JNorth_Egg_Site_2017_df)
JNorth_Egg_Site_2017_8_df = JNorth_Egg_Site_2017_month_df[JNorth_Egg_Site_2017_month_df['month']==8]
JNorth_Egg_Site_2017_8_df.tail()

     sighting_date              species  latitude  longitude  number  month
4171    2017-08-31  Monarch Egg Sighted    39.187    -77.610       2      8
4172    2017-08-31  Monarch Egg Sighted    39.437    -77.566       7      8
4173    2017-08-31  Monarch Egg Sighted    39.884    -82.754       3      8
4174    2017-08-31  Monarch Egg Sighted    42.409    -82.220       1      8
4175    2017-08-31  Monarch Egg Sighted    44.059    -79.461       8      8

In [237]:
JNorth_Egg_Site_2017_8_df.shape

(547, 6)

In [238]:
JNorth_Egg_Site_2017_8_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [239]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2017_8_df['latitude'] = JNorth_Egg_Site_2017_8_df['latitude'].astype(float)
JNorth_Egg_Site_2017_8_df['longitude'] = JNorth_Egg_Site_2017_8_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [240]:
geojson = df_to_geojson(JNorth_Egg_Site_2017_8_df, cols)

In [241]:
file = open("JNorth_Egg_Site_2017_8.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## September

In [242]:
JNorth_Egg_Site_2017_month_df =pd.DataFrame(JNorth_Egg_Site_2017_df)
JNorth_Egg_Site_2017_9_df = JNorth_Egg_Site_2017_month_df[JNorth_Egg_Site_2017_month_df['month']==9]
JNorth_Egg_Site_2017_9_df.tail()

     sighting_date              species  latitude  longitude  number  month
4319    2017-09-29  Monarch Egg Sighted    35.740    -78.830      13      9
4320    2017-09-29  Monarch Egg Sighted    38.232   -122.637      18      9
4321    2017-09-30  Monarch Egg Sighted    32.650    -83.666     100      9
4322    2017-09-30  Monarch Egg Sighted    35.653    -97.478       6      9
4323    2017-09-30  Monarch Egg Sighted    35.740    -78.830      10      9

In [243]:
JNorth_Egg_Site_2017_9_df.shape

(148, 6)

In [244]:
JNorth_Egg_Site_2017_9_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [245]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2017_9_df['latitude'] = JNorth_Egg_Site_2017_9_df['latitude'].astype(float)
JNorth_Egg_Site_2017_9_df['longitude'] = JNorth_Egg_Site_2017_9_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [246]:
geojson = df_to_geojson(JNorth_Egg_Site_2017_9_df, cols)

In [247]:
file = open("JNorth_Egg_Site_2017_9.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## October

In [248]:
JNorth_Egg_Site_2017_month_df =pd.DataFrame(JNorth_Egg_Site_2017_df)
JNorth_Egg_Site_2017_10_df = JNorth_Egg_Site_2017_month_df[JNorth_Egg_Site_2017_month_df['month']==10]
JNorth_Egg_Site_2017_10_df.tail()

     sighting_date              species  latitude  longitude  number  month
4370    2017-10-27  Monarch Egg Sighted    30.402    -86.445       7     10
4371    2017-10-28  Monarch Egg Sighted    37.291   -121.967       3     10
4372    2017-10-30  Monarch Egg Sighted    38.231   -122.638       5     10
4373    2017-10-31  Monarch Egg Sighted    25.983    -80.382      25     10
4374    2017-10-31  Monarch Egg Sighted    38.232   -122.637       5     10

In [249]:
JNorth_Egg_Site_2017_10_df.shape

(51, 6)

In [250]:
JNorth_Egg_Site_2017_10_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [251]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2017_10_df['latitude'] = JNorth_Egg_Site_2017_10_df['latitude'].astype(float)
JNorth_Egg_Site_2017_10_df['longitude'] = JNorth_Egg_Site_2017_10_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [252]:
geojson = df_to_geojson(JNorth_Egg_Site_2017_10_df, cols)

In [253]:
file = open("JNorth_Egg_Site_2017_10.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## November

In [254]:
JNorth_Egg_Site_2017_month_df =pd.DataFrame(JNorth_Egg_Site_2017_df)
JNorth_Egg_Site_2017_11_df = JNorth_Egg_Site_2017_month_df[JNorth_Egg_Site_2017_month_df['month']==11]
JNorth_Egg_Site_2017_11_df.tail()

     sighting_date              species  latitude  longitude  number  month
4383    2017-11-14  Monarch Egg Sighted    30.402    -86.445       5     11
4384    2017-11-17  Monarch Egg Sighted    30.414    -86.625       5     11
4385    2017-11-18  Monarch Egg Sighted    29.620    -95.635      20     11
4386    2017-11-25  Monarch Egg Sighted    30.020    -95.521       3     11
4387    2017-11-30  Monarch Egg Sighted    33.798   -118.114       4     11

In [255]:
JNorth_Egg_Site_2017_11_df.shape

(13, 6)

In [256]:
JNorth_Egg_Site_2017_11_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [257]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2017_11_df['latitude'] = JNorth_Egg_Site_2017_11_df['latitude'].astype(float)
JNorth_Egg_Site_2017_11_df['longitude'] = JNorth_Egg_Site_2017_11_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [258]:
geojson = df_to_geojson(JNorth_Egg_Site_2017_11_df, cols)

In [259]:
file = open("JNorth_Egg_Site_2017_11.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## December

In [260]:
JNorth_Egg_Site_2017_month_df =pd.DataFrame(JNorth_Egg_Site_2017_df)
JNorth_Egg_Site_2017_12_df = JNorth_Egg_Site_2017_month_df[JNorth_Egg_Site_2017_month_df['month']==12]
JNorth_Egg_Site_2017_12_df.tail()

     sighting_date              species  latitude  longitude  number  month
4388    2017-12-03  Monarch Egg Sighted    28.392    -96.841       3     12
4389    2017-12-15  Monarch Egg Sighted    29.914    -90.053       7     12
4390    2017-12-18  Monarch Egg Sighted    29.914    -90.053       9     12
4391    2017-12-19  Monarch Egg Sighted    29.914    -90.053       1     12
4392    2017-12-25  Monarch Egg Sighted    38.675   -121.873       1     12

In [261]:
JNorth_Egg_Site_2017_12_df.shape

(5, 6)

In [262]:
JNorth_Egg_Site_2017_12_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [263]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2017_12_df['latitude'] = JNorth_Egg_Site_2017_12_df['latitude'].astype(float)
JNorth_Egg_Site_2017_12_df['longitude'] = JNorth_Egg_Site_2017_12_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [264]:
geojson = df_to_geojson(JNorth_Egg_Site_2017_12_df, cols)

In [265]:
file = open("JNorth_Egg_Site_2017_12.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# 2018

In [266]:
JNorth_Egg_Site_2018_df = JNorth_Egg_Site_year_df[JNorth_Egg_Site_year_df['year']==2018]
JNorth_Egg_Site_2018_df.tail()

     sighting_date              species  latitude  longitude  number  year
5960    2018-11-24  Monarch Egg Sighted    29.502    -95.094       4  2018
5961    2018-11-26  Monarch Egg Sighted    28.585    -81.350       4  2018
5962    2018-12-04  Monarch Egg Sighted    27.651    -97.298      12  2018
5963    2018-12-06  Monarch Egg Sighted    27.465    -82.590       5  2018
5964    2018-12-27  Monarch Egg Sighted    29.703    -95.789       8  2018

In [267]:
JNorth_Egg_Site_2018_df.shape

(1572, 6)

In [268]:
JNorth_Egg_Site_2018_df.drop(['year'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [269]:
JNorth_Egg_Site_2018_df.tail

<bound method NDFrame.tail of      sighting_date              species  latitude  longitude  number
4393    2018-02-14  Monarch Egg Sighted    28.240    -82.449       1
4394    2018-02-17  Monarch Egg Sighted    28.703    -81.338       2
4395    2018-02-19  Monarch Egg Sighted    25.983    -80.382       6
4396    2018-02-23  Monarch Egg Sighted    29.001    -82.151      27
4397    2018-02-24  Monarch Egg Sighted    29.641    -95.667      10
...            ...                  ...       ...        ...     ...
5960    2018-11-24  Monarch Egg Sighted    29.502    -95.094       4
5961    2018-11-26  Monarch Egg Sighted    28.585    -81.350       4
5962    2018-12-04  Monarch Egg Sighted    27.651    -97.298      12
5963    2018-12-06  Monarch Egg Sighted    27.465    -82.590       5
5964    2018-12-27  Monarch Egg Sighted    29.703    -95.789       8

[1572 rows x 5 columns]>

In [270]:
JNorth_Egg_Site_2018_df['month'] = pd.DatetimeIndex(JNorth_Egg_Site_2018_df['sighting_date']).month

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## January

In [271]:
JNorth_Egg_Site_2018_month_df =pd.DataFrame(JNorth_Egg_Site_2018_df)
JNorth_Egg_Site_2018_1_df = JNorth_Egg_Site_2018_month_df[JNorth_Egg_Site_2018_month_df['month']==1]
JNorth_Egg_Site_2018_1_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [272]:
JNorth_Egg_Site_2018_1_df.shape

(0, 6)

In [273]:
JNorth_Egg_Site_2018_1_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [274]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2018_1_df['latitude'] = JNorth_Egg_Site_2018_1_df['latitude'].astype(float)
JNorth_Egg_Site_2018_1_df['longitude'] = JNorth_Egg_Site_2018_1_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [275]:
geojson = df_to_geojson(JNorth_Egg_Site_2018_1_df, cols)

In [276]:
file = open("JNorth_Egg_Site_2018_1.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## February

In [277]:
JNorth_Egg_Site_2018_month_df =pd.DataFrame(JNorth_Egg_Site_2018_df)
JNorth_Egg_Site_2018_2_df = JNorth_Egg_Site_2018_month_df[JNorth_Egg_Site_2018_month_df['month']==2]
JNorth_Egg_Site_2018_2_df.tail()

     sighting_date              species  latitude  longitude  number  month
4393    2018-02-14  Monarch Egg Sighted    28.240    -82.449       1      2
4394    2018-02-17  Monarch Egg Sighted    28.703    -81.338       2      2
4395    2018-02-19  Monarch Egg Sighted    25.983    -80.382       6      2
4396    2018-02-23  Monarch Egg Sighted    29.001    -82.151      27      2
4397    2018-02-24  Monarch Egg Sighted    29.641    -95.667      10      2

In [278]:
JNorth_Egg_Site_2018_2_df.shape

(5, 6)

In [279]:
JNorth_Egg_Site_2018_2_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [280]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2018_2_df['latitude'] = JNorth_Egg_Site_2018_2_df['latitude'].astype(float)
JNorth_Egg_Site_2018_2_df['longitude'] = JNorth_Egg_Site_2018_2_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [281]:
geojson = df_to_geojson(JNorth_Egg_Site_2018_2_df, cols)

In [282]:
file = open("JNorth_Egg_Site_2018_2.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## March

In [283]:
JNorth_Egg_Site_2018_month_df =pd.DataFrame(JNorth_Egg_Site_2018_df)
JNorth_Egg_Site_2018_3_df = JNorth_Egg_Site_2018_month_df[JNorth_Egg_Site_2018_month_df['month']==3]
JNorth_Egg_Site_2018_3_df.tail()

     sighting_date              species  latitude  longitude  number  month
4417    2018-03-29  Monarch Egg Sighted    33.192    -94.354       1      3
4418    2018-03-30  Monarch Egg Sighted    31.511    -87.896       1      3
4419    2018-03-31  Monarch Egg Sighted    32.792   -117.232      30      3
4420    2018-03-31  Monarch Egg Sighted    32.808    -96.604       6      3
4421    2018-03-31  Monarch Egg Sighted    32.931    -96.460       6      3

In [284]:
JNorth_Egg_Site_2018_3_df.shape

(24, 6)

In [285]:
JNorth_Egg_Site_2018_3_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [286]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2018_3_df['latitude'] = JNorth_Egg_Site_2018_3_df['latitude'].astype(float)
JNorth_Egg_Site_2018_3_df['longitude'] = JNorth_Egg_Site_2018_3_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [287]:
geojson = df_to_geojson(JNorth_Egg_Site_2018_3_df, cols)

In [288]:
file = open("JNorth_Egg_Site_2018_3.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## April

In [289]:
JNorth_Egg_Site_2018_month_df =pd.DataFrame(JNorth_Egg_Site_2018_df)
JNorth_Egg_Site_2018_4_df = JNorth_Egg_Site_2018_month_df[JNorth_Egg_Site_2018_month_df['month']==4]
JNorth_Egg_Site_2018_4_df.tail()

     sighting_date              species  latitude  longitude  number  month
4493    2018-04-26  Monarch Egg Sighted    33.203    -96.943       1      4
4494    2018-04-27  Monarch Egg Sighted    33.203    -96.940       1      4
4495    2018-04-29  Monarch Egg Sighted    33.203    -96.942       1      4
4496    2018-04-30  Monarch Egg Sighted    36.043    -95.896       4      4
4497    2018-04-30  Monarch Egg Sighted    37.137    -76.536       1      4

In [290]:
JNorth_Egg_Site_2018_4_df.shape

(76, 6)

In [291]:
JNorth_Egg_Site_2018_4_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [292]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2018_4_df['latitude'] = JNorth_Egg_Site_2018_4_df['latitude'].astype(float)
JNorth_Egg_Site_2018_4_df['longitude'] = JNorth_Egg_Site_2018_4_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [293]:
geojson = df_to_geojson(JNorth_Egg_Site_2018_4_df, cols)

In [294]:
file = open("JNorth_Egg_Site_2018_4.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## May

In [295]:
JNorth_Egg_Site_2018_month_df =pd.DataFrame(JNorth_Egg_Site_2018_df)
JNorth_Egg_Site_2018_5_df = JNorth_Egg_Site_2018_month_df[JNorth_Egg_Site_2018_month_df['month']==5]
JNorth_Egg_Site_2018_5_df.tail()

     sighting_date              species  latitude  longitude  number  month
4630    2018-05-31  Monarch Egg Sighted    42.991    -87.949       4      5
4631    2018-05-31  Monarch Egg Sighted    43.925    -79.808       3      5
4632    2018-05-31  Monarch Egg Sighted    44.765    -87.943       2      5
4633    2018-05-31  Monarch Egg Sighted    44.926    -93.404       2      5
4634    2018-05-31  Monarch Egg Sighted    45.079    -93.161       4      5

In [296]:
JNorth_Egg_Site_2018_5_df.shape

(137, 6)

In [297]:
JNorth_Egg_Site_2018_5_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [298]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2018_5_df['latitude'] = JNorth_Egg_Site_2018_5_df['latitude'].astype(float)
JNorth_Egg_Site_2018_5_df['longitude'] = JNorth_Egg_Site_2018_5_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [299]:
geojson = df_to_geojson(JNorth_Egg_Site_2018_5_df, cols)

In [300]:
file = open("JNorth_Egg_Site_2018_5.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## June

In [301]:
JNorth_Egg_Site_2018_month_df =pd.DataFrame(JNorth_Egg_Site_2018_df)
JNorth_Egg_Site_2018_6_df = JNorth_Egg_Site_2018_month_df[JNorth_Egg_Site_2018_month_df['month']==6]
JNorth_Egg_Site_2018_6_df.tail()

     sighting_date              species  latitude  longitude  number  month
4798    2018-06-30  Monarch Egg Sighted    42.496    -96.405      13      6
4799    2018-06-30  Monarch Egg Sighted    43.038    -87.916      21      6
4800    2018-06-30  Monarch Egg Sighted    43.378    -76.657       3      6
4801    2018-06-30  Monarch Egg Sighted    43.620    -79.500      12      6
4802    2018-06-30  Monarch Egg Sighted    43.622    -79.503      60      6

In [302]:
JNorth_Egg_Site_2018_6_df.shape

(168, 6)

In [303]:
JNorth_Egg_Site_2018_6_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [304]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2018_6_df['latitude'] = JNorth_Egg_Site_2018_6_df['latitude'].astype(float)
JNorth_Egg_Site_2018_6_df['longitude'] = JNorth_Egg_Site_2018_6_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [305]:
geojson = df_to_geojson(JNorth_Egg_Site_2018_6_df, cols)

In [306]:
file = open("JNorth_Egg_Site_2018_6.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## July

In [307]:
JNorth_Egg_Site_2018_month_df =pd.DataFrame(JNorth_Egg_Site_2018_df)
JNorth_Egg_Site_2018_7_df = JNorth_Egg_Site_2018_month_df[JNorth_Egg_Site_2018_month_df['month']==7]
JNorth_Egg_Site_2018_7_df.tail()

     sighting_date              species  latitude  longitude  number  month
5134    2018-07-31  Monarch Egg Sighted    36.152    -95.896       3      7
5135    2018-07-31  Monarch Egg Sighted    39.437    -77.566       6      7
5136    2018-07-31  Monarch Egg Sighted    39.786    -77.373       4      7
5137    2018-07-31  Monarch Egg Sighted    43.195    -71.691      25      7
5138    2018-07-31  Monarch Egg Sighted    45.039    -93.185       3      7

In [308]:
JNorth_Egg_Site_2018_7_df.shape

(336, 6)

In [309]:
JNorth_Egg_Site_2018_7_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [310]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2018_7_df['latitude'] = JNorth_Egg_Site_2018_7_df['latitude'].astype(float)
JNorth_Egg_Site_2018_7_df['longitude'] = JNorth_Egg_Site_2018_7_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [311]:
geojson = df_to_geojson(JNorth_Egg_Site_2018_7_df, cols)

In [312]:
file = open("JNorth_Egg_Site_2018_7.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## August

In [313]:
JNorth_Egg_Site_2018_month_df =pd.DataFrame(JNorth_Egg_Site_2018_df)
JNorth_Egg_Site_2018_8_df = JNorth_Egg_Site_2018_month_df[JNorth_Egg_Site_2018_month_df['month']==8]
JNorth_Egg_Site_2018_8_df.tail()

     sighting_date              species  latitude  longitude  number  month
5691    2018-08-31  Monarch Egg Sighted    39.738    -85.572       2      8
5692    2018-08-31  Monarch Egg Sighted    41.542    -73.952       3      8
5693    2018-08-31  Monarch Egg Sighted    41.946    -87.707       2      8
5694    2018-08-31  Monarch Egg Sighted    42.020    -93.629       2      8
5695    2018-08-31  Monarch Egg Sighted    44.916    -93.316       1      8

In [314]:
JNorth_Egg_Site_2018_8_df.shape

(557, 6)

In [315]:
JNorth_Egg_Site_2018_8_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [316]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2018_8_df['latitude'] = JNorth_Egg_Site_2018_8_df['latitude'].astype(float)
JNorth_Egg_Site_2018_8_df['longitude'] = JNorth_Egg_Site_2018_8_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [317]:
geojson = df_to_geojson(JNorth_Egg_Site_2018_8_df, cols)

In [318]:
file = open("JNorth_Egg_Site_2018_8.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## September

In [319]:
JNorth_Egg_Site_2018_month_df =pd.DataFrame(JNorth_Egg_Site_2018_df)
JNorth_Egg_Site_2018_9_df = JNorth_Egg_Site_2018_month_df[JNorth_Egg_Site_2018_month_df['month']==9]
JNorth_Egg_Site_2018_9_df.tail()

     sighting_date              species  latitude  longitude  number  month
5902    2018-09-29  Monarch Egg Sighted    39.724    -74.134       4      9
5903    2018-09-30  Monarch Egg Sighted    29.494    -95.153       2      9
5904    2018-09-30  Monarch Egg Sighted    36.870    -94.839       3      9
5905    2018-09-30  Monarch Egg Sighted    38.232   -122.637       8      9
5906    2018-09-30  Monarch Egg Sighted    41.354    -71.966       4      9

In [320]:
JNorth_Egg_Site_2018_9_df.shape

(211, 6)

In [321]:
JNorth_Egg_Site_2018_9_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [322]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2018_9_df['latitude'] = JNorth_Egg_Site_2018_9_df['latitude'].astype(float)
JNorth_Egg_Site_2018_9_df['longitude'] = JNorth_Egg_Site_2018_9_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [323]:
geojson = df_to_geojson(JNorth_Egg_Site_2018_9_df, cols)

In [324]:
file = open("JNorth_Egg_Site_2018_9.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## October

In [325]:
JNorth_Egg_Site_2018_month_df =pd.DataFrame(JNorth_Egg_Site_2018_df)
JNorth_Egg_Site_2018_10_df = JNorth_Egg_Site_2018_month_df[JNorth_Egg_Site_2018_month_df['month']==10]
JNorth_Egg_Site_2018_10_df.tail()

     sighting_date              species  latitude  longitude  number  month
5949    2018-10-28  Monarch Egg Sighted    30.298    -97.802      28     10
5950    2018-10-29  Monarch Egg Sighted    29.362    -98.436       1     10
5951    2018-10-30  Monarch Egg Sighted    29.383    -98.451      16     10
5952    2018-10-30  Monarch Egg Sighted    30.298    -97.802      81     10
5953    2018-10-31  Monarch Egg Sighted    33.241   -117.158     150     10

In [326]:
JNorth_Egg_Site_2018_10_df.shape

(47, 6)

In [327]:
JNorth_Egg_Site_2018_10_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [328]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2018_10_df['latitude'] = JNorth_Egg_Site_2018_10_df['latitude'].astype(float)
JNorth_Egg_Site_2018_10_df['longitude'] = JNorth_Egg_Site_2018_10_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [329]:
geojson = df_to_geojson(JNorth_Egg_Site_2018_10_df, cols)

In [330]:
file = open("JNorth_Egg_Site_2018_10.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## November

In [331]:
JNorth_Egg_Site_2018_month_df =pd.DataFrame(JNorth_Egg_Site_2018_df)
JNorth_Egg_Site_2018_11_df = JNorth_Egg_Site_2018_month_df[JNorth_Egg_Site_2018_month_df['month']==11]
JNorth_Egg_Site_2018_11_df.tail()

     sighting_date              species  latitude  longitude  number  month
5957    2018-11-03  Monarch Egg Sighted    32.814    -79.874      20     11
5958    2018-11-06  Monarch Egg Sighted    30.298    -97.802      29     11
5959    2018-11-11  Monarch Egg Sighted    30.413    -87.437      22     11
5960    2018-11-24  Monarch Egg Sighted    29.502    -95.094       4     11
5961    2018-11-26  Monarch Egg Sighted    28.585    -81.350       4     11

In [332]:
JNorth_Egg_Site_2018_11_df.shape

(8, 6)

In [333]:
JNorth_Egg_Site_2018_11_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [334]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2018_11_df['latitude'] = JNorth_Egg_Site_2018_11_df['latitude'].astype(float)
JNorth_Egg_Site_2018_11_df['longitude'] = JNorth_Egg_Site_2018_11_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [335]:
geojson = df_to_geojson(JNorth_Egg_Site_2018_11_df, cols)

In [336]:
file = open("JNorth_Egg_Site_2018_11.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## December

In [337]:
JNorth_Egg_Site_2018_month_df =pd.DataFrame(JNorth_Egg_Site_2018_df)
JNorth_Egg_Site_2018_12_df = JNorth_Egg_Site_2018_month_df[JNorth_Egg_Site_2018_month_df['month']==12]
JNorth_Egg_Site_2018_12_df.tail()

     sighting_date              species  latitude  longitude  number  month
5962    2018-12-04  Monarch Egg Sighted    27.651    -97.298      12     12
5963    2018-12-06  Monarch Egg Sighted    27.465    -82.590       5     12
5964    2018-12-27  Monarch Egg Sighted    29.703    -95.789       8     12

In [338]:
JNorth_Egg_Site_2018_12_df.shape

(3, 6)

In [339]:
JNorth_Egg_Site_2018_12_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [340]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2018_12_df['latitude'] = JNorth_Egg_Site_2018_12_df['latitude'].astype(float)
JNorth_Egg_Site_2018_12_df['longitude'] = JNorth_Egg_Site_2018_12_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [341]:
geojson = df_to_geojson(JNorth_Egg_Site_2018_12_df, cols)

In [342]:
file = open("JNorth_Egg_Site_2018_12.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# 2019

In [343]:
JNorth_Egg_Site_2019_df = JNorth_Egg_Site_year_df[JNorth_Egg_Site_year_df['year']==2019]
JNorth_Egg_Site_2019_df.tail()

     sighting_date              species  latitude  longitude  number  year
7213    2019-12-01  Monarch Egg Sighted    29.295    -94.808       9  2019
7214    2019-12-01  Monarch Egg Sighted    32.223   -110.975       1  2019
7215    2019-12-03  Monarch Egg Sighted    29.292    -94.801       9  2019
7216    2019-12-05  Monarch Egg Sighted    29.588    -95.579       1  2019
7217    2019-12-16  Monarch Egg Sighted    28.000    -82.752       1  2019

In [344]:
JNorth_Egg_Site_2019_df.shape

(1253, 6)

In [345]:
JNorth_Egg_Site_2019_df.drop(['year'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [346]:
JNorth_Egg_Site_2019_df.tail

<bound method NDFrame.tail of      sighting_date              species  latitude  longitude  number
5965    2019-01-24  Monarch Egg Sighted    29.799    -95.556      40
5966    2019-02-04  Monarch Egg Sighted    27.651    -97.298      20
5967    2019-02-07  Monarch Egg Sighted    27.447    -80.326      25
5968    2019-02-11  Monarch Egg Sighted    27.858    -81.430       2
5969    2019-02-14  Monarch Egg Sighted    30.148    -81.667       2
...            ...                  ...       ...        ...     ...
7213    2019-12-01  Monarch Egg Sighted    29.295    -94.808       9
7214    2019-12-01  Monarch Egg Sighted    32.223   -110.975       1
7215    2019-12-03  Monarch Egg Sighted    29.292    -94.801       9
7216    2019-12-05  Monarch Egg Sighted    29.588    -95.579       1
7217    2019-12-16  Monarch Egg Sighted    28.000    -82.752       1

[1253 rows x 5 columns]>

In [347]:
JNorth_Egg_Site_2019_df['month'] = pd.DatetimeIndex(JNorth_Egg_Site_2019_df['sighting_date']).month

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## January

In [348]:
JNorth_Egg_Site_2019_month_df =pd.DataFrame(JNorth_Egg_Site_2019_df)
JNorth_Egg_Site_2019_1_df = JNorth_Egg_Site_2019_month_df[JNorth_Egg_Site_2019_month_df['month']==1]
JNorth_Egg_Site_2019_1_df.tail()

     sighting_date              species  latitude  longitude  number  month
5965    2019-01-24  Monarch Egg Sighted    29.799    -95.556      40      1

In [349]:
JNorth_Egg_Site_2019_1_df.shape

(1, 6)

In [350]:
JNorth_Egg_Site_2019_1_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [351]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2019_1_df['latitude'] = JNorth_Egg_Site_2019_1_df['latitude'].astype(float)
JNorth_Egg_Site_2019_1_df['longitude'] = JNorth_Egg_Site_2019_1_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [352]:
geojson = df_to_geojson(JNorth_Egg_Site_2019_1_df, cols)

In [353]:
file = open("JNorth_Egg_Site_2019_1.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## February

In [354]:
JNorth_Egg_Site_2019_month_df =pd.DataFrame(JNorth_Egg_Site_2019_df)
JNorth_Egg_Site_2019_2_df = JNorth_Egg_Site_2019_month_df[JNorth_Egg_Site_2019_month_df['month']==2]
JNorth_Egg_Site_2019_2_df.tail()

     sighting_date              species  latitude  longitude  number  month
5973    2019-02-23  Monarch Egg Sighted    27.651    -97.298       3      2
5974    2019-02-26  Monarch Egg Sighted    27.651    -97.298      10      2
5975    2019-02-27  Monarch Egg Sighted    30.412    -88.833       4      2
5976    2019-02-27  Monarch Egg Sighted    30.416    -88.808       1      2
5977    2019-02-28  Monarch Egg Sighted    20.290   -103.219       3      2

In [355]:
JNorth_Egg_Site_2019_2_df.shape

(12, 6)

In [356]:
JNorth_Egg_Site_2019_2_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [357]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2019_2_df['latitude'] = JNorth_Egg_Site_2019_2_df['latitude'].astype(float)
JNorth_Egg_Site_2019_2_df['longitude'] = JNorth_Egg_Site_2019_2_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [358]:
geojson = df_to_geojson(JNorth_Egg_Site_2019_2_df, cols)

In [359]:
file = open("JNorth_Egg_Site_2019_2.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## March

In [360]:
JNorth_Egg_Site_2019_month_df =pd.DataFrame(JNorth_Egg_Site_2019_df)
JNorth_Egg_Site_2019_3_df = JNorth_Egg_Site_2019_month_df[JNorth_Egg_Site_2019_month_df['month']==3]
JNorth_Egg_Site_2019_3_df.tail()

     sighting_date              species  latitude  longitude  number  month
6019    2019-03-28  Monarch Egg Sighted    29.728    -98.650      35      3
6020    2019-03-28  Monarch Egg Sighted    30.371    -95.816     446      3
6021    2019-03-29  Monarch Egg Sighted    30.407    -91.090      24      3
6022    2019-03-31  Monarch Egg Sighted    32.623   -117.070       4      3
6023    2019-03-31  Monarch Egg Sighted    33.678   -116.295       1      3

In [361]:
JNorth_Egg_Site_2019_3_df.shape

(46, 6)

In [362]:
JNorth_Egg_Site_2019_3_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [363]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2019_3_df['latitude'] = JNorth_Egg_Site_2019_3_df['latitude'].astype(float)
JNorth_Egg_Site_2019_3_df['longitude'] = JNorth_Egg_Site_2019_3_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [364]:
geojson = df_to_geojson(JNorth_Egg_Site_2019_3_df, cols)

In [365]:
file = open("JNorth_Egg_Site_2019_3.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## April

In [366]:
JNorth_Egg_Site_2019_month_df =pd.DataFrame(JNorth_Egg_Site_2019_df)
JNorth_Egg_Site_2019_4_df = JNorth_Egg_Site_2019_month_df[JNorth_Egg_Site_2019_month_df['month']==4]
JNorth_Egg_Site_2019_4_df.tail()

     sighting_date              species  latitude  longitude  number  month
6072    2019-04-28  Monarch Egg Sighted    35.436    -82.322      33      4
6073    2019-04-29  Monarch Egg Sighted    35.436    -82.322      70      4
6074    2019-04-30  Monarch Egg Sighted    32.641   -117.084      24      4
6075    2019-04-30  Monarch Egg Sighted    34.012   -118.471       3      4
6076    2019-04-30  Monarch Egg Sighted    35.431    -82.501      22      4

In [367]:
JNorth_Egg_Site_2019_4_df.shape

(53, 6)

In [368]:
JNorth_Egg_Site_2019_4_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [369]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2019_4_df['latitude'] = JNorth_Egg_Site_2019_4_df['latitude'].astype(float)
JNorth_Egg_Site_2019_4_df['longitude'] = JNorth_Egg_Site_2019_4_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [370]:
geojson = df_to_geojson(JNorth_Egg_Site_2019_4_df, cols)

In [371]:
file = open("JNorth_Egg_Site_2019_4.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## May

In [372]:
JNorth_Egg_Site_2019_month_df =pd.DataFrame(JNorth_Egg_Site_2019_df)
JNorth_Egg_Site_2019_5_df = JNorth_Egg_Site_2019_month_df[JNorth_Egg_Site_2019_month_df['month']==5]
JNorth_Egg_Site_2019_5_df.tail()

     sighting_date              species  latitude  longitude  number  month
6212    2019-05-31  Monarch Egg Sighted    42.065    -87.722      20      5
6213    2019-05-31  Monarch Egg Sighted    42.580    -88.339       7      5
6214    2019-05-31  Monarch Egg Sighted    42.870    -85.645      16      5
6215    2019-05-31  Monarch Egg Sighted    44.817    -93.402       4      5
6216    2019-05-31  Monarch Egg Sighted    44.963    -91.297       4      5

In [373]:
JNorth_Egg_Site_2019_5_df.shape

(140, 6)

In [374]:
JNorth_Egg_Site_2019_5_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [375]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2019_5_df['latitude'] = JNorth_Egg_Site_2019_5_df['latitude'].astype(float)
JNorth_Egg_Site_2019_5_df['longitude'] = JNorth_Egg_Site_2019_5_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [376]:
geojson = df_to_geojson(JNorth_Egg_Site_2019_5_df, cols)

In [377]:
file = open("JNorth_Egg_Site_2019_5.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## June

In [378]:
JNorth_Egg_Site_2019_month_df =pd.DataFrame(JNorth_Egg_Site_2019_df)
JNorth_Egg_Site_2019_6_df = JNorth_Egg_Site_2019_month_df[JNorth_Egg_Site_2019_month_df['month']==6]
JNorth_Egg_Site_2019_6_df.tail()

     sighting_date              species  latitude  longitude  number  month
6359    2019-06-29  Monarch Egg Sighted    42.031    -93.632      13      6
6360    2019-06-30  Monarch Egg Sighted    38.550    -90.333       9      6
6361    2019-06-30  Monarch Egg Sighted    39.770    -75.080       5      6
6362    2019-06-30  Monarch Egg Sighted    40.345    -87.040       1      6
6363    2019-06-30  Monarch Egg Sighted    41.067    -73.466      10      6

In [379]:
JNorth_Egg_Site_2019_6_df.shape

(147, 6)

In [380]:
JNorth_Egg_Site_2019_6_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [381]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2019_6_df['latitude'] = JNorth_Egg_Site_2019_6_df['latitude'].astype(float)
JNorth_Egg_Site_2019_6_df['longitude'] = JNorth_Egg_Site_2019_6_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [382]:
geojson = df_to_geojson(JNorth_Egg_Site_2019_6_df, cols)

In [383]:
file = open("JNorth_Egg_Site_2019_6.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## July

In [384]:
JNorth_Egg_Site_2019_month_df =pd.DataFrame(JNorth_Egg_Site_2019_df)
JNorth_Egg_Site_2019_7_df = JNorth_Egg_Site_2019_month_df[JNorth_Egg_Site_2019_month_df['month']==7]
JNorth_Egg_Site_2019_7_df.tail()

     sighting_date              species  latitude  longitude  number  month
6569    2019-07-31  Monarch Egg Sighted    36.076    -94.165       3      7
6570    2019-07-31  Monarch Egg Sighted    38.390    -85.774      10      7
6571    2019-07-31  Monarch Egg Sighted    38.595    -90.546       4      7
6572    2019-07-31  Monarch Egg Sighted    40.345    -87.040       3      7
6573    2019-07-31  Monarch Egg Sighted    41.617    -73.707      34      7

In [385]:
JNorth_Egg_Site_2019_7_df.shape

(210, 6)

In [386]:
JNorth_Egg_Site_2019_7_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [387]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2019_7_df['latitude'] = JNorth_Egg_Site_2019_7_df['latitude'].astype(float)
JNorth_Egg_Site_2019_7_df['longitude'] = JNorth_Egg_Site_2019_7_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [388]:
geojson = df_to_geojson(JNorth_Egg_Site_2019_7_df, cols)

In [389]:
file = open("JNorth_Egg_Site_2019_7.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## August

In [390]:
JNorth_Egg_Site_2019_month_df =pd.DataFrame(JNorth_Egg_Site_2019_df)
JNorth_Egg_Site_2019_8_df = JNorth_Egg_Site_2019_month_df[JNorth_Egg_Site_2019_month_df['month']==8]
JNorth_Egg_Site_2019_8_df.tail()

     sighting_date              species  latitude  longitude  number  month
6980    2019-08-31  Monarch Egg Sighted    37.341    -77.459     100      8
6981    2019-08-31  Monarch Egg Sighted    38.396    -76.484       3      8
6982    2019-08-31  Monarch Egg Sighted    39.504    -84.769       3      8
6983    2019-08-31  Monarch Egg Sighted    40.345    -87.040       5      8
6984    2019-08-31  Monarch Egg Sighted    41.950    -73.996       7      8

In [391]:
JNorth_Egg_Site_2019_8_df.shape

(411, 6)

In [392]:
JNorth_Egg_Site_2019_8_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [393]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2019_8_df['latitude'] = JNorth_Egg_Site_2019_8_df['latitude'].astype(float)
JNorth_Egg_Site_2019_8_df['longitude'] = JNorth_Egg_Site_2019_8_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [394]:
geojson = df_to_geojson(JNorth_Egg_Site_2019_8_df, cols)

In [395]:
file = open("JNorth_Egg_Site_2019_8.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## September

In [396]:
JNorth_Egg_Site_2019_month_df =pd.DataFrame(JNorth_Egg_Site_2019_df)
JNorth_Egg_Site_2019_9_df = JNorth_Egg_Site_2019_month_df[JNorth_Egg_Site_2019_month_df['month']==9]
JNorth_Egg_Site_2019_9_df.tail()

     sighting_date              species  latitude  longitude  number  month
7153    2019-09-26  Monarch Egg Sighted    39.273    -94.920       4      9
7154    2019-09-27  Monarch Egg Sighted    34.951    -94.637      18      9
7155    2019-09-27  Monarch Egg Sighted    35.985    -95.786       5      9
7156    2019-09-30  Monarch Egg Sighted    37.358    -77.442      50      9
7157    2019-09-30  Monarch Egg Sighted    38.983    -94.756       1      9

In [397]:
JNorth_Egg_Site_2019_9_df.shape

(173, 6)

In [398]:
JNorth_Egg_Site_2019_9_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [399]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2019_9_df['latitude'] = JNorth_Egg_Site_2019_9_df['latitude'].astype(float)
JNorth_Egg_Site_2019_9_df['longitude'] = JNorth_Egg_Site_2019_9_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [400]:
geojson = df_to_geojson(JNorth_Egg_Site_2019_9_df, cols)

In [401]:
file = open("JNorth_Egg_Site_2019_9.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## October

In [402]:
JNorth_Egg_Site_2019_month_df =pd.DataFrame(JNorth_Egg_Site_2019_df)
JNorth_Egg_Site_2019_10_df = JNorth_Egg_Site_2019_month_df[JNorth_Egg_Site_2019_month_df['month']==10]
JNorth_Egg_Site_2019_10_df.tail()

     sighting_date              species  latitude  longitude  number  month
7201    2019-10-25  Monarch Egg Sighted    32.368   -110.987       4     10
7202    2019-10-26  Monarch Egg Sighted    33.374   -111.908      25     10
7203    2019-10-28  Monarch Egg Sighted    29.459    -98.458       3     10
7204    2019-10-29  Monarch Egg Sighted    29.459    -98.459      25     10
7205    2019-10-31  Monarch Egg Sighted    33.560    -81.720       2     10

In [403]:
JNorth_Egg_Site_2019_10_df.shape

(48, 6)

In [404]:
JNorth_Egg_Site_2019_10_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [405]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2019_10_df['latitude'] = JNorth_Egg_Site_2019_10_df['latitude'].astype(float)
JNorth_Egg_Site_2019_10_df['longitude'] = JNorth_Egg_Site_2019_10_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [406]:
geojson = df_to_geojson(JNorth_Egg_Site_2019_10_df, cols)

In [407]:
file = open("JNorth_Egg_Site_2019_10.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## November

In [408]:
JNorth_Egg_Site_2019_month_df =pd.DataFrame(JNorth_Egg_Site_2019_df)
JNorth_Egg_Site_2019_11_df = JNorth_Egg_Site_2019_month_df[JNorth_Egg_Site_2019_month_df['month']==11]
JNorth_Egg_Site_2019_11_df.tail()

     sighting_date              species  latitude  longitude  number  month
7208    2019-11-08  Monarch Egg Sighted    29.876    -95.525       1     11
7209    2019-11-08  Monarch Egg Sighted    37.390   -122.088       4     11
7210    2019-11-12  Monarch Egg Sighted    27.717    -82.672       3     11
7211    2019-11-20  Monarch Egg Sighted    28.453    -96.408      19     11
7212    2019-11-25  Monarch Egg Sighted    29.588    -95.579       1     11

In [409]:
JNorth_Egg_Site_2019_11_df.shape

(7, 6)

In [410]:
JNorth_Egg_Site_2019_11_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [411]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2019_11_df['latitude'] = JNorth_Egg_Site_2019_11_df['latitude'].astype(float)
JNorth_Egg_Site_2019_11_df['longitude'] = JNorth_Egg_Site_2019_11_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [412]:
geojson = df_to_geojson(JNorth_Egg_Site_2019_11_df, cols)

In [413]:
file = open("JNorth_Egg_Site_2019_11.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## December

In [414]:
JNorth_Egg_Site_2019_month_df =pd.DataFrame(JNorth_Egg_Site_2019_df)
JNorth_Egg_Site_2019_12_df = JNorth_Egg_Site_2019_month_df[JNorth_Egg_Site_2019_month_df['month']==12]
JNorth_Egg_Site_2019_12_df.tail()

     sighting_date              species  latitude  longitude  number  month
7213    2019-12-01  Monarch Egg Sighted    29.295    -94.808       9     12
7214    2019-12-01  Monarch Egg Sighted    32.223   -110.975       1     12
7215    2019-12-03  Monarch Egg Sighted    29.292    -94.801       9     12
7216    2019-12-05  Monarch Egg Sighted    29.588    -95.579       1     12
7217    2019-12-16  Monarch Egg Sighted    28.000    -82.752       1     12

In [415]:
JNorth_Egg_Site_2019_12_df.shape

(5, 6)

In [416]:
JNorth_Egg_Site_2019_12_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [417]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2019_12_df['latitude'] = JNorth_Egg_Site_2019_12_df['latitude'].astype(float)
JNorth_Egg_Site_2019_12_df['longitude'] = JNorth_Egg_Site_2019_12_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [418]:
geojson = df_to_geojson(JNorth_Egg_Site_2019_12_df, cols)

In [419]:
file = open("JNorth_Egg_Site_2019_12.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# 2020

In [420]:
JNorth_Egg_Site_2020_df = JNorth_Egg_Site_df[JNorth_Egg_Site_df['year']==2020]
JNorth_Egg_Site_2020_df.tail()

     sighting_date              species  latitude  longitude  number  year
8501    2020-12-29  Monarch Egg Sighted    28.000    -82.752       8  2020
8502    2020-12-30  Monarch Egg Sighted    29.548    -95.805       5  2020
8503    2020-12-31  Monarch Egg Sighted    28.384    -80.699       3  2020
8504    2020-12-31  Monarch Egg Sighted    29.421    -95.120       6  2020
8505    2020-12-31  Monarch Egg Sighted    30.166    -96.400       3  2020

In [421]:
JNorth_Egg_Site_2020_df.shape

(1288, 6)

In [422]:
JNorth_Egg_Site_2020_df.drop(['year'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [423]:
JNorth_Egg_Site_2020_df.tail

<bound method NDFrame.tail of      sighting_date              species  latitude  longitude  number
7218    2020-01-04  Monarch Egg Sighted    30.298    -97.802      74
7219    2020-01-12  Monarch Egg Sighted    28.000    -82.752       2
7220    2020-01-12  Monarch Egg Sighted    30.298    -97.802      13
7221    2020-01-16  Monarch Egg Sighted    27.953    -82.751       3
7222    2020-01-19  Monarch Egg Sighted    33.374   -111.908       2
...            ...                  ...       ...        ...     ...
8501    2020-12-29  Monarch Egg Sighted    28.000    -82.752       8
8502    2020-12-30  Monarch Egg Sighted    29.548    -95.805       5
8503    2020-12-31  Monarch Egg Sighted    28.384    -80.699       3
8504    2020-12-31  Monarch Egg Sighted    29.421    -95.120       6
8505    2020-12-31  Monarch Egg Sighted    30.166    -96.400       3

[1288 rows x 5 columns]>

In [424]:
JNorth_Egg_Site_2020_df['month'] = pd.DatetimeIndex(JNorth_Egg_Site_2020_df['sighting_date']).month

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## January

In [425]:
JNorth_Egg_Site_2020_month_df =pd.DataFrame(JNorth_Egg_Site_2020_df)
JNorth_Egg_Site_2020_1_df = JNorth_Egg_Site_2020_month_df[JNorth_Egg_Site_2020_month_df['month']==1]
JNorth_Egg_Site_2020_1_df.tail()

     sighting_date              species  latitude  longitude  number  month
7219    2020-01-12  Monarch Egg Sighted    28.000    -82.752       2      1
7220    2020-01-12  Monarch Egg Sighted    30.298    -97.802      13      1
7221    2020-01-16  Monarch Egg Sighted    27.953    -82.751       3      1
7222    2020-01-19  Monarch Egg Sighted    33.374   -111.908       2      1
7223    2020-01-29  Monarch Egg Sighted    27.966    -82.800       4      1

In [426]:
JNorth_Egg_Site_2020_1_df.shape

(6, 6)

In [427]:
JNorth_Egg_Site_2020_1_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [428]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2020_1_df['latitude'] = JNorth_Egg_Site_2020_1_df['latitude'].astype(float)
JNorth_Egg_Site_2020_1_df['longitude'] = JNorth_Egg_Site_2020_1_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [429]:
geojson = df_to_geojson(JNorth_Egg_Site_2020_1_df, cols)

In [430]:
file = open("JNorth_Egg_Site_2020_1.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# February

In [431]:
JNorth_Egg_Site_2020_month_df =pd.DataFrame(JNorth_Egg_Site_2020_df)
JNorth_Egg_Site_2020_2_df = JNorth_Egg_Site_2020_month_df[JNorth_Egg_Site_2020_month_df['month']==2]
JNorth_Egg_Site_2020_2_df.tail()

     sighting_date              species  latitude  longitude  number  month
7225    2020-02-04  Monarch Egg Sighted    31.176    -81.505      10      2
7226    2020-02-08  Monarch Egg Sighted    30.177    -85.806       4      2
7227    2020-02-12  Monarch Egg Sighted    28.450    -96.411       1      2
7228    2020-02-12  Monarch Egg Sighted    33.738   -118.003       2      2
7229    2020-02-20  Monarch Egg Sighted    29.624    -81.886      10      2

In [432]:
JNorth_Egg_Site_2020_2_df.shape

(6, 6)

In [433]:
JNorth_Egg_Site_2020_2_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [434]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2020_2_df['latitude'] = JNorth_Egg_Site_2020_2_df['latitude'].astype(float)
JNorth_Egg_Site_2020_2_df['longitude'] = JNorth_Egg_Site_2020_2_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [435]:
geojson = df_to_geojson(JNorth_Egg_Site_2020_2_df, cols)

In [436]:
file = open("JNorth_Egg_Site_2020_2.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [437]:
JNorth_Egg_Site_2020_month_df =pd.DataFrame(JNorth_Egg_Site_2020_df)
JNorth_Egg_Site_2020_3_df = JNorth_Egg_Site_2020_month_df[JNorth_Egg_Site_2020_month_df['month']==3]
JNorth_Egg_Site_2020_3_df.tail()

     sighting_date              species  latitude  longitude  number  month
7276    2020-03-29  Monarch Egg Sighted    32.721    -96.488      20      3
7277    2020-03-29  Monarch Egg Sighted    33.952    -83.358      10      3
7278    2020-03-30  Monarch Egg Sighted    31.122    -97.935       1      3
7279    2020-03-30  Monarch Egg Sighted    32.792    -96.583       3      3
7280    2020-03-31  Monarch Egg Sighted    30.016    -95.188       3      3

In [438]:
JNorth_Egg_Site_2020_3_df.shape

(51, 6)

In [439]:
JNorth_Egg_Site_2020_3_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [440]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2020_3_df['latitude'] = JNorth_Egg_Site_2020_3_df['latitude'].astype(float)
JNorth_Egg_Site_2020_3_df['longitude'] = JNorth_Egg_Site_2020_3_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [441]:
geojson = df_to_geojson(JNorth_Egg_Site_2020_3_df, cols)

In [442]:
file = open("JNorth_Egg_Site_2020_3.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [443]:
JNorth_Egg_Site_2020_month_df =pd.DataFrame(JNorth_Egg_Site_2020_df)
JNorth_Egg_Site_2020_4_df = JNorth_Egg_Site_2020_month_df[JNorth_Egg_Site_2020_month_df['month']==4]
JNorth_Egg_Site_2020_4_df.tail()

     sighting_date              species  latitude  longitude  number  month
7346    2020-04-28  Monarch Egg Sighted    36.362    -90.754       4      4
7347    2020-04-29  Monarch Egg Sighted    29.264    -95.943      24      4
7348    2020-04-29  Monarch Egg Sighted    35.468    -97.516      22      4
7349    2020-04-29  Monarch Egg Sighted    36.402    -97.894       1      4
7350    2020-04-30  Monarch Egg Sighted    35.404    -80.840      20      4

In [444]:
JNorth_Egg_Site_2020_4_df.shape

(70, 6)

In [445]:
JNorth_Egg_Site_2020_4_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [446]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2020_4_df['latitude'] = JNorth_Egg_Site_2020_4_df['latitude'].astype(float)
JNorth_Egg_Site_2020_4_df['longitude'] = JNorth_Egg_Site_2020_4_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [447]:
geojson = df_to_geojson(JNorth_Egg_Site_2020_4_df, cols)

In [448]:
file = open("JNorth_Egg_Site_2020_4.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [449]:
JNorth_Egg_Site_2020_month_df =pd.DataFrame(JNorth_Egg_Site_2020_df)
JNorth_Egg_Site_2020_5_df = JNorth_Egg_Site_2020_month_df[JNorth_Egg_Site_2020_month_df['month']==5]
JNorth_Egg_Site_2020_5_df.tail()

     sighting_date              species  latitude  longitude  number  month
7432    2020-05-31  Monarch Egg Sighted    43.075    -89.276       2      5
7433    2020-05-31  Monarch Egg Sighted    43.422    -88.369       4      5
7434    2020-05-31  Monarch Egg Sighted    44.731    -92.851       7      5
7435    2020-05-31  Monarch Egg Sighted    45.047    -93.225       3      5
7436    2020-05-31  Monarch Egg Sighted    45.307    -79.248       1      5

In [450]:
JNorth_Egg_Site_2020_5_df.shape

(86, 6)

In [451]:
JNorth_Egg_Site_2020_5_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [452]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2020_5_df['latitude'] = JNorth_Egg_Site_2020_5_df['latitude'].astype(float)
JNorth_Egg_Site_2020_5_df['longitude'] = JNorth_Egg_Site_2020_5_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [453]:
geojson = df_to_geojson(JNorth_Egg_Site_2020_5_df, cols)

In [454]:
file = open("JNorth_Egg_Site_2020_5.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [455]:
JNorth_Egg_Site_2020_month_df =pd.DataFrame(JNorth_Egg_Site_2020_df)
JNorth_Egg_Site_2020_6_df = JNorth_Egg_Site_2020_month_df[JNorth_Egg_Site_2020_month_df['month']==6]
JNorth_Egg_Site_2020_6_df.tail()

     sighting_date              species  latitude  longitude  number  month
7528    2020-06-30  Monarch Egg Sighted    41.988    -87.663       8      6
7529    2020-06-30  Monarch Egg Sighted    42.081    -88.028      68      6
7530    2020-06-30  Monarch Egg Sighted    42.353    -85.743       2      6
7531    2020-06-30  Monarch Egg Sighted    42.949    -78.801       1      6
7532    2020-06-30  Monarch Egg Sighted    43.061    -85.502       8      6

In [456]:
JNorth_Egg_Site_2020_6_df.shape

(96, 6)

In [457]:
JNorth_Egg_Site_2020_6_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [458]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2020_6_df['latitude'] = JNorth_Egg_Site_2020_6_df['latitude'].astype(float)
JNorth_Egg_Site_2020_6_df['longitude'] = JNorth_Egg_Site_2020_6_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [459]:
geojson = df_to_geojson(JNorth_Egg_Site_2020_6_df, cols)

In [460]:
file = open("JNorth_Egg_Site_2020_6.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [461]:
JNorth_Egg_Site_2020_month_df =pd.DataFrame(JNorth_Egg_Site_2020_df)
JNorth_Egg_Site_2020_7_df = JNorth_Egg_Site_2020_month_df[JNorth_Egg_Site_2020_month_df['month']==7]
JNorth_Egg_Site_2020_7_df.tail()

     sighting_date              species  latitude  longitude  number  month
7758    2020-07-31  Monarch Egg Sighted    39.569    -89.962       7      7
7759    2020-07-31  Monarch Egg Sighted    39.630    -79.958       3      7
7760    2020-07-31  Monarch Egg Sighted    40.869    -73.002      10      7
7761    2020-07-31  Monarch Egg Sighted    40.932    -74.630       5      7
7762    2020-07-31  Monarch Egg Sighted    43.242    -75.257       2      7

In [462]:
JNorth_Egg_Site_2020_7_df.shape

(230, 6)

In [463]:
JNorth_Egg_Site_2020_7_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [464]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2020_7_df['latitude'] = JNorth_Egg_Site_2020_7_df['latitude'].astype(float)
JNorth_Egg_Site_2020_7_df['longitude'] = JNorth_Egg_Site_2020_7_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [465]:
geojson = df_to_geojson(JNorth_Egg_Site_2020_7_df, cols)

In [466]:
file = open("JNorth_Egg_Site_2020_7.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [467]:
JNorth_Egg_Site_2020_month_df =pd.DataFrame(JNorth_Egg_Site_2020_df)
JNorth_Egg_Site_2020_8_df = JNorth_Egg_Site_2020_month_df[JNorth_Egg_Site_2020_month_df['month']==8]
JNorth_Egg_Site_2020_8_df.tail()

     sighting_date              species  latitude  longitude  number  month
8273    2020-08-31  Monarch Egg Sighted    33.836    -84.210      13      8
8274    2020-08-31  Monarch Egg Sighted    33.839    -84.270      21      8
8275    2020-08-31  Monarch Egg Sighted    36.852    -76.426       1      8
8276    2020-08-31  Monarch Egg Sighted    37.137    -76.536       3      8
8277    2020-08-31  Monarch Egg Sighted    39.993    -74.788      20      8

In [468]:
JNorth_Egg_Site_2020_8_df.shape

(515, 6)

In [469]:
JNorth_Egg_Site_2020_8_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [470]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2020_8_df['latitude'] = JNorth_Egg_Site_2020_8_df['latitude'].astype(float)
JNorth_Egg_Site_2020_8_df['longitude'] = JNorth_Egg_Site_2020_8_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [471]:
geojson = df_to_geojson(JNorth_Egg_Site_2020_8_df, cols)

In [472]:
file = open("JNorth_Egg_Site_2020_8.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [473]:
JNorth_Egg_Site_2020_month_df =pd.DataFrame(JNorth_Egg_Site_2020_df)
JNorth_Egg_Site_2020_9_df = JNorth_Egg_Site_2020_month_df[JNorth_Egg_Site_2020_month_df['month']==9]
JNorth_Egg_Site_2020_9_df.tail()

     sighting_date              species  latitude  longitude  number  month
8424    2020-09-28  Monarch Egg Sighted    26.283    -98.173       4      9
8425    2020-09-28  Monarch Egg Sighted    36.150    -95.994       6      9
8426    2020-09-29  Monarch Egg Sighted    26.453    -81.791       6      9
8427    2020-09-29  Monarch Egg Sighted    29.670    -95.488       4      9
8428    2020-09-30  Monarch Egg Sighted    38.790    -84.596      22      9

In [474]:
JNorth_Egg_Site_2020_9_df.shape

(151, 6)

In [475]:
JNorth_Egg_Site_2020_9_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [476]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2020_9_df['latitude'] = JNorth_Egg_Site_2020_9_df['latitude'].astype(float)
JNorth_Egg_Site_2020_9_df['longitude'] = JNorth_Egg_Site_2020_9_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [477]:
geojson = df_to_geojson(JNorth_Egg_Site_2020_9_df, cols)

In [478]:
file = open("JNorth_Egg_Site_2020_9.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [479]:
JNorth_Egg_Site_2020_month_df =pd.DataFrame(JNorth_Egg_Site_2020_df)
JNorth_Egg_Site_2020_10_df = JNorth_Egg_Site_2020_month_df[JNorth_Egg_Site_2020_month_df['month']==10]
JNorth_Egg_Site_2020_10_df.tail()

     sighting_date              species  latitude  longitude  number  month
8466    2020-10-24  Monarch Egg Sighted    37.288   -121.945       3     10
8467    2020-10-25  Monarch Egg Sighted    30.132    -95.486       4     10
8468    2020-10-25  Monarch Egg Sighted    30.298    -97.802       2     10
8469    2020-10-29  Monarch Egg Sighted    30.297    -97.810       6     10
8470    2020-10-31  Monarch Egg Sighted    32.794    -96.587       1     10

In [480]:
JNorth_Egg_Site_2020_10_df.shape

(42, 6)

In [481]:
JNorth_Egg_Site_2020_10_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [482]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2020_10_df['latitude'] = JNorth_Egg_Site_2020_10_df['latitude'].astype(float)
JNorth_Egg_Site_2020_10_df['longitude'] = JNorth_Egg_Site_2020_10_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [483]:
geojson = df_to_geojson(JNorth_Egg_Site_2020_10_df, cols)

In [484]:
file = open("JNorth_Egg_Site_2020_10.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [485]:
JNorth_Egg_Site_2020_month_df =pd.DataFrame(JNorth_Egg_Site_2020_df)
JNorth_Egg_Site_2020_11_df = JNorth_Egg_Site_2020_month_df[JNorth_Egg_Site_2020_month_df['month']==11]
JNorth_Egg_Site_2020_11_df.tail()

     sighting_date              species  latitude  longitude  number  month
8472    2020-11-10  Monarch Egg Sighted    29.714    -95.797       3     11
8473    2020-11-15  Monarch Egg Sighted    29.564    -95.025      10     11
8474    2020-11-15  Monarch Egg Sighted    30.394    -86.496       4     11
8475    2020-11-23  Monarch Egg Sighted    30.670    -81.464       5     11
8476    2020-11-27  Monarch Egg Sighted    28.156    -82.564       2     11

In [486]:
JNorth_Egg_Site_2020_11_df.shape

(6, 6)

In [487]:
JNorth_Egg_Site_2020_11_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [488]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2020_11_df['latitude'] = JNorth_Egg_Site_2020_11_df['latitude'].astype(float)
JNorth_Egg_Site_2020_11_df['longitude'] = JNorth_Egg_Site_2020_11_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [489]:
geojson = df_to_geojson(JNorth_Egg_Site_2020_11_df, cols)

In [490]:
file = open("JNorth_Egg_Site_2020_11.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [491]:
JNorth_Egg_Site_2020_month_df =pd.DataFrame(JNorth_Egg_Site_2020_df)
JNorth_Egg_Site_2020_12_df = JNorth_Egg_Site_2020_month_df[JNorth_Egg_Site_2020_month_df['month']==12]
JNorth_Egg_Site_2020_12_df.tail()

     sighting_date              species  latitude  longitude  number  month
8501    2020-12-29  Monarch Egg Sighted    28.000    -82.752       8     12
8502    2020-12-30  Monarch Egg Sighted    29.548    -95.805       5     12
8503    2020-12-31  Monarch Egg Sighted    28.384    -80.699       3     12
8504    2020-12-31  Monarch Egg Sighted    29.421    -95.120       6     12
8505    2020-12-31  Monarch Egg Sighted    30.166    -96.400       3     12

In [492]:
JNorth_Egg_Site_2020_12_df.shape

(29, 6)

In [493]:
JNorth_Egg_Site_2020_12_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [494]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_2020_12_df['latitude'] = JNorth_Egg_Site_2020_12_df['latitude'].astype(float)
JNorth_Egg_Site_2020_12_df['longitude'] = JNorth_Egg_Site_2020_12_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [495]:
geojson = df_to_geojson(JNorth_Egg_Site_2020_12_df, cols)

In [496]:
file = open("JNorth_Egg_Site_2020_12.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()