In [1]:
# Journey North Milkweed Sightings

In [2]:
#  Import and read
import pandas as pd 
import numpy as np
import json
# Sue Mottet 2-19-2022

# geoJSONifier

In [3]:
def df_to_geojson(df, properties, lat='latitude', lon='longitude'):
    # create a new python dict to contain our geojson data, using geojson format
    geojson = {'type':'FeatureCollection', 'features':[]}

    # loop through each row in the dataframe and convert each row to geojson format
    for _, row in df.iterrows():
        # create a feature template to fill in
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point',
                               'coordinates':[]}}

        # fill in the coordinates
        feature['geometry']['coordinates'] = [row[lon],row[lat]]

        # for each column, get the value and add it as a new feature property
        for prop in properties:
            feature['properties'][prop] = row[prop]
        
        # add this feature (aka, converted dataframe row) to the list of features inside our dict
        geojson['features'].append(feature)
    
    return geojson

# Load file

In [4]:
JNorth1996_2020_df = pd.read_csv("UWMadisonArb_JNorth_Project_MonarchsAndMilkweed_1996-2020.csv")
JNorth1996_2020_df.head()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,sighting_date,species,number,latitude,longitude,flag_location,comments,school,grade,image_url,customerid,number_old,flag_number,species_old,flag_species
0,850841703,1996-12-16,Monarch Adult Sighted,1,27.594,-81.362,0,On the ballfield a solitary monarch butterfly ...,Walker memorial junior academy,10.0,-999999.999,135,-999999.999,1,Monarch Butterfly,1
1,851824801,1996-12-06,Monarch Adult Sighted,1,30.420,-87.224,0,Our 5th grade Discovery students who went alon...,Hambrick elementary school,5.0,-999999.999,150,-999999.999,1,Monarch Butterfly,1
2,854409931,1996-09-21,Monarch Adult Sighted,1,40.817,-96.710,0,We saw several hundred monarchs in our school ...,-999999.999,5.0,-999999.999,9701054,-999999.999,1,Monarch Butterfly,1
3,854557206,1996-09-21,Monarch Adult Sighted,1,40.817,-96.710,0,Over a hundered monarchs in our school butterf...,Fredstrom elementary school,6.0,-999999.999,175,-999999.999,1,Monarch Butterfly,1
4,855061862,1997-01-01,Monarch Adult Sighted,1,34.244,-77.946,0,"I Thought I Saw It, But I Was Suprised To See ...",Gregory,3.0,-999999.999,181,-999999.999,1,Monarch Butterfly,1

# Data Exploratory

In [5]:
JNorth1996_2020_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227433 entries, 0 to 227432
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             227433 non-null  int64
 1   sighting_date  227433 non-null  object
 2   species        227433 non-null  object
 3   number         227433 non-null  int64
 4   latitude       227433 non-null  float64
 5   longitude      227433 non-null  float64
 6   flag_location  227433 non-null  int64
 7   comments       227433 non-null  object
 8   school         227433 non-null  object
 9   grade          227433 non-null  float64
 10  image_url      227433 non-null  object
 11  customerid     227433 non-null  int64
 12  number_old     227433 non-null  float64
 13  flag_number    227433 non-null  int64
 14  species_old    227433 non-null  object
 15  flag_species   227433 non-null  int64
dtypes: float64(4), int64(6), object(6)
memory usage: 27.8+ MB

In [6]:
str(JNorth1996_2020_df.columns.tolist())

"['id', 'sighting_date', 'species', 'number', 'latitude', 'longitude', 'flag_location', 'comments', 'school', 'grade', 'image_url', 'customerid', 'number_old', 'flag_number', 'species_old', 'flag_species']"

In [7]:
JNorth1996_2020_df.describe()

,id,number,latitude,longitude,flag_location,grade,customerid,number_old,flag_number,flag_species
count,2.274330e+05,2.274330e+05,227433.000000,227433.000000,227433.000000,227433.000000,2.274330e+05,2.274330e+05,227433.000000,227433.000000
mean,1.420650e+09,1.186529e+02,38.400690,-87.569965,0.598018,-907386.217597,9.451737e+06,-2.844270e+05,0.294816,0.130324
std,1.456887e+08,2.209080e+04,5.268651,10.880362,0.490299,289894.342744,2.193961e+06,4.518136e+05,0.467089,0.336660
min,8.508417e+08,-1.700000e+01,-12.100000,-165.107000,0.000000,-999999.999000,0.000000e+00,-1.000000e+06,0.000000,0.000000
25%,1.377751e+09,1.000000e+00,34.723000,-95.268000,0.000000,-999999.999000,9.941050e+06,-1.000000e+06,0.000000,0.000000
50%,1.477448e+09,1.000000e+00,39.503000,-86.787000,1.000000,-999999.999000,9.977663e+06,1.000000e+00,0.000000,0.000000
75%,1.526383e+09,3.000000e+00,42.409000,-79.255000,1.000000,-999999.999000,1.000029e+07,3.000000e+00,1.000000,0.000000
max,1.526525e+09,1.000000e+07,65.136000,-52.883000,1.000000,1112.000000,1.004256e+07,1.000000e+07,2.000000,1.000000

In [8]:
JNorth1996_2020_df.columns.tolist()

['id',
 'sighting_date',
 'species',
 'number',
 'latitude',
 'longitude',
 'flag_location',
 'comments',
 'school',
 'grade',
 'image_url',
 'customerid',
 'number_old',
 'flag_number',
 'species_old',
 'flag_species']

In [9]:
JNorth1996_2020_df.shape

(227433, 16)

In [10]:
# Determine the number of unique values in each column.
for col in JNorth1996_2020_df:
  print(JNorth1996_2020_df[col].unique())

[ 850841703  851824801  854409931 ... 1526524404 1526524405 1526525021]
['1996-12-16' '1996-12-06' '1996-09-21' ... '2020-12-29' '2020-12-30'
 '2020-12-31']
['Monarch Adult Sighted' 'Monarch Adult (FIRST sighted)'
 'Monarch Egg (FIRST sighted)' 'Monarch (OTHER Observations)'
 'Monarch Larva (FIRST sighted)' 'Monarch PEAK Migration'
 'Milkweed (FIRST sighted)' 'Monarch Fall Roost' 'Monarch Egg Sighted'
 'Monarch Larva Sighted' 'Monarch, Captive-Reared' 'Milkweed Sighted']
[       1      150       20       89       30     2000       50     7500
       23      200        5      300        4      100       71      120
      325       21       28     5000    20000       36       25        6
       54     1000      160       24       60       37        2     3000
  1000000       10  2000000       40       85       65       15        8
      500       14      112       75       80    15000       18    10000
      912   100000      400      800       12       35      600       16
    25000     1500     1117       70        3      463       45       72
      250      182       56       26    30000     2500     8000      750
      700       46      556       34      275       53       22      650
      210      224     1100      240   200000      900     1200        7
       13      115       11       19      810       66       43      510
        9       62       27      290      104       44      440      202
       55      180       17      140      269       61      142      175
       41      123       32       76       31      195      125       29
      164      109      119      105     4000       69      360       88
       58      239       48      310      117       52      261       90
      135      296      211       39       51      102     7001      127
       49       47       33     1300       42      101     5075     1520
      170       81      190       38      110      558      381      228
      248       86       74      172      230      420     2806       94
       92      118      425     5400     6300       68       79    50000
     2300     7000       84      128       57      350       83      124
      114      450      147      501       87       77      197      840
    13460     3500       64       73      178      265      151      133
      121      477       59       97      850      130      165       95
      383       98      729      222      116      225       63     6000
      475    34000    13420    21329    12073    16244    30293    11082
       78      214      113      108      280      212      138      285
      229      216      720      206      606      287      107      134
      157      540 10000000      220      103      270       82      139
      318       93       67      181      122      158      156      232
      106      155     2400      667     1286      179      349      207
      505      132      154     1400    32914    29804    18128    15890
     7750     8531     7333     7783      173      213      126      378
      417      481      780     4800      625      208      205      145
      260      193      144      227      305      831      289      246
      404      152       96      373      855     1800      519      215
      441      337    23800      218      340      231     2100      550
     4500      320     9000    12000      324      461      184      570
      444      620    11000      870      478      252      447      247
      281      980    28073    13492    12864    11472    10200      301
      111      259      171      141      256      186      174      198
      479      187      223      474      203      278      153      257
      520      185     3200      375      258      136    70000    60200
    48000    17800      264    19755    17100    12189    13375      233
      204      192      131       -1      129      149      -17      460
      382      137      143      445       91     1700      330      254
      429      813     2200      316     2600      696      291      255
      286      543      183      251      362      226      453     1080
      860      315      332      244     1351    35000     1503     1125
      725     1482      593     2079    12284    19741    12360    10099
      587    19000   500000      189      671      713     1016      176
      345      219      234      249      409      418    16000     3900
      169     7200      272      284      653      428      348      777
      253       99      201     1516      335      359      356      875
      560      177      525      686     1380      276   999999    12620
     6500     5850      188     2960      480      385      827      323
      148     1012      465      196      162      238      446      313
     2385      307      263      357      163      495     1001      541
      733      167     3600      457     5700     1650     1120     3553
      995     1600     1390      614     7600     8250      314     1580
      221     1620      470      759      267      960     1301      566
      342      880      782      241      514     2250     2470      925
      403      166     6769      146     2469      209      279      868
      585      311      683      354      308      760      387      563
      801      536      161      397      322      613      191     1750
      199      516      321     1850      277      297     4750      370
      489     1149      268     2816      789      430      978      770
      493      716      159]
[27.594 30.42  40.817 ... 30.139 35.008 54.968]
[ -81.362  -87.224  -96.71  ... -118.107 -119.132 -108.727]
[0 1]
['On the ballfield a solitary monarch butterfly flew across the field in a south-west direction at approximately 1:30 pm.'
 'Our 5th grade Discovery students who went along on an overnight field trip to Ft. Pickens, Florida, noticed that there were monarch butterflies all over the grounds of the fort the day they were there (Dec. 6,1996).'
 'We saw several hundred monarchs in our school butterfly garden,  sipping nectar from the New England asters and zinnias.'
 ...
 "There have been at least three Monarchs in my yard this year. I know it's at least three, because I often see all of them at once. But there may be more. I have lived here for 35 years, and an additional 23 years just a mile-and-a-half down the road. This is the first time in decades that I've had Monarchs in my yard, and I've been very excited that they're coming back. I'm hoping to see more in the future. "
 'One larva seen.'
 'Date of last adult sighted.Total sightings were 98 adults from June 3 to Sept. 4.Peak sightings were July 8 to Aug 7.Approx. acreage with milkweed is equal to 4.5Ac. ']
['Walker memorial junior academy' 'Hambrick elementary school'
 '-999999.999' ... 'Homosassa springs wildlife state park'
 'Director, virginia master naturalist program' -999999.999]
[ 1.00000000e+01  5.00000000e+00  6.00000000e+00  3.00000000e+00
  9.00000000e+00 -9.99999999e+05  7.00000000e+00  2.00000000e+00
  8.00000000e+00  9.90000000e+01  4.00000000e+00  1.00000000e+00
  1.20000000e+01  1.10000000e+01  0.00000000e+00  3.40000000e+01
  2.50000000e+01  4.60000000e+01  6.80000000e+01  1.50000000e+01
  9.50000000e+01  3.60000000e+01  1.80000000e+01  2.30000000e+01
  1.40000000e+01  4.50000000e+01  9.12000000e+02  2.40000000e+01
  6.90000000e+01  5.60000000e+01  7.12000000e+02  6.78000000e+02
  1.12000000e+02  4.90000000e+01  7.80000000e+01  6.70000000e+01
  1.30000000e+01  4.56000000e+02  1.90000000e+01  6.12000000e+02
  1.11200000e+03  1.60000000e+01  1.01200000e+03  3.80000000e+01
  6.30000000e+01  2.70000000e+01  1.00000000e+02  9.10000000e+02
  6.20000000e+01  3.11000000e+02  5.80000000e+01  1.70000000e+01
  2.10000000e+01  2.80000000e+01  7.10000000e+01  3.45000000e+02
  1.19000000e+02  3.50000000e+01  4.20000000e+01  6.50000000e+01
  5.00000000e+01  4.12000000e+02  7.90000000e+01  2.00000000e+01
  7.11000000e+02  5.30000000e+01  1.35000000e+02]
['-999999.999'
 'https://journeynorth.org/jnorth/images/userfiles2013/1193346010.jpg'
 'https://www.learner.org/jnorth/images/userfiles/1317067653.jpg' ...
 '//journeynorth.org/jnorth/images/userfiles2021/05/1526513089.jpg'
 '//journeynorth.org/jnorth/images/userfiles2021/05/1526513090.jpg'
 '//journeynorth.org/jnorth/images/userfiles2021/06/1526524404.jpg']
[     135      150  9701054 ... 10042506 10042509 10042557]
[-9.99999999e+05  0.00000000e+00  1.50000000e+02  2.00000000e+01
  8.90000000e+01  3.00000000e+01  2.00000000e+03  5.00000000e+01
  7.50000000e+03  2.30000000e+01  2.00000000e+02  5.00000000e+00
  3.00000000e+02  4.00000000e+00  1.00000000e+02  7.10000000e+01
  1.20000000e+02  3.25000000e+02  2.10000000e+01  2.80000000e+01
  5.00000000e+03  2.00000000e+04  3.60000000e+01  2.50000000e+01
  6.00000000e+00  5.40000000e+01  1.00000000e+03  1.60000000e+02
  2.40000000e+01  6.00000000e+01  3.70000000e+01  2.00000000e+00
  3.00000000e+03  1.00000000e+06  1.00000000e+01  1.00000000e+00
  2.00000000e+06  4.00000000e+01  8.50000000e+01  6.50000000e+01
  1.50000000e+01  8.00000000e+00  5.00000000e+02  1.40000000e+01
  1.12000000e+02  7.50000000e+01  8.00000000e+01  1.50000000e+04
  1.80000000e+01  1.00000000e+04  9.12000000e+02  1.00000000e+05
  4.00000000e+02  8.00000000e+02  1.20000000e+01  3.50000000e+01
  6.00000000e+02  1.60000000e+01  2.50000000e+04  1.50000000e+03
  1.11700000e+03  7.00000000e+01  3.00000000e+00  4.63000000e+02
  4.50000000e+01  7.20000000e+01  2.50000000e+02  1.82000000e+02
  5.60000000e+01  2.60000000e+01  3.00000000e+04  2.50000000e+03
  8.00000000e+03  7.50000000e+02  7.00000000e+02  4.60000000e+01
  5.56000000e+02  3.40000000e+01  2.75000000e+02  5.30000000e+01
  2.20000000e+01  6.50000000e+02  2.10000000e+02  2.24000000e+02
  1.10000000e+03  2.40000000e+02  2.00000000e+05  9.00000000e+02
  1.20000000e+03  7.00000000e+00  1.30000000e+01  1.15000000e+02
  1.10000000e+01  1.90000000e+01  8.10000000e+02  6.60000000e+01
  4.30000000e+01  5.10000000e+02  9.00000000e+00  6.20000000e+01
  2.70000000e+01  2.90000000e+02  1.04000000e+02  4.40000000e+01
  4.40000000e+02  2.02000000e+02  5.50000000e+01  1.80000000e+02
  1.70000000e+01  1.40000000e+02  2.69000000e+02  6.10000000e+01
  1.42000000e+02  1.75000000e+02  4.10000000e+01  1.23000000e+02
  3.20000000e+01  7.60000000e+01  3.10000000e+01  1.95000000e+02
  1.25000000e+02  2.90000000e+01  1.64000000e+02  1.09000000e+02
  1.19000000e+02  1.05000000e+02  4.00000000e+03  6.90000000e+01
  3.60000000e+02  8.80000000e+01  5.80000000e+01  2.39000000e+02
  4.80000000e+01  3.10000000e+02  1.17000000e+02  5.20000000e+01
  2.61000000e+02  9.00000000e+01  1.35000000e+02  2.96000000e+02
  2.11000000e+02  3.90000000e+01  5.10000000e+01  1.02000000e+02
  7.00100000e+03  1.27000000e+02  4.90000000e+01  4.70000000e+01
  3.30000000e+01  1.30000000e+03  4.20000000e+01  1.01000000e+02
  5.07500000e+03  1.52000000e+03  1.70000000e+02  8.10000000e+01
  1.90000000e+02  3.80000000e+01  1.10000000e+02  5.58000000e+02
  3.81000000e+02  2.28000000e+02  2.48000000e+02  8.60000000e+01
  7.40000000e+01  1.72000000e+02  2.30000000e+02  4.20000000e+02
  2.80600000e+03  9.40000000e+01  9.20000000e+01  1.18000000e+02
  4.25000000e+02  5.40000000e+03  6.30000000e+03  6.80000000e+01
  7.90000000e+01  5.00000000e+04  2.30000000e+03  7.00000000e+03
  8.40000000e+01  1.28000000e+02  5.70000000e+01  3.50000000e+02
  8.30000000e+01  1.24000000e+02  1.14000000e+02  4.50000000e+02
  1.47000000e+02  5.01000000e+02  8.70000000e+01  7.70000000e+01
  1.97000000e+02  8.40000000e+02  1.34600000e+04  3.50000000e+03
  6.40000000e+01  7.30000000e+01  1.78000000e+02  2.65000000e+02
  1.51000000e+02  1.33000000e+02  1.21000000e+02  4.77000000e+02
  5.90000000e+01  9.70000000e+01  8.50000000e+02  1.30000000e+02
  1.65000000e+02  9.50000000e+01  3.83000000e+02  9.80000000e+01
  7.29000000e+02  2.22000000e+02  1.16000000e+02  2.25000000e+02
  6.30000000e+01  6.00000000e+03  4.75000000e+02  3.40000000e+04
  1.34200000e+04  2.13290000e+04  1.20730000e+04  1.62440000e+04
  3.02930000e+04  1.10820000e+04  7.80000000e+01  2.14000000e+02
  1.13000000e+02  1.08000000e+02  2.80000000e+02  2.12000000e+02
  1.38000000e+02  2.85000000e+02  2.29000000e+02  2.16000000e+02
  7.20000000e+02  2.06000000e+02  6.06000000e+02  2.87000000e+02
  1.07000000e+02  1.34000000e+02  1.57000000e+02  5.40000000e+02
  1.00000000e+07  2.20000000e+02  1.03000000e+02  2.70000000e+02
  8.20000000e+01  1.39000000e+02  3.18000000e+02  9.30000000e+01
  6.70000000e+01  1.81000000e+02  1.22000000e+02  1.58000000e+02
  1.56000000e+02  2.32000000e+02  1.06000000e+02  1.55000000e+02
  2.40000000e+03  6.67000000e+02  1.28600000e+03  1.79000000e+02
  3.49000000e+02  2.07000000e+02  5.05000000e+02  1.32000000e+02
  1.54000000e+02  1.40000000e+03  3.29140000e+04  2.98040000e+04
  1.81280000e+04  1.58900000e+04  7.75000000e+03  8.53100000e+03
  7.33300000e+03  7.78300000e+03  1.73000000e+02  2.13000000e+02
  1.26000000e+02  3.78000000e+02  4.17000000e+02  4.81000000e+02
  7.80000000e+02  4.80000000e+03  6.25000000e+02  2.08000000e+02
  2.05000000e+02  1.45000000e+02  2.60000000e+02  1.93000000e+02
  1.44000000e+02  2.27000000e+02  3.05000000e+02  8.31000000e+02
  2.89000000e+02  2.46000000e+02  4.04000000e+02  1.52000000e+02
  9.60000000e+01  3.73000000e+02  8.55000000e+02  1.80000000e+03
  5.19000000e+02  2.15000000e+02  4.41000000e+02  3.37000000e+02
  2.38000000e+04  2.18000000e+02  3.40000000e+02  2.31000000e+02
  2.10000000e+03  5.50000000e+02  4.50000000e+03  3.20000000e+02
  9.00000000e+03  1.20000000e+04  3.24000000e+02  4.61000000e+02
  1.84000000e+02  5.70000000e+02  4.44000000e+02  6.20000000e+02
  1.10000000e+04  8.70000000e+02  4.78000000e+02  2.52000000e+02
  4.47000000e+02  2.47000000e+02  2.81000000e+02  9.80000000e+02
  2.80730000e+04  1.34920000e+04  1.28640000e+04  1.14720000e+04
  1.02000000e+04  3.01000000e+02  1.11000000e+02  2.59000000e+02
  1.71000000e+02  1.41000000e+02  2.56000000e+02  1.86000000e+02
  1.74000000e+02  1.98000000e+02  4.79000000e+02  1.87000000e+02
  2.23000000e+02  4.74000000e+02  2.03000000e+02  2.78000000e+02
  1.53000000e+02  2.57000000e+02  5.20000000e+02  1.85000000e+02
  3.20000000e+03  3.75000000e+02  2.58000000e+02  1.36000000e+02
  7.00000000e+04  6.02000000e+04  4.80000000e+04  1.78000000e+04
  2.64000000e+02  1.97550000e+04  1.71000000e+04  1.21890000e+04
  1.33750000e+04  2.33000000e+02  2.04000000e+02  1.92000000e+02
  1.31000000e+02 -1.00000000e+00  1.29000000e+02  1.49000000e+02
 -1.70000000e+01  4.60000000e+02  3.82000000e+02  1.37000000e+02
  1.43000000e+02  4.45000000e+02  9.10000000e+01  1.70000000e+03
  3.30000000e+02  2.54000000e+02  4.29000000e+02  8.13000000e+02
  2.20000000e+03  3.16000000e+02  2.60000000e+03  6.96000000e+02
  2.91000000e+02  2.55000000e+02  2.86000000e+02  5.43000000e+02
  1.83000000e+02  2.51000000e+02  3.62000000e+02  2.26000000e+02
  4.53000000e+02  1.08000000e+03  8.60000000e+02  3.15000000e+02
  3.32000000e+02  2.44000000e+02  1.35100000e+03  3.50000000e+04
  1.50300000e+03  1.12500000e+03  7.25000000e+02  1.48200000e+03
  5.93000000e+02  2.07900000e+03  1.22840000e+04  1.97410000e+04
  1.23600000e+04  1.00990000e+04  5.87000000e+02  1.90000000e+04
  5.00000000e+05  1.89000000e+02  6.71000000e+02  7.13000000e+02
  1.01600000e+03  1.76000000e+02  3.45000000e+02  2.19000000e+02
  2.34000000e+02  2.49000000e+02  4.09000000e+02  4.18000000e+02
  1.60000000e+04  3.90000000e+03  1.69000000e+02  7.20000000e+03
  2.72000000e+02  2.84000000e+02  6.53000000e+02  4.28000000e+02
  3.48000000e+02  7.77000000e+02  2.53000000e+02  9.90000000e+01
  2.01000000e+02  1.51600000e+03  3.35000000e+02  3.59000000e+02
  3.56000000e+02  8.75000000e+02  5.60000000e+02  1.77000000e+02
  5.25000000e+02  6.86000000e+02  1.38000000e+03  2.76000000e+02
  9.99999000e+05  1.26200000e+04  6.50000000e+03  5.85000000e+03
  1.88000000e+02  2.96000000e+03  4.80000000e+02  3.85000000e+02
  8.27000000e+02  3.23000000e+02  1.48000000e+02  1.01200000e+03
  4.65000000e+02  1.96000000e+02  1.62000000e+02  2.38000000e+02
  4.46000000e+02  3.13000000e+02  2.38500000e+03  3.07000000e+02
  2.63000000e+02  3.57000000e+02  1.63000000e+02  4.95000000e+02
  1.00100000e+03  5.41000000e+02  7.33000000e+02  1.67000000e+02
  3.60000000e+03  4.57000000e+02  5.70000000e+03  1.65000000e+03
  1.12000000e+03  3.55300000e+03  9.95000000e+02  1.60000000e+03
  1.39000000e+03  6.14000000e+02  7.60000000e+03  8.25000000e+03
  3.14000000e+02  1.58000000e+03  2.21000000e+02  1.62000000e+03
  4.70000000e+02  7.59000000e+02  2.67000000e+02  9.60000000e+02
  1.30100000e+03  5.66000000e+02  3.42000000e+02  8.80000000e+02
  7.82000000e+02  2.41000000e+02  5.14000000e+02  2.25000000e+03
  2.47000000e+03  9.25000000e+02  4.03000000e+02  1.66000000e+02
  6.76900000e+03  1.46000000e+02  2.46900000e+03  2.09000000e+02
  2.79000000e+02  8.68000000e+02  5.85000000e+02  3.11000000e+02
  6.83000000e+02  3.54000000e+02  3.08000000e+02  7.60000000e+02
  3.87000000e+02  5.63000000e+02  8.01000000e+02  5.36000000e+02
  1.61000000e+02  3.97000000e+02  3.22000000e+02  6.13000000e+02
  1.91000000e+02  1.75000000e+03  1.99000000e+02  5.16000000e+02
  3.21000000e+02  1.85000000e+03  2.77000000e+02  2.97000000e+02
  4.75000000e+03  3.70000000e+02  4.89000000e+02  1.14900000e+03
  2.68000000e+02  2.81600000e+03  7.89000000e+02  4.30000000e+02
  9.78000000e+02  7.70000000e+02  4.93000000e+02  7.16000000e+02
  1.59000000e+02]
[1 2 0]
['Monarch Butterfly' 'Monarch Migration' 'FIRST Monarch Butterfly'
 'FIRST Monarch Egg' 'First Monarch' 'FIRST Monarch' 'LAST Fall Monarch'
 'Monarch (OTHER observations)' 'Monarch (FIRST sighting)'
 'Monarch (FIRST seen)' 'Monarch (Other Sightings)'
 'Monarch (OTHER observation)' 'Monarch (OTHER Observation)'
 'Monarch Migration Sighting' 'Monarch (OTHER Observations)'
 'Monarch Migration Study' 'LAST Fall Monarch Sighted'
 ' LAST Fall Monarch Sighted' 'LAST Fall Monarch Migration'
 'Monarch (OTHER oservations)' 'Monarch (LAST sighting)'
 'Monarch Larva (FIRST sighted)' 'Monarch Egg (FIRST sighted)'
 'Monarch Adult (FIRST sighted)' 'Monarch Adult (FIRST Sighted)'
 'Monarch PEAK Migration' 'LAST Fall Monarch Sighting'
 'Monarchs OTHER (Observation)' '(Monarch) Milkweed emerges'
 'Monarch FIRST Migration Sighting' 'Monarch peak Migration'
 'Monarch (OTHER) Observations' 'Milkweed (FIRST Leaves)'
 'Monarch Over-wintering' 'Monarch Adult  (FIRST sighted)'
 'Monarchs (OTHER observations)' 'Monarch (IOTHER observations)'
 'Monarch Fall Roost' 'Monarch ADULT' 'Monarch Larva (FIRST Sighted)'
 'Monarch (OTHER Observations' 'Monarch Peak Migration'
 'Monarch over-wintering' 'Monarch  Adult (FIRST sighted)'
 'Monarch (Other Observations)' 'Monarch FIRST Adult'
 'Monarch Adult (First sighted)' 'Monarch (Other observations)'
 'Monarch Migration Sighting OW' 'Monarch (FIRST sighted)'
 'Monarch (NONE sighted)' 'Monarch Fall Roost (None yet)'
 'Monarch Adult Sighted' 'Monarch Sighting' 'Monarch (Other Observations'
 'Monarch Winter Sighting' 'Monarch Sighted' 'Monarch Egg Sighted'
 'Monarch Larva Sighted' 'Monarch OTHER Observations'
 'monarch (OTHER Observations)' 'Monarch Egg (FIRST Sighted)'
 'Monarch OW Mexico' 'Monarch Adult  Sighted'
 'Monarch (OTHER Observations) READY' 'Monarch Adult (FIRST sighted))'
 'Monarch, Captive-Reared' 'Monarch Fall Roost (waiting for permission)'
 'Milkweed Sighted' 'Milkweed (FIRST sighted)' 'Milkweed (FIRST Sighted)'
 'Milkweed sighted' 'Monarch, Captive Reared'
 'Monarch Egg (FIRST sighted)ghted)'
 'Monarch Adult (FIRST sighted)T sighted)'
 'Monarch Adult (FIRST sighted)sighted)' 'Monarch (Captive Reared)ed)'
 'Monarch (Captive Reared)' 'Monarch (OTHER Observations)ations)'
 'Monarch Larva Sighted ' 'Monarch Fall Roost ' 'Monarch Egg Sighted '
 'Monarch, captive-Reared' 'MOnarch Larva Sighted'
 'Monarch Adult Sighted ' 'Monarch adult Sighted' 'Monarch Adult SIghted'
 'Monarch Adult (FIRST sighted) ' 'Monarchch Adult Sighted'

In [11]:
# Determine the number of unique values in each column.
for col in JNorth1996_2020_df:
  print(JNorth1996_2020_df[col].value_counts())

850841703     1
1526350827    1
1526350816    1
1526350817    1
1526350818    1
             ..
1432512422    1
1432519704    1
1432562236    1
1432562641    1
1526525021    1
Name: id, Length: 227433, dtype: int64
2018-08-22    392
2018-10-03    377
2018-09-06    353
2019-09-19    337
2018-09-12    335
             ...
2015-12-31      1
2015-11-24      1
2015-11-22      1
2006-07-30      1
1996-12-16      1
Name: sighting_date, Length: 7491, dtype: int64
Monarch Adult Sighted            102306
Monarch Adult (FIRST sighted)     36409
Monarch Larva Sighted             17378
Monarch, Captive-Reared           14339
Monarch (OTHER Observations)      13581
Monarch Egg Sighted                8736
Milkweed (FIRST sighted)           8465
Monarch PEAK Migration             7689
Monarch Egg (FIRST sighted)        6876
Monarch Fall Roost                 5035
Monarch Larva (FIRST sighted)      4898
Milkweed Sighted                   1721
Name: species, dtype: int64
1       139319
2        24169
3        13055
4         7795
5         6118
         ...
860          1
315          1
244          1
1351         1
159          1
Name: number, Length: 555, dtype: int64
29.757    811
30.230    765
45.033    702
37.944    700
42.409    659
         ...
30.770      1
38.355      1
33.305      1
29.930      1
27.594      1
Name: latitude, Length: 18851, dtype: int64
-95.365     807
-97.714     752
-87.405     695
-93.224     620
-82.220     605
           ...
-77.529       1
-69.400       1
-101.051      1
-69.254       1
-122.557      1
Name: longitude, Length: 30123, dtype: int64
1    136009
0     91424
Name: flag_location, dtype: int64
-999999.999                                                                                                                                                               1427
Female                                                                                                                                                                     170
Flying                                                                                                                                                                     144
Male                                                                                                                                                                       118
Recorded as an incidental sighting while conducting surveys on the Fort Hood military base.                                                                                104
                                                                                                                                                                          ...
first female sighting around 3 pm in richmond-laid egg on common milkweed.  Warm sw wind -monarch looked fresh                                                               1
Spotted our first milkweed shoots in our butterfly garden at Lake Anne Elementary this afternoon after the first weekend with warmer temperatures.                           1
Spotted 1 adult near Love Valley Wildlife Reserve near the Red River.                                                                                                        1
Established Asclepias syriaca L. plants in open area have emerged approximately 1 inch in height one day after 0.7" rainfall.                                                1
Date of last adult sighted.Total sightings were 98 adults from June 3 to Sept. 4.Peak sightings were July 8 to Aug 7.Approx. acreage with milkweed is equal to 4.5Ac.        1
Name: comments, Length: 212736, dtype: int64
-999999.999                            139036
-999999.999                             63593
None                                      457
Homeschool                                331
Virginia living museum                    263
                                        ...
William e. norris elementary school         1
Coventry elementary school                  1
Adams is close                              1
Salem elementary school                     1
Walker memorial junior academy              1
Name: school, Length: 6914, dtype: int64
-999999.999    206370
 99.000          3136
 4.000           2947
 3.000           2543
 2.000           2541
                ...
 1012.000           1
 678.000            1
 69.000             1
 95.000             1
 135.000            1
Name: grade, Length: 67, dtype: int64
-999999.999                                                                   183911
//sightings.journeynorth.org/jnorth/images/userfiles2018/09/1526362818.jpg         8
https://journeynorth.org/jnorth/images/userfiles/1366245309.jpg                    3
https://journeynorth.org/jnorth/images/userfiles/1331931236.jpg                    3
//journeynorth.org/jnorth/images/userfiles2020/04/1526445894.jpg                   2
                                                                               ...
https://journeynorth.org/jnorth/images/userfiles2017/06/1496327046.jpg             1
https://journeynorth.org/jnorth/images/userfiles2017/06/1496327055.jpg             1
https://journeynorth.org/jnorth/images/userfiles2017/06/1496327056.jpg             1
https://journeynorth.org/jnorth/images/userfiles2017/06/1496327063.jpg             1
//journeynorth.org/jnorth/images/userfiles2021/06/1526524404.jpg                   1
Name: image_url, Length: 43474, dtype: int64
9710973     7256
9979617     2054
9976074     1055
9975275      900
10010858     757
            ...
9979243        1
9979242        1
9979240        1
9979216        1
10042557       1
Name: customerid, Length: 42518, dtype: int64
 1.000         73436
-999999.999    64715
 2.000         24169
 3.000         13055
 4.000          7795
               ...
 445.000           1
 1700.000          1
 254.000           1
 429.000           1
 159.000           1
Name: number_old, Length: 557, dtype: int64
0    161550
1     64715
2      1168
Name: flag_number, dtype: int64
Monarch Adult Sighted                          91662
Monarch Adult (FIRST sighted)                  25311
Monarch Larva Sighted                          17373
Monarch, Captive-Reared                        14329
Monarch (OTHER Observations)                   10626
                                               ...
monarch (OTHER Observations)                       1
Monarch (OTHER Observations) READY                 1
Monarch Fall Roost (waiting for permission)        1
Monarch, Captive Reared                            1
Monarch, Captive-reared                            1
Name: species_old, Length: 96, dtype: int64
0    197793
1     29640
Name: flag_species, dtype: int64

In [12]:
# Find null values
for column in JNorth1996_2020_df.columns:
   print(f"Column {column} has {JNorth1996_2020_df[column].isnull().sum()} null values")

Column id has 0 null values
Column sighting_date has 0 null values
Column species has 0 null values
Column number has 0 null values
Column latitude has 0 null values
Column longitude has 0 null values
Column flag_location has 0 null values
Column comments has 0 null values
Column school has 0 null values
Column grade has 0 null values
Column image_url has 0 null values
Column customerid has 0 null values
Column number_old has 0 null values
Column flag_number has 0 null values
Column species_old has 0 null values
Column flag_species has 0 null values

In [13]:
# Find duplicate entries
print(f"Duplicate entries: {JNorth1996_2020_df.duplicated().sum()}")

Duplicate entries: 0

In [14]:
# filtering by type of observation (Monarch Milkweed Sighted)
JNorth_Milkweed_Site_df = JNorth1996_2020_df[JNorth1996_2020_df['species']=='Milkweed Sighted']
JNorth_Milkweed_Site_df.head()

,id,sighting_date,species,number,latitude,longitude,flag_location,comments,school,grade,image_url,customerid,number_old,flag_number,species_old,flag_species
91379,1452975620,2016-01-16,Milkweed Sighted,1,29.914,-90.053,1,Found a baby Milkweed plant. in my backyard,-999999.999,-999999.999,https://journeynorth.org/jnorth/images/userfil...,9989749,-999999.999,1,Milkweed Sighted,0
91404,1453317491,2016-01-20,Milkweed Sighted,1,33.974,-118.249,1,Milkweed Plants The milkweed plants are about ...,-999999.999,-999999.999,https://journeynorth.org/jnorth/images/userfil...,9989994,-999999.999,1,Milkweed Sighted,0
91435,1454529632,2016-02-02,Milkweed Sighted,1,30.340,-81.831,1,new growth on old stems,-999999.999,-999999.999,-999999.999,9981454,-999999.999,1,Milkweed Sighted,0
91439,1454531417,2016-02-03,Milkweed Sighted,1,30.177,-85.806,1,"Milkweed growing all winter long, caterpillar...",-999999.999,-999999.999,-999999.999,9974622,-999999.999,1,Milkweed Sighted,0
91450,1454544827,2016-02-03,Milkweed Sighted,1,30.230,-97.714,1,Reporting that my milkweed never froze! Still ...,-999999.999,-999999.999,-999999.999,9962757,-999999.999,1,Milkweed Sighted,0

In [15]:
JNorth_Milkweed_Site_df.to_csv('JNorth_Milkweed_Site.csv', header=True, mode='w' )

In [16]:
JNorth_Milkweed_Site_df.shape

(1721, 16)

# Format file for geoJSON

In [17]:
JNorth_Milkweed_Site_df = pd.DataFrame(JNorth_Milkweed_Site_df)
JNorth_Milkweed_Site_df.drop(['id','flag_location', 'comments','school','grade','image_url','customerid','number_old','flag_number','species_old','flag_species'], axis=1, inplace=True)
JNorth_Milkweed_Site_df.head()

      sighting_date           species  number  latitude  longitude
91379    2016-01-16  Milkweed Sighted       1    29.914    -90.053
91404    2016-01-20  Milkweed Sighted       1    33.974   -118.249
91435    2016-02-02  Milkweed Sighted       1    30.340    -81.831
91439    2016-02-03  Milkweed Sighted       1    30.177    -85.806
91450    2016-02-03  Milkweed Sighted       1    30.230    -97.714

In [18]:
cols = ['sighting_date', 'species', 'number', 'latitude', 'longitude']

In [19]:
JNorth_Milkweed_Site_df =JNorth_Milkweed_Site_df.groupby(['sighting_date', 'species', 'latitude', 'longitude']).sum().reset_index()
JNorth_Milkweed_Site_df.head()

  sighting_date           species  latitude  longitude  number
0    2002-05-29  Milkweed Sighted    40.833    -75.880       1
1    2005-03-21  Milkweed Sighted    26.453    -81.791       1
2    2015-06-15  Milkweed Sighted    41.917    -72.454       1
3    2016-01-01  Milkweed Sighted    30.429    -84.258       1
4    2016-01-01  Milkweed Sighted    34.232   -118.352       1

In [20]:
JNorth_Milkweed_Site_df.columns.tolist()

['sighting_date', 'species', 'latitude', 'longitude', 'number']

In [21]:
JNorth_Milkweed_Site_df.head()

  sighting_date           species  latitude  longitude  number
0    2002-05-29  Milkweed Sighted    40.833    -75.880       1
1    2005-03-21  Milkweed Sighted    26.453    -81.791       1
2    2015-06-15  Milkweed Sighted    41.917    -72.454       1
3    2016-01-01  Milkweed Sighted    30.429    -84.258       1
4    2016-01-01  Milkweed Sighted    34.232   -118.352       1

In [22]:
JNorth_Milkweed_Site_df.shape

(1653, 5)

In [23]:
JNorth_Milkweed_Site_year_df = JNorth_Milkweed_Site_df
JNorth_Milkweed_Site_year_df['year'] = pd.DatetimeIndex(JNorth_Milkweed_Site_df['sighting_date']).year

# 2006

In [24]:
JNorth_Milkweed_Site_2006_df = JNorth_Milkweed_Site_year_df[JNorth_Milkweed_Site_year_df['year']==2006]
JNorth_Milkweed_Site_2006_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, year]
Index: []

In [25]:
JNorth_Milkweed_Site_2006_df.shape

(0, 6)

In [26]:
JNorth_Milkweed_Site_2006_df = pd.DataFrame(JNorth_Milkweed_Site_2006_df)
JNorth_Milkweed_Site_2006_df.drop(['year'], axis=1, inplace=True)

In [27]:
JNorth_Milkweed_Site_2006_df['month'] = pd.DatetimeIndex(JNorth_Milkweed_Site_2006_df['sighting_date']).month

## January

In [28]:
JNorth_Milkweed_Site_2006_month_df =pd.DataFrame(JNorth_Milkweed_Site_2006_df)
JNorth_Milkweed_Site_2006_1_df = JNorth_Milkweed_Site_2006_month_df[JNorth_Milkweed_Site_2006_month_df['month']==1]
JNorth_Milkweed_Site_2006_1_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [29]:
JNorth_Milkweed_Site_2006_1_df.shape

(0, 6)

In [30]:
JNorth_Milkweed_Site_2006_1_df = pd.DataFrame(JNorth_Milkweed_Site_2006_1_df)
JNorth_Milkweed_Site_2006_1_df.drop(['month'], axis=1, inplace=True)

In [31]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2006_1_df['latitude'] = JNorth_Milkweed_Site_2006_1_df['latitude'].astype(float)
JNorth_Milkweed_Site_2006_1_df['longitude'] = JNorth_Milkweed_Site_2006_1_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [32]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2006_1_df, cols)

In [33]:
file = open("JNorth_Milkweed_Site_2006_1.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## February

In [34]:
JNorth_Milkweed_Site_2006_month_df =pd.DataFrame(JNorth_Milkweed_Site_2006_df)
JNorth_Milkweed_Site_2006_2_df = JNorth_Milkweed_Site_2006_month_df[JNorth_Milkweed_Site_2006_month_df['month']==2]
JNorth_Milkweed_Site_2006_2_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [35]:
JNorth_Milkweed_Site_2006_2_df.shape

(0, 6)

In [36]:
JNorth_Milkweed_Site_2006_2_df= pd.DataFrame(JNorth_Milkweed_Site_2006_2_df)
JNorth_Milkweed_Site_2006_2_df.drop(['month'], axis=1, inplace=True)

In [37]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2006_2_df['latitude'] = JNorth_Milkweed_Site_2006_2_df['latitude'].astype(float)
JNorth_Milkweed_Site_2006_2_df['longitude'] = JNorth_Milkweed_Site_2006_2_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [38]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2006_2_df, cols)

In [39]:
file = open("JNorth_Milkweed_Site_2006_2.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## March

In [40]:
JNorth_Milkweed_Site_2006_month_df =pd.DataFrame(JNorth_Milkweed_Site_2006_df)
JNorth_Milkweed_Site_2006_3_df = JNorth_Milkweed_Site_2006_month_df[JNorth_Milkweed_Site_2006_month_df['month']==3]
JNorth_Milkweed_Site_2006_3_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [41]:
JNorth_Milkweed_Site_2006_3_df.shape

(0, 6)

In [42]:
JNorth_Milkweed_Site_2006_3_df =pd.DataFrame(JNorth_Milkweed_Site_2006_3_df)
JNorth_Milkweed_Site_2006_3_df.drop(['month'], axis=1, inplace=True)

In [43]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2006_3_df['latitude'] = JNorth_Milkweed_Site_2006_3_df['latitude'].astype(float)
JNorth_Milkweed_Site_2006_3_df['longitude'] = JNorth_Milkweed_Site_2006_3_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [44]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2006_3_df, cols)

In [45]:
file = open("JNorth_Milkweed_Site_2006_3.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## April

In [46]:
JNorth_Milkweed_Site_2006_month_df =pd.DataFrame(JNorth_Milkweed_Site_2006_df)
JNorth_Milkweed_Site_2006_4_df = JNorth_Milkweed_Site_2006_month_df[JNorth_Milkweed_Site_2006_month_df['month']==4]
JNorth_Milkweed_Site_2006_4_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [47]:
JNorth_Milkweed_Site_2006_4_df.shape

(0, 6)

In [48]:
JNorth_Milkweed_Site_2006_4_df = pd.DataFrame(JNorth_Milkweed_Site_2006_4_df)
JNorth_Milkweed_Site_2006_4_df.drop(['month'], axis=1, inplace=True)

In [49]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2006_4_df['latitude'] = JNorth_Milkweed_Site_2006_4_df['latitude'].astype(float)
JNorth_Milkweed_Site_2006_4_df['longitude'] = JNorth_Milkweed_Site_2006_4_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [50]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2006_4_df, cols)

In [51]:
file = open("JNorth_Milkweed_Site_2006_4.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## May

In [52]:
JNorth_Milkweed_Site_2006_month_df =pd.DataFrame(JNorth_Milkweed_Site_2006_df)
JNorth_Milkweed_Site_2006_5_df = JNorth_Milkweed_Site_2006_month_df[JNorth_Milkweed_Site_2006_month_df['month']==5]
JNorth_Milkweed_Site_2006_5_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [53]:
JNorth_Milkweed_Site_2006_5_df.shape

(0, 6)

In [54]:
JNorth_Milkweed_Site_2006_5_df =pd.DataFrame(JNorth_Milkweed_Site_2006_5_df)
JNorth_Milkweed_Site_2006_5_df.drop(['month'], axis=1, inplace=True)

In [55]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2006_5_df['latitude'] = JNorth_Milkweed_Site_2006_5_df['latitude'].astype(float)
JNorth_Milkweed_Site_2006_5_df['longitude'] = JNorth_Milkweed_Site_2006_5_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [56]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2006_5_df, cols)

In [57]:
file = open("JNorth_Milkweed_Site_2006_5.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## June

In [58]:
JNorth_Milkweed_Site_2006_month_df =pd.DataFrame(JNorth_Milkweed_Site_2006_df)
JNorth_Milkweed_Site_2006_6_df = JNorth_Milkweed_Site_2006_month_df[JNorth_Milkweed_Site_2006_month_df['month']==6]
JNorth_Milkweed_Site_2006_6_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [59]:
JNorth_Milkweed_Site_2006_6_df.shape

(0, 6)

In [60]:
JNorth_Milkweed_Site_2006_6_df=pd.DataFrame(JNorth_Milkweed_Site_2006_6_df)
JNorth_Milkweed_Site_2006_6_df.drop(['month'], axis=1, inplace=True)

In [61]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2006_6_df['latitude'] = JNorth_Milkweed_Site_2006_6_df['latitude'].astype(float)
JNorth_Milkweed_Site_2006_6_df['longitude'] = JNorth_Milkweed_Site_2006_6_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [62]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2006_6_df, cols)

In [63]:
file = open("JNorth_Milkweed_Site_2006_6.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## July

In [64]:
JNorth_Milkweed_Site_2006_month_df =pd.DataFrame(JNorth_Milkweed_Site_2006_df)
JNorth_Milkweed_Site_2006_7_df = JNorth_Milkweed_Site_2006_month_df[JNorth_Milkweed_Site_2006_month_df['month']==7]
JNorth_Milkweed_Site_2006_7_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [65]:
JNorth_Milkweed_Site_2006_7_df.shape

(0, 6)

In [66]:
JNorth_Milkweed_Site_2006_7_df = pd.DataFrame(JNorth_Milkweed_Site_2006_7_df)
JNorth_Milkweed_Site_2006_7_df.drop(['month'], axis=1, inplace=True)

In [67]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2006_7_df['latitude'] = JNorth_Milkweed_Site_2006_7_df['latitude'].astype(float)
JNorth_Milkweed_Site_2006_7_df['longitude'] = JNorth_Milkweed_Site_2006_7_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [68]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2006_7_df, cols)

In [69]:
file = open("JNorth_Milkweed_Site_2006_7.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## August

In [70]:
JNorth_Milkweed_Site_2006_month_df =pd.DataFrame(JNorth_Milkweed_Site_2006_df)
JNorth_Milkweed_Site_2006_8_df = JNorth_Milkweed_Site_2006_month_df[JNorth_Milkweed_Site_2006_month_df['month']==8]
JNorth_Milkweed_Site_2006_8_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [71]:
JNorth_Milkweed_Site_2006_8_df.shape

(0, 6)

In [72]:
JNorth_Milkweed_Site_2006_8_df = pd.DataFrame(JNorth_Milkweed_Site_2006_8_df)
JNorth_Milkweed_Site_2006_8_df.drop(['month'], axis=1, inplace=True)

In [73]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2006_8_df['latitude'] = JNorth_Milkweed_Site_2006_8_df['latitude'].astype(float)
JNorth_Milkweed_Site_2006_8_df['longitude'] = JNorth_Milkweed_Site_2006_8_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [74]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2006_8_df, cols)

In [75]:
file = open("JNorth_Milkweed_Site_2006_8.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## September

In [76]:
JNorth_Milkweed_Site_2006_month_df =pd.DataFrame(JNorth_Milkweed_Site_2006_df)
JNorth_Milkweed_Site_2006_9_df = JNorth_Milkweed_Site_2006_month_df[JNorth_Milkweed_Site_2006_month_df['month']==9]
JNorth_Milkweed_Site_2006_9_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [77]:
JNorth_Milkweed_Site_2006_9_df.shape

(0, 6)

In [78]:
JNorth_Milkweed_Site_2006_9_df = pd.DataFrame(JNorth_Milkweed_Site_2006_9_df)
JNorth_Milkweed_Site_2006_9_df.drop(['month'], axis=1, inplace=True)

In [79]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2006_9_df['latitude'] = JNorth_Milkweed_Site_2006_9_df['latitude'].astype(float)
JNorth_Milkweed_Site_2006_9_df['longitude'] = JNorth_Milkweed_Site_2006_9_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [80]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2006_9_df, cols)

In [81]:
file = open("JNorth_Milkweed_Site_2006_9.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## October

In [82]:
JNorth_Milkweed_Site_2006_month_df =pd.DataFrame(JNorth_Milkweed_Site_2006_df)
JNorth_Milkweed_Site_2006_10_df = JNorth_Milkweed_Site_2006_month_df[JNorth_Milkweed_Site_2006_month_df['month']==10]
JNorth_Milkweed_Site_2006_10_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [83]:
JNorth_Milkweed_Site_2006_10_df.shape

(0, 6)

In [84]:
JNorth_Milkweed_Site_2006_10_df = pd.DataFrame(JNorth_Milkweed_Site_2006_10_df)
JNorth_Milkweed_Site_2006_10_df.drop(['month'], axis=1, inplace=True)

In [85]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2006_10_df['latitude'] = JNorth_Milkweed_Site_2006_10_df['latitude'].astype(float)
JNorth_Milkweed_Site_2006_10_df['longitude'] = JNorth_Milkweed_Site_2006_10_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [86]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2006_10_df, cols)

In [87]:
file = open("JNorth_Milkweed_Site_2006_10.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## November

In [88]:
JNorth_Milkweed_Site_2006_month_df =pd.DataFrame(JNorth_Milkweed_Site_2006_df)
JNorth_Milkweed_Site_2006_11_df = JNorth_Milkweed_Site_2006_month_df[JNorth_Milkweed_Site_2006_month_df['month']==11]
JNorth_Milkweed_Site_2006_11_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [89]:
JNorth_Milkweed_Site_2006_11_df.shape

(0, 6)

In [90]:
JNorth_Milkweed_Site_2006_11_df = pd.DataFrame(JNorth_Milkweed_Site_2006_11_df)
JNorth_Milkweed_Site_2006_11_df.drop(['month'], axis=1, inplace=True)

In [91]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2006_11_df['latitude'] = JNorth_Milkweed_Site_2006_11_df['latitude'].astype(float)
JNorth_Milkweed_Site_2006_11_df['longitude'] = JNorth_Milkweed_Site_2006_11_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [92]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2006_11_df, cols)

In [93]:
file = open("JNorth_Milkweed_Site_2006_11.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## December

In [94]:
JNorth_Milkweed_Site_2006_month_df =pd.DataFrame(JNorth_Milkweed_Site_2006_df)
JNorth_Milkweed_Site_2006_12_df = JNorth_Milkweed_Site_2006_month_df[JNorth_Milkweed_Site_2006_month_df['month']==12]
JNorth_Milkweed_Site_2006_12_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [95]:
JNorth_Milkweed_Site_2006_12_df.shape

(0, 6)

In [96]:
JNorth_Milkweed_Site_2006_12_df = pd.DataFrame(JNorth_Milkweed_Site_2006_12_df)
JNorth_Milkweed_Site_2006_12_df.drop(['month'], axis=1, inplace=True)

In [97]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2006_12_df['latitude'] = JNorth_Milkweed_Site_2006_12_df['latitude'].astype(float)
JNorth_Milkweed_Site_2006_12_df['longitude'] = JNorth_Milkweed_Site_2006_12_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [98]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2006_12_df, cols)

In [99]:
file = open("JNorth_Milkweed_Site_2006_12.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# 2007

In [100]:
JNorth_Milkweed_Site_2007_df = JNorth_Milkweed_Site_year_df[JNorth_Milkweed_Site_year_df['year']==2007]
JNorth_Milkweed_Site_2007_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, year]
Index: []

In [101]:
JNorth_Milkweed_Site_2007_df.shape

(0, 6)

In [102]:
JNorth_Milkweed_Site_2007_df = pd.DataFrame(JNorth_Milkweed_Site_2007_df)
JNorth_Milkweed_Site_2007_df.drop(['year'], axis=1, inplace=True)

In [103]:
JNorth_Milkweed_Site_2007_df.tail

<bound method NDFrame.tail of Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number]
Index: []>

In [104]:
JNorth_Milkweed_Site_2007_df['month'] = pd.DatetimeIndex(JNorth_Milkweed_Site_2007_df['sighting_date']).month

## January

In [105]:
JNorth_Milkweed_Site_2007_month_df =pd.DataFrame(JNorth_Milkweed_Site_2007_df)
JNorth_Milkweed_Site_2007_1_df = JNorth_Milkweed_Site_2007_month_df[JNorth_Milkweed_Site_2007_month_df['month']==1]
JNorth_Milkweed_Site_2007_1_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [106]:
JNorth_Milkweed_Site_2007_1_df.shape

(0, 6)

In [107]:
JNorth_Milkweed_Site_2007_1_df = pd.DataFrame(JNorth_Milkweed_Site_2007_1_df)
JNorth_Milkweed_Site_2007_1_df.drop(['month'], axis=1, inplace=True)

In [108]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2007_1_df['latitude'] = JNorth_Milkweed_Site_2007_1_df['latitude'].astype(float)
JNorth_Milkweed_Site_2007_1_df['longitude'] = JNorth_Milkweed_Site_2007_1_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [109]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2007_1_df, cols)

In [110]:
file = open("JNorth_Milkweed_Site_2007_1.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## February

In [111]:
JNorth_Milkweed_Site_2007_month_df =pd.DataFrame(JNorth_Milkweed_Site_2007_df)
JNorth_Milkweed_Site_2007_2_df = JNorth_Milkweed_Site_2007_month_df[JNorth_Milkweed_Site_2007_month_df['month']==2]
JNorth_Milkweed_Site_2007_2_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [112]:
JNorth_Milkweed_Site_2007_2_df.shape

(0, 6)

In [113]:
JNorth_Milkweed_Site_2007_2_df = pd.DataFrame(JNorth_Milkweed_Site_2007_2_df)
JNorth_Milkweed_Site_2007_2_df.drop(['month'], axis=1, inplace=True)

In [114]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2007_2_df['latitude'] = JNorth_Milkweed_Site_2007_2_df['latitude'].astype(float)
JNorth_Milkweed_Site_2007_2_df['longitude'] = JNorth_Milkweed_Site_2007_2_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [115]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2007_2_df, cols)

In [116]:
file = open("JNorth_Milkweed_Site_2007_2.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## March

In [117]:
JNorth_Milkweed_Site_2007_month_df =pd.DataFrame(JNorth_Milkweed_Site_2007_df)
JNorth_Milkweed_Site_2007_3_df = JNorth_Milkweed_Site_2007_month_df[JNorth_Milkweed_Site_2007_month_df['month']==3]
JNorth_Milkweed_Site_2007_3_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [118]:
JNorth_Milkweed_Site_2007_3_df.shape

(0, 6)

In [119]:
JNorth_Milkweed_Site_2007_3_df = pd.DataFrame(JNorth_Milkweed_Site_2007_3_df)
JNorth_Milkweed_Site_2007_3_df.drop(['month'], axis=1, inplace=True)

In [120]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2007_3_df['latitude'] = JNorth_Milkweed_Site_2007_3_df['latitude'].astype(float)
JNorth_Milkweed_Site_2007_3_df['longitude'] = JNorth_Milkweed_Site_2007_3_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [121]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2007_3_df, cols)

In [122]:
file = open("JNorth_Milkweed_Site_2007_3.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## April

In [123]:
JNorth_Milkweed_Site_2007_month_df =pd.DataFrame(JNorth_Milkweed_Site_2007_df)
JNorth_Milkweed_Site_2007_4_df = JNorth_Milkweed_Site_2007_month_df[JNorth_Milkweed_Site_2007_month_df['month']==4]
JNorth_Milkweed_Site_2007_4_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [124]:
JNorth_Milkweed_Site_2007_4_df.shape

(0, 6)

In [125]:
JNorth_Milkweed_Site_2007_4_df = pd.DataFrame(JNorth_Milkweed_Site_2007_4_df)
JNorth_Milkweed_Site_2007_4_df.drop(['month'], axis=1, inplace=True)

In [126]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2007_4_df['latitude'] = JNorth_Milkweed_Site_2007_4_df['latitude'].astype(float)
JNorth_Milkweed_Site_2007_4_df['longitude'] = JNorth_Milkweed_Site_2007_4_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [127]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2007_4_df, cols)

In [128]:
file = open("JNorth_Milkweed_Site_2007_4.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## May

In [129]:
JNorth_Milkweed_Site_2007_month_df =pd.DataFrame(JNorth_Milkweed_Site_2007_df)
JNorth_Milkweed_Site_2007_5_df = JNorth_Milkweed_Site_2007_month_df[JNorth_Milkweed_Site_2007_month_df['month']==5]
JNorth_Milkweed_Site_2007_5_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [130]:
JNorth_Milkweed_Site_2007_5_df.shape

(0, 6)

In [131]:
JNorth_Milkweed_Site_2007_5_df = pd.DataFrame(JNorth_Milkweed_Site_2007_5_df)
JNorth_Milkweed_Site_2007_5_df.drop(['month'], axis=1, inplace=True)

In [132]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2007_5_df['latitude'] = JNorth_Milkweed_Site_2007_5_df['latitude'].astype(float)
JNorth_Milkweed_Site_2007_5_df['longitude'] = JNorth_Milkweed_Site_2007_5_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [133]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2007_5_df, cols)

In [134]:
file = open("JNorth_Milkweed_Site_2007_5.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## June

In [135]:
JNorth_Milkweed_Site_2007_month_df =pd.DataFrame(JNorth_Milkweed_Site_2007_df)
JNorth_Milkweed_Site_2007_6_df = JNorth_Milkweed_Site_2007_month_df[JNorth_Milkweed_Site_2007_month_df['month']==6]
JNorth_Milkweed_Site_2007_6_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [136]:
JNorth_Milkweed_Site_2007_6_df.shape

(0, 6)

In [137]:
JNorth_Milkweed_Site_2007_6_df = pd.DataFrame(JNorth_Milkweed_Site_2007_6_df)
JNorth_Milkweed_Site_2007_6_df.drop(['month'], axis=1, inplace=True)

In [138]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2007_6_df['latitude'] = JNorth_Milkweed_Site_2007_6_df['latitude'].astype(float)
JNorth_Milkweed_Site_2007_6_df['longitude'] = JNorth_Milkweed_Site_2007_6_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [139]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2007_6_df, cols)

In [140]:
file = open("JNorth_Milkweed_Site_2007_6.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## July

In [141]:
JNorth_Milkweed_Site_2007_month_df =pd.DataFrame(JNorth_Milkweed_Site_2007_df)
JNorth_Milkweed_Site_2007_7_df = JNorth_Milkweed_Site_2007_month_df[JNorth_Milkweed_Site_2007_month_df['month']==7]
JNorth_Milkweed_Site_2007_7_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [142]:
JNorth_Milkweed_Site_2007_7_df.shape

(0, 6)

In [143]:
JNorth_Milkweed_Site_2007_7_df = pd.DataFrame(JNorth_Milkweed_Site_2007_7_df)
JNorth_Milkweed_Site_2007_7_df.drop(['month'], axis=1, inplace=True)

In [144]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2007_7_df['latitude'] = JNorth_Milkweed_Site_2007_7_df['latitude'].astype(float)
JNorth_Milkweed_Site_2007_7_df['longitude'] = JNorth_Milkweed_Site_2007_7_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [145]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2007_7_df, cols)

In [146]:
file = open("JNorth_Milkweed_Site_2007_7.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## August

In [147]:
JNorth_Milkweed_Site_2007_month_df =pd.DataFrame(JNorth_Milkweed_Site_2007_df)
JNorth_Milkweed_Site_2007_8_df = JNorth_Milkweed_Site_2007_month_df[JNorth_Milkweed_Site_2007_month_df['month']==8]
JNorth_Milkweed_Site_2007_8_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [148]:
JNorth_Milkweed_Site_2007_8_df.shape

(0, 6)

In [149]:
JNorth_Milkweed_Site_2007_8_df = pd.DataFrame(JNorth_Milkweed_Site_2007_8_df)
JNorth_Milkweed_Site_2007_8_df.drop(['month'], axis=1, inplace=True)

In [150]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2007_8_df['latitude'] = JNorth_Milkweed_Site_2007_8_df['latitude'].astype(float)
JNorth_Milkweed_Site_2007_8_df['longitude'] = JNorth_Milkweed_Site_2007_8_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [151]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2007_8_df, cols)

In [152]:
file = open("JNorth_Milkweed_Site_2007_8.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## September

In [153]:
JNorth_Milkweed_Site_2007_month_df =pd.DataFrame(JNorth_Milkweed_Site_2007_df)
JNorth_Milkweed_Site_2007_9_df = JNorth_Milkweed_Site_2007_month_df[JNorth_Milkweed_Site_2007_month_df['month']==9]
JNorth_Milkweed_Site_2007_9_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [154]:
JNorth_Milkweed_Site_2007_9_df.shape

(0, 6)

In [155]:
JNorth_Milkweed_Site_2007_9_df = pd.DataFrame(JNorth_Milkweed_Site_2007_9_df)
JNorth_Milkweed_Site_2007_9_df.drop(['month'], axis=1, inplace=True)

In [156]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2007_9_df['latitude'] = JNorth_Milkweed_Site_2007_9_df['latitude'].astype(float)
JNorth_Milkweed_Site_2007_9_df['longitude'] = JNorth_Milkweed_Site_2007_9_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [157]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2007_9_df, cols)

In [158]:
file = open("JNorth_Milkweed_Site_2007_9.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## October

In [159]:
JNorth_Milkweed_Site_2007_month_df =pd.DataFrame(JNorth_Milkweed_Site_2007_df)
JNorth_Milkweed_Site_2007_10_df = JNorth_Milkweed_Site_2007_month_df[JNorth_Milkweed_Site_2007_month_df['month']==10]
JNorth_Milkweed_Site_2007_10_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [160]:
JNorth_Milkweed_Site_2007_10_df.shape

(0, 6)

In [161]:
JNorth_Milkweed_Site_2007_10_df = pd.DataFrame(JNorth_Milkweed_Site_2007_10_df)
JNorth_Milkweed_Site_2007_10_df.drop(['month'], axis=1, inplace=True)

In [162]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2007_10_df['latitude'] = JNorth_Milkweed_Site_2007_10_df['latitude'].astype(float)
JNorth_Milkweed_Site_2007_10_df['longitude'] = JNorth_Milkweed_Site_2007_10_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [163]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2007_10_df, cols)

In [164]:
file = open("JNorth_Milkweed_Site_2007_10.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## November

In [165]:
JNorth_Milkweed_Site_2007_month_df =pd.DataFrame(JNorth_Milkweed_Site_2007_df)
JNorth_Milkweed_Site_2007_11_df = JNorth_Milkweed_Site_2007_month_df[JNorth_Milkweed_Site_2007_month_df['month']==11]
JNorth_Milkweed_Site_2007_11_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [166]:
JNorth_Milkweed_Site_2007_11_df.shape

(0, 6)

In [167]:
JNorth_Milkweed_Site_2007_11_df = pd.DataFrame(JNorth_Milkweed_Site_2007_11_df)
JNorth_Milkweed_Site_2007_11_df.drop(['month'], axis=1, inplace=True)

In [168]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2007_11_df['latitude'] = JNorth_Milkweed_Site_2007_11_df['latitude'].astype(float)
JNorth_Milkweed_Site_2007_11_df['longitude'] = JNorth_Milkweed_Site_2007_11_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [169]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2007_11_df, cols)

In [170]:
file = open("JNorth_Milkweed_Site_2007_11.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## December

In [171]:
JNorth_Milkweed_Site_2007_month_df =pd.DataFrame(JNorth_Milkweed_Site_2007_df)
JNorth_Milkweed_Site_2007_12_df = JNorth_Milkweed_Site_2007_month_df[JNorth_Milkweed_Site_2007_month_df['month']==12]
JNorth_Milkweed_Site_2007_12_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [172]:
JNorth_Milkweed_Site_2007_12_df.shape

(0, 6)

In [173]:
JNorth_Milkweed_Site_2007_12_df = pd.DataFrame(JNorth_Milkweed_Site_2007_12_df)
JNorth_Milkweed_Site_2007_12_df.drop(['month'], axis=1, inplace=True)

In [174]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2007_12_df['latitude'] = JNorth_Milkweed_Site_2007_12_df['latitude'].astype(float)
JNorth_Milkweed_Site_2007_12_df['longitude'] = JNorth_Milkweed_Site_2007_12_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [175]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2007_12_df, cols)

In [176]:
file = open("JNorth_Milkweed_Site_2007_12.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# 2008

In [177]:
JNorth_Milkweed_Site_2008_df = JNorth_Milkweed_Site_year_df[JNorth_Milkweed_Site_year_df['year']==2008]
JNorth_Milkweed_Site_2008_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, year]
Index: []

In [178]:
JNorth_Milkweed_Site_2008_df.shape

(0, 6)

In [179]:
JNorth_Milkweed_Site_2008_df = pd.DataFrame(JNorth_Milkweed_Site_2008_df)
JNorth_Milkweed_Site_2008_df.drop(['year'], axis=1, inplace=True)

In [180]:
JNorth_Milkweed_Site_2008_df.tail

<bound method NDFrame.tail of Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number]
Index: []>

In [181]:
JNorth_Milkweed_Site_2008_df['month'] = pd.DatetimeIndex(JNorth_Milkweed_Site_2008_df['sighting_date']).month

## January

In [182]:
JNorth_Milkweed_Site_2008_month_df =pd.DataFrame(JNorth_Milkweed_Site_2008_df)
JNorth_Milkweed_Site_2008_1_df = JNorth_Milkweed_Site_2008_month_df[JNorth_Milkweed_Site_2008_month_df['month']==1]
JNorth_Milkweed_Site_2008_1_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [183]:
JNorth_Milkweed_Site_2008_1_df.shape

(0, 6)

In [184]:
JNorth_Milkweed_Site_2008_1_df = pd.DataFrame(JNorth_Milkweed_Site_2008_1_df)
JNorth_Milkweed_Site_2008_1_df.drop(['month'], axis=1, inplace=True)

In [185]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2008_1_df['latitude'] = JNorth_Milkweed_Site_2008_1_df['latitude'].astype(float)
JNorth_Milkweed_Site_2008_1_df['longitude'] = JNorth_Milkweed_Site_2008_1_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [186]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2008_1_df, cols)

In [187]:
file = open("JNorth_Milkweed_Site_2008_1.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## February

In [188]:
JNorth_Milkweed_Site_2008_month_df =pd.DataFrame(JNorth_Milkweed_Site_2008_df)
JNorth_Milkweed_Site_2008_2_df = JNorth_Milkweed_Site_2008_month_df[JNorth_Milkweed_Site_2008_month_df['month']==2]
JNorth_Milkweed_Site_2008_2_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [189]:
JNorth_Milkweed_Site_2008_2_df.shape

(0, 6)

In [190]:
JNorth_Milkweed_Site_2008_2_df = pd.DataFrame(JNorth_Milkweed_Site_2008_2_df)
JNorth_Milkweed_Site_2008_2_df.drop(['month'], axis=1, inplace=True)

In [191]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2008_2_df['latitude'] = JNorth_Milkweed_Site_2008_2_df['latitude'].astype(float)
JNorth_Milkweed_Site_2008_2_df['longitude'] = JNorth_Milkweed_Site_2008_2_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [192]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2008_2_df, cols)

In [193]:
file = open("JNorth_Milkweed_Site_2008_2.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## March

In [194]:
JNorth_Milkweed_Site_2008_month_df =pd.DataFrame(JNorth_Milkweed_Site_2008_df)
JNorth_Milkweed_Site_2008_3_df = JNorth_Milkweed_Site_2008_month_df[JNorth_Milkweed_Site_2008_month_df['month']==3]
JNorth_Milkweed_Site_2008_3_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [195]:
JNorth_Milkweed_Site_2008_3_df.shape

(0, 6)

In [196]:
JNorth_Milkweed_Site_2008_3_df = pd.DataFrame(JNorth_Milkweed_Site_2008_3_df)
JNorth_Milkweed_Site_2008_3_df.drop(['month'], axis=1, inplace=True)

In [197]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2008_3_df['latitude'] = JNorth_Milkweed_Site_2008_3_df['latitude'].astype(float)
JNorth_Milkweed_Site_2008_3_df['longitude'] = JNorth_Milkweed_Site_2008_3_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [198]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2008_3_df, cols)

In [199]:
file = open("JNorth_Milkweed_Site_2008_3.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## April

In [200]:
JNorth_Milkweed_Site_2008_month_df =pd.DataFrame(JNorth_Milkweed_Site_2008_df)
JNorth_Milkweed_Site_2008_4_df = JNorth_Milkweed_Site_2008_month_df[JNorth_Milkweed_Site_2008_month_df['month']==4]
JNorth_Milkweed_Site_2008_4_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [201]:
JNorth_Milkweed_Site_2008_4_df.shape

(0, 6)

In [202]:
JNorth_Milkweed_Site_2008_4_df =pd.DataFrame(JNorth_Milkweed_Site_2008_4_df)
JNorth_Milkweed_Site_2008_4_df.drop(['month'], axis=1, inplace=True)

In [203]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2008_4_df['latitude'] = JNorth_Milkweed_Site_2008_4_df['latitude'].astype(float)
JNorth_Milkweed_Site_2008_4_df['longitude'] = JNorth_Milkweed_Site_2008_4_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [204]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2008_4_df, cols)

In [205]:
file = open("JNorth_Milkweed_Site_2008_4.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## May

In [206]:
JNorth_Milkweed_Site_2008_month_df =pd.DataFrame(JNorth_Milkweed_Site_2008_df)
JNorth_Milkweed_Site_2008_5_df = JNorth_Milkweed_Site_2008_month_df[JNorth_Milkweed_Site_2008_month_df['month']==5]
JNorth_Milkweed_Site_2008_5_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [207]:
JNorth_Milkweed_Site_2008_5_df.shape

(0, 6)

In [208]:
JNorth_Milkweed_Site_2008_5_df =pd.DataFrame(JNorth_Milkweed_Site_2008_5_df)
JNorth_Milkweed_Site_2008_5_df.drop(['month'], axis=1, inplace=True)

In [209]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2008_5_df['latitude'] = JNorth_Milkweed_Site_2008_5_df['latitude'].astype(float)
JNorth_Milkweed_Site_2008_5_df['longitude'] = JNorth_Milkweed_Site_2008_5_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [210]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2008_5_df, cols)

In [211]:
file = open("JNorth_Milkweed_Site_2008_5.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## June

In [212]:
JNorth_Milkweed_Site_2008_month_df =pd.DataFrame(JNorth_Milkweed_Site_2008_df)
JNorth_Milkweed_Site_2008_6_df = JNorth_Milkweed_Site_2008_month_df[JNorth_Milkweed_Site_2008_month_df['month']==6]
JNorth_Milkweed_Site_2008_6_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [213]:
JNorth_Milkweed_Site_2008_6_df.shape

(0, 6)

In [214]:
JNorth_Milkweed_Site_2008_6_df = pd.DataFrame(JNorth_Milkweed_Site_2008_6_df)
JNorth_Milkweed_Site_2008_6_df.drop(['month'], axis=1, inplace=True)

In [215]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2008_6_df['latitude'] = JNorth_Milkweed_Site_2008_6_df['latitude'].astype(float)
JNorth_Milkweed_Site_2008_6_df['longitude'] = JNorth_Milkweed_Site_2008_6_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [216]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2008_6_df, cols)

In [217]:
file = open("JNorth_Milkweed_Site_2008_6.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## July

In [218]:
JNorth_Milkweed_Site_2008_month_df =pd.DataFrame(JNorth_Milkweed_Site_2008_df)
JNorth_Milkweed_Site_2008_7_df = JNorth_Milkweed_Site_2008_month_df[JNorth_Milkweed_Site_2008_month_df['month']==7]
JNorth_Milkweed_Site_2008_7_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [219]:
JNorth_Milkweed_Site_2008_7_df.shape

(0, 6)

In [220]:
JNorth_Milkweed_Site_2008_7_df = pd.DataFrame(JNorth_Milkweed_Site_2008_7_df)
JNorth_Milkweed_Site_2008_7_df.drop(['month'], axis=1, inplace=True)

In [221]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2008_7_df['latitude'] = JNorth_Milkweed_Site_2008_7_df['latitude'].astype(float)
JNorth_Milkweed_Site_2008_7_df['longitude'] = JNorth_Milkweed_Site_2008_7_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [222]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2008_7_df, cols)

In [223]:
file = open("JNorth_Milkweed_Site_2008_7.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## August

In [224]:
JNorth_Milkweed_Site_2008_month_df =pd.DataFrame(JNorth_Milkweed_Site_2008_df)
JNorth_Milkweed_Site_2008_8_df = JNorth_Milkweed_Site_2008_month_df[JNorth_Milkweed_Site_2008_month_df['month']==8]
JNorth_Milkweed_Site_2008_8_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [225]:
JNorth_Milkweed_Site_2008_8_df.shape

(0, 6)

In [226]:
JNorth_Milkweed_Site_2008_8_df = pd.DataFrame(JNorth_Milkweed_Site_2008_8_df)
JNorth_Milkweed_Site_2008_8_df.drop(['month'], axis=1, inplace=True)

In [227]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2008_8_df['latitude'] = JNorth_Milkweed_Site_2008_8_df['latitude'].astype(float)
JNorth_Milkweed_Site_2008_8_df['longitude'] = JNorth_Milkweed_Site_2008_8_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [228]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2008_8_df, cols)

In [229]:
file = open("JNorth_Milkweed_Site_2008_8.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## September

In [230]:
JNorth_Milkweed_Site_2008_month_df =pd.DataFrame(JNorth_Milkweed_Site_2008_df)
JNorth_Milkweed_Site_2008_9_df = JNorth_Milkweed_Site_2008_month_df[JNorth_Milkweed_Site_2008_month_df['month']==9]
JNorth_Milkweed_Site_2008_9_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [231]:
JNorth_Milkweed_Site_2008_9_df.shape

(0, 6)

In [232]:
JNorth_Milkweed_Site_2008_9_df = pd.DataFrame(JNorth_Milkweed_Site_2008_9_df)
JNorth_Milkweed_Site_2008_9_df.drop(['month'], axis=1, inplace=True)

In [233]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2008_9_df['latitude'] = JNorth_Milkweed_Site_2008_9_df['latitude'].astype(float)
JNorth_Milkweed_Site_2008_9_df['longitude'] = JNorth_Milkweed_Site_2008_9_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [234]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2008_9_df, cols)

In [235]:
file = open("JNorth_Milkweed_Site_2008_9.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## October

In [236]:
JNorth_Milkweed_Site_2008_month_df =pd.DataFrame(JNorth_Milkweed_Site_2008_df)
JNorth_Milkweed_Site_2008_10_df = JNorth_Milkweed_Site_2008_month_df[JNorth_Milkweed_Site_2008_month_df['month']==10]
JNorth_Milkweed_Site_2008_10_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [237]:
JNorth_Milkweed_Site_2008_10_df.shape

(0, 6)

In [238]:
JNorth_Milkweed_Site_2008_10_df = pd.DataFrame(JNorth_Milkweed_Site_2008_10_df)
JNorth_Milkweed_Site_2008_10_df.drop(['month'], axis=1, inplace=True)

In [239]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2008_10_df['latitude'] = JNorth_Milkweed_Site_2008_10_df['latitude'].astype(float)
JNorth_Milkweed_Site_2008_10_df['longitude'] = JNorth_Milkweed_Site_2008_10_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [240]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2008_10_df, cols)

In [241]:
file = open("JNorth_Milkweed_Site_2008_10.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## November

In [242]:
JNorth_Milkweed_Site_2008_month_df =pd.DataFrame(JNorth_Milkweed_Site_2008_df)
JNorth_Milkweed_Site_2008_11_df = JNorth_Milkweed_Site_2008_month_df[JNorth_Milkweed_Site_2008_month_df['month']==11]
JNorth_Milkweed_Site_2008_11_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [243]:
JNorth_Milkweed_Site_2008_11_df.shape

(0, 6)

In [244]:
JNorth_Milkweed_Site_2008_11_df = pd.DataFrame(JNorth_Milkweed_Site_2008_11_df)
JNorth_Milkweed_Site_2008_11_df.drop(['month'], axis=1, inplace=True)

In [245]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2008_11_df['latitude'] = JNorth_Milkweed_Site_2008_11_df['latitude'].astype(float)
JNorth_Milkweed_Site_2008_11_df['longitude'] = JNorth_Milkweed_Site_2008_11_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [246]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2008_11_df, cols)

In [247]:
file = open("JNorth_Milkweed_Site_2008_11.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## December

In [248]:
JNorth_Milkweed_Site_2008_month_df =pd.DataFrame(JNorth_Milkweed_Site_2008_df)
JNorth_Milkweed_Site_2008_12_df = JNorth_Milkweed_Site_2008_month_df[JNorth_Milkweed_Site_2008_month_df['month']==12]
JNorth_Milkweed_Site_2008_12_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [249]:
JNorth_Milkweed_Site_2008_12_df.shape

(0, 6)

In [250]:
JNorth_Milkweed_Site_2008_12_df = pd.DataFrame(JNorth_Milkweed_Site_2008_12_df)
JNorth_Milkweed_Site_2008_12_df.drop(['month'], axis=1, inplace=True)

In [251]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2008_12_df['latitude'] = JNorth_Milkweed_Site_2008_12_df['latitude'].astype(float)
JNorth_Milkweed_Site_2008_12_df['longitude'] = JNorth_Milkweed_Site_2008_12_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [252]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2008_12_df, cols)

In [253]:
file = open("JNorth_Milkweed_Site_2008_12.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# 2009

In [254]:
JNorth_Milkweed_Site_2009_df = JNorth_Milkweed_Site_year_df[JNorth_Milkweed_Site_year_df['year']==2009]
JNorth_Milkweed_Site_2009_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, year]
Index: []

In [255]:
JNorth_Milkweed_Site_2009_df.shape

(0, 6)

In [256]:
JNorth_Milkweed_Site_2009_df = pd.DataFrame(JNorth_Milkweed_Site_2009_df)
JNorth_Milkweed_Site_2009_df.drop(['year'], axis=1, inplace=True)

In [257]:
JNorth_Milkweed_Site_2009_df.tail

<bound method NDFrame.tail of Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number]
Index: []>

In [258]:
JNorth_Milkweed_Site_2009_df['month'] = pd.DatetimeIndex(JNorth_Milkweed_Site_2009_df['sighting_date']).month

## January

In [259]:
JNorth_Milkweed_Site_2009_month_df =pd.DataFrame(JNorth_Milkweed_Site_2009_df)
JNorth_Milkweed_Site_2009_1_df = JNorth_Milkweed_Site_2009_month_df[JNorth_Milkweed_Site_2009_month_df['month']==1]
JNorth_Milkweed_Site_2009_1_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [260]:
JNorth_Milkweed_Site_2009_1_df.shape

(0, 6)

In [261]:
JNorth_Milkweed_Site_2009_1_df = pd.DataFrame(JNorth_Milkweed_Site_2009_1_df)
JNorth_Milkweed_Site_2009_1_df.drop(['month'], axis=1, inplace=True)

In [262]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2009_1_df['latitude'] = JNorth_Milkweed_Site_2009_1_df['latitude'].astype(float)
JNorth_Milkweed_Site_2009_1_df['longitude'] = JNorth_Milkweed_Site_2009_1_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [263]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2009_1_df, cols)

In [264]:
file = open("JNorth_Milkweed_Site_2009_1.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## February

In [265]:
JNorth_Milkweed_Site_2009_month_df =pd.DataFrame(JNorth_Milkweed_Site_2009_df)
JNorth_Milkweed_Site_2009_2_df = JNorth_Milkweed_Site_2009_month_df[JNorth_Milkweed_Site_2009_month_df['month']==2]
JNorth_Milkweed_Site_2009_2_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [266]:
JNorth_Milkweed_Site_2009_2_df.shape

(0, 6)

In [267]:
JNorth_Milkweed_Site_2009_2_df = pd.DataFrame(JNorth_Milkweed_Site_2009_2_df)
JNorth_Milkweed_Site_2009_2_df.drop(['month'], axis=1, inplace=True)

In [268]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2009_2_df['latitude'] = JNorth_Milkweed_Site_2009_2_df['latitude'].astype(float)
JNorth_Milkweed_Site_2009_2_df['longitude'] = JNorth_Milkweed_Site_2009_2_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [269]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2009_2_df, cols)

In [270]:
file = open("JNorth_Milkweed_Site_2009_2.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## March

In [271]:
JNorth_Milkweed_Site_2009_month_df =pd.DataFrame(JNorth_Milkweed_Site_2009_df)
JNorth_Milkweed_Site_2009_3_df = JNorth_Milkweed_Site_2009_month_df[JNorth_Milkweed_Site_2009_month_df['month']==3]
JNorth_Milkweed_Site_2009_3_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [272]:
JNorth_Milkweed_Site_2009_3_df.shape

(0, 6)

In [273]:
JNorth_Milkweed_Site_2009_3_df = pd.DataFrame(JNorth_Milkweed_Site_2009_3_df)
JNorth_Milkweed_Site_2009_3_df.drop(['month'], axis=1, inplace=True)

In [274]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2009_3_df['latitude'] = JNorth_Milkweed_Site_2009_3_df['latitude'].astype(float)
JNorth_Milkweed_Site_2009_3_df['longitude'] = JNorth_Milkweed_Site_2009_3_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [275]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2009_3_df, cols)

In [276]:
file = open("JNorth_Milkweed_Site_2009_3.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## April

In [277]:
JNorth_Milkweed_Site_2009_month_df =pd.DataFrame(JNorth_Milkweed_Site_2009_df)
JNorth_Milkweed_Site_2009_4_df = JNorth_Milkweed_Site_2009_month_df[JNorth_Milkweed_Site_2009_month_df['month']==4]
JNorth_Milkweed_Site_2009_4_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [278]:
JNorth_Milkweed_Site_2009_4_df.shape

(0, 6)

In [279]:
JNorth_Milkweed_Site_2009_4_df = pd.DataFrame(JNorth_Milkweed_Site_2009_4_df)
JNorth_Milkweed_Site_2009_4_df.drop(['month'], axis=1, inplace=True)

In [280]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2009_4_df['latitude'] = JNorth_Milkweed_Site_2009_4_df['latitude'].astype(float)
JNorth_Milkweed_Site_2009_4_df['longitude'] = JNorth_Milkweed_Site_2009_4_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [281]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2009_4_df, cols)

In [282]:
file = open("JNorth_Milkweed_Site_2009_4.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## May

In [283]:
JNorth_Milkweed_Site_2009_month_df =pd.DataFrame(JNorth_Milkweed_Site_2009_df)
JNorth_Milkweed_Site_2009_5_df = JNorth_Milkweed_Site_2009_month_df[JNorth_Milkweed_Site_2009_month_df['month']==5]
JNorth_Milkweed_Site_2009_5_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [284]:
JNorth_Milkweed_Site_2009_5_df.shape

(0, 6)

In [285]:
JNorth_Milkweed_Site_2009_5_df = pd.DataFrame(JNorth_Milkweed_Site_2009_5_df)
JNorth_Milkweed_Site_2009_5_df.drop(['month'], axis=1, inplace=True)

In [286]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2009_5_df['latitude'] = JNorth_Milkweed_Site_2009_5_df['latitude'].astype(float)
JNorth_Milkweed_Site_2009_5_df['longitude'] = JNorth_Milkweed_Site_2009_5_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [287]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2009_5_df, cols)

In [288]:
file = open("JNorth_Milkweed_Site_2009_5.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## June

In [289]:
JNorth_Milkweed_Site_2009_month_df =pd.DataFrame(JNorth_Milkweed_Site_2009_df)
JNorth_Milkweed_Site_2009_6_df = JNorth_Milkweed_Site_2009_month_df[JNorth_Milkweed_Site_2009_month_df['month']==6]
JNorth_Milkweed_Site_2009_6_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [290]:
JNorth_Milkweed_Site_2009_6_df.shape

(0, 6)

In [291]:
JNorth_Milkweed_Site_2009_6_df = pd.DataFrame(JNorth_Milkweed_Site_2009_6_df)
JNorth_Milkweed_Site_2009_6_df.drop(['month'], axis=1, inplace=True)

In [292]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2009_6_df['latitude'] = JNorth_Milkweed_Site_2009_6_df['latitude'].astype(float)
JNorth_Milkweed_Site_2009_6_df['longitude'] = JNorth_Milkweed_Site_2009_6_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [293]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2009_6_df, cols)

In [294]:
file = open("JNorth_Milkweed_Site_2009_6.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## July

In [295]:
JNorth_Milkweed_Site_2009_month_df =pd.DataFrame(JNorth_Milkweed_Site_2009_df)
JNorth_Milkweed_Site_2009_7_df = JNorth_Milkweed_Site_2009_month_df[JNorth_Milkweed_Site_2009_month_df['month']==7]
JNorth_Milkweed_Site_2009_7_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [296]:
JNorth_Milkweed_Site_2009_7_df.shape

(0, 6)

In [297]:
JNorth_Milkweed_Site_2009_7_df = pd.DataFrame(JNorth_Milkweed_Site_2009_7_df)
JNorth_Milkweed_Site_2009_7_df.drop(['month'], axis=1, inplace=True)

In [298]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2009_7_df['latitude'] = JNorth_Milkweed_Site_2009_7_df['latitude'].astype(float)
JNorth_Milkweed_Site_2009_7_df['longitude'] = JNorth_Milkweed_Site_2009_7_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [299]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2009_7_df, cols)

In [300]:
file = open("JNorth_Milkweed_Site_2009_7.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## August

In [301]:
JNorth_Milkweed_Site_2009_month_df =pd.DataFrame(JNorth_Milkweed_Site_2009_df)
JNorth_Milkweed_Site_2009_8_df = JNorth_Milkweed_Site_2009_month_df[JNorth_Milkweed_Site_2009_month_df['month']==8]
JNorth_Milkweed_Site_2009_8_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [302]:
JNorth_Milkweed_Site_2009_8_df.shape

(0, 6)

In [303]:
JNorth_Milkweed_Site_2009_8_df= pd.DataFrame(JNorth_Milkweed_Site_2009_8_df)
JNorth_Milkweed_Site_2009_8_df.drop(['month'], axis=1, inplace=True)

In [304]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2009_8_df['latitude'] = JNorth_Milkweed_Site_2009_8_df['latitude'].astype(float)
JNorth_Milkweed_Site_2009_8_df['longitude'] = JNorth_Milkweed_Site_2009_8_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [305]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2009_8_df, cols)

In [306]:
file = open("JNorth_Milkweed_Site_2009_8.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## September

In [307]:
JNorth_Milkweed_Site_2009_month_df =pd.DataFrame(JNorth_Milkweed_Site_2009_df)
JNorth_Milkweed_Site_2009_9_df = JNorth_Milkweed_Site_2009_month_df[JNorth_Milkweed_Site_2009_month_df['month']==9]
JNorth_Milkweed_Site_2009_9_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [308]:
JNorth_Milkweed_Site_2009_9_df.shape

(0, 6)

In [309]:
JNorth_Milkweed_Site_2009_9_df = pd.DataFrame(JNorth_Milkweed_Site_2009_9_df)
JNorth_Milkweed_Site_2009_9_df.drop(['month'], axis=1, inplace=True)

In [310]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2009_9_df['latitude'] = JNorth_Milkweed_Site_2009_9_df['latitude'].astype(float)
JNorth_Milkweed_Site_2009_9_df['longitude'] = JNorth_Milkweed_Site_2009_9_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [311]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2009_9_df, cols)

In [312]:
file = open("JNorth_Milkweed_Site_2009_9.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## October

In [313]:
JNorth_Milkweed_Site_2009_month_df =pd.DataFrame(JNorth_Milkweed_Site_2009_df)
JNorth_Milkweed_Site_2009_10_df = JNorth_Milkweed_Site_2009_month_df[JNorth_Milkweed_Site_2009_month_df['month']==10]
JNorth_Milkweed_Site_2009_10_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [314]:
JNorth_Milkweed_Site_2009_10_df.shape

(0, 6)

In [315]:
JNorth_Milkweed_Site_2009_10_df = pd.DataFrame(JNorth_Milkweed_Site_2009_10_df)
JNorth_Milkweed_Site_2009_10_df.drop(['month'], axis=1, inplace=True)

In [316]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2009_10_df['latitude'] = JNorth_Milkweed_Site_2009_10_df['latitude'].astype(float)
JNorth_Milkweed_Site_2009_10_df['longitude'] = JNorth_Milkweed_Site_2009_10_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [317]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2009_10_df, cols)

In [318]:
file = open("JNorth_Milkweed_Site_2009_10.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## November

In [319]:
JNorth_Milkweed_Site_2009_month_df =pd.DataFrame(JNorth_Milkweed_Site_2009_df)
JNorth_Milkweed_Site_2009_11_df = JNorth_Milkweed_Site_2009_month_df[JNorth_Milkweed_Site_2009_month_df['month']==11]
JNorth_Milkweed_Site_2009_11_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [320]:
JNorth_Milkweed_Site_2009_11_df.shape

(0, 6)

In [321]:
JNorth_Milkweed_Site_2009_11_df = pd.DataFrame(JNorth_Milkweed_Site_2009_11_df)
JNorth_Milkweed_Site_2009_11_df.drop(['month'], axis=1, inplace=True)

In [322]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2009_11_df['latitude'] = JNorth_Milkweed_Site_2009_11_df['latitude'].astype(float)
JNorth_Milkweed_Site_2009_11_df['longitude'] = JNorth_Milkweed_Site_2009_11_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [323]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2009_11_df, cols)

In [324]:
file = open("JNorth_Milkweed_Site_2009_11.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## December

In [325]:
JNorth_Milkweed_Site_2009_month_df =pd.DataFrame(JNorth_Milkweed_Site_2009_df)
JNorth_Milkweed_Site_2009_12_df = JNorth_Milkweed_Site_2009_month_df[JNorth_Milkweed_Site_2009_month_df['month']==12]
JNorth_Milkweed_Site_2009_12_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [326]:
JNorth_Milkweed_Site_2009_12_df.shape

(0, 6)

In [327]:
JNorth_Milkweed_Site_2009_12_df = pd.DataFrame(JNorth_Milkweed_Site_2009_12_df)
JNorth_Milkweed_Site_2009_12_df.drop(['month'], axis=1, inplace=True)

In [328]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2009_12_df['latitude'] = JNorth_Milkweed_Site_2009_12_df['latitude'].astype(float)
JNorth_Milkweed_Site_2009_12_df['longitude'] = JNorth_Milkweed_Site_2009_12_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [329]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2009_12_df, cols)

In [330]:
file = open("JNorth_Milkweed_Site_2009_12.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# 2010

In [331]:
JNorth_Milkweed_Site_2010_df = JNorth_Milkweed_Site_df[JNorth_Milkweed_Site_df['year']==2010]
JNorth_Milkweed_Site_2010_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, year]
Index: []

In [332]:
JNorth_Milkweed_Site_2010_df.shape

(0, 6)

In [333]:
JNorth_Milkweed_Site_2010_df = pd.DataFrame(JNorth_Milkweed_Site_2010_df)
JNorth_Milkweed_Site_2010_df.drop(['year'], axis=1, inplace=True)

In [334]:
JNorth_Milkweed_Site_2010_df.tail

<bound method NDFrame.tail of Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number]
Index: []>

In [335]:
JNorth_Milkweed_Site_2010_df['month'] = pd.DatetimeIndex(JNorth_Milkweed_Site_2010_df['sighting_date']).month

## January

In [336]:
JNorth_Milkweed_Site_2010_month_df =pd.DataFrame(JNorth_Milkweed_Site_2010_df)
JNorth_Milkweed_Site_2010_1_df = JNorth_Milkweed_Site_2010_month_df[JNorth_Milkweed_Site_2010_month_df['month']==1]
JNorth_Milkweed_Site_2010_1_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [337]:
JNorth_Milkweed_Site_2010_1_df.shape

(0, 6)

In [338]:
JNorth_Milkweed_Site_2010_1_df = pd.DataFrame(JNorth_Milkweed_Site_2010_1_df)
JNorth_Milkweed_Site_2010_1_df.drop(['month'], axis=1, inplace=True)

In [339]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2010_1_df['latitude'] = JNorth_Milkweed_Site_2010_1_df['latitude'].astype(float)
JNorth_Milkweed_Site_2010_1_df['longitude'] = JNorth_Milkweed_Site_2010_1_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [340]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2010_1_df, cols)

In [341]:
file = open("JNorth_Milkweed_Site_2010_1.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# February

In [342]:
JNorth_Milkweed_Site_2010_month_df =pd.DataFrame(JNorth_Milkweed_Site_2010_df)
JNorth_Milkweed_Site_2010_2_df = JNorth_Milkweed_Site_2010_month_df[JNorth_Milkweed_Site_2010_month_df['month']==2]
JNorth_Milkweed_Site_2010_2_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [343]:
JNorth_Milkweed_Site_2010_2_df.shape

(0, 6)

In [344]:
JNorth_Milkweed_Site_2010_2_df = pd.DataFrame(JNorth_Milkweed_Site_2010_2_df)
JNorth_Milkweed_Site_2010_2_df.drop(['month'], axis=1, inplace=True)

In [345]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2010_2_df['latitude'] = JNorth_Milkweed_Site_2010_2_df['latitude'].astype(float)
JNorth_Milkweed_Site_2010_2_df['longitude'] = JNorth_Milkweed_Site_2010_2_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [346]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2010_2_df, cols)

In [347]:
file = open("JNorth_Milkweed_Site_2010_2.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# March

In [348]:
JNorth_Milkweed_Site_2010_month_df =pd.DataFrame(JNorth_Milkweed_Site_2010_df)
JNorth_Milkweed_Site_2010_3_df = JNorth_Milkweed_Site_2010_month_df[JNorth_Milkweed_Site_2010_month_df['month']==3]
JNorth_Milkweed_Site_2010_3_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [349]:
JNorth_Milkweed_Site_2010_3_df.shape

(0, 6)

In [350]:
JNorth_Milkweed_Site_2010_3_df = pd.DataFrame(JNorth_Milkweed_Site_2010_3_df)
JNorth_Milkweed_Site_2010_3_df.drop(['month'], axis=1, inplace=True)

In [351]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2010_3_df['latitude'] = JNorth_Milkweed_Site_2010_3_df['latitude'].astype(float)
JNorth_Milkweed_Site_2010_3_df['longitude'] = JNorth_Milkweed_Site_2010_3_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [352]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2010_3_df, cols)

In [353]:
file = open("JNorth_Milkweed_Site_2010_3.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# April

In [354]:
JNorth_Milkweed_Site_2010_month_df =pd.DataFrame(JNorth_Milkweed_Site_2010_df)
JNorth_Milkweed_Site_2010_4_df = JNorth_Milkweed_Site_2010_month_df[JNorth_Milkweed_Site_2010_month_df['month']==4]
JNorth_Milkweed_Site_2010_4_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [355]:
JNorth_Milkweed_Site_2010_4_df.shape

(0, 6)

In [356]:
JNorth_Milkweed_Site_2010_4_df= pd.DataFrame(JNorth_Milkweed_Site_2010_4_df)
JNorth_Milkweed_Site_2010_4_df.drop(['month'], axis=1, inplace=True)

In [357]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2010_4_df['latitude'] = JNorth_Milkweed_Site_2010_4_df['latitude'].astype(float)
JNorth_Milkweed_Site_2010_4_df['longitude'] = JNorth_Milkweed_Site_2010_4_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [358]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2010_4_df, cols)

In [359]:
file = open("JNorth_Milkweed_Site_2010_4.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# May

In [360]:
JNorth_Milkweed_Site_2010_month_df =pd.DataFrame(JNorth_Milkweed_Site_2010_df)
JNorth_Milkweed_Site_2010_5_df = JNorth_Milkweed_Site_2010_month_df[JNorth_Milkweed_Site_2010_month_df['month']==5]
JNorth_Milkweed_Site_2010_5_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [361]:
JNorth_Milkweed_Site_2010_5_df.shape

(0, 6)

In [362]:
JNorth_Milkweed_Site_2010_5_df = pd.DataFrame(JNorth_Milkweed_Site_2010_5_df)
JNorth_Milkweed_Site_2010_5_df.drop(['month'], axis=1, inplace=True)

In [363]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2010_5_df['latitude'] = JNorth_Milkweed_Site_2010_5_df['latitude'].astype(float)
JNorth_Milkweed_Site_2010_5_df['longitude'] = JNorth_Milkweed_Site_2010_5_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [364]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2010_5_df, cols)

In [365]:
file = open("JNorth_Milkweed_Site_2010_5.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# June

In [366]:
JNorth_Milkweed_Site_2010_month_df =pd.DataFrame(JNorth_Milkweed_Site_2010_df)
JNorth_Milkweed_Site_2010_6_df = JNorth_Milkweed_Site_2010_month_df[JNorth_Milkweed_Site_2010_month_df['month']==6]
JNorth_Milkweed_Site_2010_6_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [367]:
JNorth_Milkweed_Site_2010_6_df.shape

(0, 6)

In [368]:
JNorth_Milkweed_Site_2010_6_df = pd.DataFrame(JNorth_Milkweed_Site_2010_6_df)
JNorth_Milkweed_Site_2010_6_df.drop(['month'], axis=1, inplace=True)

In [369]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2010_6_df['latitude'] = JNorth_Milkweed_Site_2010_6_df['latitude'].astype(float)
JNorth_Milkweed_Site_2010_6_df['longitude'] = JNorth_Milkweed_Site_2010_6_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [370]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2010_6_df, cols)

In [371]:
file = open("JNorth_Milkweed_Site_2010_6.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# July

In [372]:
JNorth_Milkweed_Site_2010_month_df =pd.DataFrame(JNorth_Milkweed_Site_2010_df)
JNorth_Milkweed_Site_2010_7_df = JNorth_Milkweed_Site_2010_month_df[JNorth_Milkweed_Site_2010_month_df['month']==7]
JNorth_Milkweed_Site_2010_7_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [373]:
JNorth_Milkweed_Site_2010_7_df.shape

(0, 6)

In [374]:
JNorth_Milkweed_Site_2010_7_df = pd.DataFrame(JNorth_Milkweed_Site_2010_7_df)
JNorth_Milkweed_Site_2010_7_df.drop(['month'], axis=1, inplace=True)

In [375]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2010_7_df['latitude'] = JNorth_Milkweed_Site_2010_7_df['latitude'].astype(float)
JNorth_Milkweed_Site_2010_7_df['longitude'] = JNorth_Milkweed_Site_2010_7_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [376]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2010_7_df, cols)

In [377]:
file = open("JNorth_Milkweed_Site_2010_7.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# August

In [378]:
JNorth_Milkweed_Site_2010_month_df =pd.DataFrame(JNorth_Milkweed_Site_2010_df)
JNorth_Milkweed_Site_2010_8_df = JNorth_Milkweed_Site_2010_month_df[JNorth_Milkweed_Site_2010_month_df['month']==8]
JNorth_Milkweed_Site_2010_8_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [379]:
JNorth_Milkweed_Site_2010_8_df.shape

(0, 6)

In [380]:
JNorth_Milkweed_Site_2010_8_df = pd.DataFrame(JNorth_Milkweed_Site_2010_8_df)
JNorth_Milkweed_Site_2010_8_df.drop(['month'], axis=1, inplace=True)

In [381]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2010_8_df['latitude'] = JNorth_Milkweed_Site_2010_8_df['latitude'].astype(float)
JNorth_Milkweed_Site_2010_8_df['longitude'] = JNorth_Milkweed_Site_2010_8_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [382]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2010_8_df, cols)

In [383]:
file = open("JNorth_Milkweed_Site_2010_8.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# September

In [384]:
JNorth_Milkweed_Site_2010_month_df =pd.DataFrame(JNorth_Milkweed_Site_2010_df)
JNorth_Milkweed_Site_2010_9_df = JNorth_Milkweed_Site_2010_month_df[JNorth_Milkweed_Site_2010_month_df['month']==9]
JNorth_Milkweed_Site_2010_9_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [385]:
JNorth_Milkweed_Site_2010_9_df.shape

(0, 6)

In [386]:
JNorth_Milkweed_Site_2010_9_df = pd.DataFrame(JNorth_Milkweed_Site_2010_9_df)
JNorth_Milkweed_Site_2010_9_df.drop(['month'], axis=1, inplace=True)

In [387]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2010_9_df['latitude'] = JNorth_Milkweed_Site_2010_9_df['latitude'].astype(float)
JNorth_Milkweed_Site_2010_9_df['longitude'] = JNorth_Milkweed_Site_2010_9_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [388]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2010_9_df, cols)

In [389]:
file = open("JNorth_Milkweed_Site_2010_9.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# October

In [390]:
JNorth_Milkweed_Site_2010_month_df =pd.DataFrame(JNorth_Milkweed_Site_2010_df)
JNorth_Milkweed_Site_2010_10_df = JNorth_Milkweed_Site_2010_month_df[JNorth_Milkweed_Site_2010_month_df['month']==10]
JNorth_Milkweed_Site_2010_10_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [391]:
JNorth_Milkweed_Site_2010_10_df.shape

(0, 6)

In [392]:
JNorth_Milkweed_Site_2010_10_df = pd.DataFrame(JNorth_Milkweed_Site_2010_10_df)
JNorth_Milkweed_Site_2010_10_df.drop(['month'], axis=1, inplace=True)

In [393]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2010_10_df['latitude'] = JNorth_Milkweed_Site_2010_10_df['latitude'].astype(float)
JNorth_Milkweed_Site_2010_10_df['longitude'] = JNorth_Milkweed_Site_2010_10_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [394]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2010_10_df, cols)

In [395]:
file = open("JNorth_Milkweed_Site_2010_10.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# November

In [396]:
JNorth_Milkweed_Site_2010_month_df =pd.DataFrame(JNorth_Milkweed_Site_2010_df)
JNorth_Milkweed_Site_2010_11_df = JNorth_Milkweed_Site_2010_month_df[JNorth_Milkweed_Site_2010_month_df['month']==11]
JNorth_Milkweed_Site_2010_11_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [397]:
JNorth_Milkweed_Site_2010_11_df.shape

(0, 6)

In [398]:
JNorth_Milkweed_Site_2010_11_df = pd.DataFrame(JNorth_Milkweed_Site_2010_11_df)
JNorth_Milkweed_Site_2010_11_df.drop(['month'], axis=1, inplace=True)

In [399]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2010_11_df['latitude'] = JNorth_Milkweed_Site_2010_11_df['latitude'].astype(float)
JNorth_Milkweed_Site_2010_11_df['longitude'] = JNorth_Milkweed_Site_2010_11_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [400]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2010_11_df, cols)

In [401]:
file = open("JNorth_Milkweed_Site_2010_11.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# December

In [402]:
JNorth_Milkweed_Site_2010_month_df =pd.DataFrame(JNorth_Milkweed_Site_2010_df)
JNorth_Milkweed_Site_2010_12_df = JNorth_Milkweed_Site_2010_month_df[JNorth_Milkweed_Site_2010_month_df['month']==12]
JNorth_Milkweed_Site_2010_12_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [403]:
JNorth_Milkweed_Site_2010_12_df.shape

(0, 6)

In [404]:
JNorth_Milkweed_Site_2010_12_df = pd.DataFrame(JNorth_Milkweed_Site_2010_12_df)
JNorth_Milkweed_Site_2010_12_df.drop(['month'], axis=1, inplace=True)

In [405]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_2010_12_df['latitude'] = JNorth_Milkweed_Site_2010_12_df['latitude'].astype(float)
JNorth_Milkweed_Site_2010_12_df['longitude'] = JNorth_Milkweed_Site_2010_12_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [406]:
geojson = df_to_geojson(JNorth_Milkweed_Site_2010_12_df, cols)

In [407]:
file = open("JNorth_Milkweed_Site_2010_12.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()