# Journey North Adult First Sightings

In [438]:
#  Import and read
import pandas as pd 
import numpy as np
import json
# Sue Mottet 2-19-2022

# geoJSONifier

In [439]:
def df_to_geojson(df, properties, lat='latitude', lon='longitude'):
    # create a new python dict to contain our geojson data, using geojson format
    geojson = {'type':'FeatureCollection', 'features':[]}

    # loop through each row in the dataframe and convert each row to geojson format
    for _, row in df.iterrows():
        # create a feature template to fill in
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point',
                               'coordinates':[]}}

        # fill in the coordinates
        feature['geometry']['coordinates'] = [row[lon],row[lat]]

        # for each column, get the value and add it as a new feature property
        for prop in properties:
            feature['properties'][prop] = row[prop]
        
        # add this feature (aka, converted dataframe row) to the list of features inside our dict
        geojson['features'].append(feature)
    
    return geojson

# Load file

In [440]:
JNorth1996_2020_df = pd.read_csv("UWMadisonArb_JNorth_Project_MonarchsAndMilkweed_1996-2020.csv")
JNorth1996_2020_df.head()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,sighting_date,species,number,latitude,longitude,flag_location,comments,school,grade,image_url,customerid,number_old,flag_number,species_old,flag_species
0,850841703,1996-12-16,Monarch Adult Sighted,1,27.594,-81.362,0,On the ballfield a solitary monarch butterfly ...,Walker memorial junior academy,10.0,-999999.999,135,-999999.999,1,Monarch Butterfly,1
1,851824801,1996-12-06,Monarch Adult Sighted,1,30.420,-87.224,0,Our 5th grade Discovery students who went alon...,Hambrick elementary school,5.0,-999999.999,150,-999999.999,1,Monarch Butterfly,1
2,854409931,1996-09-21,Monarch Adult Sighted,1,40.817,-96.710,0,We saw several hundred monarchs in our school ...,-999999.999,5.0,-999999.999,9701054,-999999.999,1,Monarch Butterfly,1
3,854557206,1996-09-21,Monarch Adult Sighted,1,40.817,-96.710,0,Over a hundered monarchs in our school butterf...,Fredstrom elementary school,6.0,-999999.999,175,-999999.999,1,Monarch Butterfly,1
4,855061862,1997-01-01,Monarch Adult Sighted,1,34.244,-77.946,0,"I Thought I Saw It, But I Was Suprised To See ...",Gregory,3.0,-999999.999,181,-999999.999,1,Monarch Butterfly,1

# Data Exploratory

In [441]:
JNorth1996_2020_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227433 entries, 0 to 227432
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             227433 non-null  int64
 1   sighting_date  227433 non-null  object
 2   species        227433 non-null  object
 3   number         227433 non-null  int64
 4   latitude       227433 non-null  float64
 5   longitude      227433 non-null  float64
 6   flag_location  227433 non-null  int64
 7   comments       227433 non-null  object
 8   school         227433 non-null  object
 9   grade          227433 non-null  float64
 10  image_url      227433 non-null  object
 11  customerid     227433 non-null  int64
 12  number_old     227433 non-null  float64
 13  flag_number    227433 non-null  int64
 14  species_old    227433 non-null  object
 15  flag_species   227433 non-null  int64
dtypes: float64(4), int64(6), object(6)
memory usage: 27.8+ MB

In [442]:
str(JNorth1996_2020_df.columns.tolist())

"['id', 'sighting_date', 'species', 'number', 'latitude', 'longitude', 'flag_location', 'comments', 'school', 'grade', 'image_url', 'customerid', 'number_old', 'flag_number', 'species_old', 'flag_species']"

In [443]:
JNorth1996_2020_df.describe()

,id,number,latitude,longitude,flag_location,grade,customerid,number_old,flag_number,flag_species
count,2.274330e+05,2.274330e+05,227433.000000,227433.000000,227433.000000,227433.000000,2.274330e+05,2.274330e+05,227433.000000,227433.000000
mean,1.420650e+09,1.186529e+02,38.400690,-87.569965,0.598018,-907386.217597,9.451737e+06,-2.844270e+05,0.294816,0.130324
std,1.456887e+08,2.209080e+04,5.268651,10.880362,0.490299,289894.342744,2.193961e+06,4.518136e+05,0.467089,0.336660
min,8.508417e+08,-1.700000e+01,-12.100000,-165.107000,0.000000,-999999.999000,0.000000e+00,-1.000000e+06,0.000000,0.000000
25%,1.377751e+09,1.000000e+00,34.723000,-95.268000,0.000000,-999999.999000,9.941050e+06,-1.000000e+06,0.000000,0.000000
50%,1.477448e+09,1.000000e+00,39.503000,-86.787000,1.000000,-999999.999000,9.977663e+06,1.000000e+00,0.000000,0.000000
75%,1.526383e+09,3.000000e+00,42.409000,-79.255000,1.000000,-999999.999000,1.000029e+07,3.000000e+00,1.000000,0.000000
max,1.526525e+09,1.000000e+07,65.136000,-52.883000,1.000000,1112.000000,1.004256e+07,1.000000e+07,2.000000,1.000000

In [444]:
JNorth1996_2020_df.columns.tolist()

['id',
 'sighting_date',
 'species',
 'number',
 'latitude',
 'longitude',
 'flag_location',
 'comments',
 'school',
 'grade',
 'image_url',
 'customerid',
 'number_old',
 'flag_number',
 'species_old',
 'flag_species']

In [445]:
JNorth1996_2020_df.shape

(227433, 16)

In [446]:
# Determine the number of unique values in each column.
for col in JNorth1996_2020_df:
  print(JNorth1996_2020_df[col].unique())

[ 850841703  851824801  854409931 ... 1526524404 1526524405 1526525021]
['1996-12-16' '1996-12-06' '1996-09-21' ... '2020-12-29' '2020-12-30'
 '2020-12-31']
['Monarch Adult Sighted' 'Monarch Adult (FIRST sighted)'
 'Monarch Egg (FIRST sighted)' 'Monarch (OTHER Observations)'
 'Monarch Larva (FIRST sighted)' 'Monarch PEAK Migration'
 'Milkweed (FIRST sighted)' 'Monarch Fall Roost' 'Monarch Egg Sighted'
 'Monarch Larva Sighted' 'Monarch, Captive-Reared' 'Milkweed Sighted']
[       1      150       20       89       30     2000       50     7500
       23      200        5      300        4      100       71      120
      325       21       28     5000    20000       36       25        6
       54     1000      160       24       60       37        2     3000
  1000000       10  2000000       40       85       65       15        8
      500       14      112       75       80    15000       18    10000
      912   100000      400      800       12       35      600       16
    25000     1500     1117       70        3      463       45       72
      250      182       56       26    30000     2500     8000      750
      700       46      556       34      275       53       22      650
      210      224     1100      240   200000      900     1200        7
       13      115       11       19      810       66       43      510
        9       62       27      290      104       44      440      202
       55      180       17      140      269       61      142      175
       41      123       32       76       31      195      125       29
      164      109      119      105     4000       69      360       88
       58      239       48      310      117       52      261       90
      135      296      211       39       51      102     7001      127
       49       47       33     1300       42      101     5075     1520
      170       81      190       38      110      558      381      228
      248       86       74      172      230      420     2806       94
       92      118      425     5400     6300       68       79    50000
     2300     7000       84      128       57      350       83      124
      114      450      147      501       87       77      197      840
    13460     3500       64       73      178      265      151      133
      121      477       59       97      850      130      165       95
      383       98      729      222      116      225       63     6000
      475    34000    13420    21329    12073    16244    30293    11082
       78      214      113      108      280      212      138      285
      229      216      720      206      606      287      107      134
      157      540 10000000      220      103      270       82      139
      318       93       67      181      122      158      156      232
      106      155     2400      667     1286      179      349      207
      505      132      154     1400    32914    29804    18128    15890
     7750     8531     7333     7783      173      213      126      378
      417      481      780     4800      625      208      205      145
      260      193      144      227      305      831      289      246
      404      152       96      373      855     1800      519      215
      441      337    23800      218      340      231     2100      550
     4500      320     9000    12000      324      461      184      570
      444      620    11000      870      478      252      447      247
      281      980    28073    13492    12864    11472    10200      301
      111      259      171      141      256      186      174      198
      479      187      223      474      203      278      153      257
      520      185     3200      375      258      136    70000    60200
    48000    17800      264    19755    17100    12189    13375      233
      204      192      131       -1      129      149      -17      460
      382      137      143      445       91     1700      330      254
      429      813     2200      316     2600      696      291      255
      286      543      183      251      362      226      453     1080
      860      315      332      244     1351    35000     1503     1125
      725     1482      593     2079    12284    19741    12360    10099
      587    19000   500000      189      671      713     1016      176
      345      219      234      249      409      418    16000     3900
      169     7200      272      284      653      428      348      777
      253       99      201     1516      335      359      356      875
      560      177      525      686     1380      276   999999    12620
     6500     5850      188     2960      480      385      827      323
      148     1012      465      196      162      238      446      313
     2385      307      263      357      163      495     1001      541
      733      167     3600      457     5700     1650     1120     3553
      995     1600     1390      614     7600     8250      314     1580
      221     1620      470      759      267      960     1301      566
      342      880      782      241      514     2250     2470      925
      403      166     6769      146     2469      209      279      868
      585      311      683      354      308      760      387      563
      801      536      161      397      322      613      191     1750
      199      516      321     1850      277      297     4750      370
      489     1149      268     2816      789      430      978      770
      493      716      159]
[27.594 30.42  40.817 ... 30.139 35.008 54.968]
[ -81.362  -87.224  -96.71  ... -118.107 -119.132 -108.727]
[0 1]
['On the ballfield a solitary monarch butterfly flew across the field in a south-west direction at approximately 1:30 pm.'
 'Our 5th grade Discovery students who went along on an overnight field trip to Ft. Pickens, Florida, noticed that there were monarch butterflies all over the grounds of the fort the day they were there (Dec. 6,1996).'
 'We saw several hundred monarchs in our school butterfly garden,  sipping nectar from the New England asters and zinnias.'
 ...
 "There have been at least three Monarchs in my yard this year. I know it's at least three, because I often see all of them at once. But there may be more. I have lived here for 35 years, and an additional 23 years just a mile-and-a-half down the road. This is the first time in decades that I've had Monarchs in my yard, and I've been very excited that they're coming back. I'm hoping to see more in the future. "
 'One larva seen.'
 'Date of last adult sighted.Total sightings were 98 adults from June 3 to Sept. 4.Peak sightings were July 8 to Aug 7.Approx. acreage with milkweed is equal to 4.5Ac. ']
['Walker memorial junior academy' 'Hambrick elementary school'
 '-999999.999' ... 'Homosassa springs wildlife state park'
 'Director, virginia master naturalist program' -999999.999]
[ 1.00000000e+01  5.00000000e+00  6.00000000e+00  3.00000000e+00
  9.00000000e+00 -9.99999999e+05  7.00000000e+00  2.00000000e+00
  8.00000000e+00  9.90000000e+01  4.00000000e+00  1.00000000e+00
  1.20000000e+01  1.10000000e+01  0.00000000e+00  3.40000000e+01
  2.50000000e+01  4.60000000e+01  6.80000000e+01  1.50000000e+01
  9.50000000e+01  3.60000000e+01  1.80000000e+01  2.30000000e+01
  1.40000000e+01  4.50000000e+01  9.12000000e+02  2.40000000e+01
  6.90000000e+01  5.60000000e+01  7.12000000e+02  6.78000000e+02
  1.12000000e+02  4.90000000e+01  7.80000000e+01  6.70000000e+01
  1.30000000e+01  4.56000000e+02  1.90000000e+01  6.12000000e+02
  1.11200000e+03  1.60000000e+01  1.01200000e+03  3.80000000e+01
  6.30000000e+01  2.70000000e+01  1.00000000e+02  9.10000000e+02
  6.20000000e+01  3.11000000e+02  5.80000000e+01  1.70000000e+01
  2.10000000e+01  2.80000000e+01  7.10000000e+01  3.45000000e+02
  1.19000000e+02  3.50000000e+01  4.20000000e+01  6.50000000e+01
  5.00000000e+01  4.12000000e+02  7.90000000e+01  2.00000000e+01
  7.11000000e+02  5.30000000e+01  1.35000000e+02]
['-999999.999'
 'https://journeynorth.org/jnorth/images/userfiles2013/1193346010.jpg'
 'https://www.learner.org/jnorth/images/userfiles/1317067653.jpg' ...
 '//journeynorth.org/jnorth/images/userfiles2021/05/1526513089.jpg'
 '//journeynorth.org/jnorth/images/userfiles2021/05/1526513090.jpg'
 '//journeynorth.org/jnorth/images/userfiles2021/06/1526524404.jpg']
[     135      150  9701054 ... 10042506 10042509 10042557]
[-9.99999999e+05  0.00000000e+00  1.50000000e+02  2.00000000e+01
  8.90000000e+01  3.00000000e+01  2.00000000e+03  5.00000000e+01
  7.50000000e+03  2.30000000e+01  2.00000000e+02  5.00000000e+00
  3.00000000e+02  4.00000000e+00  1.00000000e+02  7.10000000e+01
  1.20000000e+02  3.25000000e+02  2.10000000e+01  2.80000000e+01
  5.00000000e+03  2.00000000e+04  3.60000000e+01  2.50000000e+01
  6.00000000e+00  5.40000000e+01  1.00000000e+03  1.60000000e+02
  2.40000000e+01  6.00000000e+01  3.70000000e+01  2.00000000e+00
  3.00000000e+03  1.00000000e+06  1.00000000e+01  1.00000000e+00
  2.00000000e+06  4.00000000e+01  8.50000000e+01  6.50000000e+01
  1.50000000e+01  8.00000000e+00  5.00000000e+02  1.40000000e+01
  1.12000000e+02  7.50000000e+01  8.00000000e+01  1.50000000e+04
  1.80000000e+01  1.00000000e+04  9.12000000e+02  1.00000000e+05
  4.00000000e+02  8.00000000e+02  1.20000000e+01  3.50000000e+01
  6.00000000e+02  1.60000000e+01  2.50000000e+04  1.50000000e+03
  1.11700000e+03  7.00000000e+01  3.00000000e+00  4.63000000e+02
  4.50000000e+01  7.20000000e+01  2.50000000e+02  1.82000000e+02
  5.60000000e+01  2.60000000e+01  3.00000000e+04  2.50000000e+03
  8.00000000e+03  7.50000000e+02  7.00000000e+02  4.60000000e+01
  5.56000000e+02  3.40000000e+01  2.75000000e+02  5.30000000e+01
  2.20000000e+01  6.50000000e+02  2.10000000e+02  2.24000000e+02
  1.10000000e+03  2.40000000e+02  2.00000000e+05  9.00000000e+02
  1.20000000e+03  7.00000000e+00  1.30000000e+01  1.15000000e+02
  1.10000000e+01  1.90000000e+01  8.10000000e+02  6.60000000e+01
  4.30000000e+01  5.10000000e+02  9.00000000e+00  6.20000000e+01
  2.70000000e+01  2.90000000e+02  1.04000000e+02  4.40000000e+01
  4.40000000e+02  2.02000000e+02  5.50000000e+01  1.80000000e+02
  1.70000000e+01  1.40000000e+02  2.69000000e+02  6.10000000e+01
  1.42000000e+02  1.75000000e+02  4.10000000e+01  1.23000000e+02
  3.20000000e+01  7.60000000e+01  3.10000000e+01  1.95000000e+02
  1.25000000e+02  2.90000000e+01  1.64000000e+02  1.09000000e+02
  1.19000000e+02  1.05000000e+02  4.00000000e+03  6.90000000e+01
  3.60000000e+02  8.80000000e+01  5.80000000e+01  2.39000000e+02
  4.80000000e+01  3.10000000e+02  1.17000000e+02  5.20000000e+01
  2.61000000e+02  9.00000000e+01  1.35000000e+02  2.96000000e+02
  2.11000000e+02  3.90000000e+01  5.10000000e+01  1.02000000e+02
  7.00100000e+03  1.27000000e+02  4.90000000e+01  4.70000000e+01
  3.30000000e+01  1.30000000e+03  4.20000000e+01  1.01000000e+02
  5.07500000e+03  1.52000000e+03  1.70000000e+02  8.10000000e+01
  1.90000000e+02  3.80000000e+01  1.10000000e+02  5.58000000e+02
  3.81000000e+02  2.28000000e+02  2.48000000e+02  8.60000000e+01
  7.40000000e+01  1.72000000e+02  2.30000000e+02  4.20000000e+02
  2.80600000e+03  9.40000000e+01  9.20000000e+01  1.18000000e+02
  4.25000000e+02  5.40000000e+03  6.30000000e+03  6.80000000e+01
  7.90000000e+01  5.00000000e+04  2.30000000e+03  7.00000000e+03
  8.40000000e+01  1.28000000e+02  5.70000000e+01  3.50000000e+02
  8.30000000e+01  1.24000000e+02  1.14000000e+02  4.50000000e+02
  1.47000000e+02  5.01000000e+02  8.70000000e+01  7.70000000e+01
  1.97000000e+02  8.40000000e+02  1.34600000e+04  3.50000000e+03
  6.40000000e+01  7.30000000e+01  1.78000000e+02  2.65000000e+02
  1.51000000e+02  1.33000000e+02  1.21000000e+02  4.77000000e+02
  5.90000000e+01  9.70000000e+01  8.50000000e+02  1.30000000e+02
  1.65000000e+02  9.50000000e+01  3.83000000e+02  9.80000000e+01
  7.29000000e+02  2.22000000e+02  1.16000000e+02  2.25000000e+02
  6.30000000e+01  6.00000000e+03  4.75000000e+02  3.40000000e+04
  1.34200000e+04  2.13290000e+04  1.20730000e+04  1.62440000e+04
  3.02930000e+04  1.10820000e+04  7.80000000e+01  2.14000000e+02
  1.13000000e+02  1.08000000e+02  2.80000000e+02  2.12000000e+02
  1.38000000e+02  2.85000000e+02  2.29000000e+02  2.16000000e+02
  7.20000000e+02  2.06000000e+02  6.06000000e+02  2.87000000e+02
  1.07000000e+02  1.34000000e+02  1.57000000e+02  5.40000000e+02
  1.00000000e+07  2.20000000e+02  1.03000000e+02  2.70000000e+02
  8.20000000e+01  1.39000000e+02  3.18000000e+02  9.30000000e+01
  6.70000000e+01  1.81000000e+02  1.22000000e+02  1.58000000e+02
  1.56000000e+02  2.32000000e+02  1.06000000e+02  1.55000000e+02
  2.40000000e+03  6.67000000e+02  1.28600000e+03  1.79000000e+02
  3.49000000e+02  2.07000000e+02  5.05000000e+02  1.32000000e+02
  1.54000000e+02  1.40000000e+03  3.29140000e+04  2.98040000e+04
  1.81280000e+04  1.58900000e+04  7.75000000e+03  8.53100000e+03
  7.33300000e+03  7.78300000e+03  1.73000000e+02  2.13000000e+02
  1.26000000e+02  3.78000000e+02  4.17000000e+02  4.81000000e+02
  7.80000000e+02  4.80000000e+03  6.25000000e+02  2.08000000e+02
  2.05000000e+02  1.45000000e+02  2.60000000e+02  1.93000000e+02
  1.44000000e+02  2.27000000e+02  3.05000000e+02  8.31000000e+02
  2.89000000e+02  2.46000000e+02  4.04000000e+02  1.52000000e+02
  9.60000000e+01  3.73000000e+02  8.55000000e+02  1.80000000e+03
  5.19000000e+02  2.15000000e+02  4.41000000e+02  3.37000000e+02
  2.38000000e+04  2.18000000e+02  3.40000000e+02  2.31000000e+02
  2.10000000e+03  5.50000000e+02  4.50000000e+03  3.20000000e+02
  9.00000000e+03  1.20000000e+04  3.24000000e+02  4.61000000e+02
  1.84000000e+02  5.70000000e+02  4.44000000e+02  6.20000000e+02
  1.10000000e+04  8.70000000e+02  4.78000000e+02  2.52000000e+02
  4.47000000e+02  2.47000000e+02  2.81000000e+02  9.80000000e+02
  2.80730000e+04  1.34920000e+04  1.28640000e+04  1.14720000e+04
  1.02000000e+04  3.01000000e+02  1.11000000e+02  2.59000000e+02
  1.71000000e+02  1.41000000e+02  2.56000000e+02  1.86000000e+02
  1.74000000e+02  1.98000000e+02  4.79000000e+02  1.87000000e+02
  2.23000000e+02  4.74000000e+02  2.03000000e+02  2.78000000e+02
  1.53000000e+02  2.57000000e+02  5.20000000e+02  1.85000000e+02
  3.20000000e+03  3.75000000e+02  2.58000000e+02  1.36000000e+02
  7.00000000e+04  6.02000000e+04  4.80000000e+04  1.78000000e+04
  2.64000000e+02  1.97550000e+04  1.71000000e+04  1.21890000e+04
  1.33750000e+04  2.33000000e+02  2.04000000e+02  1.92000000e+02
  1.31000000e+02 -1.00000000e+00  1.29000000e+02  1.49000000e+02
 -1.70000000e+01  4.60000000e+02  3.82000000e+02  1.37000000e+02
  1.43000000e+02  4.45000000e+02  9.10000000e+01  1.70000000e+03
  3.30000000e+02  2.54000000e+02  4.29000000e+02  8.13000000e+02
  2.20000000e+03  3.16000000e+02  2.60000000e+03  6.96000000e+02
  2.91000000e+02  2.55000000e+02  2.86000000e+02  5.43000000e+02
  1.83000000e+02  2.51000000e+02  3.62000000e+02  2.26000000e+02
  4.53000000e+02  1.08000000e+03  8.60000000e+02  3.15000000e+02
  3.32000000e+02  2.44000000e+02  1.35100000e+03  3.50000000e+04
  1.50300000e+03  1.12500000e+03  7.25000000e+02  1.48200000e+03
  5.93000000e+02  2.07900000e+03  1.22840000e+04  1.97410000e+04
  1.23600000e+04  1.00990000e+04  5.87000000e+02  1.90000000e+04
  5.00000000e+05  1.89000000e+02  6.71000000e+02  7.13000000e+02
  1.01600000e+03  1.76000000e+02  3.45000000e+02  2.19000000e+02
  2.34000000e+02  2.49000000e+02  4.09000000e+02  4.18000000e+02
  1.60000000e+04  3.90000000e+03  1.69000000e+02  7.20000000e+03
  2.72000000e+02  2.84000000e+02  6.53000000e+02  4.28000000e+02
  3.48000000e+02  7.77000000e+02  2.53000000e+02  9.90000000e+01
  2.01000000e+02  1.51600000e+03  3.35000000e+02  3.59000000e+02
  3.56000000e+02  8.75000000e+02  5.60000000e+02  1.77000000e+02
  5.25000000e+02  6.86000000e+02  1.38000000e+03  2.76000000e+02
  9.99999000e+05  1.26200000e+04  6.50000000e+03  5.85000000e+03
  1.88000000e+02  2.96000000e+03  4.80000000e+02  3.85000000e+02
  8.27000000e+02  3.23000000e+02  1.48000000e+02  1.01200000e+03
  4.65000000e+02  1.96000000e+02  1.62000000e+02  2.38000000e+02
  4.46000000e+02  3.13000000e+02  2.38500000e+03  3.07000000e+02
  2.63000000e+02  3.57000000e+02  1.63000000e+02  4.95000000e+02
  1.00100000e+03  5.41000000e+02  7.33000000e+02  1.67000000e+02
  3.60000000e+03  4.57000000e+02  5.70000000e+03  1.65000000e+03
  1.12000000e+03  3.55300000e+03  9.95000000e+02  1.60000000e+03
  1.39000000e+03  6.14000000e+02  7.60000000e+03  8.25000000e+03
  3.14000000e+02  1.58000000e+03  2.21000000e+02  1.62000000e+03
  4.70000000e+02  7.59000000e+02  2.67000000e+02  9.60000000e+02
  1.30100000e+03  5.66000000e+02  3.42000000e+02  8.80000000e+02
  7.82000000e+02  2.41000000e+02  5.14000000e+02  2.25000000e+03
  2.47000000e+03  9.25000000e+02  4.03000000e+02  1.66000000e+02
  6.76900000e+03  1.46000000e+02  2.46900000e+03  2.09000000e+02
  2.79000000e+02  8.68000000e+02  5.85000000e+02  3.11000000e+02
  6.83000000e+02  3.54000000e+02  3.08000000e+02  7.60000000e+02
  3.87000000e+02  5.63000000e+02  8.01000000e+02  5.36000000e+02
  1.61000000e+02  3.97000000e+02  3.22000000e+02  6.13000000e+02
  1.91000000e+02  1.75000000e+03  1.99000000e+02  5.16000000e+02
  3.21000000e+02  1.85000000e+03  2.77000000e+02  2.97000000e+02
  4.75000000e+03  3.70000000e+02  4.89000000e+02  1.14900000e+03
  2.68000000e+02  2.81600000e+03  7.89000000e+02  4.30000000e+02
  9.78000000e+02  7.70000000e+02  4.93000000e+02  7.16000000e+02
  1.59000000e+02]
[1 2 0]
['Monarch Butterfly' 'Monarch Migration' 'FIRST Monarch Butterfly'
 'FIRST Monarch Egg' 'First Monarch' 'FIRST Monarch' 'LAST Fall Monarch'
 'Monarch (OTHER observations)' 'Monarch (FIRST sighting)'
 'Monarch (FIRST seen)' 'Monarch (Other Sightings)'
 'Monarch (OTHER observation)' 'Monarch (OTHER Observation)'
 'Monarch Migration Sighting' 'Monarch (OTHER Observations)'
 'Monarch Migration Study' 'LAST Fall Monarch Sighted'
 ' LAST Fall Monarch Sighted' 'LAST Fall Monarch Migration'
 'Monarch (OTHER oservations)' 'Monarch (LAST sighting)'
 'Monarch Larva (FIRST sighted)' 'Monarch Egg (FIRST sighted)'
 'Monarch Adult (FIRST sighted)' 'Monarch Adult (FIRST Sighted)'
 'Monarch PEAK Migration' 'LAST Fall Monarch Sighting'
 'Monarchs OTHER (Observation)' '(Monarch) Milkweed emerges'
 'Monarch FIRST Migration Sighting' 'Monarch peak Migration'
 'Monarch (OTHER) Observations' 'Milkweed (FIRST Leaves)'
 'Monarch Over-wintering' 'Monarch Adult  (FIRST sighted)'
 'Monarchs (OTHER observations)' 'Monarch (IOTHER observations)'
 'Monarch Fall Roost' 'Monarch ADULT' 'Monarch Larva (FIRST Sighted)'
 'Monarch (OTHER Observations' 'Monarch Peak Migration'
 'Monarch over-wintering' 'Monarch  Adult (FIRST sighted)'
 'Monarch (Other Observations)' 'Monarch FIRST Adult'
 'Monarch Adult (First sighted)' 'Monarch (Other observations)'
 'Monarch Migration Sighting OW' 'Monarch (FIRST sighted)'
 'Monarch (NONE sighted)' 'Monarch Fall Roost (None yet)'
 'Monarch Adult Sighted' 'Monarch Sighting' 'Monarch (Other Observations'
 'Monarch Winter Sighting' 'Monarch Sighted' 'Monarch Egg Sighted'
 'Monarch Larva Sighted' 'Monarch OTHER Observations'
 'monarch (OTHER Observations)' 'Monarch Egg (FIRST Sighted)'
 'Monarch OW Mexico' 'Monarch Adult  Sighted'
 'Monarch (OTHER Observations) READY' 'Monarch Adult (FIRST sighted))'
 'Monarch, Captive-Reared' 'Monarch Fall Roost (waiting for permission)'
 'Milkweed Sighted' 'Milkweed (FIRST sighted)' 'Milkweed (FIRST Sighted)'
 'Milkweed sighted' 'Monarch, Captive Reared'
 'Monarch Egg (FIRST sighted)ghted)'
 'Monarch Adult (FIRST sighted)T sighted)'
 'Monarch Adult (FIRST sighted)sighted)' 'Monarch (Captive Reared)ed)'
 'Monarch (Captive Reared)' 'Monarch (OTHER Observations)ations)'
 'Monarch Larva Sighted ' 'Monarch Fall Roost ' 'Monarch Egg Sighted '
 'Monarch, captive-Reared' 'MOnarch Larva Sighted'
 'Monarch Adult Sighted ' 'Monarch adult Sighted' 'Monarch Adult SIghted'
 'Monarch Adult (FIRST sighted) ' 'Monarchch Adult Sighted'

In [447]:
# Determine the number of unique values in each column.
for col in JNorth1996_2020_df:
  print(JNorth1996_2020_df[col].value_counts())

850841703     1
1526350827    1
1526350816    1
1526350817    1
1526350818    1
             ..
1432512422    1
1432519704    1
1432562236    1
1432562641    1
1526525021    1
Name: id, Length: 227433, dtype: int64
2018-08-22    392
2018-10-03    377
2018-09-06    353
2019-09-19    337
2018-09-12    335
             ...
2015-12-31      1
2015-11-24      1
2015-11-22      1
2006-07-30      1
1996-12-16      1
Name: sighting_date, Length: 7491, dtype: int64
Monarch Adult Sighted            102306
Monarch Adult (FIRST sighted)     36409
Monarch Larva Sighted             17378
Monarch, Captive-Reared           14339
Monarch (OTHER Observations)      13581
Monarch Egg Sighted                8736
Milkweed (FIRST sighted)           8465
Monarch PEAK Migration             7689
Monarch Egg (FIRST sighted)        6876
Monarch Fall Roost                 5035
Monarch Larva (FIRST sighted)      4898
Milkweed Sighted                   1721
Name: species, dtype: int64
1       139319
2        24169
3        13055
4         7795
5         6118
         ...
860          1
315          1
244          1
1351         1
159          1
Name: number, Length: 555, dtype: int64
29.757    811
30.230    765
45.033    702
37.944    700
42.409    659
         ...
30.770      1
38.355      1
33.305      1
29.930      1
27.594      1
Name: latitude, Length: 18851, dtype: int64
-95.365     807
-97.714     752
-87.405     695
-93.224     620
-82.220     605
           ...
-77.529       1
-69.400       1
-101.051      1
-69.254       1
-122.557      1
Name: longitude, Length: 30123, dtype: int64
1    136009
0     91424
Name: flag_location, dtype: int64
-999999.999                                                                                                                                                               1427
Female                                                                                                                                                                     170
Flying                                                                                                                                                                     144
Male                                                                                                                                                                       118
Recorded as an incidental sighting while conducting surveys on the Fort Hood military base.                                                                                104
                                                                                                                                                                          ...
first female sighting around 3 pm in richmond-laid egg on common milkweed.  Warm sw wind -monarch looked fresh                                                               1
Spotted our first milkweed shoots in our butterfly garden at Lake Anne Elementary this afternoon after the first weekend with warmer temperatures.                           1
Spotted 1 adult near Love Valley Wildlife Reserve near the Red River.                                                                                                        1
Established Asclepias syriaca L. plants in open area have emerged approximately 1 inch in height one day after 0.7" rainfall.                                                1
Date of last adult sighted.Total sightings were 98 adults from June 3 to Sept. 4.Peak sightings were July 8 to Aug 7.Approx. acreage with milkweed is equal to 4.5Ac.        1
Name: comments, Length: 212736, dtype: int64
-999999.999                            139036
-999999.999                             63593
None                                      457
Homeschool                                331
Virginia living museum                    263
                                        ...
William e. norris elementary school         1
Coventry elementary school                  1
Adams is close                              1
Salem elementary school                     1
Walker memorial junior academy              1
Name: school, Length: 6914, dtype: int64
-999999.999    206370
 99.000          3136
 4.000           2947
 3.000           2543
 2.000           2541
                ...
 1012.000           1
 678.000            1
 69.000             1
 95.000             1
 135.000            1
Name: grade, Length: 67, dtype: int64
-999999.999                                                                   183911
//sightings.journeynorth.org/jnorth/images/userfiles2018/09/1526362818.jpg         8
https://journeynorth.org/jnorth/images/userfiles/1366245309.jpg                    3
https://journeynorth.org/jnorth/images/userfiles/1331931236.jpg                    3
//journeynorth.org/jnorth/images/userfiles2020/04/1526445894.jpg                   2
                                                                               ...
https://journeynorth.org/jnorth/images/userfiles2017/06/1496327046.jpg             1
https://journeynorth.org/jnorth/images/userfiles2017/06/1496327055.jpg             1
https://journeynorth.org/jnorth/images/userfiles2017/06/1496327056.jpg             1
https://journeynorth.org/jnorth/images/userfiles2017/06/1496327063.jpg             1
//journeynorth.org/jnorth/images/userfiles2021/06/1526524404.jpg                   1
Name: image_url, Length: 43474, dtype: int64
9710973     7256
9979617     2054
9976074     1055
9975275      900
10010858     757
            ...
9979243        1
9979242        1
9979240        1
9979216        1
10042557       1
Name: customerid, Length: 42518, dtype: int64
 1.000         73436
-999999.999    64715
 2.000         24169
 3.000         13055
 4.000          7795
               ...
 445.000           1
 1700.000          1
 254.000           1
 429.000           1
 159.000           1
Name: number_old, Length: 557, dtype: int64
0    161550
1     64715
2      1168
Name: flag_number, dtype: int64
Monarch Adult Sighted                          91662
Monarch Adult (FIRST sighted)                  25311
Monarch Larva Sighted                          17373
Monarch, Captive-Reared                        14329
Monarch (OTHER Observations)                   10626
                                               ...
monarch (OTHER Observations)                       1
Monarch (OTHER Observations) READY                 1
Monarch Fall Roost (waiting for permission)        1
Monarch, Captive Reared                            1
Monarch, Captive-reared                            1
Name: species_old, Length: 96, dtype: int64
0    197793
1     29640
Name: flag_species, dtype: int64

In [448]:
# Find null values
for column in JNorth1996_2020_df.columns:
   print(f"Column {column} has {JNorth1996_2020_df[column].isnull().sum()} null values")

Column id has 0 null values
Column sighting_date has 0 null values
Column species has 0 null values
Column number has 0 null values
Column latitude has 0 null values
Column longitude has 0 null values
Column flag_location has 0 null values
Column comments has 0 null values
Column school has 0 null values
Column grade has 0 null values
Column image_url has 0 null values
Column customerid has 0 null values
Column number_old has 0 null values
Column flag_number has 0 null values
Column species_old has 0 null values
Column flag_species has 0 null values

In [449]:
# Find duplicate entries
print(f"Duplicate entries: {JNorth1996_2020_df.duplicated().sum()}")

Duplicate entries: 0

In [450]:
# filtering by type of observation (Monarch Adult Sighted)
JNorth_Adult_Site_df = JNorth1996_2020_df[JNorth1996_2020_df['species']=='Monarch Adult Sighted']
JNorth_Adult_Site_df.head()

,id,sighting_date,species,number,latitude,longitude,flag_location,comments,school,grade,image_url,customerid,number_old,flag_number,species_old,flag_species
690,887156075,1998-02-10,Monarch Egg (FIRST sighted),1,28.529,-96.679,0,We gathered 21 Monarch eggs during week of Dec...,Victoria christian school,7.000,-999999.999,9704928,-999999.999,1,FIRST Monarch Egg,1
693,887284032,1998-02-12,Monarch Egg (FIRST sighted),1,28.529,-96.679,0,Have had a few Monarchs overwintering in this ...,Victoria christian school,7.000,-999999.999,9704928,-999999.999,1,FIRST Monarch Egg,1
697,887408443,1998-02-13,Monarch Egg (FIRST sighted),1,28.807,-96.979,0,"Three new Monarch eggs today. On ""backup"" Asc...",Victoria christian school,7.000,-999999.999,9704928,-999999.999,1,FIRST Monarch Egg,1
698,887552426,1998-01-01,Monarch Egg (FIRST sighted),1,27.980,-82.781,0,"We have milkweed, lantana and other butterfly ...",Pinellas county jewish day school,-999999.999,-999999.999,733,-999999.999,1,FIRST Monarch Egg,1
708,888551397,1998-02-26,Monarch Egg (FIRST sighted),1,28.807,-96.979,0,Mid-Coast of TX: More Monarchs (local over-win...,Victoria christian school k-9,7.000,-999999.999,9704928,-999999.999,1,FIRST Monarch Egg,1

In [451]:
JNorth_Adult_Site_df.to_csv('JNorth_Adult_Site.csv', header=True, mode='w' )

In [452]:
JNorth_Adult_Site_df.shape

(6876, 16)

# Format file for geoJSON

In [453]:
JNorth_Adult_Site_df.drop(['id','flag_location', 'comments','school','grade','image_url','customerid','number_old','flag_number','species_old','flag_species'], axis=1, inplace=True)
JNorth_Adult_Site_df.head()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

    sighting_date                      species  number  latitude  longitude
690    1998-02-10  Monarch Egg (FIRST sighted)       1    28.529    -96.679
693    1998-02-12  Monarch Egg (FIRST sighted)       1    28.529    -96.679
697    1998-02-13  Monarch Egg (FIRST sighted)       1    28.807    -96.979
698    1998-01-01  Monarch Egg (FIRST sighted)       1    27.980    -82.781
708    1998-02-26  Monarch Egg (FIRST sighted)       1    28.807    -96.979

In [454]:
cols = ['sighting_date', 'species', 'number', 'latitude', 'longitude']

In [455]:
JNorth_Adult_Site_df =JNorth_Adult_Site_df.groupby(['sighting_date', 'species', 'latitude', 'longitude']).sum().reset_index()
JNorth_Adult_Site_df.head()

  sighting_date                      species  latitude  longitude  number
0    1997-06-28  Monarch Egg (FIRST sighted)    43.067    -77.214       1
1    1998-01-01  Monarch Egg (FIRST sighted)    27.980    -82.781       1
2    1998-02-01  Monarch Egg (FIRST sighted)    30.449    -91.188       1
3    1998-02-07  Monarch Egg (FIRST sighted)    29.385    -95.788       1
4    1998-02-10  Monarch Egg (FIRST sighted)    28.529    -96.679       1

In [456]:
JNorth_Adult_Site_df.columns.tolist()

['sighting_date', 'species', 'latitude', 'longitude', 'number']

In [457]:
JNorth_Adult_Site_df.head()

  sighting_date                      species  latitude  longitude  number
0    1997-06-28  Monarch Egg (FIRST sighted)    43.067    -77.214       1
1    1998-01-01  Monarch Egg (FIRST sighted)    27.980    -82.781       1
2    1998-02-01  Monarch Egg (FIRST sighted)    30.449    -91.188       1
3    1998-02-07  Monarch Egg (FIRST sighted)    29.385    -95.788       1
4    1998-02-10  Monarch Egg (FIRST sighted)    28.529    -96.679       1

In [458]:
JNorth_Adult_Site_df.shape

(6776, 5)

In [459]:
JNorth_Adult_Site_year_df = JNorth_Adult_Site_df
JNorth_Adult_Site_year_df['year'] = pd.DatetimeIndex(JNorth_Adult_Site_df['sighting_date']).year

# 2016

In [460]:
JNorth_Adult_Site_2016_df = JNorth_Adult_Site_year_df[JNorth_Adult_Site_year_df['year']==2016]
JNorth_Adult_Site_2016_df.tail()

,sighting_date,species,latitude,longitude,number,year
3503,2016-07-27,Monarch Egg (FIRST sighted),43.735,-70.361,1,2016
3504,2016-07-28,Monarch Egg (FIRST sighted),42.636,-73.801,1,2016
3505,2016-07-28,Monarch Egg (FIRST sighted),43.402,-79.796,3,2016
3506,2016-07-29,Monarch Egg (FIRST sighted),42.580,-83.030,2,2016
3507,2016-07-31,Monarch Egg (FIRST sighted),40.092,-74.359,1,2016

In [461]:
JNorth_Adult_Site_2016_df.shape

(453, 6)

In [ ]:
JNorth_Adult_Site_2016_df.drop(['year'], axis=1, inplace=True)

In [462]:
JNorth_Adult_Site_2016_df['month'] = pd.DatetimeIndex(JNorth_Adult_Site_2016_df['sighting_date']).month

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## January

In [463]:
JNorth_Adult_Site_2016_month_df =pd.DataFrame(JNorth_Adult_Site_2016_df)
JNorth_Adult_Site_2016_1_df = JNorth_Adult_Site_2016_month_df[JNorth_Adult_Site_2016_month_df['month']==1]
JNorth_Adult_Site_2016_1_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
3055,2016-01-01,Monarch Egg (FIRST sighted),29.757,-95.365,6,2016,1
3056,2016-01-07,Monarch Egg (FIRST sighted),29.757,-95.365,30,2016,1

In [464]:
JNorth_Adult_Site_2016_1_df.shape

(2, 7)

In [465]:
JNorth_Adult_Site_2016_1_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [466]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2016_1_df['decilatitude'] = JNorth_Adult_Site_2016_1_df['latitude'].astype(float)
JNorth_Adult_Site_2016_1_df['longitude'] = JNorth_Adult_Site_2016_1_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [467]:
geojson = df_to_geojson(JNorth_Adult_Site_2016_1_df, cols)

In [468]:
file = open("JNorth_Adult_Site_2016_1.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## February

In [469]:
JNorth_Adult_Site_2016_month_df =pd.DataFrame(JNorth_Adult_Site_2016_df)
JNorth_Adult_Site_2016_2_df = JNorth_Adult_Site_2016_month_df[JNorth_Adult_Site_2016_month_df['month']==2]
JNorth_Adult_Site_2016_2_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
3064,2016-02-25,Monarch Egg (FIRST sighted),29.757,-95.365,1,2016,2
3065,2016-02-26,Monarch Egg (FIRST sighted),32.784,-116.917,1,2016,2
3066,2016-02-26,Monarch Egg (FIRST sighted),34.214,-118.879,5,2016,2
3067,2016-02-28,Monarch Egg (FIRST sighted),34.168,-117.982,1,2016,2
3068,2016-02-29,Monarch Egg (FIRST sighted),29.920,-95.455,1,2016,2

In [470]:
JNorth_Adult_Site_2016_2_df.shape

(12, 7)

In [471]:
JNorth_Adult_Site_2016_2_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [472]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2016_2_df['latitude'] = JNorth_Adult_Site_2016_2_df['latitude'].astype(float)
JNorth_Adult_Site_2016_2_df['longitude'] = JNorth_Adult_Site_2016_2_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [473]:
geojson = df_to_geojson(JNorth_Adult_Site_2016_2_df, cols)

In [474]:
file = open("JNorth_Adult_Site_2016_2.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## March

In [475]:
JNorth_Adult_Site_2016_month_df =pd.DataFrame(JNorth_Adult_Site_2016_df)
JNorth_Adult_Site_2016_3_df = JNorth_Adult_Site_2016_month_df[JNorth_Adult_Site_2016_month_df['month']==3]
JNorth_Adult_Site_2016_3_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
3119,2016-03-30,Monarch Egg (FIRST sighted),33.020,-96.699,12,2016,3
3120,2016-03-30,Monarch Egg (FIRST sighted),34.186,-101.718,5,2016,3
3121,2016-03-31,Monarch Egg (FIRST sighted),27.951,-82.457,4,2016,3
3122,2016-03-31,Monarch Egg (FIRST sighted),29.857,-98.607,1,2016,3
3123,2016-03-31,Monarch Egg (FIRST sighted),29.980,-81.810,21,2016,3

In [476]:
JNorth_Adult_Site_2016_3_df.shape

(55, 7)

In [477]:
JNorth_Adult_Site_2016_3_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [478]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2016_3_df['latitude'] = JNorth_Adult_Site_2016_3_df['latitude'].astype(float)
JNorth_Adult_Site_2016_3_df['longitude'] = JNorth_Adult_Site_2016_3_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [479]:
geojson = df_to_geojson(JNorth_Adult_Site_2016_3_df, cols)

In [480]:
file = open("JNorth_Adult_Site_2016_3.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## April

In [481]:
JNorth_Adult_Site_2016_month_df =pd.DataFrame(JNorth_Adult_Site_2016_df)
JNorth_Adult_Site_2016_4_df = JNorth_Adult_Site_2016_month_df[JNorth_Adult_Site_2016_month_df['month']==4]
JNorth_Adult_Site_2016_4_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
3166,2016-04-27,Monarch Egg (FIRST sighted),32.985,-117.071,3,2016,4
3167,2016-04-28,Monarch Egg (FIRST sighted),30.047,-99.140,4,2016,4
3168,2016-04-28,Monarch Egg (FIRST sighted),32.779,-117.047,3,2016,4
3169,2016-04-28,Monarch Egg (FIRST sighted),37.063,-76.467,25,2016,4
3170,2016-04-30,Monarch Egg (FIRST sighted),36.100,-97.143,2,2016,4

In [482]:
JNorth_Adult_Site_2016_4_df.shape

(47, 7)

In [483]:
JNorth_Adult_Site_2016_4_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [484]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2016_4_df['latitude'] = JNorth_Adult_Site_2016_4_df['latitude'].astype(float)
JNorth_Adult_Site_2016_4_df['longitude'] = JNorth_Adult_Site_2016_4_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [485]:
geojson = df_to_geojson(JNorth_Adult_Site_2016_4_df, cols)

In [486]:
file = open("JNorth_Adult_Site_2016_4.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## May

In [487]:
JNorth_Adult_Site_2016_month_df =pd.DataFrame(JNorth_Adult_Site_2016_df)
JNorth_Adult_Site_2016_5_df = JNorth_Adult_Site_2016_month_df[JNorth_Adult_Site_2016_month_df['month']==5]
JNorth_Adult_Site_2016_5_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
3281,2016-05-31,Monarch Egg (FIRST sighted),43.326,-88.390,8,2016,5
3282,2016-05-31,Monarch Egg (FIRST sighted),44.519,-89.543,1,2016,5
3283,2016-05-31,Monarch Egg (FIRST sighted),44.812,-91.490,1,2016,5
3284,2016-05-31,Monarch Egg (FIRST sighted),44.904,-93.183,1,2016,5
3285,2016-05-31,Monarch Egg (FIRST sighted),44.910,-93.261,7,2016,5

In [488]:
JNorth_Adult_Site_2016_5_df.shape

(115, 7)

In [489]:
JNorth_Adult_Site_2016_5_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [490]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2016_5_df['latitude'] = JNorth_Adult_Site_2016_5_df['latitude'].astype(float)
JNorth_Adult_Site_2016_5_df['longitude'] = JNorth_Adult_Site_2016_5_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [491]:
geojson = df_to_geojson(JNorth_Adult_Site_2016_5_df, cols)

In [492]:
file = open("JNorth_Adult_Site_2016_5.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## June

In [493]:
JNorth_Adult_Site_2016_month_df =pd.DataFrame(JNorth_Adult_Site_2016_df)
JNorth_Adult_Site_2016_6_df = JNorth_Adult_Site_2016_month_df[JNorth_Adult_Site_2016_month_df['month']==6]
JNorth_Adult_Site_2016_6_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
3396,2016-06-29,Monarch Egg (FIRST sighted),41.995,-88.186,10,2016,6
3397,2016-06-29,Monarch Egg (FIRST sighted),42.045,-87.688,5,2016,6
3398,2016-06-30,Monarch Egg (FIRST sighted),30.691,-81.917,14,2016,6
3399,2016-06-30,Monarch Egg (FIRST sighted),36.223,-95.903,2,2016,6
3400,2016-06-30,Monarch Egg (FIRST sighted),41.850,-88.313,14,2016,6

In [494]:
JNorth_Adult_Site_2016_6_df.shape

(115, 7)

In [495]:
JNorth_Adult_Site_2016_6_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [496]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2016_6_df['latitude'] = JNorth_Adult_Site_2016_6_df['latitude'].astype(float)
JNorth_Adult_Site_2016_6_df['longitude'] = JNorth_Adult_Site_2016_6_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [497]:
geojson = df_to_geojson(JNorth_Adult_Site_2016_6_df, cols)

In [498]:
file = open("JNorth_Adult_Site_2016_6.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## July

In [499]:
JNorth_Adult_Site_2016_month_df =pd.DataFrame(JNorth_Adult_Site_2016_df)
JNorth_Adult_Site_2016_7_df = JNorth_Adult_Site_2016_month_df[JNorth_Adult_Site_2016_month_df['month']==7]
JNorth_Adult_Site_2016_7_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
3503,2016-07-27,Monarch Egg (FIRST sighted),43.735,-70.361,1,2016,7
3504,2016-07-28,Monarch Egg (FIRST sighted),42.636,-73.801,1,2016,7
3505,2016-07-28,Monarch Egg (FIRST sighted),43.402,-79.796,3,2016,7
3506,2016-07-29,Monarch Egg (FIRST sighted),42.580,-83.030,2,2016,7
3507,2016-07-31,Monarch Egg (FIRST sighted),40.092,-74.359,1,2016,7

In [500]:
JNorth_Adult_Site_2016_7_df.shape

(107, 7)

In [501]:
JNorth_Adult_Site_2016_7_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [502]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2016_7_df['latitude'] = JNorth_Adult_Site_2016_7_df['latitude'].astype(float)
JNorth_Adult_Site_2016_7_df['longitude'] = JNorth_Adult_Site_2016_7_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [503]:
geojson = df_to_geojson(JNorth_Adult_Site_2016_7_df, cols)

In [504]:
file = open("JNorth_Adult_Site_2016_7.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## August

In [505]:
JNorth_Adult_Site_2016_month_df =pd.DataFrame(JNorth_Adult_Site_2016_df)
JNorth_Adult_Site_2016_8_df = JNorth_Adult_Site_2016_month_df[JNorth_Adult_Site_2016_month_df['month']==8]
JNorth_Adult_Site_2016_8_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, year, month]
Index: []

In [506]:
JNorth_Adult_Site_2016_8_df.shape

(0, 7)

In [507]:
JNorth_Adult_Site_2016_8_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [508]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2016_8_df['latitude'] = JNorth_Adult_Site_2016_8_df['latitude'].astype(float)
JNorth_Adult_Site_2016_8_df['longitude'] = JNorth_Adult_Site_2016_8_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [509]:
geojson = df_to_geojson(JNorth_Adult_Site_2016_8_df, cols)

In [510]:
file = open("JNorth_Adult_Site_2016_8.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## September

In [511]:
JNorth_Adult_Site_2016_month_df =pd.DataFrame(JNorth_Adult_Site_2016_df)
JNorth_Adult_Site_2016_9_df = JNorth_Adult_Site_2016_month_df[JNorth_Adult_Site_2016_month_df['month']==9]
JNorth_Adult_Site_2016_9_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, year, month]
Index: []

In [512]:
JNorth_Adult_Site_2016_9_df.shape

(0, 7)

In [513]:
JNorth_Adult_Site_2016_9_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [514]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2016_9_df['latitude'] = JNorth_Adult_Site_2016_9_df['latitude'].astype(float)
JNorth_Adult_Site_2016_9_df['longitude'] = JNorth_Adult_Site_2016_9_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [515]:
geojson = df_to_geojson(JNorth_Adult_Site_2016_9_df, cols)

In [516]:
file = open("JNorth_Adult_Site_2016_9.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## October

In [517]:
JNorth_Adult_Site_2016_month_df =pd.DataFrame(JNorth_Adult_Site_2016_df)
JNorth_Adult_Site_2016_10_df = JNorth_Adult_Site_2016_month_df[JNorth_Adult_Site_2016_month_df['month']==10]
JNorth_Adult_Site_2016_10_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, year, month]
Index: []

In [518]:
JNorth_Adult_Site_2016_10_df.shape

(0, 7)

In [519]:
JNorth_Adult_Site_2016_10_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [520]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2016_10_df['latitude'] = JNorth_Adult_Site_2016_10_df['latitude'].astype(float)
JNorth_Adult_Site_2016_10_df['longitude'] = JNorth_Adult_Site_2016_10_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [521]:
geojson = df_to_geojson(JNorth_Adult_Site_2016_10_df, cols)

In [522]:
file = open("JNorth_Adult_Site_2016_10.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## November

In [523]:
JNorth_Adult_Site_2016_month_df =pd.DataFrame(JNorth_Adult_Site_2016_df)
JNorth_Adult_Site_2016_11_df = JNorth_Adult_Site_2016_month_df[JNorth_Adult_Site_2016_month_df['month']==11]
JNorth_Adult_Site_2016_11_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, year, month]
Index: []

In [524]:
JNorth_Adult_Site_2016_11_df.shape

(0, 7)

In [525]:
JNorth_Adult_Site_2016_11_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [526]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2016_11_df['latitude'] = JNorth_Adult_Site_2016_11_df['latitude'].astype(float)
JNorth_Adult_Site_2016_11_df['longitude'] = JNorth_Adult_Site_2016_11_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [527]:
geojson = df_to_geojson(JNorth_Adult_Site_2016_11_df, cols)

In [528]:
file = open("JNorth_Adult_Site_2016_11.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## December

In [529]:
JNorth_Adult_Site_2016_month_df =pd.DataFrame(JNorth_Adult_Site_2016_df)
JNorth_Adult_Site_2016_12_df = JNorth_Adult_Site_2016_month_df[JNorth_Adult_Site_2016_month_df['month']==12]
JNorth_Adult_Site_2016_12_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, year, month]
Index: []

In [530]:
JNorth_Adult_Site_2016_12_df.shape

(0, 7)

In [531]:
JNorth_Adult_Site_2016_12_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [532]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2016_12_df['latitude'] = JNorth_Adult_Site_2016_12_df['latitude'].astype(float)
JNorth_Adult_Site_2016_12_df['longitude'] = JNorth_Adult_Site_2016_12_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [533]:
geojson = df_to_geojson(JNorth_Adult_Site_2016_12_df, cols)

In [534]:
file = open("JNorth_Adult_Site_2016_12.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# 2017

In [535]:
JNorth_Adult_Site_2017_df = JNorth_Adult_Site_year_df[JNorth_Adult_Site_year_df['year']==2017]
JNorth_Adult_Site_2017_df.tail()

,sighting_date,species,latitude,longitude,number,year
4316,2017-07-29,Monarch Egg (FIRST sighted),36.108,-80.280,6,2017
4317,2017-07-29,Monarch Egg (FIRST sighted),40.699,-73.844,8,2017
4318,2017-07-30,Monarch Egg (FIRST sighted),38.813,-77.168,1,2017
4319,2017-07-30,Monarch Egg (FIRST sighted),42.870,-75.711,3,2017
4320,2017-07-31,Monarch Egg (FIRST sighted),42.789,-73.368,11,2017

In [536]:
JNorth_Adult_Site_2017_df.shape

(813, 6)

In [537]:
JNorth_Adult_Site_2017_df.drop(['year'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [538]:
JNorth_Adult_Site_2017_df.tail

<bound method NDFrame.tail of      sighting_date                      species  latitude  longitude  number
3508    2017-02-22  Monarch Egg (FIRST sighted)    30.080    -95.417      10
3509    2017-02-25  Monarch Egg (FIRST sighted)    31.174    -81.478       8
3510    2017-02-26  Monarch Egg (FIRST sighted)    29.031    -80.925       1
3511    2017-02-28  Monarch Egg (FIRST sighted)    30.175    -81.588       5
3512    2017-03-02  Monarch Egg (FIRST sighted)    26.570    -80.096       1
...            ...                          ...       ...        ...     ...
4316    2017-07-29  Monarch Egg (FIRST sighted)    36.108    -80.280       6
4317    2017-07-29  Monarch Egg (FIRST sighted)    40.699    -73.844       8
4318    2017-07-30  Monarch Egg (FIRST sighted)    38.813    -77.168       1
4319    2017-07-30  Monarch Egg (FIRST sighted)    42.870    -75.711       3
4320    2017-07-31  Monarch Egg (FIRST sighted)    42.789    -73.368      11

[813 rows x 5 columns]>

In [539]:
JNorth_Adult_Site_2017_df['month'] = pd.DatetimeIndex(JNorth_Adult_Site_2017_df['sighting_date']).month

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## January

In [540]:
JNorth_Adult_Site_2017_month_df =pd.DataFrame(JNorth_Adult_Site_2017_df)
JNorth_Adult_Site_2017_1_df = JNorth_Adult_Site_2017_month_df[JNorth_Adult_Site_2017_month_df['month']==1]
JNorth_Adult_Site_2017_1_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [541]:
JNorth_Adult_Site_2017_1_df.shape

(0, 6)

In [542]:
JNorth_Adult_Site_2017_1_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [543]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2017_1_df['latitude'] = JNorth_Adult_Site_2017_1_df['latitude'].astype(float)
JNorth_Adult_Site_2017_1_df['longitude'] = JNorth_Adult_Site_2017_1_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [544]:
geojson = df_to_geojson(JNorth_Adult_Site_2017_1_df, cols)

In [545]:
file = open("JNorth_Adult_Site_2017_1.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## February

In [546]:
JNorth_Adult_Site_2017_month_df =pd.DataFrame(JNorth_Adult_Site_2017_df)
JNorth_Adult_Site_2017_2_df = JNorth_Adult_Site_2017_month_df[JNorth_Adult_Site_2017_month_df['month']==2]
JNorth_Adult_Site_2017_2_df.tail()

,sighting_date,species,latitude,longitude,number,month
3508,2017-02-22,Monarch Egg (FIRST sighted),30.080,-95.417,10,2
3509,2017-02-25,Monarch Egg (FIRST sighted),31.174,-81.478,8,2
3510,2017-02-26,Monarch Egg (FIRST sighted),29.031,-80.925,1,2
3511,2017-02-28,Monarch Egg (FIRST sighted),30.175,-81.588,5,2

In [547]:
JNorth_Adult_Site_2017_2_df.shape

(4, 6)

In [548]:
JNorth_Adult_Site_2017_2_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [549]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2017_2_df['latitude'] = JNorth_Adult_Site_2017_2_df['latitude'].astype(float)
JNorth_Adult_Site_2017_2_df['longitude'] = JNorth_Adult_Site_2017_2_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [550]:
geojson = df_to_geojson(JNorth_Adult_Site_2017_2_df, cols)

In [551]:
file = open("JNorth_Adult_Site_2017_2.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## March

In [552]:
JNorth_Adult_Site_2017_month_df =pd.DataFrame(JNorth_Adult_Site_2017_df)
JNorth_Adult_Site_2017_3_df = JNorth_Adult_Site_2017_month_df[JNorth_Adult_Site_2017_month_df['month']==3]
JNorth_Adult_Site_2017_3_df.tail()

,sighting_date,species,latitude,longitude,number,month
3564,2017-03-31,Monarch Egg (FIRST sighted),31.174,-81.477,6,3
3565,2017-03-31,Monarch Egg (FIRST sighted),32.931,-97.211,10,3
3566,2017-03-31,Monarch Egg (FIRST sighted),32.931,-96.460,1,3
3567,2017-03-31,Monarch Egg (FIRST sighted),34.829,-92.548,1,3
3568,2017-03-31,Monarch Egg (FIRST sighted),34.848,-92.544,25,3

In [553]:
JNorth_Adult_Site_2017_3_df.shape

(57, 6)

In [554]:
JNorth_Adult_Site_2017_3_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [555]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2017_3_df['latitude'] = JNorth_Adult_Site_2017_3_df['latitude'].astype(float)
JNorth_Adult_Site_2017_3_df['longitude'] = JNorth_Adult_Site_2017_3_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [556]:
geojson = df_to_geojson(JNorth_Adult_Site_2017_3_df, cols)

In [557]:
file = open("JNorth_Adult_Site_2017_3.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## April

In [558]:
JNorth_Adult_Site_2017_month_df =pd.DataFrame(JNorth_Adult_Site_2017_df)
JNorth_Adult_Site_2017_4_df = JNorth_Adult_Site_2017_month_df[JNorth_Adult_Site_2017_month_df['month']==4]
JNorth_Adult_Site_2017_4_df.tail()

,sighting_date,species,latitude,longitude,number,month
3853,2017-04-29,Monarch Egg (FIRST sighted),36.323,-86.713,1,4
3854,2017-04-29,Monarch Egg (FIRST sighted),38.967,-76.853,9,4
3855,2017-04-29,Monarch Egg (FIRST sighted),39.636,-84.071,9,4
3856,2017-04-30,Monarch Egg (FIRST sighted),40.266,-83.213,1,4
3857,2017-04-30,Monarch Egg (FIRST sighted),41.317,-82.387,1,4

In [559]:
JNorth_Adult_Site_2017_4_df.shape

(289, 6)

In [560]:
JNorth_Adult_Site_2017_4_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [561]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2017_4_df['latitude'] = JNorth_Adult_Site_2017_4_df['latitude'].astype(float)
JNorth_Adult_Site_2017_4_df['longitude'] = JNorth_Adult_Site_2017_4_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [562]:
geojson = df_to_geojson(JNorth_Adult_Site_2017_4_df, cols)

In [563]:
file = open("JNorth_Adult_Site_2017_4.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## May

In [564]:
JNorth_Adult_Site_2017_month_df =pd.DataFrame(JNorth_Adult_Site_2017_df)
JNorth_Adult_Site_2017_5_df = JNorth_Adult_Site_2017_month_df[JNorth_Adult_Site_2017_month_df['month']==5]
JNorth_Adult_Site_2017_5_df.tail()

,sighting_date,species,latitude,longitude,number,month
4055,2017-05-31,Monarch Egg (FIRST sighted),42.882,-79.062,4,5
4056,2017-05-31,Monarch Egg (FIRST sighted),43.636,-79.480,3,5
4057,2017-05-31,Monarch Egg (FIRST sighted),43.657,-79.420,7,5
4058,2017-05-31,Monarch Egg (FIRST sighted),44.743,-93.553,1,5
4059,2017-05-31,Monarch Egg (FIRST sighted),44.811,-91.498,2,5

In [565]:
JNorth_Adult_Site_2017_5_df.shape

(202, 6)

In [566]:
JNorth_Adult_Site_2017_5_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [567]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2017_5_df['latitude'] = JNorth_Adult_Site_2017_5_df['latitude'].astype(float)
JNorth_Adult_Site_2017_5_df['longitude'] = JNorth_Adult_Site_2017_5_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [568]:
geojson = df_to_geojson(JNorth_Adult_Site_2017_5_df, cols)

In [569]:
file = open("JNorth_Adult_Site_2017_5.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## June

In [570]:
JNorth_Adult_Site_2017_month_df =pd.DataFrame(JNorth_Adult_Site_2017_df)
JNorth_Adult_Site_2017_6_df = JNorth_Adult_Site_2017_month_df[JNorth_Adult_Site_2017_month_df['month']==6]
JNorth_Adult_Site_2017_6_df.tail()

,sighting_date,species,latitude,longitude,number,month
4226,2017-06-29,Monarch Egg (FIRST sighted),41.233,-73.244,4,6
4227,2017-06-29,Monarch Egg (FIRST sighted),42.858,-92.540,1,6
4228,2017-06-30,Monarch Egg (FIRST sighted),39.376,-77.155,1,6
4229,2017-06-30,Monarch Egg (FIRST sighted),40.733,-73.567,1,6
4230,2017-06-30,Monarch Egg (FIRST sighted),42.368,-88.822,3,6

In [571]:
JNorth_Adult_Site_2017_6_df.shape

(171, 6)

In [572]:
JNorth_Adult_Site_2017_6_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [573]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2017_6_df['latitude'] = JNorth_Adult_Site_2017_6_df['latitude'].astype(float)
JNorth_Adult_Site_2017_6_df['longitude'] = JNorth_Adult_Site_2017_6_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [574]:
geojson = df_to_geojson(JNorth_Adult_Site_2017_6_df, cols)

In [575]:
file = open("JNorth_Adult_Site_2017_6.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## July

In [576]:
JNorth_Adult_Site_2017_month_df =pd.DataFrame(JNorth_Adult_Site_2017_df)
JNorth_Adult_Site_2017_7_df = JNorth_Adult_Site_2017_month_df[JNorth_Adult_Site_2017_month_df['month']==7]
JNorth_Adult_Site_2017_7_df.tail()

,sighting_date,species,latitude,longitude,number,month
4316,2017-07-29,Monarch Egg (FIRST sighted),36.108,-80.280,6,7
4317,2017-07-29,Monarch Egg (FIRST sighted),40.699,-73.844,8,7
4318,2017-07-30,Monarch Egg (FIRST sighted),38.813,-77.168,1,7
4319,2017-07-30,Monarch Egg (FIRST sighted),42.870,-75.711,3,7
4320,2017-07-31,Monarch Egg (FIRST sighted),42.789,-73.368,11,7

In [577]:
JNorth_Adult_Site_2017_7_df.shape

(90, 6)

In [578]:
JNorth_Adult_Site_2017_7_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [579]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2017_7_df['latitude'] = JNorth_Adult_Site_2017_7_df['latitude'].astype(float)
JNorth_Adult_Site_2017_7_df['longitude'] = JNorth_Adult_Site_2017_7_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [580]:
geojson = df_to_geojson(JNorth_Adult_Site_2017_7_df, cols)

In [581]:
file = open("JNorth_Adult_Site_2017_7.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## August

In [582]:
JNorth_Adult_Site_2017_month_df =pd.DataFrame(JNorth_Adult_Site_2017_df)
JNorth_Adult_Site_2017_8_df = JNorth_Adult_Site_2017_month_df[JNorth_Adult_Site_2017_month_df['month']==8]
JNorth_Adult_Site_2017_8_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [583]:
JNorth_Adult_Site_2017_8_df.shape

(0, 6)

In [584]:
JNorth_Adult_Site_2017_8_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [585]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2017_8_df['latitude'] = JNorth_Adult_Site_2017_8_df['latitude'].astype(float)
JNorth_Adult_Site_2017_8_df['longitude'] = JNorth_Adult_Site_2017_8_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [586]:
geojson = df_to_geojson(JNorth_Adult_Site_2017_8_df, cols)

In [587]:
file = open("JNorth_Adult_Site_2017_8.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## September

In [588]:
JNorth_Adult_Site_2017_month_df =pd.DataFrame(JNorth_Adult_Site_2017_df)
JNorth_Adult_Site_2017_9_df = JNorth_Adult_Site_2017_month_df[JNorth_Adult_Site_2017_month_df['month']==9]
JNorth_Adult_Site_2017_9_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [589]:
JNorth_Adult_Site_2017_9_df.shape

(0, 6)

In [590]:
JNorth_Adult_Site_2017_9_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [591]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2017_9_df['latitude'] = JNorth_Adult_Site_2017_9_df['latitude'].astype(float)
JNorth_Adult_Site_2017_9_df['longitude'] = JNorth_Adult_Site_2017_9_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [592]:
geojson = df_to_geojson(JNorth_Adult_Site_2017_9_df, cols)

In [593]:
file = open("JNorth_Adult_Site_2017_9.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## October

In [594]:
JNorth_Adult_Site_2017_month_df =pd.DataFrame(JNorth_Adult_Site_2017_df)
JNorth_Adult_Site_2017_10_df = JNorth_Adult_Site_2017_month_df[JNorth_Adult_Site_2017_month_df['month']==10]
JNorth_Adult_Site_2017_10_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [595]:
JNorth_Adult_Site_2017_10_df.shape

(0, 6)

In [596]:
JNorth_Adult_Site_2017_10_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [597]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2017_10_df['latitude'] = JNorth_Adult_Site_2017_10_df['latitude'].astype(float)
JNorth_Adult_Site_2017_10_df['longitude'] = JNorth_Adult_Site_2017_10_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [598]:
geojson = df_to_geojson(JNorth_Adult_Site_2017_10_df, cols)

In [599]:
file = open("JNorth_Adult_Site_2017_10.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## November

In [600]:
JNorth_Adult_Site_2017_month_df =pd.DataFrame(JNorth_Adult_Site_2017_df)
JNorth_Adult_Site_2017_11_df = JNorth_Adult_Site_2017_month_df[JNorth_Adult_Site_2017_month_df['month']==11]
JNorth_Adult_Site_2017_11_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [601]:
JNorth_Adult_Site_2017_11_df.shape

(0, 6)

In [602]:
JNorth_Adult_Site_2017_11_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [603]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2017_11_df['latitude'] = JNorth_Adult_Site_2017_11_df['latitude'].astype(float)
JNorth_Adult_Site_2017_11_df['longitude'] = JNorth_Adult_Site_2017_11_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [604]:
geojson = df_to_geojson(JNorth_Adult_Site_2017_11_df, cols)

In [605]:
file = open("JNorth_Adult_Site_2017_11.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## December

In [606]:
JNorth_Adult_Site_2017_month_df =pd.DataFrame(JNorth_Adult_Site_2017_df)
JNorth_Adult_Site_2017_12_df = JNorth_Adult_Site_2017_month_df[JNorth_Adult_Site_2017_month_df['month']==12]
JNorth_Adult_Site_2017_12_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [607]:
JNorth_Adult_Site_2017_12_df.shape

(0, 6)

In [608]:
JNorth_Adult_Site_2017_12_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [609]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2017_12_df['latitude'] = JNorth_Adult_Site_2017_12_df['latitude'].astype(float)
JNorth_Adult_Site_2017_12_df['longitude'] = JNorth_Adult_Site_2017_12_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [610]:
geojson = df_to_geojson(JNorth_Adult_Site_2017_12_df, cols)

In [611]:
file = open("JNorth_Adult_Site_2017_12.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# 2018

In [612]:
JNorth_Adult_Site_2018_df = JNorth_Adult_Site_year_df[JNorth_Adult_Site_year_df['year']==2018]
JNorth_Adult_Site_2018_df.tail()

,sighting_date,species,latitude,longitude,number,year
5047,2018-07-29,Monarch Egg (FIRST sighted),45.056,-72.838,2,2018
5048,2018-07-30,Monarch Egg (FIRST sighted),43.911,-69.821,6,2018
5049,2018-07-30,Monarch Egg (FIRST sighted),44.136,-73.076,2,2018
5050,2018-07-31,Monarch Egg (FIRST sighted),36.152,-95.904,3,2018
5051,2018-07-31,Monarch Egg (FIRST sighted),40.175,-74.923,1,2018

In [613]:
JNorth_Adult_Site_2018_df.shape

(731, 6)

In [614]:
JNorth_Adult_Site_2018_df.drop(['year'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [615]:
JNorth_Adult_Site_2018_df.tail

<bound method NDFrame.tail of      sighting_date                      species  latitude  longitude  number
4321    2018-01-19  Monarch Egg (FIRST sighted)    34.238   -118.530       5
4322    2018-02-01  Monarch Egg (FIRST sighted)    20.660   -103.436      33
4323    2018-02-10  Monarch Egg (FIRST sighted)    38.114   -122.601       1
4324    2018-02-16  Monarch Egg (FIRST sighted)    28.538    -81.379       5
4325    2018-02-20  Monarch Egg (FIRST sighted)    28.468    -80.821      10
...            ...                          ...       ...        ...     ...
5047    2018-07-29  Monarch Egg (FIRST sighted)    45.056    -72.838       2
5048    2018-07-30  Monarch Egg (FIRST sighted)    43.911    -69.821       6
5049    2018-07-30  Monarch Egg (FIRST sighted)    44.136    -73.076       2
5050    2018-07-31  Monarch Egg (FIRST sighted)    36.152    -95.904       3
5051    2018-07-31  Monarch Egg (FIRST sighted)    40.175    -74.923       1

[731 rows x 5 columns]>

In [616]:
JNorth_Adult_Site_2018_df['month'] = pd.DatetimeIndex(JNorth_Adult_Site_2018_df['sighting_date']).month

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## January

In [617]:
JNorth_Adult_Site_2018_month_df =pd.DataFrame(JNorth_Adult_Site_2018_df)
JNorth_Adult_Site_2018_1_df = JNorth_Adult_Site_2018_month_df[JNorth_Adult_Site_2018_month_df['month']==1]
JNorth_Adult_Site_2018_1_df.tail()

,sighting_date,species,latitude,longitude,number,month
4321,2018-01-19,Monarch Egg (FIRST sighted),34.238,-118.53,5,1

In [618]:
JNorth_Adult_Site_2018_1_df.shape

(1, 6)

In [619]:
JNorth_Adult_Site_2018_1_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [620]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2018_1_df['latitude'] = JNorth_Adult_Site_2018_1_df['latitude'].astype(float)
JNorth_Adult_Site_2018_1_df['longitude'] = JNorth_Adult_Site_2018_1_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [621]:
geojson = df_to_geojson(JNorth_Adult_Site_2018_1_df, cols)

In [622]:
file = open("JNorth_Adult_Site_2018_1.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## February

In [623]:
JNorth_Adult_Site_2018_month_df =pd.DataFrame(JNorth_Adult_Site_2018_df)
JNorth_Adult_Site_2018_2_df = JNorth_Adult_Site_2018_month_df[JNorth_Adult_Site_2018_month_df['month']==2]
JNorth_Adult_Site_2018_2_df.tail()

,sighting_date,species,latitude,longitude,number,month
4324,2018-02-16,Monarch Egg (FIRST sighted),28.538,-81.379,5,2
4325,2018-02-20,Monarch Egg (FIRST sighted),28.468,-80.821,10,2
4326,2018-02-20,Monarch Egg (FIRST sighted),33.854,-118.110,2,2
4327,2018-02-22,Monarch Egg (FIRST sighted),26.181,-98.331,1,2
4328,2018-02-27,Monarch Egg (FIRST sighted),29.584,-81.208,2,2

In [624]:
JNorth_Adult_Site_2018_2_df.shape

(7, 6)

In [625]:
JNorth_Adult_Site_2018_2_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [626]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2018_2_df['latitude'] = JNorth_Adult_Site_2018_2_df['latitude'].astype(float)
JNorth_Adult_Site_2018_2_df['longitude'] = JNorth_Adult_Site_2018_2_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [627]:
geojson = df_to_geojson(JNorth_Adult_Site_2018_2_df, cols)

In [628]:
file = open("JNorth_Adult_Site_2018_2.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## March

In [629]:
JNorth_Adult_Site_2018_month_df =pd.DataFrame(JNorth_Adult_Site_2018_df)
JNorth_Adult_Site_2018_3_df = JNorth_Adult_Site_2018_month_df[JNorth_Adult_Site_2018_month_df['month']==3]
JNorth_Adult_Site_2018_3_df.tail()

,sighting_date,species,latitude,longitude,number,month
4399,2018-03-30,Monarch Egg (FIRST sighted),32.418,-96.860,5,3
4400,2018-03-30,Monarch Egg (FIRST sighted),32.814,-96.949,7,3
4401,2018-03-31,Monarch Egg (FIRST sighted),33.169,-96.699,6,3
4402,2018-03-31,Monarch Egg (FIRST sighted),34.548,-92.233,30,3
4403,2018-03-31,Monarch Egg (FIRST sighted),38.675,-121.873,12,3

In [630]:
JNorth_Adult_Site_2018_3_df.shape

(75, 6)

In [631]:
JNorth_Adult_Site_2018_3_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [632]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2018_3_df['latitude'] = JNorth_Adult_Site_2018_3_df['latitude'].astype(float)
JNorth_Adult_Site_2018_3_df['longitude'] = JNorth_Adult_Site_2018_3_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [633]:
geojson = df_to_geojson(JNorth_Adult_Site_2018_3_df, cols)

In [634]:
file = open("JNorth_Adult_Site_2018_3.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## April

In [635]:
JNorth_Adult_Site_2018_month_df =pd.DataFrame(JNorth_Adult_Site_2018_df)
JNorth_Adult_Site_2018_4_df = JNorth_Adult_Site_2018_month_df[JNorth_Adult_Site_2018_month_df['month']==4]
JNorth_Adult_Site_2018_4_df.tail()

,sighting_date,species,latitude,longitude,number,month
4492,2018-04-29,Monarch Egg (FIRST sighted),35.770,-78.820,12,4
4493,2018-04-30,Monarch Egg (FIRST sighted),35.734,-97.478,2,4
4494,2018-04-30,Monarch Egg (FIRST sighted),35.942,-79.027,6,4
4495,2018-04-30,Monarch Egg (FIRST sighted),36.424,-89.057,1,4
4496,2018-04-30,Monarch Egg (FIRST sighted),37.118,-97.856,15,4

In [636]:
JNorth_Adult_Site_2018_4_df.shape

(93, 6)

In [637]:
JNorth_Adult_Site_2018_4_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [638]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2018_4_df['latitude'] = JNorth_Adult_Site_2018_4_df['latitude'].astype(float)
JNorth_Adult_Site_2018_4_df['longitude'] = JNorth_Adult_Site_2018_4_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [639]:
geojson = df_to_geojson(JNorth_Adult_Site_2018_4_df, cols)

In [640]:
file = open("JNorth_Adult_Site_2018_4.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## May

In [641]:
JNorth_Adult_Site_2018_month_df =pd.DataFrame(JNorth_Adult_Site_2018_df)
JNorth_Adult_Site_2018_5_df = JNorth_Adult_Site_2018_month_df[JNorth_Adult_Site_2018_month_df['month']==5]
JNorth_Adult_Site_2018_5_df.tail()

,sighting_date,species,latitude,longitude,number,month
4838,2018-05-31,Monarch Egg (FIRST sighted),44.915,-93.276,1,5
4839,2018-05-31,Monarch Egg (FIRST sighted),45.338,-93.569,6,5
4840,2018-05-31,Monarch Egg (FIRST sighted),45.599,-94.245,2,5
4841,2018-05-31,Monarch Egg (FIRST sighted),47.012,-91.722,5,5
4842,2018-05-31,Monarch Egg (FIRST sighted),49.668,-96.582,2,5

In [642]:
JNorth_Adult_Site_2018_5_df.shape

(346, 6)

In [643]:
JNorth_Adult_Site_2018_5_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [644]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2018_5_df['latitude'] = JNorth_Adult_Site_2018_5_df['latitude'].astype(float)
JNorth_Adult_Site_2018_5_df['longitude'] = JNorth_Adult_Site_2018_5_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [645]:
geojson = df_to_geojson(JNorth_Adult_Site_2018_5_df, cols)

In [646]:
file = open("JNorth_Adult_Site_2018_5.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## June

In [647]:
JNorth_Adult_Site_2018_month_df =pd.DataFrame(JNorth_Adult_Site_2018_df)
JNorth_Adult_Site_2018_6_df = JNorth_Adult_Site_2018_month_df[JNorth_Adult_Site_2018_month_df['month']==6]
JNorth_Adult_Site_2018_6_df.tail()

,sighting_date,species,latitude,longitude,number,month
4966,2018-06-28,Monarch Egg (FIRST sighted),41.128,-81.610,4,6
4967,2018-06-29,Monarch Egg (FIRST sighted),39.437,-77.566,3,6
4968,2018-06-29,Monarch Egg (FIRST sighted),40.370,-80.634,18,6
4969,2018-06-30,Monarch Egg (FIRST sighted),39.840,-105.104,8,6
4970,2018-06-30,Monarch Egg (FIRST sighted),40.000,-76.702,2,6

In [648]:
JNorth_Adult_Site_2018_6_df.shape

(128, 6)

In [649]:
JNorth_Adult_Site_2018_6_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [650]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2018_6_df['latitude'] = JNorth_Adult_Site_2018_6_df['latitude'].astype(float)
JNorth_Adult_Site_2018_6_df['longitude'] = JNorth_Adult_Site_2018_6_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [651]:
geojson = df_to_geojson(JNorth_Adult_Site_2018_6_df, cols)

In [652]:
file = open("JNorth_Adult_Site_2018_6.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## July

In [653]:
JNorth_Adult_Site_2018_month_df =pd.DataFrame(JNorth_Adult_Site_2018_df)
JNorth_Adult_Site_2018_7_df = JNorth_Adult_Site_2018_month_df[JNorth_Adult_Site_2018_month_df['month']==7]
JNorth_Adult_Site_2018_7_df.tail()

,sighting_date,species,latitude,longitude,number,month
5047,2018-07-29,Monarch Egg (FIRST sighted),45.056,-72.838,2,7
5048,2018-07-30,Monarch Egg (FIRST sighted),43.911,-69.821,6,7
5049,2018-07-30,Monarch Egg (FIRST sighted),44.136,-73.076,2,7
5050,2018-07-31,Monarch Egg (FIRST sighted),36.152,-95.904,3,7
5051,2018-07-31,Monarch Egg (FIRST sighted),40.175,-74.923,1,7

In [654]:
JNorth_Adult_Site_2018_7_df.shape

(81, 6)

In [655]:
JNorth_Adult_Site_2018_7_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [656]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2018_7_df['latitude'] = JNorth_Adult_Site_2018_7_df['latitude'].astype(float)
JNorth_Adult_Site_2018_7_df['longitude'] = JNorth_Adult_Site_2018_7_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [657]:
geojson = df_to_geojson(JNorth_Adult_Site_2018_7_df, cols)

In [658]:
file = open("JNorth_Adult_Site_2018_7.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## August

In [659]:
JNorth_Adult_Site_2018_month_df =pd.DataFrame(JNorth_Adult_Site_2018_df)
JNorth_Adult_Site_2018_8_df = JNorth_Adult_Site_2018_month_df[JNorth_Adult_Site_2018_month_df['month']==8]
JNorth_Adult_Site_2018_8_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [660]:
JNorth_Adult_Site_2018_8_df.shape

(0, 6)

In [661]:
JNorth_Adult_Site_2018_8_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [662]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2018_8_df['latitude'] = JNorth_Adult_Site_2018_8_df['latitude'].astype(float)
JNorth_Adult_Site_2018_8_df['longitude'] = JNorth_Adult_Site_2018_8_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [663]:
geojson = df_to_geojson(JNorth_Adult_Site_2018_8_df, cols)

In [664]:
file = open("JNorth_Adult_Site_2018_8.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## September

In [665]:
JNorth_Adult_Site_2018_month_df =pd.DataFrame(JNorth_Adult_Site_2018_df)
JNorth_Adult_Site_2018_9_df = JNorth_Adult_Site_2018_month_df[JNorth_Adult_Site_2018_month_df['month']==9]
JNorth_Adult_Site_2018_9_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [666]:
JNorth_Adult_Site_2018_9_df.shape

(0, 6)

In [667]:
JNorth_Adult_Site_2018_9_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [668]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2018_9_df['latitude'] = JNorth_Adult_Site_2018_9_df['latitude'].astype(float)
JNorth_Adult_Site_2018_9_df['longitude'] = JNorth_Adult_Site_2018_9_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [669]:
geojson = df_to_geojson(JNorth_Adult_Site_2018_9_df, cols)

In [670]:
file = open("JNorth_Adult_Site_2018_9.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## October

In [671]:
JNorth_Adult_Site_2018_month_df =pd.DataFrame(JNorth_Adult_Site_2018_df)
JNorth_Adult_Site_2018_10_df = JNorth_Adult_Site_2018_month_df[JNorth_Adult_Site_2018_month_df['month']==10]
JNorth_Adult_Site_2018_10_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [672]:
JNorth_Adult_Site_2018_10_df.shape

(0, 6)

In [673]:
JNorth_Adult_Site_2018_10_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [674]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2018_10_df['latitude'] = JNorth_Adult_Site_2018_10_df['latitude'].astype(float)
JNorth_Adult_Site_2018_10_df['longitude'] = JNorth_Adult_Site_2018_10_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [675]:
geojson = df_to_geojson(JNorth_Adult_Site_2018_10_df, cols)

In [676]:
file = open("JNorth_Adult_Site_2018_10.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## November

In [677]:
JNorth_Adult_Site_2018_month_df =pd.DataFrame(JNorth_Adult_Site_2018_df)
JNorth_Adult_Site_2018_11_df = JNorth_Adult_Site_2018_month_df[JNorth_Adult_Site_2018_month_df['month']==11]
JNorth_Adult_Site_2018_11_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [678]:
JNorth_Adult_Site_2018_11_df.shape

(0, 6)

In [679]:
JNorth_Adult_Site_2018_11_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [680]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2018_11_df['latitude'] = JNorth_Adult_Site_2018_11_df['latitude'].astype(float)
JNorth_Adult_Site_2018_11_df['longitude'] = JNorth_Adult_Site_2018_11_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [681]:
geojson = df_to_geojson(JNorth_Adult_Site_2018_11_df, cols)

In [682]:
file = open("JNorth_Adult_Site_2018_11.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## December

In [683]:
JNorth_Adult_Site_2018_month_df =pd.DataFrame(JNorth_Adult_Site_2018_df)
JNorth_Adult_Site_2018_12_df = JNorth_Adult_Site_2018_month_df[JNorth_Adult_Site_2018_month_df['month']==12]
JNorth_Adult_Site_2018_12_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [684]:
JNorth_Adult_Site_2018_12_df.shape

(0, 6)

In [685]:
JNorth_Adult_Site_2018_12_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [686]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2018_12_df['latitude'] = JNorth_Adult_Site_2018_12_df['latitude'].astype(float)
JNorth_Adult_Site_2018_12_df['longitude'] = JNorth_Adult_Site_2018_12_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [687]:
geojson = df_to_geojson(JNorth_Adult_Site_2018_12_df, cols)

In [688]:
file = open("JNorth_Adult_Site_2018_12.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# 2019

In [689]:
JNorth_Adult_Site_2019_df = JNorth_Adult_Site_year_df[JNorth_Adult_Site_year_df['year']==2019]
JNorth_Adult_Site_2019_df.tail()

,sighting_date,species,latitude,longitude,number,year
5887,2019-07-29,Monarch Egg (FIRST sighted),36.126,-86.795,4,2019
5888,2019-07-30,Monarch Egg (FIRST sighted),39.740,-104.992,6,2019
5889,2019-07-30,Monarch Egg (FIRST sighted),44.634,-64.065,3,2019
5890,2019-07-31,Monarch Egg (FIRST sighted),43.459,-80.568,1,2019
5891,2019-08-05,Monarch Egg (FIRST sighted),39.249,-84.607,26,2019

In [690]:
JNorth_Adult_Site_2019_df.shape

(840, 6)

In [691]:
JNorth_Adult_Site_2019_df.drop(['year'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [692]:
JNorth_Adult_Site_2019_df.tail

<bound method NDFrame.tail of      sighting_date                      species  latitude  longitude  number
5052    2019-02-03  Monarch Egg (FIRST sighted)    33.019    -80.176      11
5053    2019-02-21  Monarch Egg (FIRST sighted)    30.477    -84.316      23
5054    2019-02-24  Monarch Egg (FIRST sighted)    30.628    -90.953       9
5055    2019-02-26  Monarch Egg (FIRST sighted)    26.283    -98.172      10
5056    2019-02-26  Monarch Egg (FIRST sighted)    26.580    -81.943      12
...            ...                          ...       ...        ...     ...
5887    2019-07-29  Monarch Egg (FIRST sighted)    36.126    -86.795       4
5888    2019-07-30  Monarch Egg (FIRST sighted)    39.740   -104.992       6
5889    2019-07-30  Monarch Egg (FIRST sighted)    44.634    -64.065       3
5890    2019-07-31  Monarch Egg (FIRST sighted)    43.459    -80.568       1
5891    2019-08-05  Monarch Egg (FIRST sighted)    39.249    -84.607      26

[840 rows x 5 columns]>

In [693]:
JNorth_Adult_Site_2019_df['month'] = pd.DatetimeIndex(JNorth_Adult_Site_2019_df['sighting_date']).month

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## January

In [694]:
JNorth_Adult_Site_2019_month_df =pd.DataFrame(JNorth_Adult_Site_2019_df)
JNorth_Adult_Site_2019_1_df = JNorth_Adult_Site_2019_month_df[JNorth_Adult_Site_2019_month_df['month']==1]
JNorth_Adult_Site_2019_1_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [695]:
JNorth_Adult_Site_2019_1_df.shape

(0, 6)

In [696]:
JNorth_Adult_Site_2019_1_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [697]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2019_1_df['latitude'] = JNorth_Adult_Site_2019_1_df['latitude'].astype(float)
JNorth_Adult_Site_2019_1_df['longitude'] = JNorth_Adult_Site_2019_1_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [698]:
geojson = df_to_geojson(JNorth_Adult_Site_2019_1_df, cols)

In [699]:
file = open("JNorth_Adult_Site_2019_1.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## February

In [700]:
JNorth_Adult_Site_2019_month_df =pd.DataFrame(JNorth_Adult_Site_2019_df)
JNorth_Adult_Site_2019_2_df = JNorth_Adult_Site_2019_month_df[JNorth_Adult_Site_2019_month_df['month']==2]
JNorth_Adult_Site_2019_2_df.tail()

,sighting_date,species,latitude,longitude,number,month
5052,2019-02-03,Monarch Egg (FIRST sighted),33.019,-80.176,11,2
5053,2019-02-21,Monarch Egg (FIRST sighted),30.477,-84.316,23,2
5054,2019-02-24,Monarch Egg (FIRST sighted),30.628,-90.953,9,2
5055,2019-02-26,Monarch Egg (FIRST sighted),26.283,-98.172,10,2
5056,2019-02-26,Monarch Egg (FIRST sighted),26.580,-81.943,12,2

In [701]:
JNorth_Adult_Site_2019_2_df.shape

(5, 6)

In [702]:
JNorth_Adult_Site_2019_2_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [703]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2019_2_df['latitude'] = JNorth_Adult_Site_2019_2_df['latitude'].astype(float)
JNorth_Adult_Site_2019_2_df['longitude'] = JNorth_Adult_Site_2019_2_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [704]:
geojson = df_to_geojson(JNorth_Adult_Site_2019_2_df, cols)

In [705]:
file = open("JNorth_Adult_Site_2019_2.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## March

In [706]:
JNorth_Adult_Site_2019_month_df =pd.DataFrame(JNorth_Adult_Site_2019_df)
JNorth_Adult_Site_2019_3_df = JNorth_Adult_Site_2019_month_df[JNorth_Adult_Site_2019_month_df['month']==3]
JNorth_Adult_Site_2019_3_df.tail()

,sighting_date,species,latitude,longitude,number,month
5112,2019-03-27,Monarch Egg (FIRST sighted),32.972,-96.895,11,3
5113,2019-03-27,Monarch Egg (FIRST sighted),33.943,-117.448,1,3
5114,2019-03-28,Monarch Egg (FIRST sighted),30.647,-89.656,25,3
5115,2019-03-29,Monarch Egg (FIRST sighted),30.648,-89.656,20,3
5116,2019-03-29,Monarch Egg (FIRST sighted),31.268,-90.532,8,3

In [707]:
JNorth_Adult_Site_2019_3_df.shape

(60, 6)

In [708]:
JNorth_Adult_Site_2019_3_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [709]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2019_3_df['latitude'] = JNorth_Adult_Site_2019_3_df['latitude'].astype(float)
JNorth_Adult_Site_2019_3_df['longitude'] = JNorth_Adult_Site_2019_3_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [710]:
geojson = df_to_geojson(JNorth_Adult_Site_2019_3_df, cols)

In [711]:
file = open("JNorth_Adult_Site_2019_3.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## April

In [712]:
JNorth_Adult_Site_2019_month_df =pd.DataFrame(JNorth_Adult_Site_2019_df)
JNorth_Adult_Site_2019_4_df = JNorth_Adult_Site_2019_month_df[JNorth_Adult_Site_2019_month_df['month']==4]
JNorth_Adult_Site_2019_4_df.tail()

,sighting_date,species,latitude,longitude,number,month
5268,2019-04-29,Monarch Egg (FIRST sighted),38.944,-76.469,11,4
5269,2019-04-29,Monarch Egg (FIRST sighted),39.033,-77.407,15,4
5270,2019-04-30,Monarch Egg (FIRST sighted),35.431,-82.501,22,4
5271,2019-04-30,Monarch Egg (FIRST sighted),36.867,-76.832,10,4
5272,2019-04-30,Monarch Egg (FIRST sighted),38.871,-77.126,1,4

In [713]:
JNorth_Adult_Site_2019_4_df.shape

(156, 6)

In [714]:
JNorth_Adult_Site_2019_4_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [715]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2019_4_df['latitude'] = JNorth_Adult_Site_2019_4_df['latitude'].astype(float)
JNorth_Adult_Site_2019_4_df['longitude'] = JNorth_Adult_Site_2019_4_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [716]:
geojson = df_to_geojson(JNorth_Adult_Site_2019_4_df, cols)

In [717]:
file = open("JNorth_Adult_Site_2019_4.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## May

In [718]:
JNorth_Adult_Site_2019_month_df =pd.DataFrame(JNorth_Adult_Site_2019_df)
JNorth_Adult_Site_2019_5_df = JNorth_Adult_Site_2019_month_df[JNorth_Adult_Site_2019_month_df['month']==5]
JNorth_Adult_Site_2019_5_df.tail()

,sighting_date,species,latitude,longitude,number,month
5630,2019-05-31,Monarch Egg (FIRST sighted),44.984,-93.081,3,5
5631,2019-05-31,Monarch Egg (FIRST sighted),45.001,-93.081,3,5
5632,2019-05-31,Monarch Egg (FIRST sighted),45.019,-93.232,12,5
5633,2019-05-31,Monarch Egg (FIRST sighted),45.031,-92.909,23,5
5634,2019-05-31,Monarch Egg (FIRST sighted),45.047,-93.239,6,5

In [719]:
JNorth_Adult_Site_2019_5_df.shape

(362, 6)

In [720]:
JNorth_Adult_Site_2019_5_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [721]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2019_5_df['latitude'] = JNorth_Adult_Site_2019_5_df['latitude'].astype(float)
JNorth_Adult_Site_2019_5_df['longitude'] = JNorth_Adult_Site_2019_5_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [722]:
geojson = df_to_geojson(JNorth_Adult_Site_2019_5_df, cols)

In [723]:
file = open("JNorth_Adult_Site_2019_5.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## June

In [724]:
JNorth_Adult_Site_2019_month_df =pd.DataFrame(JNorth_Adult_Site_2019_df)
JNorth_Adult_Site_2019_6_df = JNorth_Adult_Site_2019_month_df[JNorth_Adult_Site_2019_month_df['month']==6]
JNorth_Adult_Site_2019_6_df.tail()

,sighting_date,species,latitude,longitude,number,month
5830,2019-06-29,Monarch Egg (FIRST sighted),41.770,-71.129,15,6
5831,2019-06-29,Monarch Egg (FIRST sighted),43.900,-73.750,7,6
5832,2019-06-29,Monarch Egg (FIRST sighted),44.564,-80.942,6,6
5833,2019-06-30,Monarch Egg (FIRST sighted),39.964,-84.328,3,6
5834,2019-06-30,Monarch Egg (FIRST sighted),40.730,-77.902,1,6

In [725]:
JNorth_Adult_Site_2019_6_df.shape

(200, 6)

In [726]:
JNorth_Adult_Site_2019_6_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [727]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2019_6_df['latitude'] = JNorth_Adult_Site_2019_6_df['latitude'].astype(float)
JNorth_Adult_Site_2019_6_df['longitude'] = JNorth_Adult_Site_2019_6_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [728]:
geojson = df_to_geojson(JNorth_Adult_Site_2019_6_df, cols)

In [729]:
file = open("JNorth_Adult_Site_2019_6.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## July

In [730]:
JNorth_Adult_Site_2019_month_df =pd.DataFrame(JNorth_Adult_Site_2019_df)
JNorth_Adult_Site_2019_7_df = JNorth_Adult_Site_2019_month_df[JNorth_Adult_Site_2019_month_df['month']==7]
JNorth_Adult_Site_2019_7_df.tail()

,sighting_date,species,latitude,longitude,number,month
5886,2019-07-28,Monarch Egg (FIRST sighted),46.114,-74.478,7,7
5887,2019-07-29,Monarch Egg (FIRST sighted),36.126,-86.795,4,7
5888,2019-07-30,Monarch Egg (FIRST sighted),39.740,-104.992,6,7
5889,2019-07-30,Monarch Egg (FIRST sighted),44.634,-64.065,3,7
5890,2019-07-31,Monarch Egg (FIRST sighted),43.459,-80.568,1,7

In [731]:
JNorth_Adult_Site_2019_7_df.shape

(56, 6)

In [732]:
JNorth_Adult_Site_2019_7_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [733]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2019_7_df['latitude'] = JNorth_Adult_Site_2019_7_df['latitude'].astype(float)
JNorth_Adult_Site_2019_7_df['longitude'] = JNorth_Adult_Site_2019_7_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [734]:
geojson = df_to_geojson(JNorth_Adult_Site_2019_7_df, cols)

In [735]:
file = open("JNorth_Adult_Site_2019_7.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## August

In [736]:
JNorth_Adult_Site_2019_month_df =pd.DataFrame(JNorth_Adult_Site_2019_df)
JNorth_Adult_Site_2019_8_df = JNorth_Adult_Site_2019_month_df[JNorth_Adult_Site_2019_month_df['month']==8]
JNorth_Adult_Site_2019_8_df.tail()

,sighting_date,species,latitude,longitude,number,month
5891,2019-08-05,Monarch Egg (FIRST sighted),39.249,-84.607,26,8

In [737]:
JNorth_Adult_Site_2019_8_df.shape

(1, 6)

In [738]:
JNorth_Adult_Site_2019_8_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [739]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2019_8_df['latitude'] = JNorth_Adult_Site_2019_8_df['latitude'].astype(float)
JNorth_Adult_Site_2019_8_df['longitude'] = JNorth_Adult_Site_2019_8_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [740]:
geojson = df_to_geojson(JNorth_Adult_Site_2019_8_df, cols)

In [741]:
file = open("JNorth_Adult_Site_2019_8.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## September

In [742]:
JNorth_Adult_Site_2019_month_df =pd.DataFrame(JNorth_Adult_Site_2019_df)
JNorth_Adult_Site_2019_9_df = JNorth_Adult_Site_2019_month_df[JNorth_Adult_Site_2019_month_df['month']==9]
JNorth_Adult_Site_2019_9_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [743]:
JNorth_Adult_Site_2019_9_df.shape

(0, 6)

In [744]:
JNorth_Adult_Site_2019_9_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [745]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2019_9_df['latitude'] = JNorth_Adult_Site_2019_9_df['latitude'].astype(float)
JNorth_Adult_Site_2019_9_df['longitude'] = JNorth_Adult_Site_2019_9_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [746]:
geojson = df_to_geojson(JNorth_Adult_Site_2019_9_df, cols)

In [747]:
file = open("JNorth_Adult_Site_2019_9.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## October

In [748]:
JNorth_Adult_Site_2019_month_df =pd.DataFrame(JNorth_Adult_Site_2019_df)
JNorth_Adult_Site_2019_10_df = JNorth_Adult_Site_2019_month_df[JNorth_Adult_Site_2019_month_df['month']==10]
JNorth_Adult_Site_2019_10_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [749]:
JNorth_Adult_Site_2019_10_df.shape

(0, 6)

In [750]:
JNorth_Adult_Site_2019_10_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [751]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2019_10_df['latitude'] = JNorth_Adult_Site_2019_10_df['latitude'].astype(float)
JNorth_Adult_Site_2019_10_df['longitude'] = JNorth_Adult_Site_2019_10_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [752]:
geojson = df_to_geojson(JNorth_Adult_Site_2019_10_df, cols)

In [753]:
file = open("JNorth_Adult_Site_2019_10.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## November

In [754]:
JNorth_Adult_Site_2019_month_df =pd.DataFrame(JNorth_Adult_Site_2019_df)
JNorth_Adult_Site_2019_11_df = JNorth_Adult_Site_2019_month_df[JNorth_Adult_Site_2019_month_df['month']==11]
JNorth_Adult_Site_2019_11_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [755]:
JNorth_Adult_Site_2019_11_df.shape

(0, 6)

In [756]:
JNorth_Adult_Site_2019_11_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [757]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2019_11_df['latitude'] = JNorth_Adult_Site_2019_11_df['latitude'].astype(float)
JNorth_Adult_Site_2019_11_df['longitude'] = JNorth_Adult_Site_2019_11_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [758]:
geojson = df_to_geojson(JNorth_Adult_Site_2019_11_df, cols)

In [759]:
file = open("JNorth_Adult_Site_2019_11.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## December

In [760]:
JNorth_Adult_Site_2019_month_df =pd.DataFrame(JNorth_Adult_Site_2019_df)
JNorth_Adult_Site_2019_12_df = JNorth_Adult_Site_2019_month_df[JNorth_Adult_Site_2019_month_df['month']==12]
JNorth_Adult_Site_2019_12_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [761]:
JNorth_Adult_Site_2019_12_df.shape

(0, 6)

In [762]:
JNorth_Adult_Site_2019_12_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [763]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2019_12_df['latitude'] = JNorth_Adult_Site_2019_12_df['latitude'].astype(float)
JNorth_Adult_Site_2019_12_df['longitude'] = JNorth_Adult_Site_2019_12_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [764]:
geojson = df_to_geojson(JNorth_Adult_Site_2019_12_df, cols)

In [765]:
file = open("JNorth_Adult_Site_2019_12.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# 2020

In [766]:
JNorth_Adult_Site_2020_df = JNorth_Adult_Site_df[JNorth_Adult_Site_df['year']==2020]
JNorth_Adult_Site_2020_df.tail()

,sighting_date,species,latitude,longitude,number,year
6771,2020-07-31,Monarch Egg (FIRST sighted),30.482,-84.156,2,2020
6772,2020-07-31,Monarch Egg (FIRST sighted),35.909,-80.490,1,2020
6773,2020-08-13,Monarch Egg (FIRST sighted),29.570,-95.631,7,2020
6774,2020-12-18,Monarch Egg (FIRST sighted),33.849,-118.107,15,2020
6775,2020-12-25,Monarch Egg (FIRST sighted),34.217,-118.230,1,2020

In [767]:
JNorth_Adult_Site_2020_df.shape

(884, 6)

In [768]:
JNorth_Adult_Site_2020_df.drop(['year'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [769]:
JNorth_Adult_Site_2020_df.tail

<bound method NDFrame.tail of      sighting_date                      species  latitude  longitude  number
5892    2020-01-30  Monarch Egg (FIRST sighted)    28.318    -80.666      32
5893    2020-02-14  Monarch Egg (FIRST sighted)    33.993   -118.463       3
5894    2020-02-28  Monarch Egg (FIRST sighted)    28.538    -81.377      10
5895    2020-02-29  Monarch Egg (FIRST sighted)    30.167    -95.444      30
5896    2020-03-01  Monarch Egg (FIRST sighted)    26.438    -81.807      18
...            ...                          ...       ...        ...     ...
6771    2020-07-31  Monarch Egg (FIRST sighted)    30.482    -84.156       2
6772    2020-07-31  Monarch Egg (FIRST sighted)    35.909    -80.490       1
6773    2020-08-13  Monarch Egg (FIRST sighted)    29.570    -95.631       7
6774    2020-12-18  Monarch Egg (FIRST sighted)    33.849   -118.107      15
6775    2020-12-25  Monarch Egg (FIRST sighted)    34.217   -118.230       1

[884 rows x 5 columns]>

In [770]:
JNorth_Adult_Site_2020_df['month'] = pd.DatetimeIndex(JNorth_Adult_Site_2020_df['sighting_date']).month

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## January

In [771]:
JNorth_Adult_Site_2020_month_df =pd.DataFrame(JNorth_Adult_Site_2020_df)
JNorth_Adult_Site_2020_1_df = JNorth_Adult_Site_2020_month_df[JNorth_Adult_Site_2020_month_df['month']==1]
JNorth_Adult_Site_2020_1_df.tail()

,sighting_date,species,latitude,longitude,number,month
5892,2020-01-30,Monarch Egg (FIRST sighted),28.318,-80.666,32,1

In [772]:
JNorth_Adult_Site_2020_1_df.shape

(1, 6)

In [773]:
JNorth_Adult_Site_2020_1_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [774]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2020_1_df['latitude'] = JNorth_Adult_Site_2020_1_df['latitude'].astype(float)
JNorth_Adult_Site_2020_1_df['longitude'] = JNorth_Adult_Site_2020_1_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [775]:
geojson = df_to_geojson(JNorth_Adult_Site_2020_1_df, cols)

In [776]:
file = open("JNorth_Adult_Site_2020_1.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# February

In [777]:
JNorth_Adult_Site_2020_month_df =pd.DataFrame(JNorth_Adult_Site_2020_df)
JNorth_Adult_Site_2020_2_df = JNorth_Adult_Site_2020_month_df[JNorth_Adult_Site_2020_month_df['month']==2]
JNorth_Adult_Site_2020_2_df.tail()

,sighting_date,species,latitude,longitude,number,month
5893,2020-02-14,Monarch Egg (FIRST sighted),33.993,-118.463,3,2
5894,2020-02-28,Monarch Egg (FIRST sighted),28.538,-81.377,10,2
5895,2020-02-29,Monarch Egg (FIRST sighted),30.167,-95.444,30,2

In [778]:
JNorth_Adult_Site_2020_2_df.shape

(3, 6)

In [779]:
JNorth_Adult_Site_2020_2_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [780]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2020_2_df['latitude'] = JNorth_Adult_Site_2020_2_df['latitude'].astype(float)
JNorth_Adult_Site_2020_2_df['longitude'] = JNorth_Adult_Site_2020_2_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [781]:
geojson = df_to_geojson(JNorth_Adult_Site_2020_2_df, cols)

In [782]:
file = open("JNorth_Adult_Site_2020_2.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [783]:
JNorth_Adult_Site_2020_month_df =pd.DataFrame(JNorth_Adult_Site_2020_df)
JNorth_Adult_Site_2020_3_df = JNorth_Adult_Site_2020_month_df[JNorth_Adult_Site_2020_month_df['month']==3]
JNorth_Adult_Site_2020_3_df.tail()

,sighting_date,species,latitude,longitude,number,month
5976,2020-03-30,Monarch Egg (FIRST sighted),33.952,-83.999,4,3
5977,2020-03-30,Monarch Egg (FIRST sighted),35.079,-77.101,2,3
5978,2020-03-30,Monarch Egg (FIRST sighted),35.413,-81.999,50,3
5979,2020-03-31,Monarch Egg (FIRST sighted),30.016,-95.602,10,3
5980,2020-03-31,Monarch Egg (FIRST sighted),35.653,-97.478,10,3

In [784]:
JNorth_Adult_Site_2020_3_df.shape

(85, 6)

In [785]:
JNorth_Adult_Site_2020_3_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [786]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2020_3_df['latitude'] = JNorth_Adult_Site_2020_3_df['latitude'].astype(float)
JNorth_Adult_Site_2020_3_df['longitude'] = JNorth_Adult_Site_2020_3_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [787]:
geojson = df_to_geojson(JNorth_Adult_Site_2020_3_df, cols)

In [788]:
file = open("JNorth_Adult_Site_2020_3.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [789]:
JNorth_Adult_Site_2020_month_df =pd.DataFrame(JNorth_Adult_Site_2020_df)
JNorth_Adult_Site_2020_4_df = JNorth_Adult_Site_2020_month_df[JNorth_Adult_Site_2020_month_df['month']==4]
JNorth_Adult_Site_2020_4_df.tail()

,sighting_date,species,latitude,longitude,number,month
6110,2020-04-29,Monarch Egg (FIRST sighted),38.996,-76.748,5,4
6111,2020-04-30,Monarch Egg (FIRST sighted),37.861,-78.264,4,4
6112,2020-04-30,Monarch Egg (FIRST sighted),38.615,-90.598,2,4
6113,2020-04-30,Monarch Egg (FIRST sighted),38.627,-89.364,4,4
6114,2020-04-30,Monarch Egg (FIRST sighted),41.612,-93.718,2,4

In [790]:
JNorth_Adult_Site_2020_4_df.shape

(134, 6)

In [791]:
JNorth_Adult_Site_2020_4_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [792]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2020_4_df['latitude'] = JNorth_Adult_Site_2020_4_df['latitude'].astype(float)
JNorth_Adult_Site_2020_4_df['longitude'] = JNorth_Adult_Site_2020_4_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [793]:
geojson = df_to_geojson(JNorth_Adult_Site_2020_4_df, cols)

In [794]:
file = open("JNorth_Adult_Site_2020_4.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [795]:
JNorth_Adult_Site_2020_month_df =pd.DataFrame(JNorth_Adult_Site_2020_df)
JNorth_Adult_Site_2020_5_df = JNorth_Adult_Site_2020_month_df[JNorth_Adult_Site_2020_month_df['month']==5]
JNorth_Adult_Site_2020_5_df.tail()

,sighting_date,species,latitude,longitude,number,month
6394,2020-05-31,Monarch Egg (FIRST sighted),43.897,-78.866,1,5
6395,2020-05-31,Monarch Egg (FIRST sighted),44.487,-93.414,3,5
6396,2020-05-31,Monarch Egg (FIRST sighted),45.092,-87.165,7,5
6397,2020-05-31,Monarch Egg (FIRST sighted),45.100,-93.864,2,5
6398,2020-05-31,Monarch Egg (FIRST sighted),45.140,-92.883,18,5

In [796]:
JNorth_Adult_Site_2020_5_df.shape

(284, 6)

In [797]:
JNorth_Adult_Site_2020_5_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [798]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2020_5_df['latitude'] = JNorth_Adult_Site_2020_5_df['latitude'].astype(float)
JNorth_Adult_Site_2020_5_df['longitude'] = JNorth_Adult_Site_2020_5_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [799]:
geojson = df_to_geojson(JNorth_Adult_Site_2020_5_df, cols)

In [800]:
file = open("JNorth_Adult_Site_2020_5.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [801]:
JNorth_Adult_Site_2020_month_df =pd.DataFrame(JNorth_Adult_Site_2020_df)
JNorth_Adult_Site_2020_6_df = JNorth_Adult_Site_2020_month_df[JNorth_Adult_Site_2020_month_df['month']==6]
JNorth_Adult_Site_2020_6_df.tail()

,sighting_date,species,latitude,longitude,number,month
6616,2020-06-30,Monarch Egg (FIRST sighted),42.651,-78.551,17,6
6617,2020-06-30,Monarch Egg (FIRST sighted),43.217,-77.430,5,6
6618,2020-06-30,Monarch Egg (FIRST sighted),43.253,-77.410,20,6
6619,2020-06-30,Monarch Egg (FIRST sighted),43.483,-80.491,1,6
6620,2020-06-30,Monarch Egg (FIRST sighted),44.845,-93.546,3,6

In [802]:
JNorth_Adult_Site_2020_6_df.shape

(222, 6)

In [803]:
JNorth_Adult_Site_2020_6_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [804]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2020_6_df['latitude'] = JNorth_Adult_Site_2020_6_df['latitude'].astype(float)
JNorth_Adult_Site_2020_6_df['longitude'] = JNorth_Adult_Site_2020_6_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [805]:
geojson = df_to_geojson(JNorth_Adult_Site_2020_6_df, cols)

In [806]:
file = open("JNorth_Adult_Site_2020_6.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [807]:
JNorth_Adult_Site_2020_month_df =pd.DataFrame(JNorth_Adult_Site_2020_df)
JNorth_Adult_Site_2020_7_df = JNorth_Adult_Site_2020_month_df[JNorth_Adult_Site_2020_month_df['month']==7]
JNorth_Adult_Site_2020_7_df.tail()

,sighting_date,species,latitude,longitude,number,month
6768,2020-07-28,Monarch Egg (FIRST sighted),41.182,-74.045,9,7
6769,2020-07-28,Monarch Egg (FIRST sighted),41.341,-73.063,5,7
6770,2020-07-29,Monarch Egg (FIRST sighted),41.386,-72.448,10,7
6771,2020-07-31,Monarch Egg (FIRST sighted),30.482,-84.156,2,7
6772,2020-07-31,Monarch Egg (FIRST sighted),35.909,-80.490,1,7

In [808]:
JNorth_Adult_Site_2020_7_df.shape

(152, 6)

In [809]:
JNorth_Adult_Site_2020_7_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [810]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2020_7_df['latitude'] = JNorth_Adult_Site_2020_7_df['latitude'].astype(float)
JNorth_Adult_Site_2020_7_df['longitude'] = JNorth_Adult_Site_2020_7_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [811]:
geojson = df_to_geojson(JNorth_Adult_Site_2020_7_df, cols)

In [812]:
file = open("JNorth_Adult_Site_2020_7.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [813]:
JNorth_Adult_Site_2020_month_df =pd.DataFrame(JNorth_Adult_Site_2020_df)
JNorth_Adult_Site_2020_8_df = JNorth_Adult_Site_2020_month_df[JNorth_Adult_Site_2020_month_df['month']==8]
JNorth_Adult_Site_2020_8_df.tail()

,sighting_date,species,latitude,longitude,number,month
6773,2020-08-13,Monarch Egg (FIRST sighted),29.57,-95.631,7,8

In [814]:
JNorth_Adult_Site_2020_8_df.shape

(1, 6)

In [815]:
JNorth_Adult_Site_2020_8_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [816]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2020_8_df['latitude'] = JNorth_Adult_Site_2020_8_df['latitude'].astype(float)
JNorth_Adult_Site_2020_8_df['longitude'] = JNorth_Adult_Site_2020_8_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [817]:
geojson = df_to_geojson(JNorth_Adult_Site_2020_8_df, cols)

In [818]:
file = open("JNorth_Adult_Site_2020_8.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [819]:
JNorth_Adult_Site_2020_month_df =pd.DataFrame(JNorth_Adult_Site_2020_df)
JNorth_Adult_Site_2020_9_df = JNorth_Adult_Site_2020_month_df[JNorth_Adult_Site_2020_month_df['month']==9]
JNorth_Adult_Site_2020_9_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [820]:
JNorth_Adult_Site_2020_9_df.shape

(0, 6)

In [821]:
JNorth_Adult_Site_2020_9_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [822]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2020_9_df['latitude'] = JNorth_Adult_Site_2020_9_df['latitude'].astype(float)
JNorth_Adult_Site_2020_9_df['longitude'] = JNorth_Adult_Site_2020_9_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [823]:
geojson = df_to_geojson(JNorth_Adult_Site_2020_9_df, cols)

In [824]:
file = open("JNorth_Adult_Site_2020_9.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [825]:
JNorth_Adult_Site_2020_month_df =pd.DataFrame(JNorth_Adult_Site_2020_df)
JNorth_Adult_Site_2020_10_df = JNorth_Adult_Site_2020_month_df[JNorth_Adult_Site_2020_month_df['month']==10]
JNorth_Adult_Site_2020_10_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [826]:
JNorth_Adult_Site_2020_10_df.shape

(0, 6)

In [827]:
JNorth_Adult_Site_2020_10_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [828]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2020_10_df['latitude'] = JNorth_Adult_Site_2020_10_df['latitude'].astype(float)
JNorth_Adult_Site_2020_10_df['longitude'] = JNorth_Adult_Site_2020_10_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [829]:
geojson = df_to_geojson(JNorth_Adult_Site_2020_10_df, cols)

In [830]:
file = open("JNorth_Adult_Site_2020_10.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [831]:
JNorth_Adult_Site_2020_month_df =pd.DataFrame(JNorth_Adult_Site_2020_df)
JNorth_Adult_Site_2020_11_df = JNorth_Adult_Site_2020_month_df[JNorth_Adult_Site_2020_month_df['month']==11]
JNorth_Adult_Site_2020_11_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [832]:
JNorth_Adult_Site_2020_11_df.shape

(0, 6)

In [833]:
JNorth_Adult_Site_2020_11_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [834]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2020_11_df['latitude'] = JNorth_Adult_Site_2020_11_df['latitude'].astype(float)
JNorth_Adult_Site_2020_11_df['longitude'] = JNorth_Adult_Site_2020_11_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [835]:
geojson = df_to_geojson(JNorth_Adult_Site_2020_11_df, cols)

In [836]:
file = open("JNorth_Adult_Site_2020_11.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [837]:
JNorth_Adult_Site_2020_month_df =pd.DataFrame(JNorth_Adult_Site_2020_df)
JNorth_Adult_Site_2020_12_df = JNorth_Adult_Site_2020_month_df[JNorth_Adult_Site_2020_month_df['month']==12]
JNorth_Adult_Site_2020_12_df.tail()

,sighting_date,species,latitude,longitude,number,month
6774,2020-12-18,Monarch Egg (FIRST sighted),33.849,-118.107,15,12
6775,2020-12-25,Monarch Egg (FIRST sighted),34.217,-118.230,1,12

In [838]:
JNorth_Adult_Site_2020_12_df.shape

(2, 6)

In [839]:
JNorth_Adult_Site_2020_12_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [840]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2020_12_df['latitude'] = JNorth_Adult_Site_2020_12_df['latitude'].astype(float)
JNorth_Adult_Site_2020_12_df['longitude'] = JNorth_Adult_Site_2020_12_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [841]:
geojson = df_to_geojson(JNorth_Adult_Site_2020_12_df, cols)

In [842]:
file = open("JNorth_Adult_Site_2020_12.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()