# Journey North Larva First Sightings

In [1]:
#  Import and read
import pandas as pd 
import numpy as np
import json
# Sue Mottet 2-19-2022

# geoJSONifier

In [2]:
def df_to_geojson(df, properties, lat='latitude', lon='longitude'):
    # create a new python dict to contain our geojson data, using geojson format
    geojson = {'type':'FeatureCollection', 'features':[]}

    # loop through each row in the dataframe and convert each row to geojson format
    for _, row in df.iterrows():
        # create a feature template to fill in
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point',
                               'coordinates':[]}}

        # fill in the coordinates
        feature['geometry']['coordinates'] = [row[lon],row[lat]]

        # for each column, get the value and add it as a new feature property
        for prop in properties:
            feature['properties'][prop] = row[prop]
        
        # add this feature (aka, converted dataframe row) to the list of features inside our dict
        geojson['features'].append(feature)
    
    return geojson

# Load file

In [3]:
JNorth1996_2020_df = pd.read_csv("UWMadisonArb_JNorth_Project_MonarchsAndMilkweed_1996-2020.csv")
JNorth1996_2020_df.head()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,sighting_date,species,number,latitude,longitude,flag_location,comments,school,grade,image_url,customerid,number_old,flag_number,species_old,flag_species
0,850841703,1996-12-16,Monarch Adult Sighted,1,27.594,-81.362,0,On the ballfield a solitary monarch butterfly ...,Walker memorial junior academy,10.0,-999999.999,135,-999999.999,1,Monarch Butterfly,1
1,851824801,1996-12-06,Monarch Adult Sighted,1,30.420,-87.224,0,Our 5th grade Discovery students who went alon...,Hambrick elementary school,5.0,-999999.999,150,-999999.999,1,Monarch Butterfly,1
2,854409931,1996-09-21,Monarch Adult Sighted,1,40.817,-96.710,0,We saw several hundred monarchs in our school ...,-999999.999,5.0,-999999.999,9701054,-999999.999,1,Monarch Butterfly,1
3,854557206,1996-09-21,Monarch Adult Sighted,1,40.817,-96.710,0,Over a hundered monarchs in our school butterf...,Fredstrom elementary school,6.0,-999999.999,175,-999999.999,1,Monarch Butterfly,1
4,855061862,1997-01-01,Monarch Adult Sighted,1,34.244,-77.946,0,"I Thought I Saw It, But I Was Suprised To See ...",Gregory,3.0,-999999.999,181,-999999.999,1,Monarch Butterfly,1

# Data Exploratory

In [4]:
JNorth1996_2020_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227433 entries, 0 to 227432
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             227433 non-null  int64
 1   sighting_date  227433 non-null  object
 2   species        227433 non-null  object
 3   number         227433 non-null  int64
 4   latitude       227433 non-null  float64
 5   longitude      227433 non-null  float64
 6   flag_location  227433 non-null  int64
 7   comments       227433 non-null  object
 8   school         227433 non-null  object
 9   grade          227433 non-null  float64
 10  image_url      227433 non-null  object
 11  customerid     227433 non-null  int64
 12  number_old     227433 non-null  float64
 13  flag_number    227433 non-null  int64
 14  species_old    227433 non-null  object
 15  flag_species   227433 non-null  int64
dtypes: float64(4), int64(6), object(6)
memory usage: 27.8+ MB

In [5]:
str(JNorth1996_2020_df.columns.tolist())

"['id', 'sighting_date', 'species', 'number', 'latitude', 'longitude', 'flag_location', 'comments', 'school', 'grade', 'image_url', 'customerid', 'number_old', 'flag_number', 'species_old', 'flag_species']"

In [6]:
JNorth1996_2020_df.describe()

,id,number,latitude,longitude,flag_location,grade,customerid,number_old,flag_number,flag_species
count,2.274330e+05,2.274330e+05,227433.000000,227433.000000,227433.000000,227433.000000,2.274330e+05,2.274330e+05,227433.000000,227433.000000
mean,1.420650e+09,1.186529e+02,38.400690,-87.569965,0.598018,-907386.217597,9.451737e+06,-2.844270e+05,0.294816,0.130324
std,1.456887e+08,2.209080e+04,5.268651,10.880362,0.490299,289894.342744,2.193961e+06,4.518136e+05,0.467089,0.336660
min,8.508417e+08,-1.700000e+01,-12.100000,-165.107000,0.000000,-999999.999000,0.000000e+00,-1.000000e+06,0.000000,0.000000
25%,1.377751e+09,1.000000e+00,34.723000,-95.268000,0.000000,-999999.999000,9.941050e+06,-1.000000e+06,0.000000,0.000000
50%,1.477448e+09,1.000000e+00,39.503000,-86.787000,1.000000,-999999.999000,9.977663e+06,1.000000e+00,0.000000,0.000000
75%,1.526383e+09,3.000000e+00,42.409000,-79.255000,1.000000,-999999.999000,1.000029e+07,3.000000e+00,1.000000,0.000000
max,1.526525e+09,1.000000e+07,65.136000,-52.883000,1.000000,1112.000000,1.004256e+07,1.000000e+07,2.000000,1.000000

In [7]:
JNorth1996_2020_df.columns.tolist()

['id',
 'sighting_date',
 'species',
 'number',
 'latitude',
 'longitude',
 'flag_location',
 'comments',
 'school',
 'grade',
 'image_url',
 'customerid',
 'number_old',
 'flag_number',
 'species_old',
 'flag_species']

In [8]:
JNorth1996_2020_df.shape

(227433, 16)

In [9]:
# Determine the number of unique values in each column.
for col in JNorth1996_2020_df:
  print(JNorth1996_2020_df[col].unique())

[ 850841703  851824801  854409931 ... 1526524404 1526524405 1526525021]
['1996-12-16' '1996-12-06' '1996-09-21' ... '2020-12-29' '2020-12-30'
 '2020-12-31']
['Monarch Adult Sighted' 'Monarch Adult (FIRST sighted)'
 'Monarch Egg (FIRST sighted)' 'Monarch (OTHER Observations)'
 'Monarch Larva (FIRST sighted)' 'Monarch PEAK Migration'
 'Milkweed (FIRST sighted)' 'Monarch Fall Roost' 'Monarch Egg Sighted'
 'Monarch Larva Sighted' 'Monarch, Captive-Reared' 'Milkweed Sighted']
[       1      150       20       89       30     2000       50     7500
       23      200        5      300        4      100       71      120
      325       21       28     5000    20000       36       25        6
       54     1000      160       24       60       37        2     3000
  1000000       10  2000000       40       85       65       15        8
      500       14      112       75       80    15000       18    10000
      912   100000      400      800       12       35      600       16
    25000     1500     1117       70        3      463       45       72
      250      182       56       26    30000     2500     8000      750
      700       46      556       34      275       53       22      650
      210      224     1100      240   200000      900     1200        7
       13      115       11       19      810       66       43      510
        9       62       27      290      104       44      440      202
       55      180       17      140      269       61      142      175
       41      123       32       76       31      195      125       29
      164      109      119      105     4000       69      360       88
       58      239       48      310      117       52      261       90
      135      296      211       39       51      102     7001      127
       49       47       33     1300       42      101     5075     1520
      170       81      190       38      110      558      381      228
      248       86       74      172      230      420     2806       94
       92      118      425     5400     6300       68       79    50000
     2300     7000       84      128       57      350       83      124
      114      450      147      501       87       77      197      840
    13460     3500       64       73      178      265      151      133
      121      477       59       97      850      130      165       95
      383       98      729      222      116      225       63     6000
      475    34000    13420    21329    12073    16244    30293    11082
       78      214      113      108      280      212      138      285
      229      216      720      206      606      287      107      134
      157      540 10000000      220      103      270       82      139
      318       93       67      181      122      158      156      232
      106      155     2400      667     1286      179      349      207
      505      132      154     1400    32914    29804    18128    15890
     7750     8531     7333     7783      173      213      126      378
      417      481      780     4800      625      208      205      145
      260      193      144      227      305      831      289      246
      404      152       96      373      855     1800      519      215
      441      337    23800      218      340      231     2100      550
     4500      320     9000    12000      324      461      184      570
      444      620    11000      870      478      252      447      247
      281      980    28073    13492    12864    11472    10200      301
      111      259      171      141      256      186      174      198
      479      187      223      474      203      278      153      257
      520      185     3200      375      258      136    70000    60200
    48000    17800      264    19755    17100    12189    13375      233
      204      192      131       -1      129      149      -17      460
      382      137      143      445       91     1700      330      254
      429      813     2200      316     2600      696      291      255
      286      543      183      251      362      226      453     1080
      860      315      332      244     1351    35000     1503     1125
      725     1482      593     2079    12284    19741    12360    10099
      587    19000   500000      189      671      713     1016      176
      345      219      234      249      409      418    16000     3900
      169     7200      272      284      653      428      348      777
      253       99      201     1516      335      359      356      875
      560      177      525      686     1380      276   999999    12620
     6500     5850      188     2960      480      385      827      323
      148     1012      465      196      162      238      446      313
     2385      307      263      357      163      495     1001      541
      733      167     3600      457     5700     1650     1120     3553
      995     1600     1390      614     7600     8250      314     1580
      221     1620      470      759      267      960     1301      566
      342      880      782      241      514     2250     2470      925
      403      166     6769      146     2469      209      279      868
      585      311      683      354      308      760      387      563
      801      536      161      397      322      613      191     1750
      199      516      321     1850      277      297     4750      370
      489     1149      268     2816      789      430      978      770
      493      716      159]
[27.594 30.42  40.817 ... 30.139 35.008 54.968]
[ -81.362  -87.224  -96.71  ... -118.107 -119.132 -108.727]
[0 1]
['On the ballfield a solitary monarch butterfly flew across the field in a south-west direction at approximately 1:30 pm.'
 'Our 5th grade Discovery students who went along on an overnight field trip to Ft. Pickens, Florida, noticed that there were monarch butterflies all over the grounds of the fort the day they were there (Dec. 6,1996).'
 'We saw several hundred monarchs in our school butterfly garden,  sipping nectar from the New England asters and zinnias.'
 ...
 "There have been at least three Monarchs in my yard this year. I know it's at least three, because I often see all of them at once. But there may be more. I have lived here for 35 years, and an additional 23 years just a mile-and-a-half down the road. This is the first time in decades that I've had Monarchs in my yard, and I've been very excited that they're coming back. I'm hoping to see more in the future. "
 'One larva seen.'
 'Date of last adult sighted.Total sightings were 98 adults from June 3 to Sept. 4.Peak sightings were July 8 to Aug 7.Approx. acreage with milkweed is equal to 4.5Ac. ']
['Walker memorial junior academy' 'Hambrick elementary school'
 '-999999.999' ... 'Homosassa springs wildlife state park'
 'Director, virginia master naturalist program' -999999.999]
[ 1.00000000e+01  5.00000000e+00  6.00000000e+00  3.00000000e+00
  9.00000000e+00 -9.99999999e+05  7.00000000e+00  2.00000000e+00
  8.00000000e+00  9.90000000e+01  4.00000000e+00  1.00000000e+00
  1.20000000e+01  1.10000000e+01  0.00000000e+00  3.40000000e+01
  2.50000000e+01  4.60000000e+01  6.80000000e+01  1.50000000e+01
  9.50000000e+01  3.60000000e+01  1.80000000e+01  2.30000000e+01
  1.40000000e+01  4.50000000e+01  9.12000000e+02  2.40000000e+01
  6.90000000e+01  5.60000000e+01  7.12000000e+02  6.78000000e+02
  1.12000000e+02  4.90000000e+01  7.80000000e+01  6.70000000e+01
  1.30000000e+01  4.56000000e+02  1.90000000e+01  6.12000000e+02
  1.11200000e+03  1.60000000e+01  1.01200000e+03  3.80000000e+01
  6.30000000e+01  2.70000000e+01  1.00000000e+02  9.10000000e+02
  6.20000000e+01  3.11000000e+02  5.80000000e+01  1.70000000e+01
  2.10000000e+01  2.80000000e+01  7.10000000e+01  3.45000000e+02
  1.19000000e+02  3.50000000e+01  4.20000000e+01  6.50000000e+01
  5.00000000e+01  4.12000000e+02  7.90000000e+01  2.00000000e+01
  7.11000000e+02  5.30000000e+01  1.35000000e+02]
['-999999.999'
 'https://journeynorth.org/jnorth/images/userfiles2013/1193346010.jpg'
 'https://www.learner.org/jnorth/images/userfiles/1317067653.jpg' ...
 '//journeynorth.org/jnorth/images/userfiles2021/05/1526513089.jpg'
 '//journeynorth.org/jnorth/images/userfiles2021/05/1526513090.jpg'
 '//journeynorth.org/jnorth/images/userfiles2021/06/1526524404.jpg']
[     135      150  9701054 ... 10042506 10042509 10042557]
[-9.99999999e+05  0.00000000e+00  1.50000000e+02  2.00000000e+01
  8.90000000e+01  3.00000000e+01  2.00000000e+03  5.00000000e+01
  7.50000000e+03  2.30000000e+01  2.00000000e+02  5.00000000e+00
  3.00000000e+02  4.00000000e+00  1.00000000e+02  7.10000000e+01
  1.20000000e+02  3.25000000e+02  2.10000000e+01  2.80000000e+01
  5.00000000e+03  2.00000000e+04  3.60000000e+01  2.50000000e+01
  6.00000000e+00  5.40000000e+01  1.00000000e+03  1.60000000e+02
  2.40000000e+01  6.00000000e+01  3.70000000e+01  2.00000000e+00
  3.00000000e+03  1.00000000e+06  1.00000000e+01  1.00000000e+00
  2.00000000e+06  4.00000000e+01  8.50000000e+01  6.50000000e+01
  1.50000000e+01  8.00000000e+00  5.00000000e+02  1.40000000e+01
  1.12000000e+02  7.50000000e+01  8.00000000e+01  1.50000000e+04
  1.80000000e+01  1.00000000e+04  9.12000000e+02  1.00000000e+05
  4.00000000e+02  8.00000000e+02  1.20000000e+01  3.50000000e+01
  6.00000000e+02  1.60000000e+01  2.50000000e+04  1.50000000e+03
  1.11700000e+03  7.00000000e+01  3.00000000e+00  4.63000000e+02
  4.50000000e+01  7.20000000e+01  2.50000000e+02  1.82000000e+02
  5.60000000e+01  2.60000000e+01  3.00000000e+04  2.50000000e+03
  8.00000000e+03  7.50000000e+02  7.00000000e+02  4.60000000e+01
  5.56000000e+02  3.40000000e+01  2.75000000e+02  5.30000000e+01
  2.20000000e+01  6.50000000e+02  2.10000000e+02  2.24000000e+02
  1.10000000e+03  2.40000000e+02  2.00000000e+05  9.00000000e+02
  1.20000000e+03  7.00000000e+00  1.30000000e+01  1.15000000e+02
  1.10000000e+01  1.90000000e+01  8.10000000e+02  6.60000000e+01
  4.30000000e+01  5.10000000e+02  9.00000000e+00  6.20000000e+01
  2.70000000e+01  2.90000000e+02  1.04000000e+02  4.40000000e+01
  4.40000000e+02  2.02000000e+02  5.50000000e+01  1.80000000e+02
  1.70000000e+01  1.40000000e+02  2.69000000e+02  6.10000000e+01
  1.42000000e+02  1.75000000e+02  4.10000000e+01  1.23000000e+02
  3.20000000e+01  7.60000000e+01  3.10000000e+01  1.95000000e+02
  1.25000000e+02  2.90000000e+01  1.64000000e+02  1.09000000e+02
  1.19000000e+02  1.05000000e+02  4.00000000e+03  6.90000000e+01
  3.60000000e+02  8.80000000e+01  5.80000000e+01  2.39000000e+02
  4.80000000e+01  3.10000000e+02  1.17000000e+02  5.20000000e+01
  2.61000000e+02  9.00000000e+01  1.35000000e+02  2.96000000e+02
  2.11000000e+02  3.90000000e+01  5.10000000e+01  1.02000000e+02
  7.00100000e+03  1.27000000e+02  4.90000000e+01  4.70000000e+01
  3.30000000e+01  1.30000000e+03  4.20000000e+01  1.01000000e+02
  5.07500000e+03  1.52000000e+03  1.70000000e+02  8.10000000e+01
  1.90000000e+02  3.80000000e+01  1.10000000e+02  5.58000000e+02
  3.81000000e+02  2.28000000e+02  2.48000000e+02  8.60000000e+01
  7.40000000e+01  1.72000000e+02  2.30000000e+02  4.20000000e+02
  2.80600000e+03  9.40000000e+01  9.20000000e+01  1.18000000e+02
  4.25000000e+02  5.40000000e+03  6.30000000e+03  6.80000000e+01
  7.90000000e+01  5.00000000e+04  2.30000000e+03  7.00000000e+03
  8.40000000e+01  1.28000000e+02  5.70000000e+01  3.50000000e+02
  8.30000000e+01  1.24000000e+02  1.14000000e+02  4.50000000e+02
  1.47000000e+02  5.01000000e+02  8.70000000e+01  7.70000000e+01
  1.97000000e+02  8.40000000e+02  1.34600000e+04  3.50000000e+03
  6.40000000e+01  7.30000000e+01  1.78000000e+02  2.65000000e+02
  1.51000000e+02  1.33000000e+02  1.21000000e+02  4.77000000e+02
  5.90000000e+01  9.70000000e+01  8.50000000e+02  1.30000000e+02
  1.65000000e+02  9.50000000e+01  3.83000000e+02  9.80000000e+01
  7.29000000e+02  2.22000000e+02  1.16000000e+02  2.25000000e+02
  6.30000000e+01  6.00000000e+03  4.75000000e+02  3.40000000e+04
  1.34200000e+04  2.13290000e+04  1.20730000e+04  1.62440000e+04
  3.02930000e+04  1.10820000e+04  7.80000000e+01  2.14000000e+02
  1.13000000e+02  1.08000000e+02  2.80000000e+02  2.12000000e+02
  1.38000000e+02  2.85000000e+02  2.29000000e+02  2.16000000e+02
  7.20000000e+02  2.06000000e+02  6.06000000e+02  2.87000000e+02
  1.07000000e+02  1.34000000e+02  1.57000000e+02  5.40000000e+02
  1.00000000e+07  2.20000000e+02  1.03000000e+02  2.70000000e+02
  8.20000000e+01  1.39000000e+02  3.18000000e+02  9.30000000e+01
  6.70000000e+01  1.81000000e+02  1.22000000e+02  1.58000000e+02
  1.56000000e+02  2.32000000e+02  1.06000000e+02  1.55000000e+02
  2.40000000e+03  6.67000000e+02  1.28600000e+03  1.79000000e+02
  3.49000000e+02  2.07000000e+02  5.05000000e+02  1.32000000e+02
  1.54000000e+02  1.40000000e+03  3.29140000e+04  2.98040000e+04
  1.81280000e+04  1.58900000e+04  7.75000000e+03  8.53100000e+03
  7.33300000e+03  7.78300000e+03  1.73000000e+02  2.13000000e+02
  1.26000000e+02  3.78000000e+02  4.17000000e+02  4.81000000e+02
  7.80000000e+02  4.80000000e+03  6.25000000e+02  2.08000000e+02
  2.05000000e+02  1.45000000e+02  2.60000000e+02  1.93000000e+02
  1.44000000e+02  2.27000000e+02  3.05000000e+02  8.31000000e+02
  2.89000000e+02  2.46000000e+02  4.04000000e+02  1.52000000e+02
  9.60000000e+01  3.73000000e+02  8.55000000e+02  1.80000000e+03
  5.19000000e+02  2.15000000e+02  4.41000000e+02  3.37000000e+02
  2.38000000e+04  2.18000000e+02  3.40000000e+02  2.31000000e+02
  2.10000000e+03  5.50000000e+02  4.50000000e+03  3.20000000e+02
  9.00000000e+03  1.20000000e+04  3.24000000e+02  4.61000000e+02
  1.84000000e+02  5.70000000e+02  4.44000000e+02  6.20000000e+02
  1.10000000e+04  8.70000000e+02  4.78000000e+02  2.52000000e+02
  4.47000000e+02  2.47000000e+02  2.81000000e+02  9.80000000e+02
  2.80730000e+04  1.34920000e+04  1.28640000e+04  1.14720000e+04
  1.02000000e+04  3.01000000e+02  1.11000000e+02  2.59000000e+02
  1.71000000e+02  1.41000000e+02  2.56000000e+02  1.86000000e+02
  1.74000000e+02  1.98000000e+02  4.79000000e+02  1.87000000e+02
  2.23000000e+02  4.74000000e+02  2.03000000e+02  2.78000000e+02
  1.53000000e+02  2.57000000e+02  5.20000000e+02  1.85000000e+02
  3.20000000e+03  3.75000000e+02  2.58000000e+02  1.36000000e+02
  7.00000000e+04  6.02000000e+04  4.80000000e+04  1.78000000e+04
  2.64000000e+02  1.97550000e+04  1.71000000e+04  1.21890000e+04
  1.33750000e+04  2.33000000e+02  2.04000000e+02  1.92000000e+02
  1.31000000e+02 -1.00000000e+00  1.29000000e+02  1.49000000e+02
 -1.70000000e+01  4.60000000e+02  3.82000000e+02  1.37000000e+02
  1.43000000e+02  4.45000000e+02  9.10000000e+01  1.70000000e+03
  3.30000000e+02  2.54000000e+02  4.29000000e+02  8.13000000e+02
  2.20000000e+03  3.16000000e+02  2.60000000e+03  6.96000000e+02
  2.91000000e+02  2.55000000e+02  2.86000000e+02  5.43000000e+02
  1.83000000e+02  2.51000000e+02  3.62000000e+02  2.26000000e+02
  4.53000000e+02  1.08000000e+03  8.60000000e+02  3.15000000e+02
  3.32000000e+02  2.44000000e+02  1.35100000e+03  3.50000000e+04
  1.50300000e+03  1.12500000e+03  7.25000000e+02  1.48200000e+03
  5.93000000e+02  2.07900000e+03  1.22840000e+04  1.97410000e+04
  1.23600000e+04  1.00990000e+04  5.87000000e+02  1.90000000e+04
  5.00000000e+05  1.89000000e+02  6.71000000e+02  7.13000000e+02
  1.01600000e+03  1.76000000e+02  3.45000000e+02  2.19000000e+02
  2.34000000e+02  2.49000000e+02  4.09000000e+02  4.18000000e+02
  1.60000000e+04  3.90000000e+03  1.69000000e+02  7.20000000e+03
  2.72000000e+02  2.84000000e+02  6.53000000e+02  4.28000000e+02
  3.48000000e+02  7.77000000e+02  2.53000000e+02  9.90000000e+01
  2.01000000e+02  1.51600000e+03  3.35000000e+02  3.59000000e+02
  3.56000000e+02  8.75000000e+02  5.60000000e+02  1.77000000e+02
  5.25000000e+02  6.86000000e+02  1.38000000e+03  2.76000000e+02
  9.99999000e+05  1.26200000e+04  6.50000000e+03  5.85000000e+03
  1.88000000e+02  2.96000000e+03  4.80000000e+02  3.85000000e+02
  8.27000000e+02  3.23000000e+02  1.48000000e+02  1.01200000e+03
  4.65000000e+02  1.96000000e+02  1.62000000e+02  2.38000000e+02
  4.46000000e+02  3.13000000e+02  2.38500000e+03  3.07000000e+02
  2.63000000e+02  3.57000000e+02  1.63000000e+02  4.95000000e+02
  1.00100000e+03  5.41000000e+02  7.33000000e+02  1.67000000e+02
  3.60000000e+03  4.57000000e+02  5.70000000e+03  1.65000000e+03
  1.12000000e+03  3.55300000e+03  9.95000000e+02  1.60000000e+03
  1.39000000e+03  6.14000000e+02  7.60000000e+03  8.25000000e+03
  3.14000000e+02  1.58000000e+03  2.21000000e+02  1.62000000e+03
  4.70000000e+02  7.59000000e+02  2.67000000e+02  9.60000000e+02
  1.30100000e+03  5.66000000e+02  3.42000000e+02  8.80000000e+02
  7.82000000e+02  2.41000000e+02  5.14000000e+02  2.25000000e+03
  2.47000000e+03  9.25000000e+02  4.03000000e+02  1.66000000e+02
  6.76900000e+03  1.46000000e+02  2.46900000e+03  2.09000000e+02
  2.79000000e+02  8.68000000e+02  5.85000000e+02  3.11000000e+02
  6.83000000e+02  3.54000000e+02  3.08000000e+02  7.60000000e+02
  3.87000000e+02  5.63000000e+02  8.01000000e+02  5.36000000e+02
  1.61000000e+02  3.97000000e+02  3.22000000e+02  6.13000000e+02
  1.91000000e+02  1.75000000e+03  1.99000000e+02  5.16000000e+02
  3.21000000e+02  1.85000000e+03  2.77000000e+02  2.97000000e+02
  4.75000000e+03  3.70000000e+02  4.89000000e+02  1.14900000e+03
  2.68000000e+02  2.81600000e+03  7.89000000e+02  4.30000000e+02
  9.78000000e+02  7.70000000e+02  4.93000000e+02  7.16000000e+02
  1.59000000e+02]
[1 2 0]
['Monarch Butterfly' 'Monarch Migration' 'FIRST Monarch Butterfly'
 'FIRST Monarch Egg' 'First Monarch' 'FIRST Monarch' 'LAST Fall Monarch'
 'Monarch (OTHER observations)' 'Monarch (FIRST sighting)'
 'Monarch (FIRST seen)' 'Monarch (Other Sightings)'
 'Monarch (OTHER observation)' 'Monarch (OTHER Observation)'
 'Monarch Migration Sighting' 'Monarch (OTHER Observations)'
 'Monarch Migration Study' 'LAST Fall Monarch Sighted'
 ' LAST Fall Monarch Sighted' 'LAST Fall Monarch Migration'
 'Monarch (OTHER oservations)' 'Monarch (LAST sighting)'
 'Monarch Larva (FIRST sighted)' 'Monarch Egg (FIRST sighted)'
 'Monarch Adult (FIRST sighted)' 'Monarch Adult (FIRST Sighted)'
 'Monarch PEAK Migration' 'LAST Fall Monarch Sighting'
 'Monarchs OTHER (Observation)' '(Monarch) Milkweed emerges'
 'Monarch FIRST Migration Sighting' 'Monarch peak Migration'
 'Monarch (OTHER) Observations' 'Milkweed (FIRST Leaves)'
 'Monarch Over-wintering' 'Monarch Adult  (FIRST sighted)'
 'Monarchs (OTHER observations)' 'Monarch (IOTHER observations)'
 'Monarch Fall Roost' 'Monarch ADULT' 'Monarch Larva (FIRST Sighted)'
 'Monarch (OTHER Observations' 'Monarch Peak Migration'
 'Monarch over-wintering' 'Monarch  Adult (FIRST sighted)'
 'Monarch (Other Observations)' 'Monarch FIRST Adult'
 'Monarch Adult (First sighted)' 'Monarch (Other observations)'
 'Monarch Migration Sighting OW' 'Monarch (FIRST sighted)'
 'Monarch (NONE sighted)' 'Monarch Fall Roost (None yet)'
 'Monarch Adult Sighted' 'Monarch Sighting' 'Monarch (Other Observations'
 'Monarch Winter Sighting' 'Monarch Sighted' 'Monarch Egg Sighted'
 'Monarch Larva Sighted' 'Monarch OTHER Observations'
 'monarch (OTHER Observations)' 'Monarch Egg (FIRST Sighted)'
 'Monarch OW Mexico' 'Monarch Adult  Sighted'
 'Monarch (OTHER Observations) READY' 'Monarch Adult (FIRST sighted))'
 'Monarch, Captive-Reared' 'Monarch Fall Roost (waiting for permission)'
 'Milkweed Sighted' 'Milkweed (FIRST sighted)' 'Milkweed (FIRST Sighted)'
 'Milkweed sighted' 'Monarch, Captive Reared'
 'Monarch Egg (FIRST sighted)ghted)'
 'Monarch Adult (FIRST sighted)T sighted)'
 'Monarch Adult (FIRST sighted)sighted)' 'Monarch (Captive Reared)ed)'
 'Monarch (Captive Reared)' 'Monarch (OTHER Observations)ations)'
 'Monarch Larva Sighted ' 'Monarch Fall Roost ' 'Monarch Egg Sighted '
 'Monarch, captive-Reared' 'MOnarch Larva Sighted'
 'Monarch Adult Sighted ' 'Monarch adult Sighted' 'Monarch Adult SIghted'
 'Monarch Adult (FIRST sighted) ' 'Monarchch Adult Sighted'

In [10]:
# Determine the number of unique values in each column.
for col in JNorth1996_2020_df:
  print(JNorth1996_2020_df[col].value_counts())

850841703     1
1526350827    1
1526350816    1
1526350817    1
1526350818    1
             ..
1432512422    1
1432519704    1
1432562236    1
1432562641    1
1526525021    1
Name: id, Length: 227433, dtype: int64
2018-08-22    392
2018-10-03    377
2018-09-06    353
2019-09-19    337
2018-09-12    335
             ...
2015-12-31      1
2015-11-24      1
2015-11-22      1
2006-07-30      1
1996-12-16      1
Name: sighting_date, Length: 7491, dtype: int64
Monarch Adult Sighted            102306
Monarch Adult (FIRST sighted)     36409
Monarch Larva Sighted             17378
Monarch, Captive-Reared           14339
Monarch (OTHER Observations)      13581
Monarch Egg Sighted                8736
Milkweed (FIRST sighted)           8465
Monarch PEAK Migration             7689
Monarch Egg (FIRST sighted)        6876
Monarch Fall Roost                 5035
Monarch Larva (FIRST sighted)      4898
Milkweed Sighted                   1721
Name: species, dtype: int64
1       139319
2        24169
3        13055
4         7795
5         6118
         ...
860          1
315          1
244          1
1351         1
159          1
Name: number, Length: 555, dtype: int64
29.757    811
30.230    765
45.033    702
37.944    700
42.409    659
         ...
30.770      1
38.355      1
33.305      1
29.930      1
27.594      1
Name: latitude, Length: 18851, dtype: int64
-95.365     807
-97.714     752
-87.405     695
-93.224     620
-82.220     605
           ...
-77.529       1
-69.400       1
-101.051      1
-69.254       1
-122.557      1
Name: longitude, Length: 30123, dtype: int64
1    136009
0     91424
Name: flag_location, dtype: int64
-999999.999                                                                                                                                                               1427
Female                                                                                                                                                                     170
Flying                                                                                                                                                                     144
Male                                                                                                                                                                       118
Recorded as an incidental sighting while conducting surveys on the Fort Hood military base.                                                                                104
                                                                                                                                                                          ...
first female sighting around 3 pm in richmond-laid egg on common milkweed.  Warm sw wind -monarch looked fresh                                                               1
Spotted our first milkweed shoots in our butterfly garden at Lake Anne Elementary this afternoon after the first weekend with warmer temperatures.                           1
Spotted 1 adult near Love Valley Wildlife Reserve near the Red River.                                                                                                        1
Established Asclepias syriaca L. plants in open area have emerged approximately 1 inch in height one day after 0.7" rainfall.                                                1
Date of last adult sighted.Total sightings were 98 adults from June 3 to Sept. 4.Peak sightings were July 8 to Aug 7.Approx. acreage with milkweed is equal to 4.5Ac.        1
Name: comments, Length: 212736, dtype: int64
-999999.999                            139036
-999999.999                             63593
None                                      457
Homeschool                                331
Virginia living museum                    263
                                        ...
William e. norris elementary school         1
Coventry elementary school                  1
Adams is close                              1
Salem elementary school                     1
Walker memorial junior academy              1
Name: school, Length: 6914, dtype: int64
-999999.999    206370
 99.000          3136
 4.000           2947
 3.000           2543
 2.000           2541
                ...
 1012.000           1
 678.000            1
 69.000             1
 95.000             1
 135.000            1
Name: grade, Length: 67, dtype: int64
-999999.999                                                                   183911
//sightings.journeynorth.org/jnorth/images/userfiles2018/09/1526362818.jpg         8
https://journeynorth.org/jnorth/images/userfiles/1366245309.jpg                    3
https://journeynorth.org/jnorth/images/userfiles/1331931236.jpg                    3
//journeynorth.org/jnorth/images/userfiles2020/04/1526445894.jpg                   2
                                                                               ...
https://journeynorth.org/jnorth/images/userfiles2017/06/1496327046.jpg             1
https://journeynorth.org/jnorth/images/userfiles2017/06/1496327055.jpg             1
https://journeynorth.org/jnorth/images/userfiles2017/06/1496327056.jpg             1
https://journeynorth.org/jnorth/images/userfiles2017/06/1496327063.jpg             1
//journeynorth.org/jnorth/images/userfiles2021/06/1526524404.jpg                   1
Name: image_url, Length: 43474, dtype: int64
9710973     7256
9979617     2054
9976074     1055
9975275      900
10010858     757
            ...
9979243        1
9979242        1
9979240        1
9979216        1
10042557       1
Name: customerid, Length: 42518, dtype: int64
 1.000         73436
-999999.999    64715
 2.000         24169
 3.000         13055
 4.000          7795
               ...
 445.000           1
 1700.000          1
 254.000           1
 429.000           1
 159.000           1
Name: number_old, Length: 557, dtype: int64
0    161550
1     64715
2      1168
Name: flag_number, dtype: int64
Monarch Adult Sighted                          91662
Monarch Adult (FIRST sighted)                  25311
Monarch Larva Sighted                          17373
Monarch, Captive-Reared                        14329
Monarch (OTHER Observations)                   10626
                                               ...
monarch (OTHER Observations)                       1
Monarch (OTHER Observations) READY                 1
Monarch Fall Roost (waiting for permission)        1
Monarch, Captive Reared                            1
Monarch, Captive-reared                            1
Name: species_old, Length: 96, dtype: int64
0    197793
1     29640
Name: flag_species, dtype: int64

In [11]:
# Find null values
for column in JNorth1996_2020_df.columns:
   print(f"Column {column} has {JNorth1996_2020_df[column].isnull().sum()} null values")

Column id has 0 null values
Column sighting_date has 0 null values
Column species has 0 null values
Column number has 0 null values
Column latitude has 0 null values
Column longitude has 0 null values
Column flag_location has 0 null values
Column comments has 0 null values
Column school has 0 null values
Column grade has 0 null values
Column image_url has 0 null values
Column customerid has 0 null values
Column number_old has 0 null values
Column flag_number has 0 null values
Column species_old has 0 null values
Column flag_species has 0 null values

In [12]:
# Find duplicate entries
print(f"Duplicate entries: {JNorth1996_2020_df.duplicated().sum()}")

Duplicate entries: 0

In [13]:
# filtering by type of observation (Monarch Larva Sighted)
JNorth_Larva_First_Site_df = JNorth1996_2020_df[JNorth1996_2020_df['species']=='Monarch Larva (FIRST sighted)']
JNorth_Larva_First_Site_df.head()

,id,sighting_date,species,number,latitude,longitude,flag_location,comments,school,grade,image_url,customerid,number_old,flag_number,species_old,flag_species
2932,946933590,2000-01-02,Monarch Larva (FIRST sighted),1,27.705,-97.348,0,"At Corpus Christi's Hans and Pat Suter Refuge,...",Tamu-cc,-999999.999,-999999.999,9711251,-999999.999,1,Monarch Larva (FIRST sighted),0
2961,951423660,1999-12-01,Monarch Larva (FIRST sighted),1,29.757,-95.365,0,"In Harris County, southwest Houston, I have ha...",-999999.999,-999999.999,-999999.999,9706354,-999999.999,1,Monarch Larva (FIRST sighted),0
2965,951595960,1999-12-15,Monarch Larva (FIRST sighted),1,29.757,-95.365,0,"We have had such a mild winter here, that the ...",-999999.999,-999999.999,-999999.999,9705512,-999999.999,1,Monarch Larva (FIRST sighted),0
2975,952046388,2000-02-01,Monarch Larva (FIRST sighted),1,26.218,-98.238,0,Milam Elementary School (about 10 miles from t...,Ben milam elementary,4.000,-999999.999,1900,-999999.999,1,Monarch Larva (FIRST sighted),0
2977,952110693,2000-03-03,Monarch Larva (FIRST sighted),1,28.807,-96.979,0,We have had a few monarchs all winter in Victo...,Victoria christian school,7.000,-999999.999,9704928,-999999.999,1,Monarch Larva (FIRST sighted),0

In [14]:
JNorth_Larva_First_Site_df.to_csv('JNorth_Larva_First_Site.csv', header=True, mode='w' )

In [15]:
JNorth_Larva_First_Site_df.shape

(4898, 16)

# Format file for geoJSON

In [16]:
JNorth_Larva_First_Site_df.drop(['id','flag_location', 'comments','school','grade','image_url','customerid','number_old','flag_number','species_old','flag_species'], axis=1, inplace=True)
JNorth_Larva_First_Site_df.head()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

     sighting_date                        species  number  latitude  longitude
2932    2000-01-02  Monarch Larva (FIRST sighted)       1    27.705    -97.348
2961    1999-12-01  Monarch Larva (FIRST sighted)       1    29.757    -95.365
2965    1999-12-15  Monarch Larva (FIRST sighted)       1    29.757    -95.365
2975    2000-02-01  Monarch Larva (FIRST sighted)       1    26.218    -98.238
2977    2000-03-03  Monarch Larva (FIRST sighted)       1    28.807    -96.979

In [17]:
cols = ['sighting_date', 'species', 'number', 'latitude', 'longitude']

In [18]:
JNorth_Larva_First_Site_df =JNorth_Larva_First_Site_df.groupby(['sighting_date', 'species', 'latitude', 'longitude']).sum().reset_index()
JNorth_Larva_First_Site_df.head()

  sighting_date                        species  latitude  longitude  number
0    1999-12-01  Monarch Larva (FIRST sighted)    29.757    -95.365       1
1    1999-12-15  Monarch Larva (FIRST sighted)    29.757    -95.365       1
2    2000-01-02  Monarch Larva (FIRST sighted)    27.705    -97.348       1
3    2000-02-01  Monarch Larva (FIRST sighted)    26.218    -98.238       1
4    2000-03-03  Monarch Larva (FIRST sighted)    26.218    -98.238       1

In [19]:
JNorth_Larva_First_Site_df.columns.tolist()

['sighting_date', 'species', 'latitude', 'longitude', 'number']

In [20]:
JNorth_Larva_First_Site_df.head()

  sighting_date                        species  latitude  longitude  number
0    1999-12-01  Monarch Larva (FIRST sighted)    29.757    -95.365       1
1    1999-12-15  Monarch Larva (FIRST sighted)    29.757    -95.365       1
2    2000-01-02  Monarch Larva (FIRST sighted)    27.705    -97.348       1
3    2000-02-01  Monarch Larva (FIRST sighted)    26.218    -98.238       1
4    2000-03-03  Monarch Larva (FIRST sighted)    26.218    -98.238       1

In [21]:
JNorth_Larva_First_Site_df.shape

(4830, 5)

In [22]:
JNorth_Larva_First_Site_year_df = JNorth_Larva_First_Site_df
JNorth_Larva_First_Site_year_df['year'] = pd.DatetimeIndex(JNorth_Larva_First_Site_df['sighting_date']).year

# 2016

In [23]:
JNorth_Larva_First_Site_2016_df = JNorth_Larva_First_Site_year_df[JNorth_Larva_First_Site_year_df['year']==2016]
JNorth_Larva_First_Site_2016_df.tail()

,sighting_date,species,latitude,longitude,number,year
2354,2016-07-31,Monarch Larva (FIRST sighted),39.216,-94.539,1,2016
2355,2016-07-31,Monarch Larva (FIRST sighted),41.102,-85.144,3,2016
2356,2016-08-22,Monarch Larva (FIRST sighted),45.980,-74.334,1,2016
2357,2016-09-02,Monarch Larva (FIRST sighted),42.026,-93.689,3,2016
2358,2016-12-19,Monarch Larva (FIRST sighted),29.061,-95.446,1,2016

In [24]:
JNorth_Larva_First_Site_2016_df.shape

(381, 6)

In [25]:
JNorth_Larva_First_Site_2016_df['month'] = pd.DatetimeIndex(JNorth_Larva_First_Site_2016_df['sighting_date']).month

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## January

In [26]:
JNorth_Larva_First_Site_2016_month_df =pd.DataFrame(JNorth_Larva_First_Site_2016_df)
JNorth_Larva_First_Site_2016_1_df = JNorth_Larva_First_Site_2016_month_df[JNorth_Larva_First_Site_2016_month_df['month']==1]
JNorth_Larva_First_Site_2016_1_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
1983,2016-01-03,Monarch Larva (FIRST sighted),34.214,-118.879,3,2016,1
1984,2016-01-10,Monarch Larva (FIRST sighted),29.757,-95.365,3,2016,1
1985,2016-01-17,Monarch Larva (FIRST sighted),28.934,-81.960,7,2016,1
1986,2016-01-19,Monarch Larva (FIRST sighted),30.230,-97.714,3,2016,1
1987,2016-01-28,Monarch Larva (FIRST sighted),25.433,-100.133,4,2016,1

In [27]:
JNorth_Larva_First_Site_2016_1_df.shape

(10, 7)

In [28]:
JNorth_Larva_First_Site_2016_1_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [29]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2016_1_df['latitude'] = JNorth_Larva_First_Site_2016_1_df['latitude'].astype(float)
JNorth_Larva_First_Site_2016_1_df['longitude'] = JNorth_Larva_First_Site_2016_1_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [30]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2016_1_df, cols)

In [31]:
file = open("JNorth_Larva_First_Site_2016_1.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## February

In [32]:
JNorth_Larva_First_Site_2016_month_df =pd.DataFrame(JNorth_Larva_First_Site_2016_df)
JNorth_Larva_First_Site_2016_2_df = JNorth_Larva_First_Site_2016_month_df[JNorth_Larva_First_Site_2016_month_df['month']==2]
JNorth_Larva_First_Site_2016_2_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
1995,2016-02-21,Monarch Larva (FIRST sighted),29.792,-95.822,10,2016,2
1996,2016-02-22,Monarch Larva (FIRST sighted),30.230,-97.714,4,2016,2
1997,2016-02-23,Monarch Larva (FIRST sighted),34.278,-118.768,1,2016,2
1998,2016-02-24,Monarch Larva (FIRST sighted),30.076,-95.638,3,2016,2
1999,2016-02-28,Monarch Larva (FIRST sighted),29.757,-95.365,1,2016,2

In [33]:
JNorth_Larva_First_Site_2016_2_df.shape

(12, 7)

In [34]:
JNorth_Larva_First_Site_2016_2_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [35]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2016_2_df['latitude'] = JNorth_Larva_First_Site_2016_2_df['latitude'].astype(float)
JNorth_Larva_First_Site_2016_2_df['longitude'] = JNorth_Larva_First_Site_2016_2_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [36]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2016_2_df, cols)

In [37]:
file = open("JNorth_Larva_First_Site_2016_2.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## March

In [38]:
JNorth_Larva_First_Site_2016_month_df =pd.DataFrame(JNorth_Larva_First_Site_2016_df)
JNorth_Larva_First_Site_2016_3_df = JNorth_Larva_First_Site_2016_month_df[JNorth_Larva_First_Site_2016_month_df['month']==3]
JNorth_Larva_First_Site_2016_3_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
2044,2016-03-30,Monarch Larva (FIRST sighted),28.864,-97.025,3,2016,3
2045,2016-03-30,Monarch Larva (FIRST sighted),28.993,-82.148,4,2016,3
2046,2016-03-30,Monarch Larva (FIRST sighted),37.338,-121.886,3,2016,3
2047,2016-03-31,Monarch Larva (FIRST sighted),28.867,-81.961,7,2016,3
2048,2016-03-31,Monarch Larva (FIRST sighted),30.494,-92.418,1,2016,3

In [39]:
JNorth_Larva_First_Site_2016_3_df.shape

(49, 7)

In [40]:
JNorth_Larva_First_Site_2016_3_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [41]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2016_3_df['latitude'] = JNorth_Larva_First_Site_2016_3_df['latitude'].astype(float)
JNorth_Larva_First_Site_2016_3_df['longitude'] = JNorth_Larva_First_Site_2016_3_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [42]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2016_3_df, cols)

In [43]:
file = open("JNorth_Larva_First_Site_2016_3.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## April

In [44]:
JNorth_Larva_First_Site_2016_month_df =pd.DataFrame(JNorth_Larva_First_Site_2016_df)
JNorth_Larva_First_Site_2016_4_df = JNorth_Larva_First_Site_2016_month_df[JNorth_Larva_First_Site_2016_month_df['month']==4]
JNorth_Larva_First_Site_2016_4_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
2110,2016-04-26,Monarch Larva (FIRST sighted),36.159,-97.051,1,2016,4
2111,2016-04-27,Monarch Larva (FIRST sighted),36.295,-76.251,1,2016,4
2112,2016-04-28,Monarch Larva (FIRST sighted),33.756,-118.121,7,2016,4
2113,2016-04-30,Monarch Larva (FIRST sighted),30.069,-81.860,5,2016,4
2114,2016-04-30,Monarch Larva (FIRST sighted),33.223,-117.215,1,2016,4

In [45]:
JNorth_Larva_First_Site_2016_4_df.shape

(66, 7)

In [46]:
JNorth_Larva_First_Site_2016_4_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [47]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2016_4_df['latitude'] = JNorth_Larva_First_Site_2016_4_df['latitude'].astype(float)
JNorth_Larva_First_Site_2016_4_df['longitude'] = JNorth_Larva_First_Site_2016_4_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [48]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2016_4_df, cols)

In [49]:
file = open("JNorth_Larva_First_Site_2016_4.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## May

In [50]:
JNorth_Larva_First_Site_2016_month_df =pd.DataFrame(JNorth_Larva_First_Site_2016_df)
JNorth_Larva_First_Site_2016_5_df = JNorth_Larva_First_Site_2016_month_df[JNorth_Larva_First_Site_2016_month_df['month']==5]
JNorth_Larva_First_Site_2016_5_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
2147,2016-05-30,Monarch Larva (FIRST sighted),29.508,-95.095,1,2016,5
2148,2016-05-30,Monarch Larva (FIRST sighted),37.637,-76.584,2,2016,5
2149,2016-05-31,Monarch Larva (FIRST sighted),32.833,-116.761,7,2016,5
2150,2016-05-31,Monarch Larva (FIRST sighted),42.011,-93.751,1,2016,5
2151,2016-05-31,Monarch Larva (FIRST sighted),43.073,-89.401,3,2016,5

In [51]:
JNorth_Larva_First_Site_2016_5_df.shape

(37, 7)

In [52]:
JNorth_Larva_First_Site_2016_5_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [53]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2016_5_df['latitude'] = JNorth_Larva_First_Site_2016_5_df['latitude'].astype(float)
JNorth_Larva_First_Site_2016_5_df['longitude'] = JNorth_Larva_First_Site_2016_5_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [54]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2016_5_df, cols)

In [55]:
file = open("JNorth_Larva_First_Site_2016_5.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## June

In [56]:
JNorth_Larva_First_Site_2016_month_df =pd.DataFrame(JNorth_Larva_First_Site_2016_df)
JNorth_Larva_First_Site_2016_6_df = JNorth_Larva_First_Site_2016_month_df[JNorth_Larva_First_Site_2016_month_df['month']==6]
JNorth_Larva_First_Site_2016_6_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
2254,2016-06-29,Monarch Larva (FIRST sighted),44.569,-123.258,4,2016,6
2255,2016-06-29,Monarch Larva (FIRST sighted),44.802,-93.177,1,2016,6
2256,2016-06-30,Monarch Larva (FIRST sighted),30.691,-81.917,3,2016,6
2257,2016-06-30,Monarch Larva (FIRST sighted),40.595,-122.360,1,2016,6
2258,2016-06-30,Monarch Larva (FIRST sighted),43.100,-82.116,1,2016,6

In [57]:
JNorth_Larva_First_Site_2016_6_df.shape

(107, 7)

In [58]:
JNorth_Larva_First_Site_2016_6_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [59]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2016_6_df['latitude'] = JNorth_Larva_First_Site_2016_6_df['latitude'].astype(float)
JNorth_Larva_First_Site_2016_6_df['longitude'] = JNorth_Larva_First_Site_2016_6_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [60]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2016_6_df, cols)

In [61]:
file = open("JNorth_Larva_First_Site_2016_6.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## July

In [62]:
JNorth_Larva_First_Site_2016_month_df =pd.DataFrame(JNorth_Larva_First_Site_2016_df)
JNorth_Larva_First_Site_2016_7_df = JNorth_Larva_First_Site_2016_month_df[JNorth_Larva_First_Site_2016_month_df['month']==7]
JNorth_Larva_First_Site_2016_7_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
2351,2016-07-29,Monarch Larva (FIRST sighted),46.959,-88.605,1,2016,7
2352,2016-07-30,Monarch Larva (FIRST sighted),37.149,-80.538,5,2016,7
2353,2016-07-30,Monarch Larva (FIRST sighted),43.037,-78.750,1,2016,7
2354,2016-07-31,Monarch Larva (FIRST sighted),39.216,-94.539,1,2016,7
2355,2016-07-31,Monarch Larva (FIRST sighted),41.102,-85.144,3,2016,7

In [63]:
JNorth_Larva_First_Site_2016_7_df.shape

(97, 7)

In [64]:
JNorth_Larva_First_Site_2016_7_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [65]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2016_7_df['latitude'] = JNorth_Larva_First_Site_2016_7_df['latitude'].astype(float)
JNorth_Larva_First_Site_2016_7_df['longitude'] = JNorth_Larva_First_Site_2016_7_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [66]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2016_7_df, cols)

In [67]:
file = open("JNorth_Larva_First_Site_2016_7.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## August

In [68]:
JNorth_Larva_First_Site_2016_month_df =pd.DataFrame(JNorth_Larva_First_Site_2016_df)
JNorth_Larva_First_Site_2016_8_df = JNorth_Larva_First_Site_2016_month_df[JNorth_Larva_First_Site_2016_month_df['month']==8]
JNorth_Larva_First_Site_2016_8_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
2356,2016-08-22,Monarch Larva (FIRST sighted),45.98,-74.334,1,2016,8

In [69]:
JNorth_Larva_First_Site_2016_8_df.shape

(1, 7)

In [70]:
JNorth_Larva_First_Site_2016_8_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [71]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2016_8_df['latitude'] = JNorth_Larva_First_Site_2016_8_df['latitude'].astype(float)
JNorth_Larva_First_Site_2016_8_df['longitude'] = JNorth_Larva_First_Site_2016_8_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [72]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2016_8_df, cols)

In [73]:
file = open("JNorth_Larva_First_Site_2016_8.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## September

In [74]:
JNorth_Larva_First_Site_2016_month_df =pd.DataFrame(JNorth_Larva_First_Site_2016_df)
JNorth_Larva_First_Site_2016_9_df = JNorth_Larva_First_Site_2016_month_df[JNorth_Larva_First_Site_2016_month_df['month']==9]
JNorth_Larva_First_Site_2016_9_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
2357,2016-09-02,Monarch Larva (FIRST sighted),42.026,-93.689,3,2016,9

In [75]:
JNorth_Larva_First_Site_2016_9_df.shape

(1, 7)

In [76]:
JNorth_Larva_First_Site_2016_9_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [77]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2016_9_df['latitude'] = JNorth_Larva_First_Site_2016_9_df['latitude'].astype(float)
JNorth_Larva_First_Site_2016_9_df['longitude'] = JNorth_Larva_First_Site_2016_9_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [78]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2016_9_df, cols)

In [79]:
file = open("JNorth_Larva_First_Site_2016_9.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## October

In [80]:
JNorth_Larva_First_Site_2016_month_df =pd.DataFrame(JNorth_Larva_First_Site_2016_df)
JNorth_Larva_First_Site_2016_10_df = JNorth_Larva_First_Site_2016_month_df[JNorth_Larva_First_Site_2016_month_df['month']==10]
JNorth_Larva_First_Site_2016_10_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, year, month]
Index: []

In [81]:
JNorth_Larva_First_Site_2016_10_df.shape

(0, 7)

In [82]:
JNorth_Larva_First_Site_2016_10_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [83]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2016_10_df['latitude'] = JNorth_Larva_First_Site_2016_10_df['latitude'].astype(float)
JNorth_Larva_First_Site_2016_10_df['longitude'] = JNorth_Larva_First_Site_2016_10_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [84]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2016_10_df, cols)

In [85]:
file = open("JNorth_Larva_First_Site_2016_10.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## November

In [86]:
JNorth_Larva_First_Site_2016_month_df =pd.DataFrame(JNorth_Larva_First_Site_2016_df)
JNorth_Larva_First_Site_2016_11_df = JNorth_Larva_First_Site_2016_month_df[JNorth_Larva_First_Site_2016_month_df['month']==11]
JNorth_Larva_First_Site_2016_11_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, year, month]
Index: []

In [87]:
JNorth_Larva_First_Site_2016_11_df.shape

(0, 7)

In [88]:
JNorth_Larva_First_Site_2016_11_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [89]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2016_11_df['latitude'] = JNorth_Larva_First_Site_2016_11_df['latitude'].astype(float)
JNorth_Larva_First_Site_2016_11_df['longitude'] = JNorth_Larva_First_Site_2016_11_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [90]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2016_11_df, cols)

In [91]:
file = open("JNorth_Larva_First_Site_2016_11.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## December

In [92]:
JNorth_Larva_First_Site_2016_month_df =pd.DataFrame(JNorth_Larva_First_Site_2016_df)
JNorth_Larva_First_Site_2016_12_df = JNorth_Larva_First_Site_2016_month_df[JNorth_Larva_First_Site_2016_month_df['month']==12]
JNorth_Larva_First_Site_2016_12_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
2358,2016-12-19,Monarch Larva (FIRST sighted),29.061,-95.446,1,2016,12

In [93]:
JNorth_Larva_First_Site_2016_12_df.shape

(1, 7)

In [94]:
JNorth_Larva_First_Site_2016_12_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [95]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2016_12_df['latitude'] = JNorth_Larva_First_Site_2016_12_df['latitude'].astype(float)
JNorth_Larva_First_Site_2016_12_df['longitude'] = JNorth_Larva_First_Site_2016_12_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [96]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2016_12_df, cols)

In [97]:
file = open("JNorth_Larva_First_Site_2016_12.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# 2017

In [98]:
JNorth_Larva_First_Site_2017_df = JNorth_Larva_First_Site_year_df[JNorth_Larva_First_Site_year_df['year']==2017]
JNorth_Larva_First_Site_2017_df.tail()

,sighting_date,species,latitude,longitude,number,year
2937,2017-07-30,Monarch Larva (FIRST sighted),41.338,-86.303,1,2017
2938,2017-07-30,Monarch Larva (FIRST sighted),42.590,-71.009,1,2017
2939,2017-07-31,Monarch Larva (FIRST sighted),40.345,-87.038,2,2017
2940,2017-07-31,Monarch Larva (FIRST sighted),44.651,-73.744,2,2017
2941,2017-08-08,Monarch Larva (FIRST sighted),34.064,-83.125,1,2017

In [99]:
JNorth_Larva_First_Site_2017_df.shape

(583, 6)

In [100]:
JNorth_Larva_First_Site_2017_df.drop(['year'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [101]:
JNorth_Larva_First_Site_2017_df.tail

<bound method NDFrame.tail of      sighting_date                        species  latitude  longitude  number
2359    2017-02-15  Monarch Larva (FIRST sighted)    30.410    -86.663      10
2360    2017-02-20  Monarch Larva (FIRST sighted)    33.415   -111.832       1
2361    2017-02-23  Monarch Larva (FIRST sighted)    33.318   -112.042       2
2362    2017-02-24  Monarch Larva (FIRST sighted)    30.410    -86.663      22
2363    2017-02-25  Monarch Larva (FIRST sighted)    33.448   -112.074       3
...            ...                            ...       ...        ...     ...
2937    2017-07-30  Monarch Larva (FIRST sighted)    41.338    -86.303       1
2938    2017-07-30  Monarch Larva (FIRST sighted)    42.590    -71.009       1
2939    2017-07-31  Monarch Larva (FIRST sighted)    40.345    -87.038       2
2940    2017-07-31  Monarch Larva (FIRST sighted)    44.651    -73.744       2
2941    2017-08-08  Monarch Larva (FIRST sighted)    34.064    -83.125       1

[583 rows x 5 columns]>

In [102]:
JNorth_Larva_First_Site_2017_df['month'] = pd.DatetimeIndex(JNorth_Larva_First_Site_2017_df['sighting_date']).month

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## January

In [103]:
JNorth_Larva_First_Site_2017_month_df =pd.DataFrame(JNorth_Larva_First_Site_2017_df)
JNorth_Larva_First_Site_2017_1_df = JNorth_Larva_First_Site_2017_month_df[JNorth_Larva_First_Site_2017_month_df['month']==1]
JNorth_Larva_First_Site_2017_1_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [104]:
JNorth_Larva_First_Site_2017_1_df.shape

(0, 6)

In [105]:
JNorth_Larva_First_Site_2017_1_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [106]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2017_1_df['latitude'] = JNorth_Larva_First_Site_2017_1_df['latitude'].astype(float)
JNorth_Larva_First_Site_2017_1_df['longitude'] = JNorth_Larva_First_Site_2017_1_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [107]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2017_1_df, cols)

In [108]:
file = open("JNorth_Larva_First_Site_2017_1.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## February

In [109]:
JNorth_Larva_First_Site_2017_month_df =pd.DataFrame(JNorth_Larva_First_Site_2017_df)
JNorth_Larva_First_Site_2017_2_df = JNorth_Larva_First_Site_2017_month_df[JNorth_Larva_First_Site_2017_month_df['month']==2]
JNorth_Larva_First_Site_2017_2_df.tail()

,sighting_date,species,latitude,longitude,number,month
2362,2017-02-24,Monarch Larva (FIRST sighted),30.410,-86.663,22,2
2363,2017-02-25,Monarch Larva (FIRST sighted),33.448,-112.074,3,2
2364,2017-02-26,Monarch Larva (FIRST sighted),26.138,-97.174,1,2
2365,2017-02-27,Monarch Larva (FIRST sighted),28.460,-81.598,6,2
2366,2017-02-27,Monarch Larva (FIRST sighted),32.771,-79.961,1,2

In [110]:
JNorth_Larva_First_Site_2017_2_df.shape

(8, 6)

In [111]:
JNorth_Larva_First_Site_2017_2_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [112]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2017_2_df['latitude'] = JNorth_Larva_First_Site_2017_2_df['latitude'].astype(float)
JNorth_Larva_First_Site_2017_2_df['longitude'] = JNorth_Larva_First_Site_2017_2_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [113]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2017_2_df, cols)

In [114]:
file = open("JNorth_Larva_First_Site_2017_2.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## March

In [115]:
JNorth_Larva_First_Site_2017_month_df =pd.DataFrame(JNorth_Larva_First_Site_2017_df)
JNorth_Larva_First_Site_2017_3_df = JNorth_Larva_First_Site_2017_month_df[JNorth_Larva_First_Site_2017_month_df['month']==3]
JNorth_Larva_First_Site_2017_3_df.tail()

,sighting_date,species,latitude,longitude,number,month
2397,2017-03-29,Monarch Larva (FIRST sighted),32.931,-96.460,2,3
2398,2017-03-30,Monarch Larva (FIRST sighted),32.166,-97.781,1,3
2399,2017-03-31,Monarch Larva (FIRST sighted),30.099,-95.496,2,3
2400,2017-03-31,Monarch Larva (FIRST sighted),30.332,-97.867,1,3
2401,2017-03-31,Monarch Larva (FIRST sighted),30.628,-96.334,2,3

In [116]:
JNorth_Larva_First_Site_2017_3_df.shape

(35, 6)

In [117]:
JNorth_Larva_First_Site_2017_3_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [118]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2017_3_df['latitude'] = JNorth_Larva_First_Site_2017_3_df['latitude'].astype(float)
JNorth_Larva_First_Site_2017_3_df['longitude'] = JNorth_Larva_First_Site_2017_3_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [119]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2017_3_df, cols)

In [120]:
file = open("JNorth_Larva_First_Site_2017_3.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## April

In [121]:
JNorth_Larva_First_Site_2017_month_df =pd.DataFrame(JNorth_Larva_First_Site_2017_df)
JNorth_Larva_First_Site_2017_4_df = JNorth_Larva_First_Site_2017_month_df[JNorth_Larva_First_Site_2017_month_df['month']==4]
JNorth_Larva_First_Site_2017_4_df.tail()

,sighting_date,species,latitude,longitude,number,month
2585,2017-04-30,Monarch Larva (FIRST sighted),38.621,-90.456,10,4
2586,2017-04-30,Monarch Larva (FIRST sighted),39.017,-94.589,35,4
2587,2017-04-30,Monarch Larva (FIRST sighted),39.190,-84.325,4,4
2588,2017-04-30,Monarch Larva (FIRST sighted),39.314,-84.364,7,4
2589,2017-04-30,Monarch Larva (FIRST sighted),40.111,-88.257,7,4

In [122]:
JNorth_Larva_First_Site_2017_4_df.shape

(188, 6)

In [123]:
JNorth_Larva_First_Site_2017_4_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [124]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2017_4_df['latitude'] = JNorth_Larva_First_Site_2017_4_df['latitude'].astype(float)
JNorth_Larva_First_Site_2017_4_df['longitude'] = JNorth_Larva_First_Site_2017_4_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [125]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2017_4_df, cols)

In [126]:
file = open("JNorth_Larva_First_Site_2017_4.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## May

In [127]:
JNorth_Larva_First_Site_2017_month_df =pd.DataFrame(JNorth_Larva_First_Site_2017_df)
JNorth_Larva_First_Site_2017_5_df = JNorth_Larva_First_Site_2017_month_df[JNorth_Larva_First_Site_2017_month_df['month']==5]
JNorth_Larva_First_Site_2017_5_df.tail()

,sighting_date,species,latitude,longitude,number,month
2688,2017-05-30,Monarch Larva (FIRST sighted),43.790,-69.986,1,5
2689,2017-05-30,Monarch Larva (FIRST sighted),45.292,-93.432,1,5
2690,2017-05-31,Monarch Larva (FIRST sighted),42.033,-90.114,2,5
2691,2017-05-31,Monarch Larva (FIRST sighted),44.179,-89.249,2,5
2692,2017-05-31,Monarch Larva (FIRST sighted),44.882,-93.268,1,5

In [128]:
JNorth_Larva_First_Site_2017_5_df.shape

(103, 6)

In [129]:
JNorth_Larva_First_Site_2017_5_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [130]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2017_5_df['latitude'] = JNorth_Larva_First_Site_2017_5_df['latitude'].astype(float)
JNorth_Larva_First_Site_2017_5_df['longitude'] = JNorth_Larva_First_Site_2017_5_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [131]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2017_5_df, cols)

In [132]:
file = open("JNorth_Larva_First_Site_2017_5.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## June

In [133]:
JNorth_Larva_First_Site_2017_month_df =pd.DataFrame(JNorth_Larva_First_Site_2017_df)
JNorth_Larva_First_Site_2017_6_df = JNorth_Larva_First_Site_2017_month_df[JNorth_Larva_First_Site_2017_month_df['month']==6]
JNorth_Larva_First_Site_2017_6_df.tail()

,sighting_date,species,latitude,longitude,number,month
2845,2017-06-30,Monarch Larva (FIRST sighted),40.786,-74.027,2,6
2846,2017-06-30,Monarch Larva (FIRST sighted),42.043,-82.611,1,6
2847,2017-06-30,Monarch Larva (FIRST sighted),43.323,-79.822,1,6
2848,2017-06-30,Monarch Larva (FIRST sighted),44.884,-122.888,1,6
2849,2017-06-30,Monarch Larva (FIRST sighted),46.412,-80.991,1,6

In [134]:
JNorth_Larva_First_Site_2017_6_df.shape

(157, 6)

In [135]:
JNorth_Larva_First_Site_2017_6_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [136]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2017_6_df['latitude'] = JNorth_Larva_First_Site_2017_6_df['latitude'].astype(float)
JNorth_Larva_First_Site_2017_6_df['longitude'] = JNorth_Larva_First_Site_2017_6_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [137]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2017_6_df, cols)

In [138]:
file = open("JNorth_Larva_First_Site_2017_6.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## July

In [139]:
JNorth_Larva_First_Site_2017_month_df =pd.DataFrame(JNorth_Larva_First_Site_2017_df)
JNorth_Larva_First_Site_2017_7_df = JNorth_Larva_First_Site_2017_month_df[JNorth_Larva_First_Site_2017_month_df['month']==7]
JNorth_Larva_First_Site_2017_7_df.tail()

,sighting_date,species,latitude,longitude,number,month
2936,2017-07-29,Monarch Larva (FIRST sighted),41.096,-73.973,1,7
2937,2017-07-30,Monarch Larva (FIRST sighted),41.338,-86.303,1,7
2938,2017-07-30,Monarch Larva (FIRST sighted),42.590,-71.009,1,7
2939,2017-07-31,Monarch Larva (FIRST sighted),40.345,-87.038,2,7
2940,2017-07-31,Monarch Larva (FIRST sighted),44.651,-73.744,2,7

In [140]:
JNorth_Larva_First_Site_2017_7_df.shape

(91, 6)

In [141]:
JNorth_Larva_First_Site_2017_7_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [142]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2017_7_df['latitude'] = JNorth_Larva_First_Site_2017_7_df['latitude'].astype(float)
JNorth_Larva_First_Site_2017_7_df['longitude'] = JNorth_Larva_First_Site_2017_7_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [143]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2017_7_df, cols)

In [144]:
file = open("JNorth_Larva_First_Site_2017_7.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## August

In [145]:
JNorth_Larva_First_Site_2017_month_df =pd.DataFrame(JNorth_Larva_First_Site_2017_df)
JNorth_Larva_First_Site_2017_8_df = JNorth_Larva_First_Site_2017_month_df[JNorth_Larva_First_Site_2017_month_df['month']==8]
JNorth_Larva_First_Site_2017_8_df.tail()

,sighting_date,species,latitude,longitude,number,month
2941,2017-08-08,Monarch Larva (FIRST sighted),34.064,-83.125,1,8

In [146]:
JNorth_Larva_First_Site_2017_8_df.shape

(1, 6)

In [147]:
JNorth_Larva_First_Site_2017_8_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [148]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2017_8_df['latitude'] = JNorth_Larva_First_Site_2017_8_df['latitude'].astype(float)
JNorth_Larva_First_Site_2017_8_df['longitude'] = JNorth_Larva_First_Site_2017_8_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [149]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2017_8_df, cols)

In [150]:
file = open("JNorth_Larva_First_Site_2017_8.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## September

In [151]:
JNorth_Larva_First_Site_2017_month_df =pd.DataFrame(JNorth_Larva_First_Site_2017_df)
JNorth_Larva_First_Site_2017_9_df = JNorth_Larva_First_Site_2017_month_df[JNorth_Larva_First_Site_2017_month_df['month']==9]
JNorth_Larva_First_Site_2017_9_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [152]:
JNorth_Larva_First_Site_2017_9_df.shape

(0, 6)

In [153]:
JNorth_Larva_First_Site_2017_9_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [154]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2017_9_df['latitude'] = JNorth_Larva_First_Site_2017_9_df['latitude'].astype(float)
JNorth_Larva_First_Site_2017_9_df['longitude'] = JNorth_Larva_First_Site_2017_9_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [155]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2017_9_df, cols)

In [156]:
file = open("JNorth_Larva_First_Site_2017_9.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## October

In [157]:
JNorth_Larva_First_Site_2017_month_df =pd.DataFrame(JNorth_Larva_First_Site_2017_df)
JNorth_Larva_First_Site_2017_10_df = JNorth_Larva_First_Site_2017_month_df[JNorth_Larva_First_Site_2017_month_df['month']==10]
JNorth_Larva_First_Site_2017_10_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [158]:
JNorth_Larva_First_Site_2017_10_df.shape

(0, 6)

In [159]:
JNorth_Larva_First_Site_2017_10_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [160]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2017_10_df['latitude'] = JNorth_Larva_First_Site_2017_10_df['latitude'].astype(float)
JNorth_Larva_First_Site_2017_10_df['longitude'] = JNorth_Larva_First_Site_2017_10_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [161]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2017_10_df, cols)

In [162]:
file = open("JNorth_Larva_First_Site_2017_10.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## November

In [163]:
JNorth_Larva_First_Site_2017_month_df =pd.DataFrame(JNorth_Larva_First_Site_2017_df)
JNorth_Larva_First_Site_2017_11_df = JNorth_Larva_First_Site_2017_month_df[JNorth_Larva_First_Site_2017_month_df['month']==11]
JNorth_Larva_First_Site_2017_11_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [164]:
JNorth_Larva_First_Site_2017_11_df.shape

(0, 6)

In [165]:
JNorth_Larva_First_Site_2017_11_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [166]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2017_11_df['latitude'] = JNorth_Larva_First_Site_2017_11_df['latitude'].astype(float)
JNorth_Larva_First_Site_2017_11_df['longitude'] = JNorth_Larva_First_Site_2017_11_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [167]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2017_11_df, cols)

In [168]:
file = open("JNorth_Larva_First_Site_2017_11.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## December

In [169]:
JNorth_Larva_First_Site_2017_month_df =pd.DataFrame(JNorth_Larva_First_Site_2017_df)
JNorth_Larva_First_Site_2017_12_df = JNorth_Larva_First_Site_2017_month_df[JNorth_Larva_First_Site_2017_month_df['month']==12]
JNorth_Larva_First_Site_2017_12_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [170]:
JNorth_Larva_First_Site_2017_12_df.shape

(0, 6)

In [171]:
JNorth_Larva_First_Site_2017_12_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [172]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2017_12_df['latitude'] = JNorth_Larva_First_Site_2017_12_df['latitude'].astype(float)
JNorth_Larva_First_Site_2017_12_df['longitude'] = JNorth_Larva_First_Site_2017_12_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [173]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2017_12_df, cols)

In [174]:
file = open("JNorth_Larva_First_Site_2017_12.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# 2018

In [175]:
JNorth_Larva_First_Site_2018_df = JNorth_Larva_First_Site_year_df[JNorth_Larva_First_Site_year_df['year']==2018]
JNorth_Larva_First_Site_2018_df.tail()

,sighting_date,species,latitude,longitude,number,year
3529,2018-07-31,Monarch Larva (FIRST sighted),36.153,-95.903,2,2018
3530,2018-07-31,Monarch Larva (FIRST sighted),40.209,-74.775,4,2018
3531,2018-07-31,Monarch Larva (FIRST sighted),44.642,-63.910,3,2018
3532,2018-08-01,Monarch Larva (FIRST sighted),49.780,-92.837,2,2018
3533,2018-12-25,Monarch Larva (FIRST sighted),37.389,-122.085,10,2018

In [176]:
JNorth_Larva_First_Site_2018_df.shape

(592, 6)

In [177]:
JNorth_Larva_First_Site_2018_df.drop(['year'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [178]:
JNorth_Larva_First_Site_2018_df.tail

<bound method NDFrame.tail of      sighting_date                        species  latitude  longitude  number
2942    2018-01-11  Monarch Larva (FIRST sighted)    28.918    -81.923       6
2943    2018-01-20  Monarch Larva (FIRST sighted)    32.716   -117.161       1
2944    2018-01-22  Monarch Larva (FIRST sighted)    34.168   -119.149       6
2945    2018-01-28  Monarch Larva (FIRST sighted)    32.714   -116.979       2
2946    2018-02-01  Monarch Larva (FIRST sighted)    26.715    -80.053      15
...            ...                            ...       ...        ...     ...
3529    2018-07-31  Monarch Larva (FIRST sighted)    36.153    -95.903       2
3530    2018-07-31  Monarch Larva (FIRST sighted)    40.209    -74.775       4
3531    2018-07-31  Monarch Larva (FIRST sighted)    44.642    -63.910       3
3532    2018-08-01  Monarch Larva (FIRST sighted)    49.780    -92.837       2
3533    2018-12-25  Monarch Larva (FIRST sighted)    37.389   -122.085      10

[592 rows x 5 columns]>

In [179]:
JNorth_Larva_First_Site_2018_df['month'] = pd.DatetimeIndex(JNorth_Larva_First_Site_2018_df['sighting_date']).month

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## January

In [180]:
JNorth_Larva_First_Site_2018_month_df =pd.DataFrame(JNorth_Larva_First_Site_2018_df)
JNorth_Larva_First_Site_2018_1_df = JNorth_Larva_First_Site_2018_month_df[JNorth_Larva_First_Site_2018_month_df['month']==1]
JNorth_Larva_First_Site_2018_1_df.tail()

,sighting_date,species,latitude,longitude,number,month
2942,2018-01-11,Monarch Larva (FIRST sighted),28.918,-81.923,6,1
2943,2018-01-20,Monarch Larva (FIRST sighted),32.716,-117.161,1,1
2944,2018-01-22,Monarch Larva (FIRST sighted),34.168,-119.149,6,1
2945,2018-01-28,Monarch Larva (FIRST sighted),32.714,-116.979,2,1

In [181]:
JNorth_Larva_First_Site_2018_1_df.shape

(4, 6)

In [182]:
JNorth_Larva_First_Site_2018_1_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [183]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2018_1_df['latitude'] = JNorth_Larva_First_Site_2018_1_df['latitude'].astype(float)
JNorth_Larva_First_Site_2018_1_df['longitude'] = JNorth_Larva_First_Site_2018_1_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [184]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2018_1_df, cols)

In [185]:
file = open("JNorth_Larva_First_Site_2018_1.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## February

In [186]:
JNorth_Larva_First_Site_2018_month_df =pd.DataFrame(JNorth_Larva_First_Site_2018_df)
JNorth_Larva_First_Site_2018_2_df = JNorth_Larva_First_Site_2018_month_df[JNorth_Larva_First_Site_2018_month_df['month']==2]
JNorth_Larva_First_Site_2018_2_df.tail()

,sighting_date,species,latitude,longitude,number,month
2953,2018-02-17,Monarch Larva (FIRST sighted),29.001,-82.151,1,2
2954,2018-02-18,Monarch Larva (FIRST sighted),26.140,-97.175,4,2
2955,2018-02-21,Monarch Larva (FIRST sighted),28.084,-80.608,4,2
2956,2018-02-22,Monarch Larva (FIRST sighted),27.938,-81.576,7,2
2957,2018-02-22,Monarch Larva (FIRST sighted),30.162,-81.658,8,2

In [187]:
JNorth_Larva_First_Site_2018_2_df.shape

(12, 6)

In [188]:
JNorth_Larva_First_Site_2018_2_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [189]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2018_2_df['latitude'] = JNorth_Larva_First_Site_2018_2_df['latitude'].astype(float)
JNorth_Larva_First_Site_2018_2_df['longitude'] = JNorth_Larva_First_Site_2018_2_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [190]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2018_2_df, cols)

In [191]:
file = open("JNorth_Larva_First_Site_2018_2.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## March

In [192]:
JNorth_Larva_First_Site_2018_month_df =pd.DataFrame(JNorth_Larva_First_Site_2018_df)
JNorth_Larva_First_Site_2018_3_df = JNorth_Larva_First_Site_2018_month_df[JNorth_Larva_First_Site_2018_month_df['month']==3]
JNorth_Larva_First_Site_2018_3_df.tail()

,sighting_date,species,latitude,longitude,number,month
3003,2018-03-29,Monarch Larva (FIRST sighted),32.757,-96.282,3,3
3004,2018-03-30,Monarch Larva (FIRST sighted),28.453,-96.408,4,3
3005,2018-03-30,Monarch Larva (FIRST sighted),29.482,-98.471,3,3
3006,2018-03-30,Monarch Larva (FIRST sighted),31.510,-87.896,1,3
3007,2018-03-31,Monarch Larva (FIRST sighted),28.818,-81.626,5,3

In [193]:
JNorth_Larva_First_Site_2018_3_df.shape

(50, 6)

In [194]:
JNorth_Larva_First_Site_2018_3_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [195]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2018_3_df['latitude'] = JNorth_Larva_First_Site_2018_3_df['latitude'].astype(float)
JNorth_Larva_First_Site_2018_3_df['longitude'] = JNorth_Larva_First_Site_2018_3_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [196]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2018_3_df, cols)

In [197]:
file = open("JNorth_Larva_First_Site_2018_3.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## April

In [198]:
JNorth_Larva_First_Site_2018_month_df =pd.DataFrame(JNorth_Larva_First_Site_2018_df)
JNorth_Larva_First_Site_2018_4_df = JNorth_Larva_First_Site_2018_month_df[JNorth_Larva_First_Site_2018_month_df['month']==4]
JNorth_Larva_First_Site_2018_4_df.tail()

,sighting_date,species,latitude,longitude,number,month
3074,2018-04-27,Monarch Larva (FIRST sighted),36.853,-75.978,4,4
3075,2018-04-27,Monarch Larva (FIRST sighted),39.751,-121.994,38,4
3076,2018-04-29,Monarch Larva (FIRST sighted),36.380,-75.970,1,4
3077,2018-04-29,Monarch Larva (FIRST sighted),36.768,-76.288,1,4
3078,2018-04-30,Monarch Larva (FIRST sighted),37.122,-76.346,15,4

In [199]:
JNorth_Larva_First_Site_2018_4_df.shape

(71, 6)

In [200]:
JNorth_Larva_First_Site_2018_4_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [201]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2018_4_df['latitude'] = JNorth_Larva_First_Site_2018_4_df['latitude'].astype(float)
JNorth_Larva_First_Site_2018_4_df['longitude'] = JNorth_Larva_First_Site_2018_4_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [202]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2018_4_df, cols)

In [203]:
file = open("JNorth_Larva_First_Site_2018_4.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## May

In [204]:
JNorth_Larva_First_Site_2018_month_df =pd.DataFrame(JNorth_Larva_First_Site_2018_df)
JNorth_Larva_First_Site_2018_5_df = JNorth_Larva_First_Site_2018_month_df[JNorth_Larva_First_Site_2018_month_df['month']==5]
JNorth_Larva_First_Site_2018_5_df.tail()

,sighting_date,species,latitude,longitude,number,month
3233,2018-05-31,Monarch Larva (FIRST sighted),42.998,-88.261,5,5
3234,2018-05-31,Monarch Larva (FIRST sighted),43.088,-88.990,2,5
3235,2018-05-31,Monarch Larva (FIRST sighted),44.679,-94.008,2,5
3236,2018-05-31,Monarch Larva (FIRST sighted),44.926,-93.404,2,5
3237,2018-05-31,Monarch Larva (FIRST sighted),44.983,-93.267,1,5

In [205]:
JNorth_Larva_First_Site_2018_5_df.shape

(159, 6)

In [206]:
JNorth_Larva_First_Site_2018_5_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [207]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2018_5_df['latitude'] = JNorth_Larva_First_Site_2018_5_df['latitude'].astype(float)
JNorth_Larva_First_Site_2018_5_df['longitude'] = JNorth_Larva_First_Site_2018_5_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [208]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2018_5_df, cols)

In [209]:
file = open("JNorth_Larva_First_Site_2018_5.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## June

In [210]:
JNorth_Larva_First_Site_2018_month_df =pd.DataFrame(JNorth_Larva_First_Site_2018_df)
JNorth_Larva_First_Site_2018_6_df = JNorth_Larva_First_Site_2018_month_df[JNorth_Larva_First_Site_2018_month_df['month']==6]
JNorth_Larva_First_Site_2018_6_df.tail()

,sighting_date,species,latitude,longitude,number,month
3406,2018-06-29,Monarch Larva (FIRST sighted),41.106,-81.836,2,6
3407,2018-06-29,Monarch Larva (FIRST sighted),43.790,-69.986,1,6
3408,2018-06-30,Monarch Larva (FIRST sighted),42.062,-90.674,6,6
3409,2018-06-30,Monarch Larva (FIRST sighted),45.282,-85.078,1,6
3410,2018-06-30,Monarch Larva (FIRST sighted),51.217,-102.474,1,6

In [211]:
JNorth_Larva_First_Site_2018_6_df.shape

(173, 6)

In [212]:
JNorth_Larva_First_Site_2018_6_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [213]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2018_6_df['latitude'] = JNorth_Larva_First_Site_2018_6_df['latitude'].astype(float)
JNorth_Larva_First_Site_2018_6_df['longitude'] = JNorth_Larva_First_Site_2018_6_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [214]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2018_6_df, cols)

In [215]:
file = open("JNorth_Larva_First_Site_2018_6.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## July

In [216]:
JNorth_Larva_First_Site_2018_month_df =pd.DataFrame(JNorth_Larva_First_Site_2018_df)
JNorth_Larva_First_Site_2018_7_df = JNorth_Larva_First_Site_2018_month_df[JNorth_Larva_First_Site_2018_month_df['month']==7]
JNorth_Larva_First_Site_2018_7_df.tail()

,sighting_date,species,latitude,longitude,number,month
3527,2018-07-30,Monarch Larva (FIRST sighted),44.136,-73.076,2,7
3528,2018-07-30,Monarch Larva (FIRST sighted),44.641,-63.910,18,7
3529,2018-07-31,Monarch Larva (FIRST sighted),36.153,-95.903,2,7
3530,2018-07-31,Monarch Larva (FIRST sighted),40.209,-74.775,4,7
3531,2018-07-31,Monarch Larva (FIRST sighted),44.642,-63.910,3,7

In [217]:
JNorth_Larva_First_Site_2018_7_df.shape

(121, 6)

In [218]:
JNorth_Larva_First_Site_2018_7_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [219]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2018_7_df['latitude'] = JNorth_Larva_First_Site_2018_7_df['latitude'].astype(float)
JNorth_Larva_First_Site_2018_7_df['longitude'] = JNorth_Larva_First_Site_2018_7_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [220]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2018_7_df, cols)

In [221]:
file = open("JNorth_Larva_First_Site_2018_7.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## August

In [222]:
JNorth_Larva_First_Site_2018_month_df =pd.DataFrame(JNorth_Larva_First_Site_2018_df)
JNorth_Larva_First_Site_2018_8_df = JNorth_Larva_First_Site_2018_month_df[JNorth_Larva_First_Site_2018_month_df['month']==8]
JNorth_Larva_First_Site_2018_8_df.tail()

,sighting_date,species,latitude,longitude,number,month
3532,2018-08-01,Monarch Larva (FIRST sighted),49.78,-92.837,2,8

In [223]:
JNorth_Larva_First_Site_2018_8_df.shape

(1, 6)

In [224]:
JNorth_Larva_First_Site_2018_8_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [225]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2018_8_df['latitude'] = JNorth_Larva_First_Site_2018_8_df['latitude'].astype(float)
JNorth_Larva_First_Site_2018_8_df['longitude'] = JNorth_Larva_First_Site_2018_8_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [226]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2018_8_df, cols)

In [227]:
file = open("JNorth_Larva_First_Site_2018_8.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## September

In [228]:
JNorth_Larva_First_Site_2018_month_df =pd.DataFrame(JNorth_Larva_First_Site_2018_df)
JNorth_Larva_First_Site_2018_9_df = JNorth_Larva_First_Site_2018_month_df[JNorth_Larva_First_Site_2018_month_df['month']==9]
JNorth_Larva_First_Site_2018_9_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [229]:
JNorth_Larva_First_Site_2018_9_df.shape

(0, 6)

In [230]:
JNorth_Larva_First_Site_2018_9_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [231]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2018_9_df['latitude'] = JNorth_Larva_First_Site_2018_9_df['latitude'].astype(float)
JNorth_Larva_First_Site_2018_9_df['longitude'] = JNorth_Larva_First_Site_2018_9_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [232]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2018_9_df, cols)

In [233]:
file = open("JNorth_Larva_First_Site_2018_9.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## October

In [234]:
JNorth_Larva_First_Site_2018_month_df =pd.DataFrame(JNorth_Larva_First_Site_2018_df)
JNorth_Larva_First_Site_2018_10_df = JNorth_Larva_First_Site_2018_month_df[JNorth_Larva_First_Site_2018_month_df['month']==10]
JNorth_Larva_First_Site_2018_10_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [235]:
JNorth_Larva_First_Site_2018_10_df.shape

(0, 6)

In [236]:
JNorth_Larva_First_Site_2018_10_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [237]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2018_10_df['latitude'] = JNorth_Larva_First_Site_2018_10_df['latitude'].astype(float)
JNorth_Larva_First_Site_2018_10_df['longitude'] = JNorth_Larva_First_Site_2018_10_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [238]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2018_10_df, cols)

In [239]:
file = open("JNorth_Larva_First_Site_2018_10.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## November

In [240]:
JNorth_Larva_First_Site_2018_month_df =pd.DataFrame(JNorth_Larva_First_Site_2018_df)
JNorth_Larva_First_Site_2018_11_df = JNorth_Larva_First_Site_2018_month_df[JNorth_Larva_First_Site_2018_month_df['month']==11]
JNorth_Larva_First_Site_2018_11_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [241]:
JNorth_Larva_First_Site_2018_11_df.shape

(0, 6)

In [242]:
JNorth_Larva_First_Site_2018_11_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [243]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2018_11_df['latitude'] = JNorth_Larva_First_Site_2018_11_df['latitude'].astype(float)
JNorth_Larva_First_Site_2018_11_df['longitude'] = JNorth_Larva_First_Site_2018_11_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [244]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2018_11_df, cols)

In [245]:
file = open("JNorth_Larva_First_Site_2018_11.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## December

In [246]:
JNorth_Larva_First_Site_2018_month_df =pd.DataFrame(JNorth_Larva_First_Site_2018_df)
JNorth_Larva_First_Site_2018_12_df = JNorth_Larva_First_Site_2018_month_df[JNorth_Larva_First_Site_2018_month_df['month']==12]
JNorth_Larva_First_Site_2018_12_df.tail()

,sighting_date,species,latitude,longitude,number,month
3533,2018-12-25,Monarch Larva (FIRST sighted),37.389,-122.085,10,12

In [247]:
JNorth_Larva_First_Site_2018_12_df.shape

(1, 6)

In [248]:
JNorth_Larva_First_Site_2018_12_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [249]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2018_12_df['latitude'] = JNorth_Larva_First_Site_2018_12_df['latitude'].astype(float)
JNorth_Larva_First_Site_2018_12_df['longitude'] = JNorth_Larva_First_Site_2018_12_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [250]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2018_12_df, cols)

In [251]:
file = open("JNorth_Larva_First_Site_2018_12.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# 2019

In [252]:
JNorth_Larva_First_Site_2019_df = JNorth_Larva_First_Site_year_df[JNorth_Larva_First_Site_year_df['year']==2019]
JNorth_Larva_First_Site_2019_df.tail()

,sighting_date,species,latitude,longitude,number,year
4147,2019-07-30,Monarch Larva (FIRST sighted),46.114,-74.478,2,2019
4148,2019-07-31,Monarch Larva (FIRST sighted),35.429,-93.837,1,2019
4149,2019-07-31,Monarch Larva (FIRST sighted),45.889,-66.542,3,2019
4150,2019-07-31,Monarch Larva (FIRST sighted),46.056,-66.006,10,2019
4151,2019-12-21,Monarch Larva (FIRST sighted),30.494,-84.122,4,2019

In [253]:
JNorth_Larva_First_Site_2019_df.shape

(618, 6)

In [254]:
JNorth_Larva_First_Site_2019_df.drop(['year'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [255]:
JNorth_Larva_First_Site_2019_df.tail

<bound method NDFrame.tail of      sighting_date                        species  latitude  longitude  number
3534    2019-01-04  Monarch Larva (FIRST sighted)    30.425    -95.480      21
3535    2019-02-18  Monarch Larva (FIRST sighted)    34.054   -118.100       2
3536    2019-02-27  Monarch Larva (FIRST sighted)    29.424    -98.494       5
3537    2019-03-02  Monarch Larva (FIRST sighted)    29.698    -95.273       7
3538    2019-03-02  Monarch Larva (FIRST sighted)    29.758    -81.318       1
...            ...                            ...       ...        ...     ...
4147    2019-07-30  Monarch Larva (FIRST sighted)    46.114    -74.478       2
4148    2019-07-31  Monarch Larva (FIRST sighted)    35.429    -93.837       1
4149    2019-07-31  Monarch Larva (FIRST sighted)    45.889    -66.542       3
4150    2019-07-31  Monarch Larva (FIRST sighted)    46.056    -66.006      10
4151    2019-12-21  Monarch Larva (FIRST sighted)    30.494    -84.122       4

[618 rows x 5 columns]>

In [256]:
JNorth_Larva_First_Site_2019_df['month'] = pd.DatetimeIndex(JNorth_Larva_First_Site_2019_df['sighting_date']).month

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## January

In [257]:
JNorth_Larva_First_Site_2019_month_df =pd.DataFrame(JNorth_Larva_First_Site_2019_df)
JNorth_Larva_First_Site_2019_1_df = JNorth_Larva_First_Site_2019_month_df[JNorth_Larva_First_Site_2019_month_df['month']==1]
JNorth_Larva_First_Site_2019_1_df.tail()

,sighting_date,species,latitude,longitude,number,month
3534,2019-01-04,Monarch Larva (FIRST sighted),30.425,-95.48,21,1

In [258]:
JNorth_Larva_First_Site_2019_1_df.shape

(1, 6)

In [259]:
JNorth_Larva_First_Site_2019_1_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [260]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2019_1_df['latitude'] = JNorth_Larva_First_Site_2019_1_df['latitude'].astype(float)
JNorth_Larva_First_Site_2019_1_df['longitude'] = JNorth_Larva_First_Site_2019_1_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [261]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2019_1_df, cols)

In [262]:
file = open("JNorth_Larva_First_Site_2019_1.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## February

In [263]:
JNorth_Larva_First_Site_2019_month_df =pd.DataFrame(JNorth_Larva_First_Site_2019_df)
JNorth_Larva_First_Site_2019_2_df = JNorth_Larva_First_Site_2019_month_df[JNorth_Larva_First_Site_2019_month_df['month']==2]
JNorth_Larva_First_Site_2019_2_df.tail()

,sighting_date,species,latitude,longitude,number,month
3535,2019-02-18,Monarch Larva (FIRST sighted),34.054,-118.100,2,2
3536,2019-02-27,Monarch Larva (FIRST sighted),29.424,-98.494,5,2

In [264]:
JNorth_Larva_First_Site_2019_2_df.shape

(2, 6)

In [265]:
JNorth_Larva_First_Site_2019_2_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [266]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2019_2_df['latitude'] = JNorth_Larva_First_Site_2019_2_df['latitude'].astype(float)
JNorth_Larva_First_Site_2019_2_df['longitude'] = JNorth_Larva_First_Site_2019_2_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [267]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2019_2_df, cols)

In [268]:
file = open("JNorth_Larva_First_Site_2019_2.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## March

In [269]:
JNorth_Larva_First_Site_2019_month_df =pd.DataFrame(JNorth_Larva_First_Site_2019_df)
JNorth_Larva_First_Site_2019_3_df = JNorth_Larva_First_Site_2019_month_df[JNorth_Larva_First_Site_2019_month_df['month']==3]
JNorth_Larva_First_Site_2019_3_df.tail()

,sighting_date,species,latitude,longitude,number,month
3583,2019-03-30,Monarch Larva (FIRST sighted),29.134,-98.156,10,3
3584,2019-03-30,Monarch Larva (FIRST sighted),30.557,-98.291,50,3
3585,2019-03-30,Monarch Larva (FIRST sighted),30.648,-89.656,1,3
3586,2019-03-31,Monarch Larva (FIRST sighted),29.551,-98.338,2,3
3587,2019-03-31,Monarch Larva (FIRST sighted),30.069,-95.164,30,3

In [270]:
JNorth_Larva_First_Site_2019_3_df.shape

(51, 6)

In [271]:
JNorth_Larva_First_Site_2019_3_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [272]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2019_3_df['latitude'] = JNorth_Larva_First_Site_2019_3_df['latitude'].astype(float)
JNorth_Larva_First_Site_2019_3_df['longitude'] = JNorth_Larva_First_Site_2019_3_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [273]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2019_3_df, cols)

In [274]:
file = open("JNorth_Larva_First_Site_2019_3.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## April

In [275]:
JNorth_Larva_First_Site_2019_month_df =pd.DataFrame(JNorth_Larva_First_Site_2019_df)
JNorth_Larva_First_Site_2019_4_df = JNorth_Larva_First_Site_2019_month_df[JNorth_Larva_First_Site_2019_month_df['month']==4]
JNorth_Larva_First_Site_2019_4_df.tail()

,sighting_date,species,latitude,longitude,number,month
3687,2019-04-30,Monarch Larva (FIRST sighted),35.786,-78.643,12,4
3688,2019-04-30,Monarch Larva (FIRST sighted),35.925,-78.580,2,4
3689,2019-04-30,Monarch Larva (FIRST sighted),36.011,-86.721,11,4
3690,2019-04-30,Monarch Larva (FIRST sighted),36.495,-88.900,30,4
3691,2019-04-30,Monarch Larva (FIRST sighted),36.715,-88.585,5,4

In [276]:
JNorth_Larva_First_Site_2019_4_df.shape

(104, 6)

In [277]:
JNorth_Larva_First_Site_2019_4_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [278]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2019_4_df['latitude'] = JNorth_Larva_First_Site_2019_4_df['latitude'].astype(float)
JNorth_Larva_First_Site_2019_4_df['longitude'] = JNorth_Larva_First_Site_2019_4_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [279]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2019_4_df, cols)

In [280]:
file = open("JNorth_Larva_First_Site_2019_4.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## May

In [281]:
JNorth_Larva_First_Site_2019_month_df =pd.DataFrame(JNorth_Larva_First_Site_2019_df)
JNorth_Larva_First_Site_2019_5_df = JNorth_Larva_First_Site_2019_month_df[JNorth_Larva_First_Site_2019_month_df['month']==5]
JNorth_Larva_First_Site_2019_5_df.tail()

,sighting_date,species,latitude,longitude,number,month
3820,2019-05-31,Monarch Larva (FIRST sighted),42.294,-85.783,4,5
3821,2019-05-31,Monarch Larva (FIRST sighted),42.394,-82.163,3,5
3822,2019-05-31,Monarch Larva (FIRST sighted),42.650,-80.491,2,5
3823,2019-05-31,Monarch Larva (FIRST sighted),42.927,-89.231,8,5
3824,2019-05-31,Monarch Larva (FIRST sighted),43.419,-83.946,1,5

In [282]:
JNorth_Larva_First_Site_2019_5_df.shape

(133, 6)

In [283]:
JNorth_Larva_First_Site_2019_5_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [284]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2019_5_df['latitude'] = JNorth_Larva_First_Site_2019_5_df['latitude'].astype(float)
JNorth_Larva_First_Site_2019_5_df['longitude'] = JNorth_Larva_First_Site_2019_5_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [285]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2019_5_df, cols)

In [286]:
file = open("JNorth_Larva_First_Site_2019_5.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## June

In [287]:
JNorth_Larva_First_Site_2019_month_df =pd.DataFrame(JNorth_Larva_First_Site_2019_df)
JNorth_Larva_First_Site_2019_6_df = JNorth_Larva_First_Site_2019_month_df[JNorth_Larva_First_Site_2019_month_df['month']==6]
JNorth_Larva_First_Site_2019_6_df.tail()

,sighting_date,species,latitude,longitude,number,month
4051,2019-06-28,Monarch Larva (FIRST sighted),43.254,-89.784,2,6
4052,2019-06-29,Monarch Larva (FIRST sighted),42.908,-87.872,2,6
4053,2019-06-30,Monarch Larva (FIRST sighted),40.527,-76.470,2,6
4054,2019-06-30,Monarch Larva (FIRST sighted),41.417,-81.736,4,6
4055,2019-06-30,Monarch Larva (FIRST sighted),41.547,-87.530,5,6

In [288]:
JNorth_Larva_First_Site_2019_6_df.shape

(231, 6)

In [289]:
JNorth_Larva_First_Site_2019_6_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [290]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2019_6_df['latitude'] = JNorth_Larva_First_Site_2019_6_df['latitude'].astype(float)
JNorth_Larva_First_Site_2019_6_df['longitude'] = JNorth_Larva_First_Site_2019_6_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [291]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2019_6_df, cols)

In [292]:
file = open("JNorth_Larva_First_Site_2019_6.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## July

In [293]:
JNorth_Larva_First_Site_2019_month_df =pd.DataFrame(JNorth_Larva_First_Site_2019_df)
JNorth_Larva_First_Site_2019_7_df = JNorth_Larva_First_Site_2019_month_df[JNorth_Larva_First_Site_2019_month_df['month']==7]
JNorth_Larva_First_Site_2019_7_df.tail()

,sighting_date,species,latitude,longitude,number,month
4146,2019-07-30,Monarch Larva (FIRST sighted),44.613,-64.061,5,7
4147,2019-07-30,Monarch Larva (FIRST sighted),46.114,-74.478,2,7
4148,2019-07-31,Monarch Larva (FIRST sighted),35.429,-93.837,1,7
4149,2019-07-31,Monarch Larva (FIRST sighted),45.889,-66.542,3,7
4150,2019-07-31,Monarch Larva (FIRST sighted),46.056,-66.006,10,7

In [294]:
JNorth_Larva_First_Site_2019_7_df.shape

(95, 6)

In [295]:
JNorth_Larva_First_Site_2019_7_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [296]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2019_7_df['latitude'] = JNorth_Larva_First_Site_2019_7_df['latitude'].astype(float)
JNorth_Larva_First_Site_2019_7_df['longitude'] = JNorth_Larva_First_Site_2019_7_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [297]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2019_7_df, cols)

In [298]:
file = open("JNorth_Larva_First_Site_2019_7.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## August

In [299]:
JNorth_Larva_First_Site_2019_month_df =pd.DataFrame(JNorth_Larva_First_Site_2019_df)
JNorth_Larva_First_Site_2019_8_df = JNorth_Larva_First_Site_2019_month_df[JNorth_Larva_First_Site_2019_month_df['month']==8]
JNorth_Larva_First_Site_2019_8_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [300]:
JNorth_Larva_First_Site_2019_8_df.shape

(0, 6)

In [301]:
JNorth_Larva_First_Site_2019_8_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [302]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2019_8_df['latitude'] = JNorth_Larva_First_Site_2019_8_df['latitude'].astype(float)
JNorth_Larva_First_Site_2019_8_df['longitude'] = JNorth_Larva_First_Site_2019_8_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [303]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2019_8_df, cols)

In [304]:
file = open("JNorth_Larva_First_Site_2019_8.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## September

In [305]:
JNorth_Larva_First_Site_2019_month_df =pd.DataFrame(JNorth_Larva_First_Site_2019_df)
JNorth_Larva_First_Site_2019_9_df = JNorth_Larva_First_Site_2019_month_df[JNorth_Larva_First_Site_2019_month_df['month']==9]
JNorth_Larva_First_Site_2019_9_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [306]:
JNorth_Larva_First_Site_2019_9_df.shape

(0, 6)

In [307]:
JNorth_Larva_First_Site_2019_9_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [308]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2019_9_df['latitude'] = JNorth_Larva_First_Site_2019_9_df['latitude'].astype(float)
JNorth_Larva_First_Site_2019_9_df['longitude'] = JNorth_Larva_First_Site_2019_9_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [309]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2019_9_df, cols)

In [310]:
file = open("JNorth_Larva_First_Site_2019_9.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## October

In [311]:
JNorth_Larva_First_Site_2019_month_df =pd.DataFrame(JNorth_Larva_First_Site_2019_df)
JNorth_Larva_First_Site_2019_10_df = JNorth_Larva_First_Site_2019_month_df[JNorth_Larva_First_Site_2019_month_df['month']==10]
JNorth_Larva_First_Site_2019_10_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [312]:
JNorth_Larva_First_Site_2019_10_df.shape

(0, 6)

In [313]:
JNorth_Larva_First_Site_2019_10_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [314]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2019_10_df['latitude'] = JNorth_Larva_First_Site_2019_10_df['latitude'].astype(float)
JNorth_Larva_First_Site_2019_10_df['longitude'] = JNorth_Larva_First_Site_2019_10_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [315]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2019_10_df, cols)

In [316]:
file = open("JNorth_Larva_First_Site_2019_10.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## November

In [317]:
JNorth_Larva_First_Site_2019_month_df =pd.DataFrame(JNorth_Larva_First_Site_2019_df)
JNorth_Larva_First_Site_2019_11_df = JNorth_Larva_First_Site_2019_month_df[JNorth_Larva_First_Site_2019_month_df['month']==11]
JNorth_Larva_First_Site_2019_11_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [318]:
JNorth_Larva_First_Site_2019_11_df.shape

(0, 6)

In [319]:
JNorth_Larva_First_Site_2019_11_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [320]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2019_11_df['latitude'] = JNorth_Larva_First_Site_2019_11_df['latitude'].astype(float)
JNorth_Larva_First_Site_2019_11_df['longitude'] = JNorth_Larva_First_Site_2019_11_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [321]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2019_11_df, cols)

In [322]:
file = open("JNorth_Larva_First_Site_2019_11.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## December

In [323]:
JNorth_Larva_First_Site_2019_month_df =pd.DataFrame(JNorth_Larva_First_Site_2019_df)
JNorth_Larva_First_Site_2019_12_df = JNorth_Larva_First_Site_2019_month_df[JNorth_Larva_First_Site_2019_month_df['month']==12]
JNorth_Larva_First_Site_2019_12_df.tail()

,sighting_date,species,latitude,longitude,number,month
4151,2019-12-21,Monarch Larva (FIRST sighted),30.494,-84.122,4,12

In [324]:
JNorth_Larva_First_Site_2019_12_df.shape

(1, 6)

In [325]:
JNorth_Larva_First_Site_2019_12_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [326]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2019_12_df['latitude'] = JNorth_Larva_First_Site_2019_12_df['latitude'].astype(float)
JNorth_Larva_First_Site_2019_12_df['longitude'] = JNorth_Larva_First_Site_2019_12_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [327]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2019_12_df, cols)

In [328]:
file = open("JNorth_Larva_First_Site_2019_12.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# 2020

In [329]:
JNorth_Larva_First_Site_2020_df = JNorth_Larva_First_Site_df[JNorth_Larva_First_Site_df['year']==2020]
JNorth_Larva_First_Site_2020_df.tail()

,sighting_date,species,latitude,longitude,number,year
4825,2020-07-31,Monarch Larva (FIRST sighted),39.048,-76.492,8,2020
4826,2020-07-31,Monarch Larva (FIRST sighted),39.630,-79.958,1,2020
4827,2020-08-01,Monarch Larva (FIRST sighted),49.850,-113.257,3,2020
4828,2020-10-20,Monarch Larva (FIRST sighted),35.008,-85.664,4,2020
4829,2020-12-14,Monarch Larva (FIRST sighted),30.140,-97.932,1,2020

In [330]:
JNorth_Larva_First_Site_2020_df.shape

(678, 6)

In [331]:
JNorth_Larva_First_Site_2020_df.drop(['year'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [332]:
JNorth_Larva_First_Site_2020_df.tail

<bound method NDFrame.tail of      sighting_date                        species  latitude  longitude  number
4152    2020-01-12  Monarch Larva (FIRST sighted)    26.137    -97.782       1
4153    2020-02-08  Monarch Larva (FIRST sighted)    34.051   -118.543       1
4154    2020-02-14  Monarch Larva (FIRST sighted)    29.974    -90.042      10
4155    2020-02-25  Monarch Larva (FIRST sighted)    33.123   -117.082       1
4156    2020-02-28  Monarch Larva (FIRST sighted)    29.763    -95.603       8
...            ...                            ...       ...        ...     ...
4825    2020-07-31  Monarch Larva (FIRST sighted)    39.048    -76.492       8
4826    2020-07-31  Monarch Larva (FIRST sighted)    39.630    -79.958       1
4827    2020-08-01  Monarch Larva (FIRST sighted)    49.850   -113.257       3
4828    2020-10-20  Monarch Larva (FIRST sighted)    35.008    -85.664       4
4829    2020-12-14  Monarch Larva (FIRST sighted)    30.140    -97.932       1

[678 rows x 5 columns]>

In [333]:
JNorth_Larva_First_Site_2020_df['month'] = pd.DatetimeIndex(JNorth_Larva_First_Site_2020_df['sighting_date']).month

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## January

In [334]:
JNorth_Larva_First_Site_2020_month_df =pd.DataFrame(JNorth_Larva_First_Site_2020_df)
JNorth_Larva_First_Site_2020_1_df = JNorth_Larva_First_Site_2020_month_df[JNorth_Larva_First_Site_2020_month_df['month']==1]
JNorth_Larva_First_Site_2020_1_df.tail()

,sighting_date,species,latitude,longitude,number,month
4152,2020-01-12,Monarch Larva (FIRST sighted),26.137,-97.782,1,1

In [335]:
JNorth_Larva_First_Site_2020_1_df.shape

(1, 6)

In [336]:
JNorth_Larva_First_Site_2020_1_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [337]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2020_1_df['latitude'] = JNorth_Larva_First_Site_2020_1_df['latitude'].astype(float)
JNorth_Larva_First_Site_2020_1_df['longitude'] = JNorth_Larva_First_Site_2020_1_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [338]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2020_1_df, cols)

In [339]:
file = open("JNorth_Larva_First_Site_2020_1.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# February

In [340]:
JNorth_Larva_First_Site_2020_month_df =pd.DataFrame(JNorth_Larva_First_Site_2020_df)
JNorth_Larva_First_Site_2020_2_df = JNorth_Larva_First_Site_2020_month_df[JNorth_Larva_First_Site_2020_month_df['month']==2]
JNorth_Larva_First_Site_2020_2_df.tail()

,sighting_date,species,latitude,longitude,number,month
4153,2020-02-08,Monarch Larva (FIRST sighted),34.051,-118.543,1,2
4154,2020-02-14,Monarch Larva (FIRST sighted),29.974,-90.042,10,2
4155,2020-02-25,Monarch Larva (FIRST sighted),33.123,-117.082,1,2
4156,2020-02-28,Monarch Larva (FIRST sighted),29.763,-95.603,8,2
4157,2020-02-29,Monarch Larva (FIRST sighted),30.608,-87.327,2,2

In [341]:
JNorth_Larva_First_Site_2020_2_df.shape

(5, 6)

In [342]:
JNorth_Larva_First_Site_2020_2_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [343]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2020_2_df['latitude'] = JNorth_Larva_First_Site_2020_2_df['latitude'].astype(float)
JNorth_Larva_First_Site_2020_2_df['longitude'] = JNorth_Larva_First_Site_2020_2_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [344]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2020_2_df, cols)

In [345]:
file = open("JNorth_Larva_First_Site_2020_2.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [346]:
JNorth_Larva_First_Site_2020_month_df =pd.DataFrame(JNorth_Larva_First_Site_2020_df)
JNorth_Larva_First_Site_2020_3_df = JNorth_Larva_First_Site_2020_month_df[JNorth_Larva_First_Site_2020_month_df['month']==3]
JNorth_Larva_First_Site_2020_3_df.tail()

,sighting_date,species,latitude,longitude,number,month
4236,2020-03-31,Monarch Larva (FIRST sighted),30.192,-97.821,12,3
4237,2020-03-31,Monarch Larva (FIRST sighted),30.316,-97.670,20,3
4238,2020-03-31,Monarch Larva (FIRST sighted),31.122,-97.935,1,3
4239,2020-03-31,Monarch Larva (FIRST sighted),32.710,-96.494,1,3
4240,2020-03-31,Monarch Larva (FIRST sighted),32.736,-97.108,2,3

In [347]:
JNorth_Larva_First_Site_2020_3_df.shape

(83, 6)

In [348]:
JNorth_Larva_First_Site_2020_3_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [349]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2020_3_df['latitude'] = JNorth_Larva_First_Site_2020_3_df['latitude'].astype(float)
JNorth_Larva_First_Site_2020_3_df['longitude'] = JNorth_Larva_First_Site_2020_3_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [350]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2020_3_df, cols)

In [351]:
file = open("JNorth_Larva_First_Site_2020_3.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [352]:
JNorth_Larva_First_Site_2020_month_df =pd.DataFrame(JNorth_Larva_First_Site_2020_df)
JNorth_Larva_First_Site_2020_4_df = JNorth_Larva_First_Site_2020_month_df[JNorth_Larva_First_Site_2020_month_df['month']==4]
JNorth_Larva_First_Site_2020_4_df.tail()

,sighting_date,species,latitude,longitude,number,month
4330,2020-04-28,Monarch Larva (FIRST sighted),36.893,-76.128,4,4
4331,2020-04-29,Monarch Larva (FIRST sighted),33.557,-117.110,2,4
4332,2020-04-29,Monarch Larva (FIRST sighted),33.562,-81.722,3,4
4333,2020-04-29,Monarch Larva (FIRST sighted),35.709,-86.400,15,4
4334,2020-04-30,Monarch Larva (FIRST sighted),36.139,-95.990,10,4

In [353]:
JNorth_Larva_First_Site_2020_4_df.shape

(94, 6)

In [354]:
JNorth_Larva_First_Site_2020_4_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [355]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2020_4_df['latitude'] = JNorth_Larva_First_Site_2020_4_df['latitude'].astype(float)
JNorth_Larva_First_Site_2020_4_df['longitude'] = JNorth_Larva_First_Site_2020_4_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [356]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2020_4_df, cols)

In [357]:
file = open("JNorth_Larva_First_Site_2020_4.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [358]:
JNorth_Larva_First_Site_2020_month_df =pd.DataFrame(JNorth_Larva_First_Site_2020_df)
JNorth_Larva_First_Site_2020_5_df = JNorth_Larva_First_Site_2020_month_df[JNorth_Larva_First_Site_2020_month_df['month']==5]
JNorth_Larva_First_Site_2020_5_df.tail()

,sighting_date,species,latitude,longitude,number,month
4442,2020-05-30,Monarch Larva (FIRST sighted),42.486,-88.123,3,5
4443,2020-05-30,Monarch Larva (FIRST sighted),42.724,-88.965,3,5
4444,2020-05-30,Monarch Larva (FIRST sighted),42.990,-85.732,5,5
4445,2020-05-31,Monarch Larva (FIRST sighted),40.817,-89.615,8,5
4446,2020-05-31,Monarch Larva (FIRST sighted),42.081,-88.028,1,5

In [359]:
JNorth_Larva_First_Site_2020_5_df.shape

(112, 6)

In [360]:
JNorth_Larva_First_Site_2020_5_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [361]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2020_5_df['latitude'] = JNorth_Larva_First_Site_2020_5_df['latitude'].astype(float)
JNorth_Larva_First_Site_2020_5_df['longitude'] = JNorth_Larva_First_Site_2020_5_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [362]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2020_5_df, cols)

In [363]:
file = open("JNorth_Larva_First_Site_2020_5.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [364]:
JNorth_Larva_First_Site_2020_month_df =pd.DataFrame(JNorth_Larva_First_Site_2020_df)
JNorth_Larva_First_Site_2020_6_df = JNorth_Larva_First_Site_2020_month_df[JNorth_Larva_First_Site_2020_month_df['month']==6]
JNorth_Larva_First_Site_2020_6_df.tail()

,sighting_date,species,latitude,longitude,number,month
4671,2020-06-30,Monarch Larva (FIRST sighted),40.657,-74.812,1,6
4672,2020-06-30,Monarch Larva (FIRST sighted),42.911,-87.861,3,6
4673,2020-06-30,Monarch Larva (FIRST sighted),43.459,-80.542,6,6
4674,2020-06-30,Monarch Larva (FIRST sighted),44.290,-88.304,3,6
4675,2020-06-30,Monarch Larva (FIRST sighted),46.610,-81.009,3,6

In [365]:
JNorth_Larva_First_Site_2020_6_df.shape

(229, 6)

In [366]:
JNorth_Larva_First_Site_2020_6_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [367]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2020_6_df['latitude'] = JNorth_Larva_First_Site_2020_6_df['latitude'].astype(float)
JNorth_Larva_First_Site_2020_6_df['longitude'] = JNorth_Larva_First_Site_2020_6_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [368]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2020_6_df, cols)

In [369]:
file = open("JNorth_Larva_First_Site_2020_6.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [370]:
JNorth_Larva_First_Site_2020_month_df =pd.DataFrame(JNorth_Larva_First_Site_2020_df)
JNorth_Larva_First_Site_2020_7_df = JNorth_Larva_First_Site_2020_month_df[JNorth_Larva_First_Site_2020_month_df['month']==7]
JNorth_Larva_First_Site_2020_7_df.tail()

,sighting_date,species,latitude,longitude,number,month
4822,2020-07-30,Monarch Larva (FIRST sighted),47.984,-66.971,1,7
4823,2020-07-31,Monarch Larva (FIRST sighted),30.482,-84.156,6,7
4824,2020-07-31,Monarch Larva (FIRST sighted),35.909,-80.490,4,7
4825,2020-07-31,Monarch Larva (FIRST sighted),39.048,-76.492,8,7
4826,2020-07-31,Monarch Larva (FIRST sighted),39.630,-79.958,1,7

In [371]:
JNorth_Larva_First_Site_2020_7_df.shape

(151, 6)

In [372]:
JNorth_Larva_First_Site_2020_7_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [373]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2020_7_df['latitude'] = JNorth_Larva_First_Site_2020_7_df['latitude'].astype(float)
JNorth_Larva_First_Site_2020_7_df['longitude'] = JNorth_Larva_First_Site_2020_7_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [374]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2020_7_df, cols)

In [375]:
file = open("JNorth_Larva_First_Site_2020_7.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [376]:
JNorth_Larva_First_Site_2020_month_df =pd.DataFrame(JNorth_Larva_First_Site_2020_df)
JNorth_Larva_First_Site_2020_8_df = JNorth_Larva_First_Site_2020_month_df[JNorth_Larva_First_Site_2020_month_df['month']==8]
JNorth_Larva_First_Site_2020_8_df.tail()

,sighting_date,species,latitude,longitude,number,month
4827,2020-08-01,Monarch Larva (FIRST sighted),49.85,-113.257,3,8

In [377]:
JNorth_Larva_First_Site_2020_8_df.shape

(1, 6)

In [378]:
JNorth_Larva_First_Site_2020_8_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [379]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2020_8_df['latitude'] = JNorth_Larva_First_Site_2020_8_df['latitude'].astype(float)
JNorth_Larva_First_Site_2020_8_df['longitude'] = JNorth_Larva_First_Site_2020_8_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [380]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2020_8_df, cols)

In [381]:
file = open("JNorth_Larva_First_Site_2020_8.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [382]:
JNorth_Larva_First_Site_2020_month_df =pd.DataFrame(JNorth_Larva_First_Site_2020_df)
JNorth_Larva_First_Site_2020_9_df = JNorth_Larva_First_Site_2020_month_df[JNorth_Larva_First_Site_2020_month_df['month']==9]
JNorth_Larva_First_Site_2020_9_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [383]:
JNorth_Larva_First_Site_2020_9_df.shape

(0, 6)

In [384]:
JNorth_Larva_First_Site_2020_9_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [385]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2020_9_df['latitude'] = JNorth_Larva_First_Site_2020_9_df['latitude'].astype(float)
JNorth_Larva_First_Site_2020_9_df['longitude'] = JNorth_Larva_First_Site_2020_9_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [386]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2020_9_df, cols)

In [387]:
file = open("JNorth_Larva_First_Site_2020_9.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [388]:
JNorth_Larva_First_Site_2020_month_df =pd.DataFrame(JNorth_Larva_First_Site_2020_df)
JNorth_Larva_First_Site_2020_10_df = JNorth_Larva_First_Site_2020_month_df[JNorth_Larva_First_Site_2020_month_df['month']==10]
JNorth_Larva_First_Site_2020_10_df.tail()

,sighting_date,species,latitude,longitude,number,month
4828,2020-10-20,Monarch Larva (FIRST sighted),35.008,-85.664,4,10

In [389]:
JNorth_Larva_First_Site_2020_10_df.shape

(1, 6)

In [390]:
JNorth_Larva_First_Site_2020_10_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [391]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2020_10_df['latitude'] = JNorth_Larva_First_Site_2020_10_df['latitude'].astype(float)
JNorth_Larva_First_Site_2020_10_df['longitude'] = JNorth_Larva_First_Site_2020_10_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [392]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2020_10_df, cols)

In [393]:
file = open("JNorth_Larva_First_Site_2020_10.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [394]:
JNorth_Larva_First_Site_2020_month_df =pd.DataFrame(JNorth_Larva_First_Site_2020_df)
JNorth_Larva_First_Site_2020_11_df = JNorth_Larva_First_Site_2020_month_df[JNorth_Larva_First_Site_2020_month_df['month']==11]
JNorth_Larva_First_Site_2020_11_df.tail()

Empty DataFrame
Columns: [sighting_date, species, latitude, longitude, number, month]
Index: []

In [395]:
JNorth_Larva_First_Site_2020_11_df.shape

(0, 6)

In [396]:
JNorth_Larva_First_Site_2020_11_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [397]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2020_11_df['latitude'] = JNorth_Larva_First_Site_2020_11_df['latitude'].astype(float)
JNorth_Larva_First_Site_2020_11_df['longitude'] = JNorth_Larva_First_Site_2020_11_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [398]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2020_11_df, cols)

In [399]:
file = open("JNorth_Larva_First_Site_2020_11.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [400]:
JNorth_Larva_First_Site_2020_month_df =pd.DataFrame(JNorth_Larva_First_Site_2020_df)
JNorth_Larva_First_Site_2020_12_df = JNorth_Larva_First_Site_2020_month_df[JNorth_Larva_First_Site_2020_month_df['month']==12]
JNorth_Larva_First_Site_2020_12_df.tail()

,sighting_date,species,latitude,longitude,number,month
4829,2020-12-14,Monarch Larva (FIRST sighted),30.14,-97.932,1,12

In [401]:
JNorth_Larva_First_Site_2020_12_df.shape

(1, 6)

In [402]:
JNorth_Larva_First_Site_2020_12_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [403]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_2020_12_df['latitude'] = JNorth_Larva_First_Site_2020_12_df['latitude'].astype(float)
JNorth_Larva_First_Site_2020_12_df['longitude'] = JNorth_Larva_First_Site_2020_12_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [404]:
geojson = df_to_geojson(JNorth_Larva_First_Site_2020_12_df, cols)

In [405]:
file = open("JNorth_Larva_First_Site_2020_12.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()