In [1]:
# Journey North Captive Reared

In [2]:
#  Import and read
import pandas as pd 
import numpy as np
import json
# Sue Mottet 2-19-2022

# geoJSONifier

In [3]:
def df_to_geojson(df, properties, lat='latitude', lon='longitude'):
    # create a new python dict to contain our geojson data, using geojson format
    geojson = {'type':'FeatureCollection', 'features':[]}

    # loop through each row in the dataframe and convert each row to geojson format
    for _, row in df.iterrows():
        # create a feature template to fill in
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point',
                               'coordinates':[]}}

        # fill in the coordinates
        feature['geometry']['coordinates'] = [row[lon],row[lat]]

        # for each column, get the value and add it as a new feature property
        for prop in properties:
            feature['properties'][prop] = row[prop]
        
        # add this feature (aka, converted dataframe row) to the list of features inside our dict
        geojson['features'].append(feature)
    
    return geojson

# Load file

In [4]:
JNorth1996_2020_df = pd.read_csv("UWMadisonArb_JNorth_Project_MonarchsAndMilkweed_1996-2020.csv")
JNorth1996_2020_df.head()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,sighting_date,species,number,latitude,longitude,flag_location,comments,school,grade,image_url,customerid,number_old,flag_number,species_old,flag_species
0,850841703,1996-12-16,Monarch Adult Sighted,1,27.594,-81.362,0,On the ballfield a solitary monarch butterfly ...,Walker memorial junior academy,10.0,-999999.999,135,-999999.999,1,Monarch Butterfly,1
1,851824801,1996-12-06,Monarch Adult Sighted,1,30.420,-87.224,0,Our 5th grade Discovery students who went alon...,Hambrick elementary school,5.0,-999999.999,150,-999999.999,1,Monarch Butterfly,1
2,854409931,1996-09-21,Monarch Adult Sighted,1,40.817,-96.710,0,We saw several hundred monarchs in our school ...,-999999.999,5.0,-999999.999,9701054,-999999.999,1,Monarch Butterfly,1
3,854557206,1996-09-21,Monarch Adult Sighted,1,40.817,-96.710,0,Over a hundered monarchs in our school butterf...,Fredstrom elementary school,6.0,-999999.999,175,-999999.999,1,Monarch Butterfly,1
4,855061862,1997-01-01,Monarch Adult Sighted,1,34.244,-77.946,0,"I Thought I Saw It, But I Was Suprised To See ...",Gregory,3.0,-999999.999,181,-999999.999,1,Monarch Butterfly,1

# Data Exploratory

In [5]:
JNorth1996_2020_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227433 entries, 0 to 227432
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             227433 non-null  int64
 1   sighting_date  227433 non-null  object
 2   species        227433 non-null  object
 3   number         227433 non-null  int64
 4   latitude       227433 non-null  float64
 5   longitude      227433 non-null  float64
 6   flag_location  227433 non-null  int64
 7   comments       227433 non-null  object
 8   school         227433 non-null  object
 9   grade          227433 non-null  float64
 10  image_url      227433 non-null  object
 11  customerid     227433 non-null  int64
 12  number_old     227433 non-null  float64
 13  flag_number    227433 non-null  int64
 14  species_old    227433 non-null  object
 15  flag_species   227433 non-null  int64
dtypes: float64(4), int64(6), object(6)
memory usage: 27.8+ MB

In [6]:
str(JNorth1996_2020_df.columns.tolist())

"['id', 'sighting_date', 'species', 'number', 'latitude', 'longitude', 'flag_location', 'comments', 'school', 'grade', 'image_url', 'customerid', 'number_old', 'flag_number', 'species_old', 'flag_species']"

In [7]:
JNorth1996_2020_df.describe()

,id,number,latitude,longitude,flag_location,grade,customerid,number_old,flag_number,flag_species
count,2.274330e+05,2.274330e+05,227433.000000,227433.000000,227433.000000,227433.000000,2.274330e+05,2.274330e+05,227433.000000,227433.000000
mean,1.420650e+09,1.186529e+02,38.400690,-87.569965,0.598018,-907386.217597,9.451737e+06,-2.844270e+05,0.294816,0.130324
std,1.456887e+08,2.209080e+04,5.268651,10.880362,0.490299,289894.342744,2.193961e+06,4.518136e+05,0.467089,0.336660
min,8.508417e+08,-1.700000e+01,-12.100000,-165.107000,0.000000,-999999.999000,0.000000e+00,-1.000000e+06,0.000000,0.000000
25%,1.377751e+09,1.000000e+00,34.723000,-95.268000,0.000000,-999999.999000,9.941050e+06,-1.000000e+06,0.000000,0.000000
50%,1.477448e+09,1.000000e+00,39.503000,-86.787000,1.000000,-999999.999000,9.977663e+06,1.000000e+00,0.000000,0.000000
75%,1.526383e+09,3.000000e+00,42.409000,-79.255000,1.000000,-999999.999000,1.000029e+07,3.000000e+00,1.000000,0.000000
max,1.526525e+09,1.000000e+07,65.136000,-52.883000,1.000000,1112.000000,1.004256e+07,1.000000e+07,2.000000,1.000000

In [8]:
JNorth1996_2020_df.columns.tolist()

['id',
 'sighting_date',
 'species',
 'number',
 'latitude',
 'longitude',
 'flag_location',
 'comments',
 'school',
 'grade',
 'image_url',
 'customerid',
 'number_old',
 'flag_number',
 'species_old',
 'flag_species']

In [9]:
JNorth1996_2020_df.shape

(227433, 16)

In [10]:
# Determine the number of unique values in each column.
for col in JNorth1996_2020_df:
  print(JNorth1996_2020_df[col].unique())

[ 850841703  851824801  854409931 ... 1526524404 1526524405 1526525021]
['1996-12-16' '1996-12-06' '1996-09-21' ... '2020-12-29' '2020-12-30'
 '2020-12-31']
['Monarch Adult Sighted' 'Monarch Adult (FIRST sighted)'
 'Monarch Egg (FIRST sighted)' 'Monarch (OTHER Observations)'
 'Monarch Larva (FIRST sighted)' 'Monarch PEAK Migration'
 'Milkweed (FIRST sighted)' 'Monarch Fall Roost' 'Monarch Egg Sighted'
 'Monarch Larva Sighted' 'Monarch, Captive-Reared' 'Milkweed Sighted']
[       1      150       20       89       30     2000       50     7500
       23      200        5      300        4      100       71      120
      325       21       28     5000    20000       36       25        6
       54     1000      160       24       60       37        2     3000
  1000000       10  2000000       40       85       65       15        8
      500       14      112       75       80    15000       18    10000
      912   100000      400      800       12       35      600       16
    25000     1500     1117       70        3      463       45       72
      250      182       56       26    30000     2500     8000      750
      700       46      556       34      275       53       22      650
      210      224     1100      240   200000      900     1200        7
       13      115       11       19      810       66       43      510
        9       62       27      290      104       44      440      202
       55      180       17      140      269       61      142      175
       41      123       32       76       31      195      125       29
      164      109      119      105     4000       69      360       88
       58      239       48      310      117       52      261       90
      135      296      211       39       51      102     7001      127
       49       47       33     1300       42      101     5075     1520
      170       81      190       38      110      558      381      228
      248       86       74      172      230      420     2806       94
       92      118      425     5400     6300       68       79    50000
     2300     7000       84      128       57      350       83      124
      114      450      147      501       87       77      197      840
    13460     3500       64       73      178      265      151      133
      121      477       59       97      850      130      165       95
      383       98      729      222      116      225       63     6000
      475    34000    13420    21329    12073    16244    30293    11082
       78      214      113      108      280      212      138      285
      229      216      720      206      606      287      107      134
      157      540 10000000      220      103      270       82      139
      318       93       67      181      122      158      156      232
      106      155     2400      667     1286      179      349      207
      505      132      154     1400    32914    29804    18128    15890
     7750     8531     7333     7783      173      213      126      378
      417      481      780     4800      625      208      205      145
      260      193      144      227      305      831      289      246
      404      152       96      373      855     1800      519      215
      441      337    23800      218      340      231     2100      550
     4500      320     9000    12000      324      461      184      570
      444      620    11000      870      478      252      447      247
      281      980    28073    13492    12864    11472    10200      301
      111      259      171      141      256      186      174      198
      479      187      223      474      203      278      153      257
      520      185     3200      375      258      136    70000    60200
    48000    17800      264    19755    17100    12189    13375      233
      204      192      131       -1      129      149      -17      460
      382      137      143      445       91     1700      330      254
      429      813     2200      316     2600      696      291      255
      286      543      183      251      362      226      453     1080
      860      315      332      244     1351    35000     1503     1125
      725     1482      593     2079    12284    19741    12360    10099
      587    19000   500000      189      671      713     1016      176
      345      219      234      249      409      418    16000     3900
      169     7200      272      284      653      428      348      777
      253       99      201     1516      335      359      356      875
      560      177      525      686     1380      276   999999    12620
     6500     5850      188     2960      480      385      827      323
      148     1012      465      196      162      238      446      313
     2385      307      263      357      163      495     1001      541
      733      167     3600      457     5700     1650     1120     3553
      995     1600     1390      614     7600     8250      314     1580
      221     1620      470      759      267      960     1301      566
      342      880      782      241      514     2250     2470      925
      403      166     6769      146     2469      209      279      868
      585      311      683      354      308      760      387      563
      801      536      161      397      322      613      191     1750
      199      516      321     1850      277      297     4750      370
      489     1149      268     2816      789      430      978      770
      493      716      159]
[27.594 30.42  40.817 ... 30.139 35.008 54.968]
[ -81.362  -87.224  -96.71  ... -118.107 -119.132 -108.727]
[0 1]
['On the ballfield a solitary monarch butterfly flew across the field in a south-west direction at approximately 1:30 pm.'
 'Our 5th grade Discovery students who went along on an overnight field trip to Ft. Pickens, Florida, noticed that there were monarch butterflies all over the grounds of the fort the day they were there (Dec. 6,1996).'
 'We saw several hundred monarchs in our school butterfly garden,  sipping nectar from the New England asters and zinnias.'
 ...
 "There have been at least three Monarchs in my yard this year. I know it's at least three, because I often see all of them at once. But there may be more. I have lived here for 35 years, and an additional 23 years just a mile-and-a-half down the road. This is the first time in decades that I've had Monarchs in my yard, and I've been very excited that they're coming back. I'm hoping to see more in the future. "
 'One larva seen.'
 'Date of last adult sighted.Total sightings were 98 adults from June 3 to Sept. 4.Peak sightings were July 8 to Aug 7.Approx. acreage with milkweed is equal to 4.5Ac. ']
['Walker memorial junior academy' 'Hambrick elementary school'
 '-999999.999' ... 'Homosassa springs wildlife state park'
 'Director, virginia master naturalist program' -999999.999]
[ 1.00000000e+01  5.00000000e+00  6.00000000e+00  3.00000000e+00
  9.00000000e+00 -9.99999999e+05  7.00000000e+00  2.00000000e+00
  8.00000000e+00  9.90000000e+01  4.00000000e+00  1.00000000e+00
  1.20000000e+01  1.10000000e+01  0.00000000e+00  3.40000000e+01
  2.50000000e+01  4.60000000e+01  6.80000000e+01  1.50000000e+01
  9.50000000e+01  3.60000000e+01  1.80000000e+01  2.30000000e+01
  1.40000000e+01  4.50000000e+01  9.12000000e+02  2.40000000e+01
  6.90000000e+01  5.60000000e+01  7.12000000e+02  6.78000000e+02
  1.12000000e+02  4.90000000e+01  7.80000000e+01  6.70000000e+01
  1.30000000e+01  4.56000000e+02  1.90000000e+01  6.12000000e+02
  1.11200000e+03  1.60000000e+01  1.01200000e+03  3.80000000e+01
  6.30000000e+01  2.70000000e+01  1.00000000e+02  9.10000000e+02
  6.20000000e+01  3.11000000e+02  5.80000000e+01  1.70000000e+01
  2.10000000e+01  2.80000000e+01  7.10000000e+01  3.45000000e+02
  1.19000000e+02  3.50000000e+01  4.20000000e+01  6.50000000e+01
  5.00000000e+01  4.12000000e+02  7.90000000e+01  2.00000000e+01
  7.11000000e+02  5.30000000e+01  1.35000000e+02]
['-999999.999'
 'https://journeynorth.org/jnorth/images/userfiles2013/1193346010.jpg'
 'https://www.learner.org/jnorth/images/userfiles/1317067653.jpg' ...
 '//journeynorth.org/jnorth/images/userfiles2021/05/1526513089.jpg'
 '//journeynorth.org/jnorth/images/userfiles2021/05/1526513090.jpg'
 '//journeynorth.org/jnorth/images/userfiles2021/06/1526524404.jpg']
[     135      150  9701054 ... 10042506 10042509 10042557]
[-9.99999999e+05  0.00000000e+00  1.50000000e+02  2.00000000e+01
  8.90000000e+01  3.00000000e+01  2.00000000e+03  5.00000000e+01
  7.50000000e+03  2.30000000e+01  2.00000000e+02  5.00000000e+00
  3.00000000e+02  4.00000000e+00  1.00000000e+02  7.10000000e+01
  1.20000000e+02  3.25000000e+02  2.10000000e+01  2.80000000e+01
  5.00000000e+03  2.00000000e+04  3.60000000e+01  2.50000000e+01
  6.00000000e+00  5.40000000e+01  1.00000000e+03  1.60000000e+02
  2.40000000e+01  6.00000000e+01  3.70000000e+01  2.00000000e+00
  3.00000000e+03  1.00000000e+06  1.00000000e+01  1.00000000e+00
  2.00000000e+06  4.00000000e+01  8.50000000e+01  6.50000000e+01
  1.50000000e+01  8.00000000e+00  5.00000000e+02  1.40000000e+01
  1.12000000e+02  7.50000000e+01  8.00000000e+01  1.50000000e+04
  1.80000000e+01  1.00000000e+04  9.12000000e+02  1.00000000e+05
  4.00000000e+02  8.00000000e+02  1.20000000e+01  3.50000000e+01
  6.00000000e+02  1.60000000e+01  2.50000000e+04  1.50000000e+03
  1.11700000e+03  7.00000000e+01  3.00000000e+00  4.63000000e+02
  4.50000000e+01  7.20000000e+01  2.50000000e+02  1.82000000e+02
  5.60000000e+01  2.60000000e+01  3.00000000e+04  2.50000000e+03
  8.00000000e+03  7.50000000e+02  7.00000000e+02  4.60000000e+01
  5.56000000e+02  3.40000000e+01  2.75000000e+02  5.30000000e+01
  2.20000000e+01  6.50000000e+02  2.10000000e+02  2.24000000e+02
  1.10000000e+03  2.40000000e+02  2.00000000e+05  9.00000000e+02
  1.20000000e+03  7.00000000e+00  1.30000000e+01  1.15000000e+02
  1.10000000e+01  1.90000000e+01  8.10000000e+02  6.60000000e+01
  4.30000000e+01  5.10000000e+02  9.00000000e+00  6.20000000e+01
  2.70000000e+01  2.90000000e+02  1.04000000e+02  4.40000000e+01
  4.40000000e+02  2.02000000e+02  5.50000000e+01  1.80000000e+02
  1.70000000e+01  1.40000000e+02  2.69000000e+02  6.10000000e+01
  1.42000000e+02  1.75000000e+02  4.10000000e+01  1.23000000e+02
  3.20000000e+01  7.60000000e+01  3.10000000e+01  1.95000000e+02
  1.25000000e+02  2.90000000e+01  1.64000000e+02  1.09000000e+02
  1.19000000e+02  1.05000000e+02  4.00000000e+03  6.90000000e+01
  3.60000000e+02  8.80000000e+01  5.80000000e+01  2.39000000e+02
  4.80000000e+01  3.10000000e+02  1.17000000e+02  5.20000000e+01
  2.61000000e+02  9.00000000e+01  1.35000000e+02  2.96000000e+02
  2.11000000e+02  3.90000000e+01  5.10000000e+01  1.02000000e+02
  7.00100000e+03  1.27000000e+02  4.90000000e+01  4.70000000e+01
  3.30000000e+01  1.30000000e+03  4.20000000e+01  1.01000000e+02
  5.07500000e+03  1.52000000e+03  1.70000000e+02  8.10000000e+01
  1.90000000e+02  3.80000000e+01  1.10000000e+02  5.58000000e+02
  3.81000000e+02  2.28000000e+02  2.48000000e+02  8.60000000e+01
  7.40000000e+01  1.72000000e+02  2.30000000e+02  4.20000000e+02
  2.80600000e+03  9.40000000e+01  9.20000000e+01  1.18000000e+02
  4.25000000e+02  5.40000000e+03  6.30000000e+03  6.80000000e+01
  7.90000000e+01  5.00000000e+04  2.30000000e+03  7.00000000e+03
  8.40000000e+01  1.28000000e+02  5.70000000e+01  3.50000000e+02
  8.30000000e+01  1.24000000e+02  1.14000000e+02  4.50000000e+02
  1.47000000e+02  5.01000000e+02  8.70000000e+01  7.70000000e+01
  1.97000000e+02  8.40000000e+02  1.34600000e+04  3.50000000e+03
  6.40000000e+01  7.30000000e+01  1.78000000e+02  2.65000000e+02
  1.51000000e+02  1.33000000e+02  1.21000000e+02  4.77000000e+02
  5.90000000e+01  9.70000000e+01  8.50000000e+02  1.30000000e+02
  1.65000000e+02  9.50000000e+01  3.83000000e+02  9.80000000e+01
  7.29000000e+02  2.22000000e+02  1.16000000e+02  2.25000000e+02
  6.30000000e+01  6.00000000e+03  4.75000000e+02  3.40000000e+04
  1.34200000e+04  2.13290000e+04  1.20730000e+04  1.62440000e+04
  3.02930000e+04  1.10820000e+04  7.80000000e+01  2.14000000e+02
  1.13000000e+02  1.08000000e+02  2.80000000e+02  2.12000000e+02
  1.38000000e+02  2.85000000e+02  2.29000000e+02  2.16000000e+02
  7.20000000e+02  2.06000000e+02  6.06000000e+02  2.87000000e+02
  1.07000000e+02  1.34000000e+02  1.57000000e+02  5.40000000e+02
  1.00000000e+07  2.20000000e+02  1.03000000e+02  2.70000000e+02
  8.20000000e+01  1.39000000e+02  3.18000000e+02  9.30000000e+01
  6.70000000e+01  1.81000000e+02  1.22000000e+02  1.58000000e+02
  1.56000000e+02  2.32000000e+02  1.06000000e+02  1.55000000e+02
  2.40000000e+03  6.67000000e+02  1.28600000e+03  1.79000000e+02
  3.49000000e+02  2.07000000e+02  5.05000000e+02  1.32000000e+02
  1.54000000e+02  1.40000000e+03  3.29140000e+04  2.98040000e+04
  1.81280000e+04  1.58900000e+04  7.75000000e+03  8.53100000e+03
  7.33300000e+03  7.78300000e+03  1.73000000e+02  2.13000000e+02
  1.26000000e+02  3.78000000e+02  4.17000000e+02  4.81000000e+02
  7.80000000e+02  4.80000000e+03  6.25000000e+02  2.08000000e+02
  2.05000000e+02  1.45000000e+02  2.60000000e+02  1.93000000e+02
  1.44000000e+02  2.27000000e+02  3.05000000e+02  8.31000000e+02
  2.89000000e+02  2.46000000e+02  4.04000000e+02  1.52000000e+02
  9.60000000e+01  3.73000000e+02  8.55000000e+02  1.80000000e+03
  5.19000000e+02  2.15000000e+02  4.41000000e+02  3.37000000e+02
  2.38000000e+04  2.18000000e+02  3.40000000e+02  2.31000000e+02
  2.10000000e+03  5.50000000e+02  4.50000000e+03  3.20000000e+02
  9.00000000e+03  1.20000000e+04  3.24000000e+02  4.61000000e+02
  1.84000000e+02  5.70000000e+02  4.44000000e+02  6.20000000e+02
  1.10000000e+04  8.70000000e+02  4.78000000e+02  2.52000000e+02
  4.47000000e+02  2.47000000e+02  2.81000000e+02  9.80000000e+02
  2.80730000e+04  1.34920000e+04  1.28640000e+04  1.14720000e+04
  1.02000000e+04  3.01000000e+02  1.11000000e+02  2.59000000e+02
  1.71000000e+02  1.41000000e+02  2.56000000e+02  1.86000000e+02
  1.74000000e+02  1.98000000e+02  4.79000000e+02  1.87000000e+02
  2.23000000e+02  4.74000000e+02  2.03000000e+02  2.78000000e+02
  1.53000000e+02  2.57000000e+02  5.20000000e+02  1.85000000e+02
  3.20000000e+03  3.75000000e+02  2.58000000e+02  1.36000000e+02
  7.00000000e+04  6.02000000e+04  4.80000000e+04  1.78000000e+04
  2.64000000e+02  1.97550000e+04  1.71000000e+04  1.21890000e+04
  1.33750000e+04  2.33000000e+02  2.04000000e+02  1.92000000e+02
  1.31000000e+02 -1.00000000e+00  1.29000000e+02  1.49000000e+02
 -1.70000000e+01  4.60000000e+02  3.82000000e+02  1.37000000e+02
  1.43000000e+02  4.45000000e+02  9.10000000e+01  1.70000000e+03
  3.30000000e+02  2.54000000e+02  4.29000000e+02  8.13000000e+02
  2.20000000e+03  3.16000000e+02  2.60000000e+03  6.96000000e+02
  2.91000000e+02  2.55000000e+02  2.86000000e+02  5.43000000e+02
  1.83000000e+02  2.51000000e+02  3.62000000e+02  2.26000000e+02
  4.53000000e+02  1.08000000e+03  8.60000000e+02  3.15000000e+02
  3.32000000e+02  2.44000000e+02  1.35100000e+03  3.50000000e+04
  1.50300000e+03  1.12500000e+03  7.25000000e+02  1.48200000e+03
  5.93000000e+02  2.07900000e+03  1.22840000e+04  1.97410000e+04
  1.23600000e+04  1.00990000e+04  5.87000000e+02  1.90000000e+04
  5.00000000e+05  1.89000000e+02  6.71000000e+02  7.13000000e+02
  1.01600000e+03  1.76000000e+02  3.45000000e+02  2.19000000e+02
  2.34000000e+02  2.49000000e+02  4.09000000e+02  4.18000000e+02
  1.60000000e+04  3.90000000e+03  1.69000000e+02  7.20000000e+03
  2.72000000e+02  2.84000000e+02  6.53000000e+02  4.28000000e+02
  3.48000000e+02  7.77000000e+02  2.53000000e+02  9.90000000e+01
  2.01000000e+02  1.51600000e+03  3.35000000e+02  3.59000000e+02
  3.56000000e+02  8.75000000e+02  5.60000000e+02  1.77000000e+02
  5.25000000e+02  6.86000000e+02  1.38000000e+03  2.76000000e+02
  9.99999000e+05  1.26200000e+04  6.50000000e+03  5.85000000e+03
  1.88000000e+02  2.96000000e+03  4.80000000e+02  3.85000000e+02
  8.27000000e+02  3.23000000e+02  1.48000000e+02  1.01200000e+03
  4.65000000e+02  1.96000000e+02  1.62000000e+02  2.38000000e+02
  4.46000000e+02  3.13000000e+02  2.38500000e+03  3.07000000e+02
  2.63000000e+02  3.57000000e+02  1.63000000e+02  4.95000000e+02
  1.00100000e+03  5.41000000e+02  7.33000000e+02  1.67000000e+02
  3.60000000e+03  4.57000000e+02  5.70000000e+03  1.65000000e+03
  1.12000000e+03  3.55300000e+03  9.95000000e+02  1.60000000e+03
  1.39000000e+03  6.14000000e+02  7.60000000e+03  8.25000000e+03
  3.14000000e+02  1.58000000e+03  2.21000000e+02  1.62000000e+03
  4.70000000e+02  7.59000000e+02  2.67000000e+02  9.60000000e+02
  1.30100000e+03  5.66000000e+02  3.42000000e+02  8.80000000e+02
  7.82000000e+02  2.41000000e+02  5.14000000e+02  2.25000000e+03
  2.47000000e+03  9.25000000e+02  4.03000000e+02  1.66000000e+02
  6.76900000e+03  1.46000000e+02  2.46900000e+03  2.09000000e+02
  2.79000000e+02  8.68000000e+02  5.85000000e+02  3.11000000e+02
  6.83000000e+02  3.54000000e+02  3.08000000e+02  7.60000000e+02
  3.87000000e+02  5.63000000e+02  8.01000000e+02  5.36000000e+02
  1.61000000e+02  3.97000000e+02  3.22000000e+02  6.13000000e+02
  1.91000000e+02  1.75000000e+03  1.99000000e+02  5.16000000e+02
  3.21000000e+02  1.85000000e+03  2.77000000e+02  2.97000000e+02
  4.75000000e+03  3.70000000e+02  4.89000000e+02  1.14900000e+03
  2.68000000e+02  2.81600000e+03  7.89000000e+02  4.30000000e+02
  9.78000000e+02  7.70000000e+02  4.93000000e+02  7.16000000e+02
  1.59000000e+02]
[1 2 0]
['Monarch Butterfly' 'Monarch Migration' 'FIRST Monarch Butterfly'
 'FIRST Monarch Egg' 'First Monarch' 'FIRST Monarch' 'LAST Fall Monarch'
 'Monarch (OTHER observations)' 'Monarch (FIRST sighting)'
 'Monarch (FIRST seen)' 'Monarch (Other Sightings)'
 'Monarch (OTHER observation)' 'Monarch (OTHER Observation)'
 'Monarch Migration Sighting' 'Monarch (OTHER Observations)'
 'Monarch Migration Study' 'LAST Fall Monarch Sighted'
 ' LAST Fall Monarch Sighted' 'LAST Fall Monarch Migration'
 'Monarch (OTHER oservations)' 'Monarch (LAST sighting)'
 'Monarch Larva (FIRST sighted)' 'Monarch Egg (FIRST sighted)'
 'Monarch Adult (FIRST sighted)' 'Monarch Adult (FIRST Sighted)'
 'Monarch PEAK Migration' 'LAST Fall Monarch Sighting'
 'Monarchs OTHER (Observation)' '(Monarch) Milkweed emerges'
 'Monarch FIRST Migration Sighting' 'Monarch peak Migration'
 'Monarch (OTHER) Observations' 'Milkweed (FIRST Leaves)'
 'Monarch Over-wintering' 'Monarch Adult  (FIRST sighted)'
 'Monarchs (OTHER observations)' 'Monarch (IOTHER observations)'
 'Monarch Fall Roost' 'Monarch ADULT' 'Monarch Larva (FIRST Sighted)'
 'Monarch (OTHER Observations' 'Monarch Peak Migration'
 'Monarch over-wintering' 'Monarch  Adult (FIRST sighted)'
 'Monarch (Other Observations)' 'Monarch FIRST Adult'
 'Monarch Adult (First sighted)' 'Monarch (Other observations)'
 'Monarch Migration Sighting OW' 'Monarch (FIRST sighted)'
 'Monarch (NONE sighted)' 'Monarch Fall Roost (None yet)'
 'Monarch Adult Sighted' 'Monarch Sighting' 'Monarch (Other Observations'
 'Monarch Winter Sighting' 'Monarch Sighted' 'Monarch Egg Sighted'
 'Monarch Larva Sighted' 'Monarch OTHER Observations'
 'monarch (OTHER Observations)' 'Monarch Egg (FIRST Sighted)'
 'Monarch OW Mexico' 'Monarch Adult  Sighted'
 'Monarch (OTHER Observations) READY' 'Monarch Adult (FIRST sighted))'
 'Monarch, Captive-Reared' 'Monarch Fall Roost (waiting for permission)'
 'Milkweed Sighted' 'Milkweed (FIRST sighted)' 'Milkweed (FIRST Sighted)'
 'Milkweed sighted' 'Monarch, Captive Reared'
 'Monarch Egg (FIRST sighted)ghted)'
 'Monarch Adult (FIRST sighted)T sighted)'
 'Monarch Adult (FIRST sighted)sighted)' 'Monarch (Captive Reared)ed)'
 'Monarch (Captive Reared)' 'Monarch (OTHER Observations)ations)'
 'Monarch Larva Sighted ' 'Monarch Fall Roost ' 'Monarch Egg Sighted '
 'Monarch, captive-Reared' 'MOnarch Larva Sighted'
 'Monarch Adult Sighted ' 'Monarch adult Sighted' 'Monarch Adult SIghted'
 'Monarch Adult (FIRST sighted) ' 'Monarchch Adult Sighted'

In [11]:
# Determine the number of unique values in each column.
for col in JNorth1996_2020_df:
  print(JNorth1996_2020_df[col].value_counts())

850841703     1
1526350827    1
1526350816    1
1526350817    1
1526350818    1
             ..
1432512422    1
1432519704    1
1432562236    1
1432562641    1
1526525021    1
Name: id, Length: 227433, dtype: int64
2018-08-22    392
2018-10-03    377
2018-09-06    353
2019-09-19    337
2018-09-12    335
             ...
2015-12-31      1
2015-11-24      1
2015-11-22      1
2006-07-30      1
1996-12-16      1
Name: sighting_date, Length: 7491, dtype: int64
Monarch Adult Sighted            102306
Monarch Adult (FIRST sighted)     36409
Monarch Larva Sighted             17378
Monarch, Captive-Reared           14339
Monarch (OTHER Observations)      13581
Monarch Egg Sighted                8736
Milkweed (FIRST sighted)           8465
Monarch PEAK Migration             7689
Monarch Egg (FIRST sighted)        6876
Monarch Fall Roost                 5035
Monarch Larva (FIRST sighted)      4898
Milkweed Sighted                   1721
Name: species, dtype: int64
1       139319
2        24169
3        13055
4         7795
5         6118
         ...
860          1
315          1
244          1
1351         1
159          1
Name: number, Length: 555, dtype: int64
29.757    811
30.230    765
45.033    702
37.944    700
42.409    659
         ...
30.770      1
38.355      1
33.305      1
29.930      1
27.594      1
Name: latitude, Length: 18851, dtype: int64
-95.365     807
-97.714     752
-87.405     695
-93.224     620
-82.220     605
           ...
-77.529       1
-69.400       1
-101.051      1
-69.254       1
-122.557      1
Name: longitude, Length: 30123, dtype: int64
1    136009
0     91424
Name: flag_location, dtype: int64
-999999.999                                                                                                                                                               1427
Female                                                                                                                                                                     170
Flying                                                                                                                                                                     144
Male                                                                                                                                                                       118
Recorded as an incidental sighting while conducting surveys on the Fort Hood military base.                                                                                104
                                                                                                                                                                          ...
first female sighting around 3 pm in richmond-laid egg on common milkweed.  Warm sw wind -monarch looked fresh                                                               1
Spotted our first milkweed shoots in our butterfly garden at Lake Anne Elementary this afternoon after the first weekend with warmer temperatures.                           1
Spotted 1 adult near Love Valley Wildlife Reserve near the Red River.                                                                                                        1
Established Asclepias syriaca L. plants in open area have emerged approximately 1 inch in height one day after 0.7" rainfall.                                                1
Date of last adult sighted.Total sightings were 98 adults from June 3 to Sept. 4.Peak sightings were July 8 to Aug 7.Approx. acreage with milkweed is equal to 4.5Ac.        1
Name: comments, Length: 212736, dtype: int64
-999999.999                            139036
-999999.999                             63593
None                                      457
Homeschool                                331
Virginia living museum                    263
                                        ...
William e. norris elementary school         1
Coventry elementary school                  1
Adams is close                              1
Salem elementary school                     1
Walker memorial junior academy              1
Name: school, Length: 6914, dtype: int64
-999999.999    206370
 99.000          3136
 4.000           2947
 3.000           2543
 2.000           2541
                ...
 1012.000           1
 678.000            1
 69.000             1
 95.000             1
 135.000            1
Name: grade, Length: 67, dtype: int64
-999999.999                                                                   183911
//sightings.journeynorth.org/jnorth/images/userfiles2018/09/1526362818.jpg         8
https://journeynorth.org/jnorth/images/userfiles/1366245309.jpg                    3
https://journeynorth.org/jnorth/images/userfiles/1331931236.jpg                    3
//journeynorth.org/jnorth/images/userfiles2020/04/1526445894.jpg                   2
                                                                               ...
https://journeynorth.org/jnorth/images/userfiles2017/06/1496327046.jpg             1
https://journeynorth.org/jnorth/images/userfiles2017/06/1496327055.jpg             1
https://journeynorth.org/jnorth/images/userfiles2017/06/1496327056.jpg             1
https://journeynorth.org/jnorth/images/userfiles2017/06/1496327063.jpg             1
//journeynorth.org/jnorth/images/userfiles2021/06/1526524404.jpg                   1
Name: image_url, Length: 43474, dtype: int64
9710973     7256
9979617     2054
9976074     1055
9975275      900
10010858     757
            ...
9979243        1
9979242        1
9979240        1
9979216        1
10042557       1
Name: customerid, Length: 42518, dtype: int64
 1.000         73436
-999999.999    64715
 2.000         24169
 3.000         13055
 4.000          7795
               ...
 445.000           1
 1700.000          1
 254.000           1
 429.000           1
 159.000           1
Name: number_old, Length: 557, dtype: int64
0    161550
1     64715
2      1168
Name: flag_number, dtype: int64
Monarch Adult Sighted                          91662
Monarch Adult (FIRST sighted)                  25311
Monarch Larva Sighted                          17373
Monarch, Captive-Reared                        14329
Monarch (OTHER Observations)                   10626
                                               ...
monarch (OTHER Observations)                       1
Monarch (OTHER Observations) READY                 1
Monarch Fall Roost (waiting for permission)        1
Monarch, Captive Reared                            1
Monarch, Captive-reared                            1
Name: species_old, Length: 96, dtype: int64
0    197793
1     29640
Name: flag_species, dtype: int64

In [12]:
# Find null values
for column in JNorth1996_2020_df.columns:
   print(f"Column {column} has {JNorth1996_2020_df[column].isnull().sum()} null values")

Column id has 0 null values
Column sighting_date has 0 null values
Column species has 0 null values
Column number has 0 null values
Column latitude has 0 null values
Column longitude has 0 null values
Column flag_location has 0 null values
Column comments has 0 null values
Column school has 0 null values
Column grade has 0 null values
Column image_url has 0 null values
Column customerid has 0 null values
Column number_old has 0 null values
Column flag_number has 0 null values
Column species_old has 0 null values
Column flag_species has 0 null values

In [13]:
# Find duplicate entries
print(f"Duplicate entries: {JNorth1996_2020_df.duplicated().sum()}")

Duplicate entries: 0

In [14]:
# filtering by type of observation (Monarch First Egg Sighted)
JNorth_Captive_Reared_df = JNorth1996_2020_df[JNorth1996_2020_df['species']=='Monarch, Captive-Reared']
JNorth_Captive_Reared_df.head()

,id,sighting_date,species,number,latitude,longitude,flag_location,comments,school,grade,image_url,customerid,number_old,flag_number,species_old,flag_species
77626,1437487881,2015-07-20,"Monarch, Captive-Reared",1,43.700,-79.417,0,Released first monarch of the season in Etobic...,-999999.999,-999999.999,https://journeynorth.org/jnorth/images/userfil...,9983723,1.000,0,"Monarch, Captive-Reared",0
77761,1437684876,2015-07-23,"Monarch, Captive-Reared",2,37.954,-87.391,0,I just released this female and male monarch. ...,-999999.999,-999999.999,https://journeynorth.org/jnorth/images/userfil...,9976074,2.000,0,"Monarch, Captive-Reared",0
77800,1437757073,2015-07-24,"Monarch, Captive-Reared",1,40.106,-74.354,0,This is my first raised female that I named Fl...,-999999.999,-999999.999,https://journeynorth.org/jnorth/images/userfil...,9992117,1.000,0,"Monarch, Captive-Reared",0
77873,1437920818,2015-07-26,"Monarch, Captive-Reared",1,40.106,-74.354,0,My first released Monarch that was such fun to...,-999999.999,-999999.999,https://journeynorth.org/jnorth/images/userfil...,9992117,-999999.999,1,"Monarch, Captive-Reared",0
77930,1437960064,2015-07-26,"Monarch, Captive-Reared",3,38.510,-90.748,0,This beautiful male came out of his chrysalis ...,-999999.999,-999999.999,https://journeynorth.org/jnorth/images/userfil...,9954412,3.000,0,"Monarch, Captive-Reared",0

In [15]:
JNorth_Captive_Reared_df.to_csv('JNorth_Captive_Reared.csv', header=True, mode='w' )

In [16]:
JNorth_Captive_Reared_df.shape

(14339, 16)

# Format file for geoJSON

In [17]:
JNorth_Captive_Reared_df.drop(['id','flag_location', 'comments','school','grade','image_url','customerid','number_old','flag_number','species_old','flag_species'], axis=1, inplace=True)
JNorth_Captive_Reared_df.head()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

      sighting_date                  species  number  latitude  longitude
77626    2015-07-20  Monarch, Captive-Reared       1    43.700    -79.417
77761    2015-07-23  Monarch, Captive-Reared       2    37.954    -87.391
77800    2015-07-24  Monarch, Captive-Reared       1    40.106    -74.354
77873    2015-07-26  Monarch, Captive-Reared       1    40.106    -74.354
77930    2015-07-26  Monarch, Captive-Reared       3    38.510    -90.748

In [18]:
cols = ['sighting_date', 'species', 'number', 'latitude', 'longitude']

In [19]:
JNorth_Captive_Reared_df =JNorth_Captive_Reared_df.groupby(['sighting_date', 'species', 'latitude', 'longitude']).sum().reset_index()
JNorth_Captive_Reared_df.head()

  sighting_date                  species  latitude  longitude  number
0    2005-10-21  Monarch, Captive-Reared    35.741    -86.538       1
1    2006-02-18  Monarch, Captive-Reared    29.026    -80.927      45
2    2009-08-18  Monarch, Captive-Reared    43.235    -85.327       1
3    2010-09-26  Monarch, Captive-Reared    40.555    -89.972       1
4    2010-10-11  Monarch, Captive-Reared    33.749    -84.388      15

In [20]:
JNorth_Captive_Reared_df.columns.tolist()

['sighting_date', 'species', 'latitude', 'longitude', 'number']

In [21]:
JNorth_Captive_Reared_df.head()

  sighting_date                  species  latitude  longitude  number
0    2005-10-21  Monarch, Captive-Reared    35.741    -86.538       1
1    2006-02-18  Monarch, Captive-Reared    29.026    -80.927      45
2    2009-08-18  Monarch, Captive-Reared    43.235    -85.327       1
3    2010-09-26  Monarch, Captive-Reared    40.555    -89.972       1
4    2010-10-11  Monarch, Captive-Reared    33.749    -84.388      15

In [22]:
JNorth_Captive_Reared_df.shape

(13733, 5)

In [23]:
JNorth_Captive_Reared_year_df = JNorth_Captive_Reared_df
JNorth_Captive_Reared_year_df['year'] = pd.DatetimeIndex(JNorth_Captive_Reared_df['sighting_date']).year

# 2016

In [24]:
JNorth_Captive_Reared_2016_df = JNorth_Captive_Reared_year_df[JNorth_Captive_Reared_year_df['year']==2016]
JNorth_Captive_Reared_2016_df.tail()

     sighting_date                  species  latitude  longitude  number  year
3267    2016-12-16  Monarch, Captive-Reared    28.891    -81.851      10  2016
3268    2016-12-16  Monarch, Captive-Reared    31.252    -89.835      18  2016
3269    2016-12-27  Monarch, Captive-Reared    33.433    -79.121       1  2016
3270    2016-12-28  Monarch, Captive-Reared    33.611   -116.244       1  2016
3271    2016-12-28  Monarch, Captive-Reared    33.612   -116.249       8  2016

In [25]:
JNorth_Captive_Reared_2016_df.shape

(2040, 6)

In [26]:
JNorth_Captive_Reared_2016_df['month'] = pd.DatetimeIndex(JNorth_Captive_Reared_2016_df['sighting_date']).month

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## January

In [27]:
JNorth_Captive_Reared_2016_month_df =pd.DataFrame(JNorth_Captive_Reared_2016_df)
JNorth_Captive_Reared_2016_1_df = JNorth_Captive_Reared_2016_month_df[JNorth_Captive_Reared_2016_month_df['month']==1]
JNorth_Captive_Reared_2016_1_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
1237,2016-01-14,"Monarch, Captive-Reared",29.984,-90.166,1,2016,1
1238,2016-01-14,"Monarch, Captive-Reared",33.683,-118.012,2,2016,1
1239,2016-01-15,"Monarch, Captive-Reared",29.040,-81.383,12,2016,1
1240,2016-01-18,"Monarch, Captive-Reared",30.695,-88.043,1,2016,1
1241,2016-01-27,"Monarch, Captive-Reared",32.416,-80.738,1,2016,1

In [28]:
JNorth_Captive_Reared_2016_1_df.shape

(10, 7)

In [29]:
JNorth_Captive_Reared_2016_1_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [30]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2016_1_df['latitude'] = JNorth_Captive_Reared_2016_1_df['latitude'].astype(float)
JNorth_Captive_Reared_2016_1_df['longitude'] = JNorth_Captive_Reared_2016_1_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [31]:
geojson = df_to_geojson(JNorth_Captive_Reared_2016_1_df, cols)

In [32]:
file = open("JNorth_Captive_Reared_2016_1.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## February

In [33]:
JNorth_Captive_Reared_2016_month_df =pd.DataFrame(JNorth_Captive_Reared_2016_df)
JNorth_Captive_Reared_2016_2_df = JNorth_Captive_Reared_2016_month_df[JNorth_Captive_Reared_2016_month_df['month']==2]
JNorth_Captive_Reared_2016_2_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
1249,2016-02-17,"Monarch, Captive-Reared",30.429,-84.258,1,2016,2
1250,2016-02-18,"Monarch, Captive-Reared",29.736,-98.659,1,2016,2
1251,2016-02-19,"Monarch, Captive-Reared",33.384,-79.178,1,2016,2
1252,2016-02-22,"Monarch, Captive-Reared",30.410,-86.760,2,2016,2
1253,2016-02-25,"Monarch, Captive-Reared",28.802,-81.644,1,2016,2

In [34]:
JNorth_Captive_Reared_2016_2_df.shape

(12, 7)

In [35]:
JNorth_Captive_Reared_2016_2_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [36]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2016_2_df['latitude'] = JNorth_Captive_Reared_2016_2_df['latitude'].astype(float)
JNorth_Captive_Reared_2016_2_df['longitude'] = JNorth_Captive_Reared_2016_2_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [37]:
geojson = df_to_geojson(JNorth_Captive_Reared_2016_2_df, cols)

In [38]:
file = open("JNorth_Captive_Reared_2016_2.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## March

In [39]:
JNorth_Captive_Reared_2016_month_df =pd.DataFrame(JNorth_Captive_Reared_2016_df)
JNorth_Captive_Reared_2016_3_df = JNorth_Captive_Reared_2016_month_df[JNorth_Captive_Reared_2016_month_df['month']==3]
JNorth_Captive_Reared_2016_3_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
1259,2016-03-19,"Monarch, Captive-Reared",29.773,-95.514,9,2016,3
1260,2016-03-22,"Monarch, Captive-Reared",33.774,-117.941,1,2016,3
1261,2016-03-23,"Monarch, Captive-Reared",29.771,-95.549,1,2016,3
1262,2016-03-26,"Monarch, Captive-Reared",31.252,-89.835,25,2016,3
1263,2016-03-31,"Monarch, Captive-Reared",29.951,-90.072,8,2016,3

In [40]:
JNorth_Captive_Reared_2016_3_df.shape

(10, 7)

In [41]:
JNorth_Captive_Reared_2016_3_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [42]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2016_3_df['latitude'] = JNorth_Captive_Reared_2016_3_df['latitude'].astype(float)
JNorth_Captive_Reared_2016_3_df['longitude'] = JNorth_Captive_Reared_2016_3_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [43]:
geojson = df_to_geojson(JNorth_Captive_Reared_2016_3_df, cols)

In [44]:
file = open("JNorth_Captive_Reared_2016_3.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## April

In [45]:
JNorth_Captive_Reared_2016_month_df =pd.DataFrame(JNorth_Captive_Reared_2016_df)
JNorth_Captive_Reared_2016_4_df = JNorth_Captive_Reared_2016_month_df[JNorth_Captive_Reared_2016_month_df['month']==4]
JNorth_Captive_Reared_2016_4_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
1303,2016-04-29,"Monarch, Captive-Reared",30.510,-97.610,1,2016,4
1304,2016-04-29,"Monarch, Captive-Reared",30.688,-88.076,25,2016,4
1305,2016-04-30,"Monarch, Captive-Reared",30.520,-97.610,1,2016,4
1306,2016-04-30,"Monarch, Captive-Reared",30.523,-87.903,1,2016,4
1307,2016-04-30,"Monarch, Captive-Reared",34.840,-92.545,1,2016,4

In [46]:
JNorth_Captive_Reared_2016_4_df.shape

(44, 7)

In [47]:
JNorth_Captive_Reared_2016_4_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [48]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2016_4_df['latitude'] = JNorth_Captive_Reared_2016_4_df['latitude'].astype(float)
JNorth_Captive_Reared_2016_4_df['longitude'] = JNorth_Captive_Reared_2016_4_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [49]:
geojson = df_to_geojson(JNorth_Captive_Reared_2016_4_df, cols)

In [50]:
file = open("JNorth_Captive_Reared_2016_4.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## May

In [51]:
JNorth_Captive_Reared_2016_month_df =pd.DataFrame(JNorth_Captive_Reared_2016_df)
JNorth_Captive_Reared_2016_5_df = JNorth_Captive_Reared_2016_month_df[JNorth_Captive_Reared_2016_month_df['month']==5]
JNorth_Captive_Reared_2016_5_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
1374,2016-05-29,"Monarch, Captive-Reared",39.124,-95.110,2,2016,5
1375,2016-05-29,"Monarch, Captive-Reared",44.996,-92.879,1,2016,5
1376,2016-05-30,"Monarch, Captive-Reared",42.422,-87.857,6,2016,5
1377,2016-05-30,"Monarch, Captive-Reared",44.923,-93.262,1,2016,5
1378,2016-05-31,"Monarch, Captive-Reared",30.512,-97.610,1,2016,5

In [52]:
JNorth_Captive_Reared_2016_5_df.shape

(71, 7)

In [53]:
JNorth_Captive_Reared_2016_5_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [54]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2016_5_df['latitude'] = JNorth_Captive_Reared_2016_5_df['latitude'].astype(float)
JNorth_Captive_Reared_2016_5_df['longitude'] = JNorth_Captive_Reared_2016_5_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [55]:
geojson = df_to_geojson(JNorth_Captive_Reared_2016_5_df, cols)

In [56]:
file = open("JNorth_Captive_Reared_2016_5.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## June

In [57]:
JNorth_Captive_Reared_2016_month_df =pd.DataFrame(JNorth_Captive_Reared_2016_df)
JNorth_Captive_Reared_2016_6_df = JNorth_Captive_Reared_2016_month_df[JNorth_Captive_Reared_2016_month_df['month']==6]
JNorth_Captive_Reared_2016_6_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
1447,2016-06-30,"Monarch, Captive-Reared",30.515,-97.607,1,2016,6
1448,2016-06-30,"Monarch, Captive-Reared",40.570,-84.194,1,2016,6
1449,2016-06-30,"Monarch, Captive-Reared",42.420,-87.850,1,2016,6
1450,2016-06-30,"Monarch, Captive-Reared",44.786,-93.532,1,2016,6
1451,2016-06-30,"Monarch, Captive-Reared",45.048,-93.222,2,2016,6

In [58]:
JNorth_Captive_Reared_2016_6_df.shape

(73, 7)

In [59]:
JNorth_Captive_Reared_2016_6_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [60]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2016_6_df['latitude'] = JNorth_Captive_Reared_2016_6_df['latitude'].astype(float)
JNorth_Captive_Reared_2016_6_df['longitude'] = JNorth_Captive_Reared_2016_6_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [61]:
geojson = df_to_geojson(JNorth_Captive_Reared_2016_6_df, cols)

In [62]:
file = open("JNorth_Captive_Reared_2016_6.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## July

In [63]:
JNorth_Captive_Reared_2016_month_df =pd.DataFrame(JNorth_Captive_Reared_2016_df)
JNorth_Captive_Reared_2016_7_df = JNorth_Captive_Reared_2016_month_df[JNorth_Captive_Reared_2016_month_df['month']==7]
JNorth_Captive_Reared_2016_7_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
1589,2016-07-31,"Monarch, Captive-Reared",42.230,-82.817,1,2016,7
1590,2016-07-31,"Monarch, Captive-Reared",43.075,-85.612,1,2016,7
1591,2016-07-31,"Monarch, Captive-Reared",43.397,-81.026,4,2016,7
1592,2016-07-31,"Monarch, Captive-Reared",44.278,-88.272,3,2016,7
1593,2016-07-31,"Monarch, Captive-Reared",45.059,-93.217,3,2016,7

In [64]:
JNorth_Captive_Reared_2016_7_df.shape

(142, 7)

In [65]:
JNorth_Captive_Reared_2016_7_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [66]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2016_7_df['latitude'] = JNorth_Captive_Reared_2016_7_df['latitude'].astype(float)
JNorth_Captive_Reared_2016_7_df['longitude'] = JNorth_Captive_Reared_2016_7_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [67]:
geojson = df_to_geojson(JNorth_Captive_Reared_2016_7_df, cols)

In [68]:
file = open("JNorth_Captive_Reared_2016_7.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## August

In [69]:
JNorth_Captive_Reared_2016_month_df =pd.DataFrame(JNorth_Captive_Reared_2016_df)
JNorth_Captive_Reared_2016_8_df = JNorth_Captive_Reared_2016_month_df[JNorth_Captive_Reared_2016_month_df['month']==8]
JNorth_Captive_Reared_2016_8_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
2042,2016-08-31,"Monarch, Captive-Reared",44.869,-68.871,7,2016,8
2043,2016-08-31,"Monarch, Captive-Reared",45.049,-93.222,3,2016,8
2044,2016-08-31,"Monarch, Captive-Reared",45.050,-93.157,3,2016,8
2045,2016-08-31,"Monarch, Captive-Reared",45.122,-95.049,3,2016,8
2046,2016-08-31,"Monarch, Captive-Reared",46.190,-79.504,474,2016,8

In [70]:
JNorth_Captive_Reared_2016_8_df.shape

(453, 7)

In [71]:
JNorth_Captive_Reared_2016_8_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [72]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2016_8_df['latitude'] = JNorth_Captive_Reared_2016_8_df['latitude'].astype(float)
JNorth_Captive_Reared_2016_8_df['longitude'] = JNorth_Captive_Reared_2016_8_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [73]:
geojson = df_to_geojson(JNorth_Captive_Reared_2016_8_df, cols)

In [74]:
file = open("JNorth_Captive_Reared_2016_8.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## September

In [75]:
JNorth_Captive_Reared_2016_month_df =pd.DataFrame(JNorth_Captive_Reared_2016_df)
JNorth_Captive_Reared_2016_9_df = JNorth_Captive_Reared_2016_month_df[JNorth_Captive_Reared_2016_month_df['month']==9]
JNorth_Captive_Reared_2016_9_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
2874,2016-09-30,"Monarch, Captive-Reared",42.174,-82.814,1,2016,9
2875,2016-09-30,"Monarch, Captive-Reared",42.881,-70.847,1,2016,9
2876,2016-09-30,"Monarch, Captive-Reared",43.397,-81.026,98,2016,9
2877,2016-09-30,"Monarch, Captive-Reared",43.640,-79.520,4,2016,9
2878,2016-09-30,"Monarch, Captive-Reared",45.140,-92.883,10,2016,9

In [76]:
JNorth_Captive_Reared_2016_9_df.shape

(832, 7)

In [77]:
JNorth_Captive_Reared_2016_9_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [78]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2016_9_df['latitude'] = JNorth_Captive_Reared_2016_9_df['latitude'].astype(float)
JNorth_Captive_Reared_2016_9_df['longitude'] = JNorth_Captive_Reared_2016_9_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [79]:
geojson = df_to_geojson(JNorth_Captive_Reared_2016_9_df, cols)

In [80]:
file = open("JNorth_Captive_Reared_2016_9.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## October

In [81]:
JNorth_Captive_Reared_2016_month_df =pd.DataFrame(JNorth_Captive_Reared_2016_df)
JNorth_Captive_Reared_2016_10_df = JNorth_Captive_Reared_2016_month_df[JNorth_Captive_Reared_2016_month_df['month']==10]
JNorth_Captive_Reared_2016_10_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
3190,2016-10-31,"Monarch, Captive-Reared",30.371,-97.749,3,2016,10
3191,2016-10-31,"Monarch, Captive-Reared",34.186,-101.718,2,2016,10
3192,2016-10-31,"Monarch, Captive-Reared",35.433,-82.521,3,2016,10
3193,2016-10-31,"Monarch, Captive-Reared",37.134,-93.348,1,2016,10
3194,2016-10-31,"Monarch, Captive-Reared",40.812,-74.124,3,2016,10

In [82]:
JNorth_Captive_Reared_2016_10_df.shape

(316, 7)

In [83]:
JNorth_Captive_Reared_2016_10_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [84]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2016_10_df['latitude'] = JNorth_Captive_Reared_2016_10_df['latitude'].astype(float)
JNorth_Captive_Reared_2016_10_df['longitude'] = JNorth_Captive_Reared_2016_10_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [85]:
geojson = df_to_geojson(JNorth_Captive_Reared_2016_10_df, cols)

In [86]:
file = open("JNorth_Captive_Reared_2016_10.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## November

In [87]:
JNorth_Captive_Reared_2016_month_df =pd.DataFrame(JNorth_Captive_Reared_2016_df)
JNorth_Captive_Reared_2016_11_df = JNorth_Captive_Reared_2016_month_df[JNorth_Captive_Reared_2016_month_df['month']==11]
JNorth_Captive_Reared_2016_11_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
3247,2016-11-28,"Monarch, Captive-Reared",32.830,-79.868,1,2016,11
3248,2016-11-28,"Monarch, Captive-Reared",38.676,-121.873,3,2016,11
3249,2016-11-29,"Monarch, Captive-Reared",32.830,-79.868,1,2016,11
3250,2016-11-29,"Monarch, Captive-Reared",38.676,-121.873,7,2016,11
3251,2016-11-30,"Monarch, Captive-Reared",32.830,-79.868,1,2016,11

In [88]:
JNorth_Captive_Reared_2016_11_df.shape

(57, 7)

In [89]:
JNorth_Captive_Reared_2016_11_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [90]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2016_11_df['latitude'] = JNorth_Captive_Reared_2016_11_df['latitude'].astype(float)
JNorth_Captive_Reared_2016_11_df['longitude'] = JNorth_Captive_Reared_2016_11_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [91]:
geojson = df_to_geojson(JNorth_Captive_Reared_2016_11_df, cols)

In [92]:
file = open("JNorth_Captive_Reared_2016_11.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## December

In [93]:
JNorth_Captive_Reared_2016_month_df =pd.DataFrame(JNorth_Captive_Reared_2016_df)
JNorth_Captive_Reared_2016_12_df = JNorth_Captive_Reared_2016_month_df[JNorth_Captive_Reared_2016_month_df['month']==12]
JNorth_Captive_Reared_2016_12_df.tail()

,sighting_date,species,latitude,longitude,number,year,month
3267,2016-12-16,"Monarch, Captive-Reared",28.891,-81.851,10,2016,12
3268,2016-12-16,"Monarch, Captive-Reared",31.252,-89.835,18,2016,12
3269,2016-12-27,"Monarch, Captive-Reared",33.433,-79.121,1,2016,12
3270,2016-12-28,"Monarch, Captive-Reared",33.611,-116.244,1,2016,12
3271,2016-12-28,"Monarch, Captive-Reared",33.612,-116.249,8,2016,12

In [94]:
JNorth_Captive_Reared_2016_12_df.shape

(20, 7)

In [95]:
JNorth_Captive_Reared_2016_12_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [96]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2016_12_df['latitude'] = JNorth_Captive_Reared_2016_12_df['latitude'].astype(float)
JNorth_Captive_Reared_2016_12_df['longitude'] = JNorth_Captive_Reared_2016_12_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [97]:
geojson = df_to_geojson(JNorth_Captive_Reared_2016_12_df, cols)

In [98]:
file = open("JNorth_Captive_Reared_2016_12.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# 2017

In [99]:
JNorth_Captive_Reared_2017_df = JNorth_Captive_Reared_year_df[JNorth_Captive_Reared_year_df['year']==2017]
JNorth_Captive_Reared_2017_df.tail()

     sighting_date                  species  latitude  longitude  number  year
5741    2017-12-27  Monarch, Captive-Reared    28.566    -81.132      13  2017
5742    2017-12-28  Monarch, Captive-Reared    38.676   -121.873       1  2017
5743    2017-12-29  Monarch, Captive-Reared    38.676   -121.872       4  2017
5744    2017-12-30  Monarch, Captive-Reared    38.676   -121.873       3  2017
5745    2017-12-31  Monarch, Captive-Reared    38.676   -121.873       8  2017

In [100]:
JNorth_Captive_Reared_2017_df.shape

(2474, 6)

In [101]:
JNorth_Captive_Reared_2017_df.drop(['year'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [102]:
JNorth_Captive_Reared_2017_df.tail

<bound method NDFrame.tail of      sighting_date                  species  latitude  longitude  number
3272    2017-01-01  Monarch, Captive-Reared    30.012    -90.180       1
3273    2017-01-01  Monarch, Captive-Reared    32.597    -96.895       6
3274    2017-01-01  Monarch, Captive-Reared    32.764   -111.600       2
3275    2017-01-02  Monarch, Captive-Reared    30.012    -90.180       1
3276    2017-01-07  Monarch, Captive-Reared    34.108   -117.864       1
...            ...                      ...       ...        ...     ...
5741    2017-12-27  Monarch, Captive-Reared    28.566    -81.132      13
5742    2017-12-28  Monarch, Captive-Reared    38.676   -121.873       1
5743    2017-12-29  Monarch, Captive-Reared    38.676   -121.872       4
5744    2017-12-30  Monarch, Captive-Reared    38.676   -121.873       3
5745    2017-12-31  Monarch, Captive-Reared    38.676   -121.873       8

[2474 rows x 5 columns]>

In [103]:
JNorth_Captive_Reared_2017_df['month'] = pd.DatetimeIndex(JNorth_Captive_Reared_2017_df['sighting_date']).month

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## January

In [104]:
JNorth_Captive_Reared_2017_month_df =pd.DataFrame(JNorth_Captive_Reared_2017_df)
JNorth_Captive_Reared_2017_1_df = JNorth_Captive_Reared_2017_month_df[JNorth_Captive_Reared_2017_month_df['month']==1]
JNorth_Captive_Reared_2017_1_df.tail()

,sighting_date,species,latitude,longitude,number,month
3285,2017-01-23,"Monarch, Captive-Reared",32.221,-80.675,2,1
3286,2017-01-23,"Monarch, Captive-Reared",32.597,-96.896,1,1
3287,2017-01-23,"Monarch, Captive-Reared",37.338,-121.886,2,1
3288,2017-01-26,"Monarch, Captive-Reared",27.974,-82.764,1,1
3289,2017-01-26,"Monarch, Captive-Reared",28.000,-82.751,1,1

In [105]:
JNorth_Captive_Reared_2017_1_df.shape

(18, 6)

In [106]:
JNorth_Captive_Reared_2017_1_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [107]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2017_1_df['latitude'] = JNorth_Captive_Reared_2017_1_df['latitude'].astype(float)
JNorth_Captive_Reared_2017_1_df['longitude'] = JNorth_Captive_Reared_2017_1_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [108]:
geojson = df_to_geojson(JNorth_Captive_Reared_2017_1_df, cols)

In [109]:
file = open("JNorth_Captive_Reared_2017_1.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## February

In [110]:
JNorth_Captive_Reared_2017_month_df =pd.DataFrame(JNorth_Captive_Reared_2017_df)
JNorth_Captive_Reared_2017_2_df = JNorth_Captive_Reared_2017_month_df[JNorth_Captive_Reared_2017_month_df['month']==2]
JNorth_Captive_Reared_2017_2_df.tail()

,sighting_date,species,latitude,longitude,number,month
3302,2017-02-14,"Monarch, Captive-Reared",25.578,-80.338,1,2
3303,2017-02-15,"Monarch, Captive-Reared",32.221,-80.675,1,2
3304,2017-02-18,"Monarch, Captive-Reared",30.336,-97.743,1,2
3305,2017-02-28,"Monarch, Captive-Reared",30.080,-95.417,10,2
3306,2017-02-28,"Monarch, Captive-Reared",30.241,-81.738,5,2

In [111]:
JNorth_Captive_Reared_2017_2_df.shape

(17, 6)

In [112]:
JNorth_Captive_Reared_2017_2_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [113]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2017_2_df['latitude'] = JNorth_Captive_Reared_2017_2_df['latitude'].astype(float)
JNorth_Captive_Reared_2017_2_df['longitude'] = JNorth_Captive_Reared_2017_2_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [114]:
geojson = df_to_geojson(JNorth_Captive_Reared_2017_2_df, cols)

In [115]:
file = open("JNorth_Captive_Reared_2017_2.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## March

In [116]:
JNorth_Captive_Reared_2017_month_df =pd.DataFrame(JNorth_Captive_Reared_2017_df)
JNorth_Captive_Reared_2017_3_df = JNorth_Captive_Reared_2017_month_df[JNorth_Captive_Reared_2017_month_df['month']==3]
JNorth_Captive_Reared_2017_3_df.tail()

,sighting_date,species,latitude,longitude,number,month
3317,2017-03-22,"Monarch, Captive-Reared",32.221,-80.676,2,3
3318,2017-03-23,"Monarch, Captive-Reared",25.983,-80.382,4,3
3319,2017-03-25,"Monarch, Captive-Reared",30.161,-81.633,1,3
3320,2017-03-27,"Monarch, Captive-Reared",32.221,-80.675,1,3
3321,2017-03-29,"Monarch, Captive-Reared",32.805,-116.955,1,3

In [117]:
JNorth_Captive_Reared_2017_3_df.shape

(15, 6)

In [118]:
JNorth_Captive_Reared_2017_3_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [119]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2017_3_df['latitude'] = JNorth_Captive_Reared_2017_3_df['latitude'].astype(float)
JNorth_Captive_Reared_2017_3_df['longitude'] = JNorth_Captive_Reared_2017_3_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [120]:
geojson = df_to_geojson(JNorth_Captive_Reared_2017_3_df, cols)

In [121]:
file = open("JNorth_Captive_Reared_2017_3.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## April

In [122]:
JNorth_Captive_Reared_2017_month_df =pd.DataFrame(JNorth_Captive_Reared_2017_df)
JNorth_Captive_Reared_2017_4_df = JNorth_Captive_Reared_2017_month_df[JNorth_Captive_Reared_2017_month_df['month']==4]
JNorth_Captive_Reared_2017_4_df.tail()

,sighting_date,species,latitude,longitude,number,month
3354,2017-04-29,"Monarch, Captive-Reared",28.917,-82.612,2,4
3355,2017-04-29,"Monarch, Captive-Reared",34.141,-118.213,1,4
3356,2017-04-29,"Monarch, Captive-Reared",35.533,-97.599,8,4
3357,2017-04-30,"Monarch, Captive-Reared",28.917,-82.612,1,4
3358,2017-04-30,"Monarch, Captive-Reared",33.205,-94.845,1,4

In [123]:
JNorth_Captive_Reared_2017_4_df.shape

(37, 6)

In [124]:
JNorth_Captive_Reared_2017_4_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [125]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2017_4_df['latitude'] = JNorth_Captive_Reared_2017_4_df['latitude'].astype(float)
JNorth_Captive_Reared_2017_4_df['longitude'] = JNorth_Captive_Reared_2017_4_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [126]:
geojson = df_to_geojson(JNorth_Captive_Reared_2017_4_df, cols)

In [127]:
file = open("JNorth_Captive_Reared_2017_4.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## May

In [128]:
JNorth_Captive_Reared_2017_month_df =pd.DataFrame(JNorth_Captive_Reared_2017_df)
JNorth_Captive_Reared_2017_5_df = JNorth_Captive_Reared_2017_month_df[JNorth_Captive_Reared_2017_month_df['month']==5]
JNorth_Captive_Reared_2017_5_df.tail()

,sighting_date,species,latitude,longitude,number,month
3529,2017-05-31,"Monarch, Captive-Reared",37.392,-77.650,1,5
3530,2017-05-31,"Monarch, Captive-Reared",37.581,-77.518,7,5
3531,2017-05-31,"Monarch, Captive-Reared",37.880,-97.215,1,5
3532,2017-05-31,"Monarch, Captive-Reared",39.049,-77.368,1,5
3533,2017-05-31,"Monarch, Captive-Reared",42.402,-88.016,24,5

In [129]:
JNorth_Captive_Reared_2017_5_df.shape

(175, 6)

In [130]:
JNorth_Captive_Reared_2017_5_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [131]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2017_5_df['latitude'] = JNorth_Captive_Reared_2017_5_df['latitude'].astype(float)
JNorth_Captive_Reared_2017_5_df['longitude'] = JNorth_Captive_Reared_2017_5_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [132]:
geojson = df_to_geojson(JNorth_Captive_Reared_2017_5_df, cols)

In [133]:
file = open("JNorth_Captive_Reared_2017_5.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## June

In [134]:
JNorth_Captive_Reared_2017_month_df =pd.DataFrame(JNorth_Captive_Reared_2017_df)
JNorth_Captive_Reared_2017_6_df = JNorth_Captive_Reared_2017_month_df[JNorth_Captive_Reared_2017_month_df['month']==6]
JNorth_Captive_Reared_2017_6_df.tail()

,sighting_date,species,latitude,longitude,number,month
3706,2017-06-30,"Monarch, Captive-Reared",44.915,-93.276,2,6
3707,2017-06-30,"Monarch, Captive-Reared",44.950,-93.231,1,6
3708,2017-06-30,"Monarch, Captive-Reared",45.039,-93.185,5,6
3709,2017-06-30,"Monarch, Captive-Reared",45.049,-93.222,4,6
3710,2017-06-30,"Monarch, Captive-Reared",45.092,-87.165,1,6

In [135]:
JNorth_Captive_Reared_2017_6_df.shape

(177, 6)

In [136]:
JNorth_Captive_Reared_2017_6_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [137]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2017_6_df['latitude'] = JNorth_Captive_Reared_2017_6_df['latitude'].astype(float)
JNorth_Captive_Reared_2017_6_df['longitude'] = JNorth_Captive_Reared_2017_6_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [138]:
geojson = df_to_geojson(JNorth_Captive_Reared_2017_6_df, cols)

In [139]:
file = open("JNorth_Captive_Reared_2017_6.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## July

In [140]:
JNorth_Captive_Reared_2017_month_df =pd.DataFrame(JNorth_Captive_Reared_2017_df)
JNorth_Captive_Reared_2017_7_df = JNorth_Captive_Reared_2017_month_df[JNorth_Captive_Reared_2017_month_df['month']==7]
JNorth_Captive_Reared_2017_7_df.tail()

,sighting_date,species,latitude,longitude,number,month
3986,2017-07-31,"Monarch, Captive-Reared",43.782,-74.265,1,7
3987,2017-07-31,"Monarch, Captive-Reared",44.059,-79.461,12,7
3988,2017-07-31,"Monarch, Captive-Reared",45.049,-93.222,85,7
3989,2017-07-31,"Monarch, Captive-Reared",45.092,-87.165,1,7
3990,2017-07-31,"Monarch, Captive-Reared",46.207,-119.769,1,7

In [141]:
JNorth_Captive_Reared_2017_7_df.shape

(280, 6)

In [142]:
JNorth_Captive_Reared_2017_7_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [143]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2017_7_df['latitude'] = JNorth_Captive_Reared_2017_7_df['latitude'].astype(float)
JNorth_Captive_Reared_2017_7_df['longitude'] = JNorth_Captive_Reared_2017_7_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [144]:
geojson = df_to_geojson(JNorth_Captive_Reared_2017_7_df, cols)

In [145]:
file = open("JNorth_Captive_Reared_2017_7.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## August

In [146]:
JNorth_Captive_Reared_2017_month_df =pd.DataFrame(JNorth_Captive_Reared_2017_df)
JNorth_Captive_Reared_2017_8_df = JNorth_Captive_Reared_2017_month_df[JNorth_Captive_Reared_2017_month_df['month']==8]
JNorth_Captive_Reared_2017_8_df.tail()

,sighting_date,species,latitude,longitude,number,month
4566,2017-08-31,"Monarch, Captive-Reared",44.916,-93.315,4,8
4567,2017-08-31,"Monarch, Captive-Reared",44.944,-93.160,1,8
4568,2017-08-31,"Monarch, Captive-Reared",45.049,-93.223,2,8
4569,2017-08-31,"Monarch, Captive-Reared",45.729,-92.269,1,8
4570,2017-08-31,"Monarch, Captive-Reared",46.344,-83.922,1,8

In [147]:
JNorth_Captive_Reared_2017_8_df.shape

(580, 6)

In [148]:
JNorth_Captive_Reared_2017_8_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [149]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2017_8_df['latitude'] = JNorth_Captive_Reared_2017_8_df['latitude'].astype(float)
JNorth_Captive_Reared_2017_8_df['longitude'] = JNorth_Captive_Reared_2017_8_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [150]:
geojson = df_to_geojson(JNorth_Captive_Reared_2017_8_df, cols)

In [151]:
file = open("JNorth_Captive_Reared_2017_8.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## September

In [152]:
JNorth_Captive_Reared_2017_month_df =pd.DataFrame(JNorth_Captive_Reared_2017_df)
JNorth_Captive_Reared_2017_9_df = JNorth_Captive_Reared_2017_month_df[JNorth_Captive_Reared_2017_month_df['month']==9]
JNorth_Captive_Reared_2017_9_df.tail()

,sighting_date,species,latitude,longitude,number,month
5376,2017-09-30,"Monarch, Captive-Reared",42.031,-93.632,1,9
5377,2017-09-30,"Monarch, Captive-Reared",42.220,-82.874,2,9
5378,2017-09-30,"Monarch, Captive-Reared",42.972,-81.285,7,9
5379,2017-09-30,"Monarch, Captive-Reared",43.384,-70.544,1,9
5380,2017-09-30,"Monarch, Captive-Reared",45.120,-79.707,3,9

In [153]:
JNorth_Captive_Reared_2017_9_df.shape

(810, 6)

In [154]:
JNorth_Captive_Reared_2017_9_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [155]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2017_9_df['latitude'] = JNorth_Captive_Reared_2017_9_df['latitude'].astype(float)
JNorth_Captive_Reared_2017_9_df['longitude'] = JNorth_Captive_Reared_2017_9_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [156]:
geojson = df_to_geojson(JNorth_Captive_Reared_2017_9_df, cols)

In [157]:
file = open("JNorth_Captive_Reared_2017_9.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## October

In [158]:
JNorth_Captive_Reared_2017_month_df =pd.DataFrame(JNorth_Captive_Reared_2017_df)
JNorth_Captive_Reared_2017_10_df = JNorth_Captive_Reared_2017_month_df[JNorth_Captive_Reared_2017_month_df['month']==10]
JNorth_Captive_Reared_2017_10_df.tail()

,sighting_date,species,latitude,longitude,number,month
5654,2017-10-31,"Monarch, Captive-Reared",31.214,-82.354,5,10
5655,2017-10-31,"Monarch, Captive-Reared",33.214,-96.937,1,10
5656,2017-10-31,"Monarch, Captive-Reared",33.528,-85.961,4,10
5657,2017-10-31,"Monarch, Captive-Reared",34.548,-92.232,30,10
5658,2017-10-31,"Monarch, Captive-Reared",38.676,-121.873,3,10

In [159]:
JNorth_Captive_Reared_2017_10_df.shape

(278, 6)

In [160]:
JNorth_Captive_Reared_2017_10_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [161]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2017_10_df['latitude'] = JNorth_Captive_Reared_2017_10_df['latitude'].astype(float)
JNorth_Captive_Reared_2017_10_df['longitude'] = JNorth_Captive_Reared_2017_10_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [162]:
geojson = df_to_geojson(JNorth_Captive_Reared_2017_10_df, cols)

In [163]:
file = open("JNorth_Captive_Reared_2017_10.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## November

In [164]:
JNorth_Captive_Reared_2017_month_df =pd.DataFrame(JNorth_Captive_Reared_2017_df)
JNorth_Captive_Reared_2017_11_df = JNorth_Captive_Reared_2017_month_df[JNorth_Captive_Reared_2017_month_df['month']==11]
JNorth_Captive_Reared_2017_11_df.tail()

,sighting_date,species,latitude,longitude,number,month
5720,2017-11-25,"Monarch, Captive-Reared",38.676,-121.873,1,11
5721,2017-11-26,"Monarch, Captive-Reared",31.214,-82.354,1,11
5722,2017-11-26,"Monarch, Captive-Reared",38.676,-121.873,2,11
5723,2017-11-28,"Monarch, Captive-Reared",38.676,-121.873,1,11
5724,2017-11-29,"Monarch, Captive-Reared",31.214,-82.354,1,11

In [165]:
JNorth_Captive_Reared_2017_11_df.shape

(66, 6)

In [166]:
JNorth_Captive_Reared_2017_11_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [167]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2017_11_df['latitude'] = JNorth_Captive_Reared_2017_11_df['latitude'].astype(float)
JNorth_Captive_Reared_2017_11_df['longitude'] = JNorth_Captive_Reared_2017_11_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [168]:
geojson = df_to_geojson(JNorth_Captive_Reared_2017_11_df, cols)

In [169]:
file = open("JNorth_Captive_Reared_2017_11.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## December

In [170]:
JNorth_Captive_Reared_2017_month_df =pd.DataFrame(JNorth_Captive_Reared_2017_df)
JNorth_Captive_Reared_2017_12_df = JNorth_Captive_Reared_2017_month_df[JNorth_Captive_Reared_2017_month_df['month']==12]
JNorth_Captive_Reared_2017_12_df.tail()

,sighting_date,species,latitude,longitude,number,month
5741,2017-12-27,"Monarch, Captive-Reared",28.566,-81.132,13,12
5742,2017-12-28,"Monarch, Captive-Reared",38.676,-121.873,1,12
5743,2017-12-29,"Monarch, Captive-Reared",38.676,-121.872,4,12
5744,2017-12-30,"Monarch, Captive-Reared",38.676,-121.873,3,12
5745,2017-12-31,"Monarch, Captive-Reared",38.676,-121.873,8,12

In [171]:
JNorth_Captive_Reared_2017_12_df.shape

(21, 6)

In [172]:
JNorth_Captive_Reared_2017_12_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [173]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2017_12_df['latitude'] = JNorth_Captive_Reared_2017_12_df['latitude'].astype(float)
JNorth_Captive_Reared_2017_12_df['longitude'] = JNorth_Captive_Reared_2017_12_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [174]:
geojson = df_to_geojson(JNorth_Captive_Reared_2017_12_df, cols)

In [175]:
file = open("JNorth_Captive_Reared_2017_12.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# 2018

In [176]:
JNorth_Captive_Reared_2018_df = JNorth_Captive_Reared_year_df[JNorth_Captive_Reared_year_df['year']==2018]
JNorth_Captive_Reared_2018_df.tail()

     sighting_date                  species  latitude  longitude  number  year
9021    2018-11-30  Monarch, Captive-Reared    33.884   -118.307       8  2018
9022    2018-12-15  Monarch, Captive-Reared    33.867   -118.384       1  2018
9023    2018-12-23  Monarch, Captive-Reared    32.743   -117.031       2  2018
9024    2018-12-27  Monarch, Captive-Reared    27.651    -97.298       3  2018
9025    2018-12-30  Monarch, Captive-Reared    31.214    -82.354       4  2018

In [177]:
JNorth_Captive_Reared_2018_df.shape

(3280, 6)

In [178]:
JNorth_Captive_Reared_2018_df.drop(['year'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [179]:
JNorth_Captive_Reared_2018_df.tail

<bound method NDFrame.tail of      sighting_date                  species  latitude  longitude  number
5746    2018-01-01  Monarch, Captive-Reared    27.336    -82.531      30
5747    2018-01-01  Monarch, Captive-Reared    29.707    -95.564      20
5748    2018-01-01  Monarch, Captive-Reared    30.476    -90.101       1
5749    2018-01-01  Monarch, Captive-Reared    38.676   -121.873       5
5750    2018-01-09  Monarch, Captive-Reared    38.676   -121.873       4
...            ...                      ...       ...        ...     ...
9021    2018-11-30  Monarch, Captive-Reared    33.884   -118.307       8
9022    2018-12-15  Monarch, Captive-Reared    33.867   -118.384       1
9023    2018-12-23  Monarch, Captive-Reared    32.743   -117.031       2
9024    2018-12-27  Monarch, Captive-Reared    27.651    -97.298       3
9025    2018-12-30  Monarch, Captive-Reared    31.214    -82.354       4

[3280 rows x 5 columns]>

In [180]:
JNorth_Captive_Reared_2018_df['month'] = pd.DatetimeIndex(JNorth_Captive_Reared_2018_df['sighting_date']).month

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## January

In [181]:
JNorth_Captive_Reared_2018_month_df =pd.DataFrame(JNorth_Captive_Reared_2018_df)
JNorth_Captive_Reared_2018_1_df = JNorth_Captive_Reared_2018_month_df[JNorth_Captive_Reared_2018_month_df['month']==1]
JNorth_Captive_Reared_2018_1_df.tail()

,sighting_date,species,latitude,longitude,number,month
5757,2018-01-17,"Monarch, Captive-Reared",38.675,-121.873,1,1
5758,2018-01-22,"Monarch, Captive-Reared",30.691,-81.917,1,1
5759,2018-01-22,"Monarch, Captive-Reared",38.676,-121.873,5,1
5760,2018-01-25,"Monarch, Captive-Reared",29.584,-81.208,3,1
5761,2018-01-25,"Monarch, Captive-Reared",38.675,-121.873,1,1

In [182]:
JNorth_Captive_Reared_2018_1_df.shape

(16, 6)

In [183]:
JNorth_Captive_Reared_2018_1_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [184]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2018_1_df['latitude'] = JNorth_Captive_Reared_2018_1_df['latitude'].astype(float)
JNorth_Captive_Reared_2018_1_df['longitude'] = JNorth_Captive_Reared_2018_1_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [185]:
geojson = df_to_geojson(JNorth_Captive_Reared_2018_1_df, cols)

In [186]:
file = open("JNorth_Captive_Reared_2018_1.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## February

In [187]:
JNorth_Captive_Reared_2018_month_df =pd.DataFrame(JNorth_Captive_Reared_2018_df)
JNorth_Captive_Reared_2018_2_df = JNorth_Captive_Reared_2018_month_df[JNorth_Captive_Reared_2018_month_df['month']==2]
JNorth_Captive_Reared_2018_2_df.tail()

,sighting_date,species,latitude,longitude,number,month
5776,2018-02-22,"Monarch, Captive-Reared",38.675,-121.873,3,2
5777,2018-02-23,"Monarch, Captive-Reared",29.001,-82.151,2,2
5778,2018-02-24,"Monarch, Captive-Reared",28.051,-81.674,3,2
5779,2018-02-28,"Monarch, Captive-Reared",29.641,-95.668,1,2
5780,2018-02-28,"Monarch, Captive-Reared",29.641,-95.667,1,2

In [188]:
JNorth_Captive_Reared_2018_2_df.shape

(19, 6)

In [189]:
JNorth_Captive_Reared_2018_2_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [190]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2018_2_df['latitude'] = JNorth_Captive_Reared_2018_2_df['latitude'].astype(float)
JNorth_Captive_Reared_2018_2_df['longitude'] = JNorth_Captive_Reared_2018_2_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [191]:
geojson = df_to_geojson(JNorth_Captive_Reared_2018_2_df, cols)

In [192]:
file = open("JNorth_Captive_Reared_2018_2.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## March

In [193]:
JNorth_Captive_Reared_2018_month_df =pd.DataFrame(JNorth_Captive_Reared_2018_df)
JNorth_Captive_Reared_2018_3_df = JNorth_Captive_Reared_2018_month_df[JNorth_Captive_Reared_2018_month_df['month']==3]
JNorth_Captive_Reared_2018_3_df.tail()

,sighting_date,species,latitude,longitude,number,month
5786,2018-03-15,"Monarch, Captive-Reared",27.447,-80.326,3,3
5787,2018-03-23,"Monarch, Captive-Reared",33.610,-116.250,19,3
5788,2018-03-29,"Monarch, Captive-Reared",26.264,-81.714,6,3
5789,2018-03-30,"Monarch, Captive-Reared",30.408,-86.990,31,3
5790,2018-03-31,"Monarch, Captive-Reared",29.187,-82.140,3,3

In [194]:
JNorth_Captive_Reared_2018_3_df.shape

(10, 6)

In [195]:
JNorth_Captive_Reared_2018_3_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [196]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2018_3_df['latitude'] = JNorth_Captive_Reared_2018_3_df['latitude'].astype(float)
JNorth_Captive_Reared_2018_3_df['longitude'] = JNorth_Captive_Reared_2018_3_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [197]:
geojson = df_to_geojson(JNorth_Captive_Reared_2018_3_df, cols)

In [198]:
file = open("JNorth_Captive_Reared_2018_3.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## April

In [199]:
JNorth_Captive_Reared_2018_month_df =pd.DataFrame(JNorth_Captive_Reared_2018_df)
JNorth_Captive_Reared_2018_4_df = JNorth_Captive_Reared_2018_month_df[JNorth_Captive_Reared_2018_month_df['month']==4]
JNorth_Captive_Reared_2018_4_df.tail()

,sighting_date,species,latitude,longitude,number,month
5829,2018-04-29,"Monarch, Captive-Reared",30.323,-81.683,5,4
5830,2018-04-30,"Monarch, Captive-Reared",29.009,-82.162,58,4
5831,2018-04-30,"Monarch, Captive-Reared",30.323,-81.683,4,4
5832,2018-04-30,"Monarch, Captive-Reared",30.411,-86.912,4,4
5833,2018-04-30,"Monarch, Captive-Reared",34.096,-118.106,4,4

In [200]:
JNorth_Captive_Reared_2018_4_df.shape

(43, 6)

In [201]:
JNorth_Captive_Reared_2018_4_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [202]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2018_4_df['latitude'] = JNorth_Captive_Reared_2018_4_df['latitude'].astype(float)
JNorth_Captive_Reared_2018_4_df['longitude'] = JNorth_Captive_Reared_2018_4_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [203]:
geojson = df_to_geojson(JNorth_Captive_Reared_2018_4_df, cols)

In [204]:
file = open("JNorth_Captive_Reared_2018_4.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## May

In [205]:
JNorth_Captive_Reared_2018_month_df =pd.DataFrame(JNorth_Captive_Reared_2018_df)
JNorth_Captive_Reared_2018_5_df = JNorth_Captive_Reared_2018_month_df[JNorth_Captive_Reared_2018_month_df['month']==5]
JNorth_Captive_Reared_2018_5_df.tail()

,sighting_date,species,latitude,longitude,number,month
5946,2018-05-30,"Monarch, Captive-Reared",34.134,-117.853,2,5
5947,2018-05-30,"Monarch, Captive-Reared",36.126,-86.795,1,5
5948,2018-05-31,"Monarch, Captive-Reared",35.982,-95.804,2,5
5949,2018-05-31,"Monarch, Captive-Reared",41.809,-88.011,2,5
5950,2018-05-31,"Monarch, Captive-Reared",45.033,-93.223,6,5

In [206]:
JNorth_Captive_Reared_2018_5_df.shape

(117, 6)

In [207]:
JNorth_Captive_Reared_2018_5_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [208]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2018_5_df['latitude'] = JNorth_Captive_Reared_2018_5_df['latitude'].astype(float)
JNorth_Captive_Reared_2018_5_df['longitude'] = JNorth_Captive_Reared_2018_5_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [209]:
geojson = df_to_geojson(JNorth_Captive_Reared_2018_5_df, cols)

In [210]:
file = open("JNorth_Captive_Reared_2018_5.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## June

In [211]:
JNorth_Captive_Reared_2018_month_df =pd.DataFrame(JNorth_Captive_Reared_2018_df)
JNorth_Captive_Reared_2018_6_df = JNorth_Captive_Reared_2018_month_df[JNorth_Captive_Reared_2018_month_df['month']==6]
JNorth_Captive_Reared_2018_6_df.tail()

,sighting_date,species,latitude,longitude,number,month
6158,2018-06-30,"Monarch, Captive-Reared",41.564,-87.512,2,6
6159,2018-06-30,"Monarch, Captive-Reared",43.397,-81.026,4,6
6160,2018-06-30,"Monarch, Captive-Reared",44.944,-93.160,2,6
6161,2018-06-30,"Monarch, Captive-Reared",45.173,-93.229,10,6
6162,2018-06-30,"Monarch, Captive-Reared",45.823,-92.970,61,6

In [212]:
JNorth_Captive_Reared_2018_6_df.shape

(212, 6)

In [213]:
JNorth_Captive_Reared_2018_6_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [214]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2018_6_df['latitude'] = JNorth_Captive_Reared_2018_6_df['latitude'].astype(float)
JNorth_Captive_Reared_2018_6_df['longitude'] = JNorth_Captive_Reared_2018_6_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [215]:
geojson = df_to_geojson(JNorth_Captive_Reared_2018_6_df, cols)

In [216]:
file = open("JNorth_Captive_Reared_2018_6.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## July

In [217]:
JNorth_Captive_Reared_2018_month_df =pd.DataFrame(JNorth_Captive_Reared_2018_df)
JNorth_Captive_Reared_2018_7_df = JNorth_Captive_Reared_2018_month_df[JNorth_Captive_Reared_2018_month_df['month']==7]
JNorth_Captive_Reared_2018_7_df.tail()

,sighting_date,species,latitude,longitude,number,month
6509,2018-07-31,"Monarch, Captive-Reared",44.968,-93.200,18,7
6510,2018-07-31,"Monarch, Captive-Reared",45.033,-93.224,111,7
6511,2018-07-31,"Monarch, Captive-Reared",45.048,-93.223,1,7
6512,2018-07-31,"Monarch, Captive-Reared",45.054,-93.186,1,7
6513,2018-07-31,"Monarch, Captive-Reared",45.840,-92.874,92,7

In [218]:
JNorth_Captive_Reared_2018_7_df.shape

(351, 6)

In [219]:
JNorth_Captive_Reared_2018_7_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [220]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2018_7_df['latitude'] = JNorth_Captive_Reared_2018_7_df['latitude'].astype(float)
JNorth_Captive_Reared_2018_7_df['longitude'] = JNorth_Captive_Reared_2018_7_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [221]:
geojson = df_to_geojson(JNorth_Captive_Reared_2018_7_df, cols)

In [222]:
file = open("JNorth_Captive_Reared_2018_7.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## August

In [223]:
JNorth_Captive_Reared_2018_month_df =pd.DataFrame(JNorth_Captive_Reared_2018_df)
JNorth_Captive_Reared_2018_8_df = JNorth_Captive_Reared_2018_month_df[JNorth_Captive_Reared_2018_month_df['month']==8]
JNorth_Captive_Reared_2018_8_df.tail()

,sighting_date,species,latitude,longitude,number,month
7465,2018-08-31,"Monarch, Captive-Reared",43.751,-79.229,7,8
7466,2018-08-31,"Monarch, Captive-Reared",43.782,-74.265,14,8
7467,2018-08-31,"Monarch, Captive-Reared",44.648,-83.304,2,8
7468,2018-08-31,"Monarch, Captive-Reared",45.048,-93.223,1,8
7469,2018-08-31,"Monarch, Captive-Reared",46.099,-79.514,2385,8

In [224]:
JNorth_Captive_Reared_2018_8_df.shape

(956, 6)

In [225]:
JNorth_Captive_Reared_2018_8_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [226]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2018_8_df['latitude'] = JNorth_Captive_Reared_2018_8_df['latitude'].astype(float)
JNorth_Captive_Reared_2018_8_df['longitude'] = JNorth_Captive_Reared_2018_8_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [227]:
geojson = df_to_geojson(JNorth_Captive_Reared_2018_8_df, cols)

In [228]:
file = open("JNorth_Captive_Reared_2018_8.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## September

In [229]:
JNorth_Captive_Reared_2018_month_df =pd.DataFrame(JNorth_Captive_Reared_2018_df)
JNorth_Captive_Reared_2018_9_df = JNorth_Captive_Reared_2018_month_df[JNorth_Captive_Reared_2018_month_df['month']==9]
JNorth_Captive_Reared_2018_9_df.tail()

,sighting_date,species,latitude,longitude,number,month
8687,2018-09-30,"Monarch, Captive-Reared",41.870,-70.002,6,9
8688,2018-09-30,"Monarch, Captive-Reared",41.953,-73.792,29,9
8689,2018-09-30,"Monarch, Captive-Reared",42.255,-83.781,5,9
8690,2018-09-30,"Monarch, Captive-Reared",43.025,-89.291,1,9
8691,2018-09-30,"Monarch, Captive-Reared",43.557,-96.722,10,9

In [230]:
JNorth_Captive_Reared_2018_9_df.shape

(1222, 6)

In [231]:
JNorth_Captive_Reared_2018_9_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [232]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2018_9_df['latitude'] = JNorth_Captive_Reared_2018_9_df['latitude'].astype(float)
JNorth_Captive_Reared_2018_9_df['longitude'] = JNorth_Captive_Reared_2018_9_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [233]:
geojson = df_to_geojson(JNorth_Captive_Reared_2018_9_df, cols)

In [234]:
file = open("JNorth_Captive_Reared_2018_9.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## October

In [235]:
JNorth_Captive_Reared_2018_month_df =pd.DataFrame(JNorth_Captive_Reared_2018_df)
JNorth_Captive_Reared_2018_10_df = JNorth_Captive_Reared_2018_month_df[JNorth_Captive_Reared_2018_month_df['month']==10]
JNorth_Captive_Reared_2018_10_df.tail()

,sighting_date,species,latitude,longitude,number,month
8974,2018-10-30,"Monarch, Captive-Reared",26.368,-80.129,10,10
8975,2018-10-30,"Monarch, Captive-Reared",33.214,-96.937,6,10
8976,2018-10-30,"Monarch, Captive-Reared",41.945,-76.515,2,10
8977,2018-10-31,"Monarch, Captive-Reared",33.214,-96.937,5,10
8978,2018-10-31,"Monarch, Captive-Reared",34.181,-118.842,9,10

In [236]:
JNorth_Captive_Reared_2018_10_df.shape

(287, 6)

In [237]:
JNorth_Captive_Reared_2018_10_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [238]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2018_10_df['latitude'] = JNorth_Captive_Reared_2018_10_df['latitude'].astype(float)
JNorth_Captive_Reared_2018_10_df['longitude'] = JNorth_Captive_Reared_2018_10_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [239]:
geojson = df_to_geojson(JNorth_Captive_Reared_2018_10_df, cols)

In [240]:
file = open("JNorth_Captive_Reared_2018_10.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## November

In [241]:
JNorth_Captive_Reared_2018_month_df =pd.DataFrame(JNorth_Captive_Reared_2018_df)
JNorth_Captive_Reared_2018_11_df = JNorth_Captive_Reared_2018_month_df[JNorth_Captive_Reared_2018_month_df['month']==11]
JNorth_Captive_Reared_2018_11_df.tail()

,sighting_date,species,latitude,longitude,number,month
9017,2018-11-17,"Monarch, Captive-Reared",28.320,-80.608,1,11
9018,2018-11-18,"Monarch, Captive-Reared",30.460,-89.071,14,11
9019,2018-11-24,"Monarch, Captive-Reared",39.010,-94.674,1,11
9020,2018-11-25,"Monarch, Captive-Reared",35.507,-80.855,1,11
9021,2018-11-30,"Monarch, Captive-Reared",33.884,-118.307,8,11

In [242]:
JNorth_Captive_Reared_2018_11_df.shape

(43, 6)

In [243]:
JNorth_Captive_Reared_2018_11_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [244]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2018_11_df['latitude'] = JNorth_Captive_Reared_2018_11_df['latitude'].astype(float)
JNorth_Captive_Reared_2018_11_df['longitude'] = JNorth_Captive_Reared_2018_11_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [245]:
geojson = df_to_geojson(JNorth_Captive_Reared_2018_11_df, cols)

In [246]:
file = open("JNorth_Captive_Reared_2018_11.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## December

In [247]:
JNorth_Captive_Reared_2018_month_df =pd.DataFrame(JNorth_Captive_Reared_2018_df)
JNorth_Captive_Reared_2018_12_df = JNorth_Captive_Reared_2018_month_df[JNorth_Captive_Reared_2018_month_df['month']==12]
JNorth_Captive_Reared_2018_12_df.tail()

,sighting_date,species,latitude,longitude,number,month
9022,2018-12-15,"Monarch, Captive-Reared",33.867,-118.384,1,12
9023,2018-12-23,"Monarch, Captive-Reared",32.743,-117.031,2,12
9024,2018-12-27,"Monarch, Captive-Reared",27.651,-97.298,3,12
9025,2018-12-30,"Monarch, Captive-Reared",31.214,-82.354,4,12

In [248]:
JNorth_Captive_Reared_2018_12_df.shape

(4, 6)

In [249]:
JNorth_Captive_Reared_2018_12_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [250]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2018_12_df['latitude'] = JNorth_Captive_Reared_2018_12_df['latitude'].astype(float)
JNorth_Captive_Reared_2018_12_df['longitude'] = JNorth_Captive_Reared_2018_12_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [251]:
geojson = df_to_geojson(JNorth_Captive_Reared_2018_12_df, cols)

In [252]:
file = open("JNorth_Captive_Reared_2018_12.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# 2019

In [253]:
JNorth_Captive_Reared_2019_df = JNorth_Captive_Reared_year_df[JNorth_Captive_Reared_year_df['year']==2019]
JNorth_Captive_Reared_2019_df.tail()

,sighting_date,species,latitude,longitude,number,year
11350,2019-12-20,"Monarch, Captive-Reared",32.740,-116.995,1,2019
11351,2019-12-21,"Monarch, Captive-Reared",33.560,-81.720,1,2019
11352,2019-12-24,"Monarch, Captive-Reared",34.181,-118.945,1,2019
11353,2019-12-26,"Monarch, Captive-Reared",32.210,-110.782,1,2019
11354,2019-12-26,"Monarch, Captive-Reared",37.551,-121.982,23,2019

In [254]:
JNorth_Captive_Reared_2019_df.shape

(2329, 6)

In [255]:
JNorth_Captive_Reared_2019_df.drop(['year'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [256]:
JNorth_Captive_Reared_2019_df.tail

<bound method NDFrame.tail of       sighting_date                  species  latitude  longitude  number
9026     2019-01-01  Monarch, Captive-Reared    30.154    -85.659      30
9027     2019-01-01  Monarch, Captive-Reared    38.275   -122.463       1
9028     2019-01-04  Monarch, Captive-Reared    27.651    -97.298       4
9029     2019-01-04  Monarch, Captive-Reared    38.275   -122.463       2
9030     2019-01-05  Monarch, Captive-Reared    27.771    -82.679       1
...             ...                      ...       ...        ...     ...
11350    2019-12-20  Monarch, Captive-Reared    32.740   -116.995       1
11351    2019-12-21  Monarch, Captive-Reared    33.560    -81.720       1
11352    2019-12-24  Monarch, Captive-Reared    34.181   -118.945       1
11353    2019-12-26  Monarch, Captive-Reared    32.210   -110.782       1
11354    2019-12-26  Monarch, Captive-Reared    37.551   -121.982      23

[2329 rows x 5 columns]>

In [257]:
JNorth_Captive_Reared_2019_df['month'] = pd.DatetimeIndex(JNorth_Captive_Reared_2019_df['sighting_date']).month

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## January

In [258]:
JNorth_Captive_Reared_2019_month_df =pd.DataFrame(JNorth_Captive_Reared_2019_df)
JNorth_Captive_Reared_2019_1_df = JNorth_Captive_Reared_2019_month_df[JNorth_Captive_Reared_2019_month_df['month']==1]
JNorth_Captive_Reared_2019_1_df.tail()

,sighting_date,species,latitude,longitude,number,month
9041,2019-01-21,"Monarch, Captive-Reared",27.651,-97.298,2,1
9042,2019-01-27,"Monarch, Captive-Reared",27.651,-97.298,4,1
9043,2019-01-27,"Monarch, Captive-Reared",38.232,-122.637,3,1
9044,2019-01-31,"Monarch, Captive-Reared",27.651,-97.298,2,1
9045,2019-01-31,"Monarch, Captive-Reared",33.884,-118.307,6,1

In [259]:
JNorth_Captive_Reared_2019_1_df.shape

(20, 6)

In [260]:
JNorth_Captive_Reared_2019_1_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [261]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2019_1_df['latitude'] = JNorth_Captive_Reared_2019_1_df['latitude'].astype(float)
JNorth_Captive_Reared_2019_1_df['longitude'] = JNorth_Captive_Reared_2019_1_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [262]:
geojson = df_to_geojson(JNorth_Captive_Reared_2019_1_df, cols)

In [263]:
file = open("JNorth_Captive_Reared_2019_1.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## February

In [264]:
JNorth_Captive_Reared_2019_month_df =pd.DataFrame(JNorth_Captive_Reared_2019_df)
JNorth_Captive_Reared_2019_2_df = JNorth_Captive_Reared_2019_month_df[JNorth_Captive_Reared_2019_month_df['month']==2]
JNorth_Captive_Reared_2019_2_df.tail()

,sighting_date,species,latitude,longitude,number,month
9064,2019-02-24,"Monarch, Captive-Reared",28.752,-81.636,16,2
9065,2019-02-24,"Monarch, Captive-Reared",30.425,-95.480,8,2
9066,2019-02-25,"Monarch, Captive-Reared",26.667,-81.880,2,2
9067,2019-02-27,"Monarch, Captive-Reared",30.281,-81.782,18,2
9068,2019-02-28,"Monarch, Captive-Reared",27.449,-80.327,2,2

In [265]:
JNorth_Captive_Reared_2019_2_df.shape

(23, 6)

In [266]:
JNorth_Captive_Reared_2019_2_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [267]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2019_2_df['latitude'] = JNorth_Captive_Reared_2019_2_df['latitude'].astype(float)
JNorth_Captive_Reared_2019_2_df['longitude'] = JNorth_Captive_Reared_2019_2_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [268]:
geojson = df_to_geojson(JNorth_Captive_Reared_2019_2_df, cols)

In [269]:
file = open("JNorth_Captive_Reared_2019_2.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## March

In [270]:
JNorth_Captive_Reared_2019_month_df =pd.DataFrame(JNorth_Captive_Reared_2019_df)
JNorth_Captive_Reared_2019_3_df = JNorth_Captive_Reared_2019_month_df[JNorth_Captive_Reared_2019_month_df['month']==3]
JNorth_Captive_Reared_2019_3_df.tail()

,sighting_date,species,latitude,longitude,number,month
9092,2019-03-22,"Monarch, Captive-Reared",30.281,-81.782,2,3
9093,2019-03-23,"Monarch, Captive-Reared",30.281,-81.782,3,3
9094,2019-03-28,"Monarch, Captive-Reared",30.298,-97.802,26,3
9095,2019-03-29,"Monarch, Captive-Reared",30.298,-97.802,78,3
9096,2019-03-31,"Monarch, Captive-Reared",30.176,-84.375,1,3

In [271]:
JNorth_Captive_Reared_2019_3_df.shape

(28, 6)

In [272]:
JNorth_Captive_Reared_2019_3_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [273]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2019_3_df['latitude'] = JNorth_Captive_Reared_2019_3_df['latitude'].astype(float)
JNorth_Captive_Reared_2019_3_df['longitude'] = JNorth_Captive_Reared_2019_3_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [274]:
geojson = df_to_geojson(JNorth_Captive_Reared_2019_3_df, cols)

In [275]:
file = open("JNorth_Captive_Reared_2019_3.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## April

In [276]:
JNorth_Captive_Reared_2019_month_df =pd.DataFrame(JNorth_Captive_Reared_2019_df)
JNorth_Captive_Reared_2019_4_df = JNorth_Captive_Reared_2019_month_df[JNorth_Captive_Reared_2019_month_df['month']==4]
JNorth_Captive_Reared_2019_4_df.tail()

,sighting_date,species,latitude,longitude,number,month
9143,2019-04-29,"Monarch, Captive-Reared",32.556,-92.645,3,4
9144,2019-04-29,"Monarch, Captive-Reared",34.201,-81.009,3,4
9145,2019-04-29,"Monarch, Captive-Reared",34.435,-119.633,3,4
9146,2019-04-30,"Monarch, Captive-Reared",30.298,-97.802,48,4
9147,2019-04-30,"Monarch, Captive-Reared",31.122,-97.935,2,4

In [277]:
JNorth_Captive_Reared_2019_4_df.shape

(51, 6)

In [278]:
JNorth_Captive_Reared_2019_4_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [279]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2019_4_df['latitude'] = JNorth_Captive_Reared_2019_4_df['latitude'].astype(float)
JNorth_Captive_Reared_2019_4_df['longitude'] = JNorth_Captive_Reared_2019_4_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [280]:
geojson = df_to_geojson(JNorth_Captive_Reared_2019_4_df, cols)

In [281]:
file = open("JNorth_Captive_Reared_2019_4.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## May

In [282]:
JNorth_Captive_Reared_2019_month_df =pd.DataFrame(JNorth_Captive_Reared_2019_df)
JNorth_Captive_Reared_2019_5_df = JNorth_Captive_Reared_2019_month_df[JNorth_Captive_Reared_2019_month_df['month']==5]
JNorth_Captive_Reared_2019_5_df.tail()

,sighting_date,species,latitude,longitude,number,month
9293,2019-05-29,"Monarch, Captive-Reared",33.116,-94.168,2,5
9294,2019-05-30,"Monarch, Captive-Reared",33.830,-117.966,3,5
9295,2019-05-30,"Monarch, Captive-Reared",36.150,-79.134,4,5
9296,2019-05-31,"Monarch, Captive-Reared",33.108,-117.312,17,5
9297,2019-05-31,"Monarch, Captive-Reared",41.511,-87.229,3,5

In [283]:
JNorth_Captive_Reared_2019_5_df.shape

(150, 6)

In [284]:
JNorth_Captive_Reared_2019_5_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [285]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2019_5_df['latitude'] = JNorth_Captive_Reared_2019_5_df['latitude'].astype(float)
JNorth_Captive_Reared_2019_5_df['longitude'] = JNorth_Captive_Reared_2019_5_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [286]:
geojson = df_to_geojson(JNorth_Captive_Reared_2019_5_df, cols)

In [287]:
file = open("JNorth_Captive_Reared_2019_5.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## June

In [288]:
JNorth_Captive_Reared_2019_month_df =pd.DataFrame(JNorth_Captive_Reared_2019_df)
JNorth_Captive_Reared_2019_6_df = JNorth_Captive_Reared_2019_month_df[JNorth_Captive_Reared_2019_month_df['month']==6]
JNorth_Captive_Reared_2019_6_df.tail()

,sighting_date,species,latitude,longitude,number,month
9471,2019-06-30,"Monarch, Captive-Reared",41.486,-86.341,31,6
9472,2019-06-30,"Monarch, Captive-Reared",41.647,-91.578,4,6
9473,2019-06-30,"Monarch, Captive-Reared",42.031,-93.632,8,6
9474,2019-06-30,"Monarch, Captive-Reared",44.888,-87.897,12,6
9475,2019-06-30,"Monarch, Captive-Reared",45.033,-93.224,1,6

In [289]:
JNorth_Captive_Reared_2019_6_df.shape

(178, 6)

In [290]:
JNorth_Captive_Reared_2019_6_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [291]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2019_6_df['latitude'] = JNorth_Captive_Reared_2019_6_df['latitude'].astype(float)
JNorth_Captive_Reared_2019_6_df['longitude'] = JNorth_Captive_Reared_2019_6_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [292]:
geojson = df_to_geojson(JNorth_Captive_Reared_2019_6_df, cols)

In [293]:
file = open("JNorth_Captive_Reared_2019_6.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## July

In [294]:
JNorth_Captive_Reared_2019_month_df =pd.DataFrame(JNorth_Captive_Reared_2019_df)
JNorth_Captive_Reared_2019_7_df = JNorth_Captive_Reared_2019_month_df[JNorth_Captive_Reared_2019_month_df['month']==7]
JNorth_Captive_Reared_2019_7_df.tail()

,sighting_date,species,latitude,longitude,number,month
9774,2019-07-31,"Monarch, Captive-Reared",39.816,-75.504,1,7
9775,2019-07-31,"Monarch, Captive-Reared",41.564,-87.512,1,7
9776,2019-07-31,"Monarch, Captive-Reared",41.809,-88.011,2,7
9777,2019-07-31,"Monarch, Captive-Reared",43.605,-79.551,7,7
9778,2019-07-31,"Monarch, Captive-Reared",45.033,-93.224,92,7

In [295]:
JNorth_Captive_Reared_2019_7_df.shape

(303, 6)

In [296]:
JNorth_Captive_Reared_2019_7_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [297]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2019_7_df['latitude'] = JNorth_Captive_Reared_2019_7_df['latitude'].astype(float)
JNorth_Captive_Reared_2019_7_df['longitude'] = JNorth_Captive_Reared_2019_7_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [298]:
geojson = df_to_geojson(JNorth_Captive_Reared_2019_7_df, cols)

In [299]:
file = open("JNorth_Captive_Reared_2019_7.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## August

In [300]:
JNorth_Captive_Reared_2019_month_df =pd.DataFrame(JNorth_Captive_Reared_2019_df)
JNorth_Captive_Reared_2019_8_df = JNorth_Captive_Reared_2019_month_df[JNorth_Captive_Reared_2019_month_df['month']==8]
JNorth_Captive_Reared_2019_8_df.tail()

,sighting_date,species,latitude,longitude,number,month
10418,2019-08-31,"Monarch, Captive-Reared",43.782,-74.265,530,8
10419,2019-08-31,"Monarch, Captive-Reared",44.449,-88.060,1,8
10420,2019-08-31,"Monarch, Captive-Reared",44.644,-83.298,11,8
10421,2019-08-31,"Monarch, Captive-Reared",44.706,-63.534,3,8
10422,2019-08-31,"Monarch, Captive-Reared",45.048,-93.222,4,8

In [301]:
JNorth_Captive_Reared_2019_8_df.shape

(644, 6)

In [302]:
JNorth_Captive_Reared_2019_8_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [303]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2019_8_df['latitude'] = JNorth_Captive_Reared_2019_8_df['latitude'].astype(float)
JNorth_Captive_Reared_2019_8_df['longitude'] = JNorth_Captive_Reared_2019_8_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [304]:
geojson = df_to_geojson(JNorth_Captive_Reared_2019_8_df, cols)

In [305]:
file = open("JNorth_Captive_Reared_2019_8.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## September

In [306]:
JNorth_Captive_Reared_2019_month_df =pd.DataFrame(JNorth_Captive_Reared_2019_df)
JNorth_Captive_Reared_2019_9_df = JNorth_Captive_Reared_2019_month_df[JNorth_Captive_Reared_2019_month_df['month']==9]
JNorth_Captive_Reared_2019_9_df.tail()

,sighting_date,species,latitude,longitude,number,month
11152,2019-09-30,"Monarch, Captive-Reared",41.869,-87.796,1,9
11153,2019-09-30,"Monarch, Captive-Reared",42.362,-88.069,163,9
11154,2019-09-30,"Monarch, Captive-Reared",43.594,-70.335,1,9
11155,2019-09-30,"Monarch, Captive-Reared",44.648,-83.304,2,9
11156,2019-09-30,"Monarch, Captive-Reared",44.908,-93.480,3,9

In [307]:
JNorth_Captive_Reared_2019_9_df.shape

(734, 6)

In [308]:
JNorth_Captive_Reared_2019_9_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [309]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2019_9_df['latitude'] = JNorth_Captive_Reared_2019_9_df['latitude'].astype(float)
JNorth_Captive_Reared_2019_9_df['longitude'] = JNorth_Captive_Reared_2019_9_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [310]:
geojson = df_to_geojson(JNorth_Captive_Reared_2019_9_df, cols)

In [311]:
file = open("JNorth_Captive_Reared_2019_9.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## October

In [312]:
JNorth_Captive_Reared_2019_month_df =pd.DataFrame(JNorth_Captive_Reared_2019_df)
JNorth_Captive_Reared_2019_10_df = JNorth_Captive_Reared_2019_month_df[JNorth_Captive_Reared_2019_month_df['month']==10]
JNorth_Captive_Reared_2019_10_df.tail()

,sighting_date,species,latitude,longitude,number,month
11303,2019-10-29,"Monarch, Captive-Reared",42.833,-73.603,1,10
11304,2019-10-30,"Monarch, Captive-Reared",32.308,-95.480,29,10
11305,2019-10-30,"Monarch, Captive-Reared",32.740,-116.995,1,10
11306,2019-10-31,"Monarch, Captive-Reared",37.358,-77.442,2,10
11307,2019-10-31,"Monarch, Captive-Reared",43.016,-88.282,536,10

In [313]:
JNorth_Captive_Reared_2019_10_df.shape

(151, 6)

In [314]:
JNorth_Captive_Reared_2019_10_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [315]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2019_10_df['latitude'] = JNorth_Captive_Reared_2019_10_df['latitude'].astype(float)
JNorth_Captive_Reared_2019_10_df['longitude'] = JNorth_Captive_Reared_2019_10_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [316]:
geojson = df_to_geojson(JNorth_Captive_Reared_2019_10_df, cols)

In [317]:
file = open("JNorth_Captive_Reared_2019_10.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## November

In [318]:
JNorth_Captive_Reared_2019_month_df =pd.DataFrame(JNorth_Captive_Reared_2019_df)
JNorth_Captive_Reared_2019_11_df = JNorth_Captive_Reared_2019_month_df[JNorth_Captive_Reared_2019_month_df['month']==11]
JNorth_Captive_Reared_2019_11_df.tail()

,sighting_date,species,latitude,longitude,number,month
11322,2019-11-24,"Monarch, Captive-Reared",30.752,-86.446,37,11
11323,2019-11-25,"Monarch, Captive-Reared",30.298,-97.802,1,11
11324,2019-11-26,"Monarch, Captive-Reared",30.298,-97.802,1,11
11325,2019-11-28,"Monarch, Captive-Reared",30.298,-97.802,4,11
11326,2019-11-30,"Monarch, Captive-Reared",30.298,-97.802,13,11

In [319]:
JNorth_Captive_Reared_2019_11_df.shape

(19, 6)

In [320]:
JNorth_Captive_Reared_2019_11_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [321]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2019_11_df['latitude'] = JNorth_Captive_Reared_2019_11_df['latitude'].astype(float)
JNorth_Captive_Reared_2019_11_df['longitude'] = JNorth_Captive_Reared_2019_11_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [322]:
geojson = df_to_geojson(JNorth_Captive_Reared_2019_11_df, cols)

In [323]:
file = open("JNorth_Captive_Reared_2019_11.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

## December

In [324]:
JNorth_Captive_Reared_2019_month_df =pd.DataFrame(JNorth_Captive_Reared_2019_df)
JNorth_Captive_Reared_2019_12_df = JNorth_Captive_Reared_2019_month_df[JNorth_Captive_Reared_2019_month_df['month']==12]
JNorth_Captive_Reared_2019_12_df.tail()

,sighting_date,species,latitude,longitude,number,month
11350,2019-12-20,"Monarch, Captive-Reared",32.740,-116.995,1,12
11351,2019-12-21,"Monarch, Captive-Reared",33.560,-81.720,1,12
11352,2019-12-24,"Monarch, Captive-Reared",34.181,-118.945,1,12
11353,2019-12-26,"Monarch, Captive-Reared",32.210,-110.782,1,12
11354,2019-12-26,"Monarch, Captive-Reared",37.551,-121.982,23,12

In [325]:
JNorth_Captive_Reared_2019_12_df.shape

(28, 6)

In [326]:
JNorth_Captive_Reared_2019_12_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [327]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2019_12_df['latitude'] = JNorth_Captive_Reared_2019_12_df['latitude'].astype(float)
JNorth_Captive_Reared_2019_12_df['longitude'] = JNorth_Captive_Reared_2019_12_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [328]:
geojson = df_to_geojson(JNorth_Captive_Reared_2019_12_df, cols)

In [329]:
file = open("JNorth_Captive_Reared_2019_12.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# 2020

In [330]:
JNorth_Captive_Reared_2020_df = JNorth_Captive_Reared_df[JNorth_Captive_Reared_df['year']==2020]
JNorth_Captive_Reared_2020_df.tail()

,sighting_date,species,latitude,longitude,number,year
13728,2020-12-22,"Monarch, Captive-Reared",26.299,-80.104,10,2020
13729,2020-12-23,"Monarch, Captive-Reared",26.526,-80.055,2,2020
13730,2020-12-23,"Monarch, Captive-Reared",28.849,-97.069,2,2020
13731,2020-12-23,"Monarch, Captive-Reared",29.742,-95.373,23,2020
13732,2020-12-28,"Monarch, Captive-Reared",30.179,-85.772,99,2020

In [331]:
JNorth_Captive_Reared_2020_df.shape

(2378, 6)

In [332]:
JNorth_Captive_Reared_2020_df.drop(['year'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [333]:
JNorth_Captive_Reared_2020_df.tail

<bound method NDFrame.tail of       sighting_date                  species  latitude  longitude  number
11355    2020-01-02  Monarch, Captive-Reared    27.945    -82.766       1
11356    2020-01-04  Monarch, Captive-Reared    27.651    -97.298       2
11357    2020-01-04  Monarch, Captive-Reared    27.966    -82.800       1
11358    2020-01-09  Monarch, Captive-Reared    21.482   -157.996       2
11359    2020-01-12  Monarch, Captive-Reared    27.947    -82.766       1
...             ...                      ...       ...        ...     ...
13728    2020-12-22  Monarch, Captive-Reared    26.299    -80.104      10
13729    2020-12-23  Monarch, Captive-Reared    26.526    -80.055       2
13730    2020-12-23  Monarch, Captive-Reared    28.849    -97.069       2
13731    2020-12-23  Monarch, Captive-Reared    29.742    -95.373      23
13732    2020-12-28  Monarch, Captive-Reared    30.179    -85.772      99

[2378 rows x 5 columns]>

In [334]:
JNorth_Captive_Reared_2020_df['month'] = pd.DatetimeIndex(JNorth_Captive_Reared_2020_df['sighting_date']).month

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## January

In [335]:
JNorth_Captive_Reared_2020_month_df =pd.DataFrame(JNorth_Captive_Reared_2020_df)
JNorth_Captive_Reared_2020_1_df = JNorth_Captive_Reared_2020_month_df[JNorth_Captive_Reared_2020_month_df['month']==1]
JNorth_Captive_Reared_2020_1_df.tail()

,sighting_date,species,latitude,longitude,number,month
11367,2020-01-22,"Monarch, Captive-Reared",27.954,-82.750,2,1
11368,2020-01-24,"Monarch, Captive-Reared",27.955,-82.751,1,1
11369,2020-01-25,"Monarch, Captive-Reared",27.954,-82.749,4,1
11370,2020-01-28,"Monarch, Captive-Reared",27.955,-82.750,1,1
11371,2020-01-29,"Monarch, Captive-Reared",27.956,-82.750,1,1

In [336]:
JNorth_Captive_Reared_2020_1_df.shape

(17, 6)

In [337]:
JNorth_Captive_Reared_2020_1_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [338]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2020_1_df['latitude'] = JNorth_Captive_Reared_2020_1_df['latitude'].astype(float)
JNorth_Captive_Reared_2020_1_df['longitude'] = JNorth_Captive_Reared_2020_1_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [339]:
geojson = df_to_geojson(JNorth_Captive_Reared_2020_1_df, cols)

In [340]:
file = open("JNorth_Captive_Reared_2020_1.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

# February

In [341]:
JNorth_Captive_Reared_2020_month_df =pd.DataFrame(JNorth_Captive_Reared_2020_df)
JNorth_Captive_Reared_2020_2_df = JNorth_Captive_Reared_2020_month_df[JNorth_Captive_Reared_2020_month_df['month']==2]
JNorth_Captive_Reared_2020_2_df.tail()

,sighting_date,species,latitude,longitude,number,month
11378,2020-02-08,"Monarch, Captive-Reared",30.099,-95.497,1,2
11379,2020-02-10,"Monarch, Captive-Reared",27.956,-82.751,2,2
11380,2020-02-10,"Monarch, Captive-Reared",30.400,-86.443,2,2
11381,2020-02-22,"Monarch, Captive-Reared",27.956,-82.751,1,2
11382,2020-02-23,"Monarch, Captive-Reared",27.956,-82.751,1,2

In [342]:
JNorth_Captive_Reared_2020_2_df.shape

(11, 6)

In [343]:
JNorth_Captive_Reared_2020_2_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [344]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2020_2_df['latitude'] = JNorth_Captive_Reared_2020_2_df['latitude'].astype(float)
JNorth_Captive_Reared_2020_2_df['longitude'] = JNorth_Captive_Reared_2020_2_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [345]:
geojson = df_to_geojson(JNorth_Captive_Reared_2020_2_df, cols)

In [346]:
file = open("JNorth_Captive_Reared_2020_2.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [347]:
JNorth_Captive_Reared_2020_month_df =pd.DataFrame(JNorth_Captive_Reared_2020_df)
JNorth_Captive_Reared_2020_3_df = JNorth_Captive_Reared_2020_month_df[JNorth_Captive_Reared_2020_month_df['month']==3]
JNorth_Captive_Reared_2020_3_df.tail()

,sighting_date,species,latitude,longitude,number,month
11407,2020-03-30,"Monarch, Captive-Reared",33.829,-117.966,2,3
11408,2020-03-30,"Monarch, Captive-Reared",33.990,-118.427,2,3
11409,2020-03-31,"Monarch, Captive-Reared",29.709,-95.607,43,3
11410,2020-03-31,"Monarch, Captive-Reared",30.461,-97.758,16,3
11411,2020-03-31,"Monarch, Captive-Reared",33.824,-117.966,8,3

In [348]:
JNorth_Captive_Reared_2020_3_df.shape

(29, 6)

In [349]:
JNorth_Captive_Reared_2020_3_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [350]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2020_3_df['latitude'] = JNorth_Captive_Reared_2020_3_df['latitude'].astype(float)
JNorth_Captive_Reared_2020_3_df['longitude'] = JNorth_Captive_Reared_2020_3_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [351]:
geojson = df_to_geojson(JNorth_Captive_Reared_2020_3_df, cols)

In [352]:
file = open("JNorth_Captive_Reared_2020_3.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [353]:
JNorth_Captive_Reared_2020_month_df =pd.DataFrame(JNorth_Captive_Reared_2020_df)
JNorth_Captive_Reared_2020_4_df = JNorth_Captive_Reared_2020_month_df[JNorth_Captive_Reared_2020_month_df['month']==4]
JNorth_Captive_Reared_2020_4_df.tail()

,sighting_date,species,latitude,longitude,number,month
11481,2020-04-28,"Monarch, Captive-Reared",31.122,-97.935,2,4
11482,2020-04-28,"Monarch, Captive-Reared",35.972,-95.846,13,4
11483,2020-04-29,"Monarch, Captive-Reared",31.122,-97.935,2,4
11484,2020-04-29,"Monarch, Captive-Reared",37.390,-122.088,4,4
11485,2020-04-30,"Monarch, Captive-Reared",33.611,-116.250,11,4

In [354]:
JNorth_Captive_Reared_2020_4_df.shape

(74, 6)

In [355]:
JNorth_Captive_Reared_2020_4_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [356]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2020_4_df['latitude'] = JNorth_Captive_Reared_2020_4_df['latitude'].astype(float)
JNorth_Captive_Reared_2020_4_df['longitude'] = JNorth_Captive_Reared_2020_4_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [357]:
geojson = df_to_geojson(JNorth_Captive_Reared_2020_4_df, cols)

In [358]:
file = open("JNorth_Captive_Reared_2020_4.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [359]:
JNorth_Captive_Reared_2020_month_df =pd.DataFrame(JNorth_Captive_Reared_2020_df)
JNorth_Captive_Reared_2020_5_df = JNorth_Captive_Reared_2020_month_df[JNorth_Captive_Reared_2020_month_df['month']==5]
JNorth_Captive_Reared_2020_5_df.tail()

,sighting_date,species,latitude,longitude,number,month
11568,2020-05-30,"Monarch, Captive-Reared",43.012,-89.515,5,5
11569,2020-05-30,"Monarch, Captive-Reared",43.055,-88.098,13,5
11570,2020-05-30,"Monarch, Captive-Reared",44.987,-81.255,1,5
11571,2020-05-31,"Monarch, Captive-Reared",33.755,-118.025,1,5
11572,2020-05-31,"Monarch, Captive-Reared",44.047,-92.435,1,5

In [360]:
JNorth_Captive_Reared_2020_5_df.shape

(87, 6)

In [361]:
JNorth_Captive_Reared_2020_5_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [362]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2020_5_df['latitude'] = JNorth_Captive_Reared_2020_5_df['latitude'].astype(float)
JNorth_Captive_Reared_2020_5_df['longitude'] = JNorth_Captive_Reared_2020_5_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [363]:
geojson = df_to_geojson(JNorth_Captive_Reared_2020_5_df, cols)

In [364]:
file = open("JNorth_Captive_Reared_2020_5.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [365]:
JNorth_Captive_Reared_2020_month_df =pd.DataFrame(JNorth_Captive_Reared_2020_df)
JNorth_Captive_Reared_2020_6_df = JNorth_Captive_Reared_2020_month_df[JNorth_Captive_Reared_2020_month_df['month']==6]
JNorth_Captive_Reared_2020_6_df.tail()

,sighting_date,species,latitude,longitude,number,month
11726,2020-06-30,"Monarch, Captive-Reared",40.973,-85.012,1,6
11727,2020-06-30,"Monarch, Captive-Reared",41.508,-88.050,2,6
11728,2020-06-30,"Monarch, Captive-Reared",42.409,-82.219,1,6
11729,2020-06-30,"Monarch, Captive-Reared",43.459,-80.542,34,6
11730,2020-06-30,"Monarch, Captive-Reared",45.048,-93.223,5,6

In [366]:
JNorth_Captive_Reared_2020_6_df.shape

(158, 6)

In [367]:
JNorth_Captive_Reared_2020_6_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [368]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2020_6_df['latitude'] = JNorth_Captive_Reared_2020_6_df['latitude'].astype(float)
JNorth_Captive_Reared_2020_6_df['longitude'] = JNorth_Captive_Reared_2020_6_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [369]:
geojson = df_to_geojson(JNorth_Captive_Reared_2020_6_df, cols)

In [370]:
file = open("JNorth_Captive_Reared_2020_6.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [371]:
JNorth_Captive_Reared_2020_month_df =pd.DataFrame(JNorth_Captive_Reared_2020_df)
JNorth_Captive_Reared_2020_7_df = JNorth_Captive_Reared_2020_month_df[JNorth_Captive_Reared_2020_month_df['month']==7]
JNorth_Captive_Reared_2020_7_df.tail()

,sighting_date,species,latitude,longitude,number,month
11968,2020-07-31,"Monarch, Captive-Reared",43.459,-80.542,84,7
11969,2020-07-31,"Monarch, Captive-Reared",44.810,-86.058,3,7
11970,2020-07-31,"Monarch, Captive-Reared",44.944,-93.160,1,7
11971,2020-07-31,"Monarch, Captive-Reared",44.982,-93.034,1,7
11972,2020-07-31,"Monarch, Captive-Reared",45.575,-88.671,2,7

In [372]:
JNorth_Captive_Reared_2020_7_df.shape

(242, 6)

In [373]:
JNorth_Captive_Reared_2020_7_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [374]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2020_7_df['latitude'] = JNorth_Captive_Reared_2020_7_df['latitude'].astype(float)
JNorth_Captive_Reared_2020_7_df['longitude'] = JNorth_Captive_Reared_2020_7_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [375]:
geojson = df_to_geojson(JNorth_Captive_Reared_2020_7_df, cols)

In [376]:
file = open("JNorth_Captive_Reared_2020_7.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [377]:
JNorth_Captive_Reared_2020_month_df =pd.DataFrame(JNorth_Captive_Reared_2020_df)
JNorth_Captive_Reared_2020_8_df = JNorth_Captive_Reared_2020_month_df[JNorth_Captive_Reared_2020_month_df['month']==8]
JNorth_Captive_Reared_2020_8_df.tail()

,sighting_date,species,latitude,longitude,number,month
12613,2020-08-31,"Monarch, Captive-Reared",41.414,-87.187,1,8
12614,2020-08-31,"Monarch, Captive-Reared",43.326,-79.799,1,8
12615,2020-08-31,"Monarch, Captive-Reared",43.459,-80.542,40,8
12616,2020-08-31,"Monarch, Captive-Reared",43.605,-79.552,1,8
12617,2020-08-31,"Monarch, Captive-Reared",45.079,-93.158,1,8

In [378]:
JNorth_Captive_Reared_2020_8_df.shape

(645, 6)

In [379]:
JNorth_Captive_Reared_2020_8_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [380]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2020_8_df['latitude'] = JNorth_Captive_Reared_2020_8_df['latitude'].astype(float)
JNorth_Captive_Reared_2020_8_df['longitude'] = JNorth_Captive_Reared_2020_8_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [381]:
geojson = df_to_geojson(JNorth_Captive_Reared_2020_8_df, cols)

In [382]:
file = open("JNorth_Captive_Reared_2020_8.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [383]:
JNorth_Captive_Reared_2020_month_df =pd.DataFrame(JNorth_Captive_Reared_2020_df)
JNorth_Captive_Reared_2020_9_df = JNorth_Captive_Reared_2020_month_df[JNorth_Captive_Reared_2020_month_df['month']==9]
JNorth_Captive_Reared_2020_9_df.tail()

,sighting_date,species,latitude,longitude,number,month
13389,2020-09-30,"Monarch, Captive-Reared",41.809,-88.011,1,9
13390,2020-09-30,"Monarch, Captive-Reared",41.874,-88.140,2,9
13391,2020-09-30,"Monarch, Captive-Reared",42.748,-71.414,1,9
13392,2020-09-30,"Monarch, Captive-Reared",43.459,-80.542,6,9
13393,2020-09-30,"Monarch, Captive-Reared",45.088,-64.621,1,9

In [384]:
JNorth_Captive_Reared_2020_9_df.shape

(776, 6)

In [385]:
JNorth_Captive_Reared_2020_9_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [386]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2020_9_df['latitude'] = JNorth_Captive_Reared_2020_9_df['latitude'].astype(float)
JNorth_Captive_Reared_2020_9_df['longitude'] = JNorth_Captive_Reared_2020_9_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [387]:
geojson = df_to_geojson(JNorth_Captive_Reared_2020_9_df, cols)

In [388]:
file = open("JNorth_Captive_Reared_2020_9.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [389]:
JNorth_Captive_Reared_2020_month_df =pd.DataFrame(JNorth_Captive_Reared_2020_df)
JNorth_Captive_Reared_2020_10_df = JNorth_Captive_Reared_2020_month_df[JNorth_Captive_Reared_2020_month_df['month']==10]
JNorth_Captive_Reared_2020_10_df.tail()

,sighting_date,species,latitude,longitude,number,month
13677,2020-10-30,"Monarch, Captive-Reared",35.910,-80.491,1,10
13678,2020-10-30,"Monarch, Captive-Reared",40.043,-86.128,1,10
13679,2020-10-31,"Monarch, Captive-Reared",34.118,-117.912,1,10
13680,2020-10-31,"Monarch, Captive-Reared",40.126,-75.334,5,10
13681,2020-10-31,"Monarch, Captive-Reared",43.064,-89.445,1,10

In [390]:
JNorth_Captive_Reared_2020_10_df.shape

(288, 6)

In [391]:
JNorth_Captive_Reared_2020_10_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [392]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2020_10_df['latitude'] = JNorth_Captive_Reared_2020_10_df['latitude'].astype(float)
JNorth_Captive_Reared_2020_10_df['longitude'] = JNorth_Captive_Reared_2020_10_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [393]:
geojson = df_to_geojson(JNorth_Captive_Reared_2020_10_df, cols)

In [394]:
file = open("JNorth_Captive_Reared_2020_10.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [395]:
JNorth_Captive_Reared_2020_month_df =pd.DataFrame(JNorth_Captive_Reared_2020_df)
JNorth_Captive_Reared_2020_11_df = JNorth_Captive_Reared_2020_month_df[JNorth_Captive_Reared_2020_month_df['month']==11]
JNorth_Captive_Reared_2020_11_df.tail()

,sighting_date,species,latitude,longitude,number,month
13708,2020-11-25,"Monarch, Captive-Reared",27.824,-82.625,3,11
13709,2020-11-25,"Monarch, Captive-Reared",30.529,-87.287,3,11
13710,2020-11-26,"Monarch, Captive-Reared",39.024,-84.609,1,11
13711,2020-11-29,"Monarch, Captive-Reared",30.403,-91.167,1,11
13712,2020-11-29,"Monarch, Captive-Reared",34.290,-119.162,1,11

In [396]:
JNorth_Captive_Reared_2020_11_df.shape

(31, 6)

In [397]:
JNorth_Captive_Reared_2020_11_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [398]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2020_11_df['latitude'] = JNorth_Captive_Reared_2020_11_df['latitude'].astype(float)
JNorth_Captive_Reared_2020_11_df['longitude'] = JNorth_Captive_Reared_2020_11_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [399]:
geojson = df_to_geojson(JNorth_Captive_Reared_2020_11_df, cols)

In [400]:
file = open("JNorth_Captive_Reared_2020_11.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()

In [401]:
JNorth_Captive_Reared_2020_month_df =pd.DataFrame(JNorth_Captive_Reared_2020_df)
JNorth_Captive_Reared_2020_12_df = JNorth_Captive_Reared_2020_month_df[JNorth_Captive_Reared_2020_month_df['month']==12]
JNorth_Captive_Reared_2020_12_df.tail()

,sighting_date,species,latitude,longitude,number,month
13728,2020-12-22,"Monarch, Captive-Reared",26.299,-80.104,10,12
13729,2020-12-23,"Monarch, Captive-Reared",26.526,-80.055,2,12
13730,2020-12-23,"Monarch, Captive-Reared",28.849,-97.069,2,12
13731,2020-12-23,"Monarch, Captive-Reared",29.742,-95.373,23,12
13732,2020-12-28,"Monarch, Captive-Reared",30.179,-85.772,99,12

In [402]:
JNorth_Captive_Reared_2020_12_df.shape

(20, 6)

In [403]:
JNorth_Captive_Reared_2020_12_df.drop(['month'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [404]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_2020_12_df['latitude'] = JNorth_Captive_Reared_2020_12_df['latitude'].astype(float)
JNorth_Captive_Reared_2020_12_df['longitude'] = JNorth_Captive_Reared_2020_12_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [405]:
geojson = df_to_geojson(JNorth_Captive_Reared_2020_12_df, cols)

In [406]:
file = open("JNorth_Captive_Reared_2020_12.geojson", "w")
json.dump(geojson, file, indent =1)
file.close()